<template>
    <div class="page-header">
        <h1>Group Management</h1> <hr>
        <div class="row">
            <div class="col-md-12">
                <!--Add group button-->
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add-group-modal-id" data-backdrop="static" data-keyboard="false" @click="ClearGroupDetail">
                    <i class="fa fa-plus-square"></i>&nbsp; Add Group
                </button>
                <div class="pull-right">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" v-model="searchText" placeholder="Search...">
                        <span class="fa fa-search form-control-feedback" style="display: flex;justify-content: center;align-items: center;"></span>
                    </div>
                </div>
                <table class="table table-striped table-hover" style="margin-top: 20px;">
                    <thead>
                        <tr>
                            <th>Group Name</th>
                            <th>Number of Accounts</th>
                            <th>Device Limit</th>
                            <th>Registered</th>
                            <th>Storage Limit</th>
                            <th>Effective Start Date</th>
                            <th>Effective End Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="group in groupList" :key="'group'+group.id">
                            <td>{{group.Name}}</td>
                            <td>{{group.AccountCount}}</td>
                            <td>{{group.DeviceLimit}}</td>
                            <td>{{group.DeviceCount}}</td>
                            <td>{{ConvertSize(group.UploadLimit)}}</td>
                            <td>{{ConvertDate(group.EffectStartDate)}}</td>
                            <td>{{ConvertDate(group.EffectEndDate)}}</td>
                            <td>
                                <i class="fa fa-pencil text-success" style="cursor: pointer" data-toggle="modal" data-target="#add-group-modal-id" @click="EditGroup(group)"></i>&nbsp;|&nbsp;
                                <i class="fa fa-trash text-danger" style="cursor: pointer" data-toggle="modal" data-target="#delete-group-modal-id" @click="SetDeleteGroupId(group.Id)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-show="pageCount>0" class="col-xs-12" style="text-align: center;">
                <paginate :page-count="pageCount" :page-range="4" :margin-pages="1" :click-handler="PageClickCallback" :prev-text="Prev" :next-text="Next" :container-class="'pagination'" :page-class="'page-item'" :page="page" :page-rebuild="pageRebuild" @rebuildCallBack="PageRebuildHandler"></paginate>
            </div>
        </div>

        <!-- include add and edit -->
        <add-group-modal modalId="add-group-modal-id" :groupInfo="groupInfo" @groupAdd="GroupAddHandler"></add-group-modal>

        <delete-group-modal modalId="delete-group-modal-id" :deleteGroupId="deleteGroupId" @groupDelete="GroupDeleteHandler"></delete-group-modal>

        <busy-fullscreen-modal :show="isSaving" :hide-delay="600" :context="context"></busy-fullscreen-modal>
    </div>
</template>

<script>
import AddGroupModal from './modal/add-group-modal.vue'
import DeleteGroupModal from './modal/delete-group-modal.vue'
import Paginate from './controls/paginate.vue'
import BusyFullscreenModal from './controls/modal/busy-fullscreen-modal.vue'
var _ = require('lodash')
var _shared = require('./controls/_shared')

export default {
    name: 'group-index',
    components: {
        BusyFullscreenModal,
        AddGroupModal,
        DeleteGroupModal,
        Paginate
    },
    data() {
        return {
            groupList: [],
            groupInfo: {
                id: 0,
                name: '',
                accounts: 0,
                registered: 0,
                deviceLimit: 0,
                uploadLimit: 0,
                effectStartDate: '',
                effectEndDate: '',
                faceDetection: false,
                autoShutDown: false,
                watchDog: false,
                userSetting: {
                    name: '',
                    account: '',
                    password: '',
                }
            },
            deleteGroupId: 0,
            page: 1,
            pageRows: 5,
            pageCount: 0,
            searchText: '',
            searchTextType: '123', //搜尋類別
            pageRebuild: false,
            isSaving: false
        }
    },
    mounted() {
        this.GetGroupList()
    },
    watch: {
        searchText() {
            this.SearchtextDebounce(this.searchText, this.searchTextType)
        },
    },
    methods: {
        GetGroupList() {
            var vm = this
            if (vm.searchText.trim() != "" && !this.searchText.trim().match(/^[^?*[+()^\\\/]+$/g)) {
                alertify.logPosition("bottom right");
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.Error_0003);
                return
            }
            var obj = {
                Page: vm.page,
                PageRows: vm.pageRows,
                searchType: vm.searchTextType.trim(),
                searchText: vm.searchText.trim()
            }
            vm.isSaving = true
            $.post("/ace-admin/api/usergroup/getallgroups", obj).done(function(res) {
                if (res.Result) {
                    vm.pageCount = res.Data.Count
                    vm.groupList = res.Data.GroupInfoList
                }
            }).fail((err) => {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace-admin')
                }
            }).always(function() {
                vm.isSaving = false
            })
        },
        ClearGroupDetail() {
            this.groupInfo = {
                id: 0,
                name: '',
                accounts: 0,
                registered: 0,
                deviceLimit: 0,
                uploadLimit: 0,
                effectStartDate: '',
                effectEndDate: '',
                faceDetection: false,
                autoShutDown: false,
                watchDog: false,
                userSetting: {
                    name: '',
                    account: '',
                    password: '',
                }
            }
        },
        EditGroup(group) {
            this.groupInfo = {
                id: group.Id,
                name: group.Name,
                accounts: group.AccountCount,
                registered: group.DeviceCount,
                deviceLimit: group.DeviceLimit,
                uploadLimit: (group.UploadLimit % 1073741824) == 0 ? group.UploadLimit / 1073741824 : (group.UploadLimit / 1073741824).toFixed(2),
                effectStartDate: group.EffectStartDate,
                effectEndDate: group.EffectEndDate,
                faceDetection: group.FaceDetection,
                autoShutDown: group.AutoShutDown,
                watchDog: group.WatchDog,
                userSetting: {
                    name: group.UserSetting[0].Name,
                    account: group.UserSetting[0].Account,
                    password: group.UserSetting[0].Password
                }
            }
        },
        SetDeleteGroupId(id) {
            this.deleteGroupId = id
        },
        GroupDeleteHandler(id) {
            var vm = this
            var index = _.findIndex(vm.groupList, function(o) { return o.Id == id })
            if (index != -1) {
                vm.groupList.splice(index, 1)
            }
            if (vm.groupList.length == 0 && this.page != 1) {
                this.page = this.page - 1
                vm.groupList = []
                this.pageRebuild = true
                this.GetGroupList()
            }
            else {
                this.pageRebuild = true
                this.GetGroupList()
            }
        },
        GroupAddHandler(val) {
            if (val) {
                this.GetGroupList()
            }
        },
        PageRebuildHandler(val) {
            this.pageRebuild = false;
        },
        PageClickCallback(val) {
            this.page = val
            this.groupList = []
            this.GetGroupList()
        },
        SearchtextDebounce: _.debounce(
            function(text, type) {
                var vm = this
                vm.page = 1
                vm.pageRebuild = true
                vm.GetGroupList()
                vm.groupList = []
            },
            500
        ),
        ConvertSize(size) {
            return _shared.GetSizeString(size, 2)
        },
        ConvertDate(date) {
            return _shared.GetDateString(date)
        },
    }
}
</script>

<style scoped>

</style>
