<template>
    <div class="page-header">
        <h1>Player Management</h1> <hr>
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#upload-player-modal-id">
                    <i class="fa fa-upload"></i>&nbsp; Upload Player
                </button>
                <div class="pull-right">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control" v-model="versionSearchText" placeholder="Search...">
                        <span class="fa fa-search form-control-feedback" style="display: flex;justify-content: center;align-items: center;"></span>
                    </div>
                </div>
                <table class="table table-striped table-hover" style="margin-top: 20px;">
                    <thead>
                        <tr>
                            <th>Version</th>
                            <th>Description</th>
                            <th>Upload Date</th>
                            <th>Size</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="version in versionList" :key="'version'+version.id">
                            <td>{{version.Version}}</td>
                            <td>{{version.ChangeLog}}</td>
                            <td>{{ConvertDate(version.CreateDate)}}</td>
                            <td>{{ConvertSize(version.UpdateFileSize)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-show="pageCount>0" class="col-xs-12" style="text-align: center;">
                <paginate :page-count="pageCount" :page-range="4" :margin-pages="1" :click-handler="PageClickCallback" :prev-text="Prev" :next-text="Next" :container-class="'pagination'" :page-class="'page-item'" :page="page" :page-rebuild="pageRebuild" @rebuildCallBack="PageRebuildHandler"></paginate>
            </div>
        </div>

        <upload-player-modal modalId="upload-player-modal-id" @playerAdd="PlayerAddHandler"></upload-player-modal>

        <busy-fullscreen-modal :show="isSaving" :hide-delay="600" :context="context"></busy-fullscreen-modal>
    </div>
</template>

<script>
import UploadPlayerModal from './modal/upload-player-modal.vue'
import Paginate from './controls/paginate.vue'
import BusyFullscreenModal from './controls/modal/busy-fullscreen-modal.vue'
var _shared = require('./controls/_shared')
var _ = require("lodash")

export default {
    name: 'player-version-index',
    components: {
        UploadPlayerModal,
        Paginate,
        BusyFullscreenModal
    },
    data() {
        return {
            versionSearchText: '',
            versionList: [],
            versionListOrigin: [],
            versionListMatch: [],
            page: 1,
            pageRows: 5,
            pageCount: 0,
            pageRebuild: false,
            isSaving: false
        }
    },
    mounted() {
        this.GetVersionList()
    },
    watch: {
        versionSearchText() {
            this.page = 1
            this.SearchTextPageRebuild()
        }
    },
    methods: {
        GetVersionList() {
            var vm = this
            vm.isSaving = true
            $.post("/ace-admin/api/player/getallversions").done(function(res) {
                if (res.Result) {
                    vm.versionList = res.Data
                    vm.versionListOrigin = vm.versionList
                    vm.versionListOrigin = _.uniqBy(vm.versionListOrigin, 'Version');
                    if (vm.versionSearchText.trim() == "") {
                        vm.pageCount = Math.ceil(vm.versionListOrigin.length / vm.pageRows)
                        vm.PageRebuild()
                    }
                    else {
                        vm.SearchTextPageRebuild()
                    }
                    vm.isSaving = false
                }
            }).fail((err) => {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace-admin')
                }
            }).always(function() {
                vm.isSaving = false
            })

        },
        ConvertDate(date) {
            return _shared.GetDateString(date)
        },
        ConvertSize(size) {
            return _shared.GetSizeString(size, 2)
        },
        PageRebuildHandler(val) {
            this.pageRebuild = false;
        },
        PageClickCallback(val) {
            this.page = val
            this.versionList = []
            if (this.versionSearchText.trim() == "") {
                this.PageRebuild()
            }
            else {
                this.SearchTextPageRebuild()
            }
        },
        PageRebuild() {
            var vm = this
            var buildIndex = 0
            vm.versionList = []
            $.each(vm.versionListOrigin, function(index, item) {
                if (index >= ((vm.page - 1) * vm.pageRows) && index < (vm.page * vm.pageRows)) {
                    vm.$set(vm.versionList, buildIndex, item)
                    buildIndex++
                }
            })

        },
        SearchTextPageRebuild() {
            var vm = this
            var buildIndex = 0
            vm.pageRebuild = true
            vm.versionList = []
            vm.versionListMatch = vm.versionListOrigin.filter((element) => {
                if (this.versionSearchText.trim() == "" || !this.versionSearchText.trim().match(/^[^?*[+()^\\\|]+$/g)) {
                    this.versionSearchText = ""
                    return element
                }
                return element.Version.match(this.versionSearchText)
            })
            $.each(vm.versionListMatch, function(index, item) {
                if (index >= ((vm.page - 1) * vm.pageRows) && index < (vm.page * vm.pageRows)) {
                    vm.$set(vm.versionList, buildIndex, item)
                    buildIndex++
                }
            })
            vm.pageCount = Math.ceil(vm.versionListMatch.length / vm.pageRows)
        },
        PlayerAddHandler(val) {
            if (val) {
                this.GetVersionList()
            }
        }
    }
}
</script>

<style>

</style>
