﻿
@{
    ViewBag.Title = "Player Version";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/alertify/css/alertify.css" rel="stylesheet" />
<div id="app">
    <player-version-index></player-version-index>
</div>

@section scripts{
    <script src="~/Scripts/alertify/js/alertify.js"></script>

    @*Vue js app*@
    <script src="~/vue-dev/dist/build.js"></script>
}