﻿
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Home/style.css" rel="stylesheet" />

<div id="app">
    <home-index></home-index>
</div>

@section scripts{
    @*alertify*@
    <script src="~/Scripts/alertify/js/alertify.js"></script>
    @*_d_s*@
    <script src="~/Scripts/_d_s.js"></script>
    @*Vue js app*@
    <script src="~/vue-dev/dist/build.js"></script>

}