﻿
@{
    ViewBag.Title = "LicenseError";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>License Error</title>
</head>
<body>
    <hgroup>
        <h1>License Error</h1>
        <h2>Please contact your system administrator.</h2>
        <h2>請洽詢您的系統管理員。</h2>
        <h2>请洽询您的系统管理员。</h2>
</hgroup>
</body>

