<template>
    <div>
        <!--新增菜單 按鈕-->
        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#add-menu-modal-id" @click="clearMenuInfo">
            <i class="fa fa-plus-square text-success"></i>&nbsp; {{ $t("message.Library_AddMenu")}}
        </button>

        <a href="/ace/MenuTemplate/menu.xls" class="btn btn-default btn-sm">
            <i class="fa fa-download text-info"></i>&nbsp; {{ $t("message.Library_SampleMenu")}}
        </a>

        <!--新增倒數計時 按鈕-->
        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#add-timer-modal-id" @click="clearTimerInfo">
            <i class="fa fa-plus-square text-success"></i>&nbsp; {{ $t("message.Library_AddTimer")}}
        </button>

        <div class="row">
            <div class="col-md-2">
                <div class="itme-style" :title="$t('message.NullImage')" draggable="true" @dragstart="dragAppsHandler($event,nullImage)">
                    <div class="vertical-container">
                        <img src="/ace/images/insert.svg" alt="insert" style="height:100px;width:100px;">
                    </div>
                    <p class="item">
                        {{ $t("message.NullImage")}}
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="itme-style" :title="$t('message.TraditionalClock')" draggable="true" @dragstart="dragAppsHandler($event,traditionClock)">
                    <div class="vertical-container">
                        <img src="/ace/images/clock.svg" alt="clock" style="height:100px;width:100px;">
                    </div>
                    <p class="item">
                        {{ $t("message.TraditionalClock")}}
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="itme-style" :title="$t('message.ElectronicClock')" draggable="true" @dragstart="dragAppsHandler($event,elecClock)">
                    <div class="vertical-container">
                        <img src="/ace/images/elect_clock.svg" alt="elect_clock" style="height:100px;width:100px;">
                    </div>
                    <p class="item">
                        {{ $t("message.ElectronicClock")}}
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="itme-style" :title="$t('message.Weather')" draggable="true" @dragstart="dragAppsHandler($event,weather)">
                    <div class="vertical-container">
                        <img src="/ace/images/climate.svg" alt="climate" style="height:100px;width:100px;">
                    </div>
                    <p class="item">
                        {{ $t("message.Weather")}}
                    </p>
                </div>
            </div>
            <div class="col-md-2" v-for="menu in menus" :key="'menu'+ menu">
                <div class="itme-style" :title="$t('message.Menu')" draggable="true" @dragstart="dragAppsHandler($event,menu)">
                    <div class="vertical-container">
                        <div style="position:relative;">
                            <img src="/ace/images/menu.svg" alt="menu" style="height:100px;width:100px;">
                            <i class="fa fa-times-circle remove-icon" data-toggle="modal" data-target="#delete-menu-modal-id" @click="removeMenu(menu)"></i>
                            <i class="fa fa-pencil-square-o edit-icon" data-toggle="modal" data-target="#add-menu-modal-id" @click="saveMenu(menu)"></i>
                        </div>
                    </div>
                    <p class="item">
                        {{ menu.Name}}
                    </p>
                </div>
            </div>
            <div class="col-md-2" v-for="timer in timers" :key="'timer'+ timer">
                <div class="itme-style" :title="$t('message.Timer')" draggable="true" @dragstart="dragAppsHandler($event,timer)">
                    <div class="vertical-container">
                        <div style="position:relative;">
                            <img src="/ace/images/count_down.svg" alt="menu" style="height:100px;width:100px;">
                            <i class="fa fa-times-circle remove-icon" data-toggle="modal" data-target="#delete-timer-modal-id" @click="removeTimer(timer)"></i>
                            <i class="fa fa-pencil-square-o edit-icon" data-toggle="modal" data-target="#add-timer-modal-id" @click="saveTimer(timer)"></i>
                        </div>
                    </div>
                    <p class="item">
                        {{ timer.Name}}
                    </p>
                </div>
            </div>
        </div>
        <add-menu-modal modal-id="add-menu-modal-id" @menuSaved="refreshHandler" :menu-info="menuInfo"></add-menu-modal>
        <add-timer-modal modal-id="add-timer-modal-id" @timerSaved="refreshHandler" :timer-info="timerInfo"></add-timer-modal>
        <delete-menu-modal modal-id="delete-menu-modal-id" :asset-id="menuInfo.assetId" :menu-id="menuInfo.menuId" :menu-used="itemUsed" @menuSaved="refreshHandler"></delete-menu-modal>
        <delete-timer-modal modal-id="delete-timer-modal-id" :asset-id="timerInfo.assetId" :timer-used="itemUsed" @timerSaved="refreshHandler"></delete-timer-modal>
    </div>
</template>

<script>
import AddMenuModal from './modal/add-menu-modal.vue'
import DeleteMenuModal from './modal/delete-menu-modal.vue'
import AddTimerModal from './modal/add-timer-modal.vue'
import DeleteTimerModal from './modal/delete-timer-modal.vue'

export default {
    name: 'apps-asset',
    components: {
        AddMenuModal,
        DeleteMenuModal,
        AddTimerModal,
        DeleteTimerModal
    },
    data() {
        return {
            weather: {
                Name: this.$i18n.messages[__culture].message.Weather,
                MediaType: 10
            },
            traditionClock: {
                Name: this.$i18n.messages[__culture].message.TraditionalClock,
                MediaType: 11,
                style: 0
            },
            elecClock: {
                Name: this.$i18n.messages[__culture].message.ElectronicClock,
                MediaType: 11,
                style: 1
            },
            nullImage: {
                Name: this.$i18n.messages[__culture].message.NullImage,
                MediaType: 13
            },
            menus: [],
            menuInfo: {
                menuId: 0,
                assetId: 0,
                name: '',
                backgroudFileId: 0,
                textEffect: 0 //0 無,1 效果1,2 效果2
            },
            timers: [],
            timerInfo: {
                assetId: 0,
                name: '',
                dateTime: '',
                color: '#000000',
                settings: {
                    year: true,
                    month: true,
                    day: true,
                    hour: true,
                    minute: true,
                    second: true,
                    millisecond: true
                }
            },
            itemUsed: []
        }
    },
    mounted() {
        this.getAllMenu()
        this.getAllTimer()
    },
    methods: {
        getAllMenu: function() {
            var vm = this
            $.post("/ace/api/library/getallmenu").done(function(res) {
                if (res.Result) {
                    vm.menus = []
                    $.each(res.Data, function(index, item) {
                        vm.menus.push(item)
                    })
                }
            }).fail(function(err) {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
            })
        },
        getAllTimer: function() {
            var vm = this
            $.post("/ace/api/library/getalltimer").done(function(res) {
                if (res.Result) {
                    vm.timers = []
                    $.each(res.Data, function(index, item) {
                        vm.timers.push(item)
                    })
                }
            }).fail(function(err) {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
            })
        },
        dragAppsHandler: function(ev, item) {
            ev.dataTransfer.setData("text", JSON.stringify({
                appsAsset: {
                    fileName: item.Name,
                    fileType: item.MediaType,
                    fileId: item.AssetId,
                    clockStyle: item.style //0 traditional, 1 electronic
                }
            }))
        },
        refreshHandler: function(bool) {
            if (bool) {
                this.getAllMenu()
                this.getAllTimer()
                this.$emit('fileDelete', true)
            }
        },
        saveMenu: function(menu) {
            this.menuInfo = {
                menuId: menu.MenuId,
                assetId: menu.AssetId,
                name: menu.Name,
                backgroudFileId: menu.BackgroudFileId,
                textEffect: menu.TextEffect //0 無,1 效果1,2 效果2
            }
        },
        saveTimer: function(timer) {
            this.timerInfo = {
                assetId: timer.AssetId,
                name: timer.Name,
                dateTime: timer.DateTime,
                color: timer.Color,
                settings: {
                    year: timer.Settings.Year,
                    month: timer.Settings.Month,
                    day: timer.Settings.Day,
                    hour: timer.Settings.Hour,
                    minute: timer.Settings.Minute,
                    second: timer.Settings.Second,
                    millisecond: timer.Settings.Millisecond
                }
            }
        },
        removeMenu: function(menu) {
            this.menuInfo.assetId = menu.AssetId
            this.menuInfo.menuId = menu.MenuId
            this.getUsedFile(menu.AssetId)
        },
        removeTimer: function(timer) {
            this.timerInfo.assetId = timer.AssetId
            this.getUsedFile(timer.AssetId)
        },
        getUsedFile: function(id) {
            var vm = this
            $.post("/ace/api/text/usedFile", {
                Id: id
            }).done(function(res) {
                if (res.Data) {
                    vm.itemUsed = res.Data.textAssetUsedNameList
                }
            }).fail(function(err) {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
            })
        },
        clearMenuInfo: function() {
            this.menuInfo = {
                menuId: 0,
                assetId: 0,
                name: '',
                backgroudFileId: 0,
                textEffect: 0 //0 無,1 效果1,2 效果2
            }
        },
        clearTimerInfo: function() {
            this.timerInfo = {
                assetId: 0,
                name: '',
                dateTime: '',
                color: '#000000',
                settings: {
                    year: true,
                    month: true,
                    day: true,
                    hour: true,
                    minute: true,
                    second: true,
                    millisecond: true
                }
            }
        }
    }
}
</script>

<style scoped>
.item {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.itme-style {
    margin-bottom: 10px;
}

.img {
    padding: 12px 8px 10px 8px;
    border-radius: .2em;
    font-size: 80px;
    margin-bottom: 5px;
}

.vertical-container {
    height: 120px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.traditionClock-color {
    background: -webkit-linear-gradient(left top, #dab361, #de4206);
    background: -o-linear-gradient(bottom right, #dab361, #de4206);
    background: -moz-linear-gradient(bottom right, #dab361, #de4206);
    background: linear-gradient(to bottom right, #dab361, #de4206);
}

.weather-color {
    background: -webkit-linear-gradient(left top, #61c9da, #1161c3);
    background: -o-linear-gradient(bottom right, #61c9da, #1161c3);
    background: -moz-linear-gradient(bottom right, #61c9da, #1161c3);
    background: linear-gradient(to bottom right, #61c9da, #1161c3);
}

.menu-color {
    background: -webkit-linear-gradient(left top, #e89c9c, #b32f11);
    background: -o-linear-gradient(bottom right, #e89c9c, #b32f11);
    background: -moz-linear-gradient(bottom right, #e89c9c, #b32f11);
    background: linear-gradient(to bottom right, #e89c9c, #b32f11);
}

.remove-icon {
    color: #f30808;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;
    background-color: #fff;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: table-cell;
    text-align: center;
}

.remove-icon:hover {
    background-color: #BCDBE6;
}

.edit-icon {
    position: absolute;
    right: 0;
    bottom: 5px;
    font-size: 20px;
    color: #91f52f;
    cursor: pointer;
}

.edit-icon:hover {
    color: #7bd225;
}
</style>
