//三個分頁

<template>
    <div>
        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#tab_library" data-toggle="tab">
                            <i class="fa fa-inbox"></i>&nbsp; {{ $t("message.MediaLibrary")}}
                        </a>
                    </li>
                    <li>
                        <a href="#tab_text" data-toggle="tab">
                            <i class="fa fa-pencil-square-o"></i>&nbsp; {{ $t("message.Campaign_TextWebSite")}}
                        </a>
                    </li>
                    <li>
                    <a href="#tab_apps" data-toggle="tab">
                    <i class="fa fa-pencil-square-o"></i>&nbsp; APPs
                    </a>
                    </li>
                </ul>
                <div class="tab-content region-table">
                    <div class="tab-pane active" id="tab_library">
                        <slot name="library"></slot>
                    </div>
                    <div class="tab-pane" id="tab_text">
                        <slot name="text"></slot>
                    </div>
                    <div class="tab-pane" id="tab_apps">
                    <slot name="apps"></slot>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'tab-panel'
}
</script>

<style scoped>
/*Tabs*/

.tabbable-panel {
    /*border:1px solid #eee;*/
    padding: 10px;
}

.tabbable-line>.nav-tabs {
    border: none;
    margin: 0px;
}

.tabbable-line>.nav-tabs>li {
    margin-right: 2px;
    padding-bottom: 4px;
}

.tabbable-line>.nav-tabs>li>a {
    border: 0;
    margin-right: 0;
    color: #4e5d6c;
}

.tabbable-line>.nav-tabs>li>a>i {
    color: #a6a6a6;
}

.tabbable-line>.nav-tabs>li.open>a,
.tabbable-line>.nav-tabs>li:hover>a {
    border: 0;
    background: none !important;
    color: lightslategray;
}

.tabbable-line>.nav-tabs>li.open>a>i,
.tabbable-line>.nav-tabs>li:hover>a>i {
    color: #a6a6a6;
}

.tabbable-line>.nav-tabs>li.open .dropdown-menu,
.tabbable-line>.nav-tabs>li:hover .dropdown-menu {
    margin-top: 0px;
}

.tabbable-line>.nav-tabs>li.active {
    border-bottom: 4px solid #5bc0de;
    position: relative;
}

.tabbable-line>.nav-tabs>li.active>a {
    border: 0;
    color: #5bc0de;
}

.tabbable-line>.nav-tabs>li.active>a>i {
    color: #404040;
}

.tabbable-line>.tab-content {
    margin-top: -3px;
    /*background-color: #fff;*/
    border: 0;
    border-top: 1px solid #4e5d6c;
    padding: 15px 0;
}

.portlet .tabbable-line>.tab-content {
    padding-bottom: 0;
}

li.active a>i {
    color: #5bc0de !important;
}
</style>