<template>
    <div class="row">
        <div class="col-xs-5 col-md-4 col-lg-4">
            <h1>{{ $t("message.Campaign_CampaignList")}}</h1>
        </div>
        <div class="col-xs-7 col-md-8 col-lg-8">
            <span class="pull-right" style=" margin-top: 21px; margin-bottom: 10.5px; display:inline-flex">
                <div class="dropdown" style="display:inline-flex">
                    <button class="btn btn-default btn-sm dropdown-toggle" style="margin: 2px;" type="button" data-toggle="dropdown">
                        <span>{{ SearchTypeName }}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li v-for="item in dropItem" @click="ChangeSearchType(item)" :key="item.value">
                            <a href="#">
                                {{ item.text }}
                                <span v-show="item.checked">
                                    &nbsp;
                                    <i class="fa fa-check text-success"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <input type="text" class="btn btn-default btn-sm" style="text-align: left; display: inline-block;margin: 2px; cursor:text;" id="btnSearch" v-model="searchText" v-bind:placeholder=" $t('message.Search')">
                <i class="fa fa-search" style="margin-left: 10px; margin-right: 10px; font-size:20px;align-items: center; display: inline-flex;"></i>

            </span>
        </div>

        <div style="clear:both"></div>
        <!--Campaign分頁-->
        <!--<div slot="campaigns">-->
        <div class="col-xs-12 col-md-12 col-lg-12" style="margin:10px 10px 10px 0px;padding: 0px;">

            <a class="btn btn-default btn-sm" style="margin:2px;" :href="campaignEditorUrl">
                <i class="fa fa-plus-square text-success"></i>
                &nbsp;{{ $t("message.Campaign_AddCampaign")}}
            </a>
            <a class="btn btn-default btn-sm" style="cursor: pointer;margin:2px;" data-toggle="modal" data-target="#publish-modal" @click="PublishClick">
                <i class="fa fa-cloud-upload text-info"></i>
                &nbsp;{{ $t("message.Publish")}}
            </a>
            <transition name="fade">
                <div v-show="selectCampaign.length>0" style="display: inline-block;">
                    <button style="margin:2px;" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#add-edit-account-id" v-show="!multipleTagButton && selectCampaign.length>0  " @click="NewTagClick(index,'multiple') ">
                        <i class="fa fa-tags text-success"></i>
                        &nbsp;{{ $t("message.Campaign_NewTag")}}
                    </button>
                    <input class="btn btn-default btn-sm newTagInput " v-show="multipleTagButton " type="text " v-model="multipleInputtTag " @keyup.esc="CancelCreateTag(index,'multiple') " @keyup.enter="CreateTag(campaignIdList,'','multiple') " v-focus="focused " @blur="CancelCreateTag(index,'multiple') " />

                    <button v-show="selectCampaign.length>0" style="margin:2px;" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#delete-campaign-tag-modal">
                        <i class="fa fa-trash text-danger"></i>
                        &nbsp;{{ $t("message.Campaign_DeleteTag")}}&nbsp;
                        <span class="label" style="background:#d9534f;padding: 0px 4px;">{{ selectCampaign.length}}</span>
                    </button>
                </div>
            </transition>
        </div>
        <br>
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <label class="btn btn-default btn-sm" style="margin: 2px;">
                                <input type="checkbox" v-model="selectAllCampaign"> {{ $t("message.All")}}
                            </label>
                        </th>
                        <th>{{ $t("message.Campaign_CampaignName")}}</th>
                        <th>{{ $t("message.Campaign_Duration")}}</th>
                        <th>{{ $t("message.Campaign_Tag")}}</th>
                        <th style="text-align:center;">{{ $t("message.Campaign_ReplaceCampaign")}} | {{ $t("message.Campaign_SaveAsCampaign")}}</th>
                        <th style="text-align:center;">
                            {{ $t("message.Edit")}} | {{ $t("message.Delete")}}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(cp,index) in campaigns" :key="'campaign'+index">
                        <td class="col-sm-1">
                            <label class="btn btn-default btn-sm" style="margin: 2px;">
                                <input type="checkbox" v-model="selectCampaign" :value="cp">
                            </label>
                        </td>
                        <td class="col-sm-2 textOverflow" :title="cp.name">{{ cp.name }}</td>
                        <td class="col-sm-1 textOverflow" :title="cp.duration">{{ cp.duration }}</td>
                        <td class="col-sm-4">
                            <ul style="padding:0;">
                                <li v-for="tag in cp.tag " :key=" 'tag'+tag ">
                                    <span :title="tag">
                                        {{tag}}
                                        <i class="fa fa-times text-danger " style="cursor: pointer " v-bind:title=" $t('message.Campaign_DeleteTag')" @click="DeleteTag(cp.id,index,tag)"></i>
                                    </span>
                                </li>
                                <label class="newTagLabel " v-show="!tagInputArrayBoolean[index] " @click="NewTagClick(index,'single') ">{{ $t("message.Campaign_NewTag")}}...</label>
                                <input class="btn btn-default newTagInput " v-show="tagInputArrayBoolean[index] " type="text " v-model="tagInputArray[index] " @keyup.esc="CancelCreateTag(index,'single') " @keyup.enter="CreateTag(cp.id,index,'single') " v-focus="focused " @blur="CancelCreateTag(index,'single') ">
                            </ul>
                        </td>
                        <td class="col-sm-2" style="text-align:center;">
                            <!--新增取代按鈕-->
                            <i class="glyphicon glyphicon-floppy-open text-warning" style="cursor: pointer" data-toggle="modal" data-target="#replace-campaign-modal" @click="ReplaceClick(cp.id)"></i>
                            <span class="text-muted">&nbsp;|&nbsp;</span>
                            <!--新增另存新檔按鈕-->
                            <i style="cursor: pointer" class="glyphicon glyphicon-floppy-saved text-warning" v-show="!saveAsInputArrayBoolean[index] " @click="SaveAsClick(index,cp.name) "></i>
                            <input class="btn btn-default btn-sm newTagInput " v-show="saveAsInputArrayBoolean[index] " Type="text" v-model="saveAsInputArray[index] " @keyup.esc="CancelSaveAs(index,cp.name) " @keyup.enter="SaveAs(cp.id,index)" v-focus="saveAsFocused " @blur="CancelSaveAs(index,cp.name)">
                        </td>
                        <td class="col-sm-1" style="text-align:center;">
                            <a :href="'/ace/campaign/editor/' + cp.id">
                                <i class="fa fa-pencil text-success" style="cursor: pointer" v-bind:title=" $t('message.Edit')"></i>
                            </a>
                            <span class="text-muted">&nbsp;|&nbsp;</span>
                            <i class="fa fa-remove text-danger" style="cursor: pointer" v-bind:title=" $t('message.Delete')" data-toggle="modal" data-target="#delete-cp-modal" @click="deleteCampaign(cp)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div v-show="pageCount>0" class="col-xs-12" style="text-align: center;">
                <paginate :page-count="pageCount" :page-range="4" :margin-pages="1" :click-handler="PageClickCallback" :prev-text=" $t('message.Prev')" :next-text=" $t('message.Next')" :container-class="'pagination'" :page-class="'page-item'" :page-rebuild="pageRebuild" @rebuildCallBack="PageRebuildHandler"></paginate>
            </div>
        </div>
        <!--</div>-->

        <busy-fullscreen-modal :show="isSaving" :hide-delay="1200" :context="context"></busy-fullscreen-modal>

        <delete-campaign-modal modal-id="delete-cp-modal" :deletingCampaign="deletingCampaign" :campaignUsedList="campaignUsedList" @deleteSuccess="campaignDeleted"></delete-campaign-modal>

        <!--Publish視窗-->
        <all-publish-modal modal-id="publish-modal" :parentSelectedCampaigns="selectCampaign" :campaign-id="publishCampaignId" @parentSelectedCampaigns="ParentSelectedCampaignsHandler"></all-publish-modal>
        <!--delete campaign tag modal-->
        <delete-campaign-tag modal-id="delete-campaign-tag-modal" :selectCampaign="selectCampaign" :tagList="tagList" :campaignIdList="campaignIdList" @apiResult="ApiResultHandler"></delete-campaign-tag>
        <!-- replace-campaign -->
        <replace-campaign-modal modal-id="replace-campaign-modal" :campaign-id="id" :selectCampaignId="selectCampaignId" :indexOrTemplate="true" @ReplaceCampaign="GetAllCampaign"></replace-campaign-modal>
    </div>
</template>

<script>
var _ = require('lodash')
import { mixin as focusMixin } from 'vue-focus'
import DeleteCampaignModal from './modal/delete-campaign-modal.vue'
import AllPublishModal from './modal/all-publish-modal.vue'
import Paginate from '../controls/paginate.vue'
import ReplaceCampaignModal from './modal/replace-campaign-modal.vue'
import DeleteCampaignTag from './modal/delete-campaign-tag.vue'
import BusyFullscreenModal from '../controls/modal/busy-fullscreen-modal.vue'
import Bus from '../controls/bus'

export default {
    name: 'campaign-index',
    components: {
        BusyFullscreenModal,
        DeleteCampaignModal,
        ReplaceCampaignModal,
        AllPublishModal,
        Paginate,
        DeleteCampaignTag
    },
    mixins: [focusMixin],
    data() {
        return {
            campaigns: [
                // {id: 1, key: 1, name: 'Campaign 1'},
                // {id: 2, key: 2, name: 'Campaign 2'},                  
            ],
            deletingCampaign: {},
            publishCampaignId: 0,
            campaignUsedList: {},

            tagInputArray: [],
            saveAsInputArray: [],
            tagInputArrayBoolean: [],
            saveAsInputArrayBoolean: [],
            selectCampaign: [],
            selectCampaignCount: [],
            tagList: [],
            campaignIdList: [],
            focused: false,
            saveAsFocused: false,
            page: 1,
            pageRows: 10,
            pageCount: 0,
            multipleInputtTag: '',
            multipleTagButton: false,
            selectCampaignId: '',
            pageRebuild: false,
            searchText: '',
            searchTextType: 'campaignName',
            dropItem: [
                { text: this.$i18n.messages[__culture].message.Campaign_CampaignName, value: 'campaignName', checked: true },
                { text: this.$i18n.messages[__culture].message.Campaign_Tag, value: 'tag', checked: false }
            ],
            contentChange: false,
            replaceContentChange: false,
            isSaving: false,

        }
    },
    mounted() {
        this.GetAllCampaign();
    },
    props: {
        campaignEditorUrl: {
            type: String,
            required: false,
            default: ''
        }
    },
    watch: {
        selectCampaign(val) {
            var vm = this
            var tempArr = []
            var tempCampaign = []
            val.forEach(function(campaign) {
                if (campaign.id) {
                    tempCampaign.push(campaign.id)
                    tempArr = tempArr.concat(campaign.tag)
                }
            }, this)
            vm.campaignIdList = tempCampaign
            vm.tagList = _.uniq(tempArr)
        },
        searchText() {
            this.SearchtextDebounce(this.searchText, this.searchTextType)
        },
        searchTextType() {
            this.SearchtextDebounce(this.searchText, this.searchTextType)
        }
    },
    methods: {
        GetAllCampaign() {
            var vm = this
            if (vm.searchText.trim() != "" && !this.searchText.trim().match(/^[^?*[+()^\\\/]+$/g)) {
                alertify.logPosition("bottom right");
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.Error_0003);
                return
            }

            var obj = {
                Page: vm.page,
                PageRows: vm.pageRows,
                searchType: vm.searchTextType.trim(),
                searchText: vm.searchText.trim()
            }

            Bus.$emit('Campaign-CampaignChange', true);
            //get data 清空資料    
            vm.isSaving = true
            $.post("/ace/api/campaign/all", obj).done(function(res) {
                if (res.Result) {
                    vm.campaigns.splice([res.Data.CampaignsList.length])
                    vm.pageCount = res.Data.Count
                    $.each(res.Data.CampaignsList, function(index, item) {
                        item = {
                            id: item.CampaignId,
                            name: item.CampaignName,
                            duration: item.Duration,
                            key: (vm.page - 1) * vm.pageRows + (index + 1),
                            tag: item.Tag
                        }
                        vm.$set(vm.campaigns, index, item)
                    })
                }
            }).fail(function(err) {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace("/ace")
                }

            }).always(function() {
                vm.isSaving = false
            })

        },
        deleteCampaign(cp) {
            var vm = this
            vm.deletingCampaign = cp
            vm.campaignUsedList = {}
            $.post("/ace/api/campaign/usedcampaign", {
                CampaignId: cp.id,
            }).done(function(res) {
                if (res.Data) {
                    vm.campaignUsedList = res.Data ? res.Data : []
                }
            }).fail(function(err) {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace("/ace")
                }
            })
        },
        campaignDeleted(cp) {
            this.page = 1
            this.pageRebuild = true
            this.GetAllCampaign()
            this.selectCampaign = []
            this.deletingCampaign = null
        },
        DeleteTag(campaignId, index, value) {
            //單筆刪除
            var vm = this
            if (campaignId !== 0)
                var campaignList = [campaignId]

            var tag = [value]
            var obj = {
                CampaignId: campaignList,
                TagName: tag
            }
            //post 刪除tag
            $.post('api/campaign/deletecampaigntag', obj)
                .done((res) => {
                    if (res.Result) {
                        alertify.logPosition("bottom right");
                        alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.DeleteSuccess);

                    } else {
                        alertify.logPosition("bottom right");
                        alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.DeleteFailed);
                    }
                    vm.GetAllCampaign();
                    //清理掉所選的Campaign
                    vm.selectCampaign = []
                })
                .fail((err) => {
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace('/ace')
                    }
                })

        },
        CreateTag(campaignId, index, type) { //type single/multiple  
            var vm = this
            var campaignList = []

            var tag = []
            if (vm.multipleInputtTag && !vm.multipleInputtTag.trim().match(/^[^?*[+()^\\\/]+$/g) ||
                vm.tagInputArray[index] && !vm.tagInputArray[index].trim().match(/^[^?*[+()^\\\/]+$/g)) {
                vm.tagInputArray[index] = ""
                alertify.logPosition("bottom right");
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.Error_0003);
                return
            }
            if (vm.multipleInputtTag && vm.multipleInputtTag.trim().length > 25 ||
                vm.tagInputArray[index] && vm.tagInputArray[index].trim().length > 25) {
                vm.tagInputArray[index] = ""
                alertify.logPosition("bottom right");
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.Error_0045);
                return
            }
            //post 寫入DB 新增一個tag 記得trim
            if (type === 'single') {
                //campaignId
                tag = [vm.tagInputArray[index].trim()]
                campaignList.push(campaignId)
            } else {
                //campaignIdList
                campaignList = campaignId
                tag = [vm.multipleInputtTag.trim()]
            }
            var obj = {
                CampaignId: campaignList,
                TagName: tag
            }
            $.post('api/campaign/insertcampaigntag', obj)
                .done((res) => {
                    if (res.Result) {
                        vm.GetAllCampaign();
                        //清掉所有選的Campaign
                        vm.selectCampaign = []
                        if (type === 'single') {
                            //清空v-model的值
                            vm.$set(vm.tagInputArray, index, '')
                            //關閉input 顯示label 
                            vm.$set(vm.tagInputArrayBoolean, index, false)
                        } else {
                            vm.multipleInputtTag = ''
                        }
                        alertify.logPosition("bottom right");
                        alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + this.$i18n.messages[__culture].message.AddSuccess);
                    } else {
                        alertify.logPosition("bottom right");
                        alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + this.$i18n.messages[__culture].message.AddFailed);
                    }
                })
                .fail((err) => {
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace('/ace')
                    }
                })
        },
        NewTagClick(index, type) {
            if (type === 'multiple') {
                this.multipleTagButton = true
                this.focused = true
            } else {
                this.$set(this.tagInputArrayBoolean, index, true)
                this.focused = true
            }
        },
        SaveAsClick(index, name) {
            this.$set(this.saveAsInputArray, index, name)
            this.$set(this.saveAsInputArrayBoolean, index, true)
            this.saveAsFocused = true
        },

        SaveAs(campaignId, index) {
            var vm = this
            if (!vm.saveAsInputArray[index].trim().match(/^[^?*[+()^\\\/]+$/g)) {
                vm.errMsgName = vm.$i18n.messages[__culture].message.Error_0003;
                setTimeout(function() {
                    vm.errMsgName = ''
                }, 2000);
                vm.isBusy = false
                alertify.logPosition("bottom right");
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.Error_0004);
                return
            }
            if (vm.saveAsInputArray[index].length > 50) {
                vm.errMsgName = vm.$i18n.messages[__culture].message.Error_0009;
                setTimeout(function() {
                    vm.errMsgName = ''
                }, 2000);
                vm.isBusy = false
                alertify.logPosition("bottom right");
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.Error_0009);
                return
            }
            var api = $.post('/ace/api/campaign/addother', {
                CampaignId: campaignId, Name: vm.saveAsInputArray[index]
            })
            api.done(function(res) {
                vm.contentChange = true
                if (res.Data == 'Error_0023') {
                    alertify.logPosition("bottom right");
                    alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.Error_0023);
                }
                else {
                    alertify.logPosition("bottom right");
                    alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.AddSuccess);
                    vm.GetAllCampaign();
                    vm.$set(vm.saveAsInputArrayBoolean, index, false)
                }
            })
        },
        CancelCreateTag(index, type) {
            if (type === 'multiple') {
                this.multipleTagButton = false
                this.focused = false
            } else {
                //清掉輸入的值
                this.$set(this.tagInputArray, index, '')
                //關閉輸入tag input
                this.$set(this.tagInputArrayBoolean, index, false)
                this.focused = false
            }
        },
        CancelSaveAs(index, type) {
            //關閉輸入tag input
            this.$set(this.saveAsInputArrayBoolean, index, false)
            this.saveAsFocused = false
        },
        PageRebuildHandler(val) {
            this.pageRebuild = false;
        },
        PageClickCallback(val) {
            this.page = val
            this.campaigns = []
            this.GetAllCampaign()
        },
        ApiResultHandler(val) {
            if (val) {
                this.GetAllCampaign()
                //清理掉所選的 campaign
                this.selectCampaign = []
            }
        },
        ParentSelectedCampaignsHandler(val) {
            if (val) {
                //清理掉所選的 campaign
                this.selectCampaign = []
            }
        },
        SearchtextDebounce: _.debounce(
            function(text, type) {
                var vm = this
                vm.page = 1
                vm.pageRebuild = true
                vm.GetAllCampaign()
                vm.selectCampaign = []
            },
            500
        ),
        ChangeSearchType(data) {
            var vm = this
            $.each(vm.dropItem, (i, obj) => {
                obj.checked = false
            })
            data.checked = true
            vm.searchTextType = data.value
        },
        ReplaceClick(val) {
            var vm = this
            Bus.$emit('Campaign-CampaignChange', true);
            vm.selectCampaignId = val;
        },
        PublishClick() {
            Bus.$emit('Campaign-CampaignChange', true);
        }
    },
    computed: {
        selectAllCampaign: {
            get() {
                var vm = this
                var tempList = _.differenceWith(vm.campaigns, vm.selectCampaign, _.isEqual)
                if (vm.campaigns.length > 0 && tempList.length === 0) {
                    return true
                } else {
                    return false
                }
            },
            set(val) {
                var vm = this
                //把所有Campaignist資料重組 組出CampaignIdList以及Tag
                var tempCampaignList = []
                if (val) {
                    //加入所有的All
                    tempCampaignList = vm.selectCampaign.concat(vm.campaigns)
                    vm.selectCampaign = _.unionWith(vm.selectCampaign, tempCampaignList)
                } else {
                    _.pullAllWith(vm.selectCampaign, vm.campaigns, _.isEqual)
                    vm.selectCampaign = _.cloneDeep(vm.selectCampaign)
                }
            }
        },
        SearchTypeName() {
            var vm = this
            var item = _.find(vm.dropItem, { 'checked': true })
            if (item) {
                return item.text
            }
        }
    }

}
</script>
<style scoped>
.newTagLabel {

    opacity: 0.5;
}

.newTagLabel:hover {
    cursor: pointer;
    opacity: 1;
}

.newTagInput {
    text-align: left;
    display: inline-block;
    /*width: 10%;*/
    cursor: text;
}

td {
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-align: left;
    vertical-align: middle !important;
}

li {
    margin: 5px;
    display: inline-block;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

.textOverflow {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 0;
    white-space: nowrap;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: white;
}
</style>