<template>
    <div class="dropdown" style="display: inline-flex;margin: 0px 0px 0px 10px;">
        <button class="btn btn-default btn-sm dropdown-toggle form-control" style="margin: 2px;border-radius: .2em;" type="button" id="ddm_sort_by" data-toggle="dropdown">
            {{ $t("message.Campaign_Searchby")}} &nbsp; #
            <span>{{ SearchName }}</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="margin-left: 10px;">
            <li v-for="(item,index) in searchItems" @click="select(item)" :key="'search'+index">
                <a href="#">
                    {{ item.text }}
                    <span v-show="item.checked">
                        &nbsp;
                        <i class="fa fa-check text-success"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</template>
<script>
var _ = require('lodash')
export default {
    name: 'name-tag-search-dropdown',
    data() {
        return {
            searchItems: [
                { text: this.$i18n.messages[__culture].message.Campaign_CampaignName, value: 'name', direction: 'asc', checked: true },
                { text: this.$i18n.messages[__culture].message.Campaign_Tag, value: 'tag', direction: 'asc', checked: false }
            ]
        }
    },
    computed: {
        SearchName() {
            var item = _.find(this.searchItems, { 'checked': true })
            if (item) {
                return item.text
            }
        }
    },
    methods: {
        select(item) {
            $.each(this.searchItems, (i, obj) => {
                obj.checked = false
            })
            item.checked = true
            this.$emit('onSortChanged', {
                value: item.value,
                direction: item.direction
            })
        }
    }
}
</script>

<style>

</style>