<template>
    <div>
        <div :class="{'region-list':isMulti}">
            <transition-group name="flip-regionlist" tag="ul">
                <li v-for="region in regions" @drop.prevent="drop($event, region)" @dragover="allowDrop($event)" :key="region.key">

                    <div class="region-media-line" :data-region-key="region.key" :key="region.key">

                        <div class="region-id-tag">{{ region.key }}</div>

                        <div v-if="getRegionSegments(region).length === 0" class="hint-box text-warning">
                            <i class="fa fa-hand-pointer-o"></i>
                            &nbsp; {{ $t("message.Campaign_DragMedia")}}
                        </div>

                        <div class="media-box" v-for="segment in getRegionSegments(region)" :style="mediaBoxStyle(segment)" :key="segment.key" :data-segment-key="segment.key" @click="editSegment(segment)">
                            <!--Remove btn-->
                            <i class="fa fa-remove text-muted media-remove-btn" @click.prevent.stop="removeSegment(segment)"></i>
                            <tools-type-icon style="margin-top: 5px;margin-left: 5px" :mediaType="segment.fileType"></tools-type-icon>

                            <div style="margin-left: 5px;font-size: small;font-weight: 100;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;" :title="getFileName(segment)">
                                {{ getFileName(segment) }}
                            </div>

                            <segment-duration-text :duration="segment.duration" style="position: absolute;padding-left: 5px;bottom: 0px"></segment-duration-text>

                        </div>
                    </div>
                </li>
            </transition-group>
        </div>
        <!--Setting modal-->
        <segment-setting-modal modal-id="segment-setting-modal" :segment="settingSegment"></segment-setting-modal>

    </div>
</template>

<script>

var _ = require('lodash')

import SegmentSettingModal from './modal/segment-setting-modal.vue'
import SegmentDurationText from './segment-duration-text.vue'
import ToolsTypeIcon from '../controls/tools-type-icon.vue'

export default {
    name: 'region-timelines',
    components: {
        SegmentSettingModal,
        SegmentDurationText,
        ToolsTypeIcon
    },
    data() {
        return {
            settingSegment: {
                regionId: 0,
                fileName: '',
                fileType: '',
                fileId: 0,
                order: 0,
                key: 0,
                duration: 90
            },
            isMulti: false
        }
    },
    mounted() {
        this.letTimelineSortable()
    },
    watch: {
        regions(newVal, oldVal) {

            //Region改變時 觀察region數量變化
            //若數量增加 就重新賦予time line sortable功能
            this.letTimelineSortable()
            if (newVal.length <= 2) {
                this.isMulti = false
            } else {
                this.isMulti = true
            }
        }
    },
    props: {
        regions: {
            type: Array,
            required: false,
            default: []
        },
        segments: {
            type: Array,
            required: false,
            default: []
        },
        boxWidth: {
            type: Number,
            required: false,
            default: 150
        }
    },
    methods: {
        editSegment(segment) {
            this.settingSegment = segment
            //show modal
            $("#segment-setting-modal").modal('show')

        },
        mediaBoxStyle(segment) {
            return {
                width: this.boxWidth + 'px',
            }
        },
        getRegionSegments(region) {
            var arr = _.filter(this.segments, function(p) {
                return p.regionKey === region.key
            })
            return _.orderBy(arr, ['order'], ['asc'])
        },
        drop(ev, region) {
            var data = JSON.parse(ev.dataTransfer.getData("text"))

            var fileList = data.fileList
            var folderIdList = data.folderIdList
            var textAsset = data.textAsset
            var appsAsset = data.appsAsset
            //附加資料夾
            if (folderIdList && folderIdList.length > 0) {
                var vm = this

                $.each(folderIdList, function(index, folderId) {
                    $.post('/ace/api/library/folder-files', {
                        FolderId: folderId
                    }).done(function(res) {
                        if (res.Result) {
                            $.each(res.Data, function(index, item) {
                                vm.$emit("fileAdded", {
                                    fileId: item.FileId,
                                    fileType: item.FileType,
                                    fileName: item.Name,
                                    duration: item.duration
                                }, region)
                            })
                        }
                    })

                })
            }

            //附加檔案
            //多選多個檔案
            if (Array.isArray(fileList)) {
                var vm = this
                $.each(fileList, function(index, item) {
                    vm.$emit("fileAdded", item, region)
                })
            } else if (fileList !== undefined) {
                this.$emit("fileAdded", fileList, region)
            }

            //附加文字
            if (textAsset) {
                this.$emit("fileAdded", textAsset, region)
            }

            //附加小工具
            if (appsAsset) {
                this.$emit("fileAdded", appsAsset, region)
            }

        },
        allowDrop(ev) {
            ev.preventDefault()
        },
        letTimelineSortable() {
            var vm = this
            $(function() {
                $(".region-media-line").sortable({
                    items: ".media-box",
                    connectWith: ".region-media-line",
                    opacity: .75,
                    // tolerance: "pointer",
                    // placeholder: "media-box-placeholder",
                    stop: function() {

                        var data = []

                        $(".region-media-line").each(function() {

                            var list = []

                            $(this).find(".media-box").each(function() {
                                list.push(Number($(this).data("segment-key")))

                            })

                            data.push({
                                regionKey: Number($(this).data("region-key")),
                                segmentKeys: list
                            })
                        })
                        vm.$emit('segmentSorted', data)
                    }
                })
            })
        },
        removeSegment(segment) {
            //find media
            this.$emit('segmentDeleted', segment)
            // var index = _.indexOf(region.media, media)
        },
        getFileName: function(segment) {
            switch (segment.fileName) {
                case "10":
                    return this.$i18n.messages[__culture].message.Weather
                case "110":
                    return this.$i18n.messages[__culture].message.TraditionalClock
                case "111":
                    return this.$i18n.messages[__culture].message.ElectronicClock
                case "13":
                    return this.$i18n.messages[__culture].message.NullImage
            }
            return segment.fileName
        }
    },
    computed: {

    }
}
</script>

<style>
ul {
    list-style: none;
}

.flip-regionlist-move {
    transition: transform .75s ease;
}

.region-media-line {
    width: 100%;
    min-height: 100px;
    /*background-color: #4e5d6c;*/
    position: relative;
    margin-top: 5px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #37495d 25%, #2b3e50);
}

.media-box {
    height: 100px;
    float: left;
    border: 1px dashed #596a7b;
    background-color: #263748;
    cursor: pointer;
    position: relative;
    transition: border .25s ease;
}

.hint-box {
    height: 100px;
    float: left;
    border: 1px dashed #596a7b;
    background-color: #263748;
    cursor: pointer;
    position: relative;
    padding: 20px;
    /*font-weight: 100;*/
    text-align: center;
    width: 100%;
}

.media-box:hover {
    border: 1px dashed darkorange;
}

.media-box-placeholder {
    visibility: visible;
    width: 30px;
    min-height: 75px;
    float: left;
    border: 1px dashed #d9534f;
}

.media-remove-btn {
    position: absolute;
    right: 0px;
    top: 0px;
}

.media-remove-btn:hover {
    color: #d9534f;
}

.region-id-tag {
    position: absolute;
    left: -22px;
    /* top: 5px; */
    background-color: #1f8ad7;
    height: 100px;
    width: 22px;
    text-align: center;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 2em;
    padding-top: 20px;
    font-weight: lighter;
}

.region-list {
    overflow-y: auto;
    height: 200px;
}

.region-list::-webkit-scrollbar {
    width: 10px;
}

.region-list::-webkit-scrollbar-track {
    background-color: gray;
    border-radius: 10px;
}

.region-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #132333;
}
</style>