<template>
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
    
            <span v-if="selectedResolutionName">{{selectedResolutionName}}</span>
            <span v-else>{{ $t("message.Resolution")}}</span>
    
            &nbsp;
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li v-for="resolution in resolutions">
                <a @click.prevent.stop="selectResolution(resolution)">
                    <span>{{ resolution.name }}</span>
                    <span class="pull-right">
                        <i class="fa fa-minus-circle text-danger" @click.prevent.stop="removeResolution(resolution)"></i>
                    </span>
                    <div v-show="resolution.isDeleting">
                        <footer-button :buttonList="buttonList" :isBusy="busy" :publicParameter="[resolution]"></footer-button>
                    </div>
                </a>
    
            </li>
            <li role="separator" class="divider"></li>
            <li @click.prevent.stop>
                <div style="padding-left: 10px;padding-right:10px;">
                    <p style="text-align: center">{{ $t("message.Campaign_AddResolution")}}</p>
    
                    <label class="control-label">{{ $t("message.Description")}}</label>
                    <input type="text" class="form-control" v-bind:placeholder=" $t('message.Description')" v-model="newDesc" :readonly="busyAdding">
    
                    <label class="control-label">{{ $t("message.Campaign_ResolutionWidth")}}</label>
                    <input type="number" min="0" class="form-control" v-bind:placeholder="$t('message.Campaign_ResolutionWidth')" v-model.number="newWidth" :readonly="busyAdding"  onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
    
                    <label class="control-label">{{ $t("message.Campaign_ResolutionHeight")}}</label>
                    <input type="number" min="0" class="form-control" v-bind:placeholder="$t('message.Campaign_ResolutionHeight')" v-model.number="newHeight" :readonly="busyAdding"  onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
    
                    <!--Confirm add btn-->
                    <div style="text-align: center;margin-bottom: 5px;">
                        <button class="btn btn-success btn-xs" @click.stop.prevent="addResolution()" :disabled="busyAdding">
                            <i v-if="busyAdding" class="fa fa-spin fa-spinner"></i>
                            <i v-else class="fa fa-check"></i>
                        </button>
                    </div>
    
                    <div v-show="errMsg" class="text-danger" style="background-color: #3d4d5d;padding: 5px;border-radius: .2em">
                        <div>
                            <i class="fa fa-exclamation-triangle"></i>
                            <i class="fa fa-remove pull-right text-muted" @click.prevent.stop="errMsg = ''" style="cursor: pointer"></i>
                            {{ errMsg }}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
var _ = require('lodash');
import FooterButton from '../controls/modal/footer-button.vue'

export default {
    name: 'resolution-dropdown',
    data() {
        return {
            newDesc: '',
            newWidth: '',
            newHeight: '',
            resolutions: [
                // {id: 1, name: '720P', width: 1280, height: 720, isDeleting: false, busy: false},
            ],
            busyAdding: false,
            errMsg: '',
            buttonList: [
                { button: 'cancelDelete', name: this.$i18n.messages[__culture].message.Cancel, iconClass: "fa fa-times", class: "btn-default", method: 'cancelDelete', style: "margin:2px;", preventStop: true },
                { button: 'newDelete', name: this.$i18n.messages[__culture].message.Delete, iconClass: "fa fa-trash", class: "btn-default", method: 'deleteResolution', style: "margin:2px;", buttonClass: "btn-danger", preventStop: true }
            ],
            busy: false
        }
    },
    components: {
        FooterButton
    },
    mounted() {
        //get resolutions
        var vm = this
        var api = $.get("/ace/api/resolution/all")
        api.done((res) => {
            if (res.Result) {
                vm.resolutions = []
                $.each(res.Data, (i, o) => {
                    vm.resolutions.push({
                        id: o.Id,
                        name: o.Name,
                        width: o.Width,
                        height: o.Height,
                        isDeleting: false,
                        busy: false
                    })
                })
            }
        })
    },
    props: {
        selectedWidth: {
            type: Number,
            required: false,
            default: -1
        },
        selectedHeight: {
            type: Number,
            reqired: false,
            default: -1
        }
    },
    computed: {
        selectedResolutionName() {
            if (!this.resolutions || this.resolutions.length === 0) {
                return ''
            }

            if (this.selectedWidth === -1 || this.selectedHeight === -1) {
                return ''
            }

            //find resolution
            var w = this.selectedWidth
            var h = this.selectedHeight
            var selectedResolution = _.find(this.resolutions, function (p) {
                return p.width === w && p.height === h
            })

            if (selectedResolution) {
                return selectedResolution.name
            } else {
                return ''
            }


        }
    },
    methods: {
        selectResolution(reso) {
            if (reso.isDeleting) {
                return
            }
            this.$emit('resolutionChanged', reso)
        },
        removeResolution(reso) {
            reso.isDeleting = true
        },
        cancelDelete(reso) {
            reso.isDeleting = false
        },
        deleteResolution(reso) {

            var vm = this

            reso.busy = true

            var api = $.post("/ace/api/resolution/delete", {
                ResolutionId: reso.id
            })

            api.done((res) => {
                if (res.Result) {
                    var index = vm.resolutions.indexOf(reso)
                    if (index !== -1) {
                        vm.resolutions.splice(index, 1)
                        alertify.logPosition("bottom right")
                        alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.DeleteSuccess)
                    } else {
                        alertify.logPosition("bottom right")
                        alertify.delay(4000).error("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.DeleteFailed)
                    }
                }
                reso.busy = false
            })
            api.fail((res) => {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace("/ace")
                }
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0044
            })

        },
        addResolution() {
            var vm = this
            vm.errMsg = ''
            if (vm.newWidth == 0) {
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0020
                return
            }
            if (vm.newHeight == 0) {
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0021
                return
            }
            if (vm.newDesc.trim() == '') {
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0004
                return
            }
            if (!vm.newDesc.trim().match(/^[^?*[+()^\\\/]+$/g)) {
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0003
                return
            }

            vm.busyAdding = true
            var api = $.post('/ace/api/resolution/add', {
                Name: vm.newDesc,
                Width: vm.newWidth,
                Height: vm.newHeight
            })

            api.done((res) => {

                if (res.Result) {
                    //add success
                    vm.resolutions.push({
                        id: res.Data.ResolutionId,
                        name: res.Data.Name,
                        width: res.Data.Width,
                        height: res.Data.Height,
                        isDeleting: false,
                        busy: false
                    })

                    vm.newDesc = ''
                    vm.newWidth = ''
                    vm.newHeight = ''

                    if (alertify) {
                        alertify.logPosition("bottom right")
                        alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.AddSuccess)
                    }
                } else {
                    //add fail
                    alertify.logPosition("bottom right")
                    alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.AddFailed)
                }
            })
            api.fail((err) => {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace("/ace")
                }
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0044
            })
            api.always(() => {
                vm.busyAdding = false
            })

        }
    }
}
</script>

<style scoped>
button.dropdown-toggle,
ul.dropdown-menu {
    width: 100%;
}

li>a {
    cursor: pointer;
}

label.control-label {
    margin-bottom: 2px;
}

input.form-control {
    display: block;
    height: 25px;
    border-radius: 3px;
    margin-bottom: 10px;
}

button.btn-success {
    border-radius: 50%;
}
</style>