<template>
    <div class="text-warning">
        <i class="fa fa-clock-o"></i>
        {{ durationString }}
    </div>
</template>

<script>
export default {
    name: 'segment-duration-text',
    props: {
        duration: {
            type: Number,
            required: true,
            default: 0
        }
    },
    computed: {
        durationString() {
            if (this.duration <= 0 || typeof (this.duration) !== "number") {
                return 'Loop'
            } else {

                var h = Math.floor(this.duration / 3600)
                var m = Math.floor((this.duration - h * 3600) / 60)
                var s = (this.duration - h * 3600 - m * 60) % 60

                var str = ''

                if (h > 0) {
                    str += h + 'h'
                }
                if (m > 0) {
                    if (str.length > 0) {
                        str += ' '
                    }
                    str += m + 'm'
                }
                if (s > 0) {
                    if (str.length > 0) {
                        str += ' '
                    }
                    str += s + 's'
                }

                return str
            }
        }
    }
}
</script>

<style scoped>
.text-warning {
    /*position: absolute;
        padding-left:5px;
        bottom: 0px;*/
    font-size: small;
    font-weight: 100;
    background-color: #1d2d3d;
    width: 100%;
    transition: background-color .25s ease;
}

.text-warning:hover {
    background-color: #102031;
}
</style>