<template>
    <div class="template-editor">
        <h3>{{ $t("message.Campaign_CampaignEditor")}}</h3>
        <transition enter-active-class="animated flipInX" leave-active-class="animated zoomOut">
            <div v-if="errMsg.length>0" class="alert alert-danger">
                <button type="button" class="close" @click="hideErrMsg">&times;</button>
                <i class="fa fa-exclamation-triangle"></i> &nbsp;
                <div v-html="errMsg"></div>
            </div>
        </transition>

        <div class="row">
            <div class="col-sm-3 col-lg-2">
                <!--Command buttons-->
                <button class="btn btn-default btn-sm" style="border-radius: .2em" @click="saveCampaign" :disabled="isSaving">
                    <i class="fa fa-floppy-o text-success"></i>&nbsp; {{ $t("message.Save")}}
                </button>
                <button v-show="id > 0" class="btn btn-default btn-sm" style="border-radius: .2em" :disabled="isSaving" data-toggle="modal" data-target="#publish-modal" @click="PublishClick">
                    <i class="fa fa-cloud-upload text-info"></i> &nbsp;{{ $t("message.Publish")}}
                </button>
                <br>
                <br>
                <button v-show="id>0" class="btn btn-default btn-sm" style="border-radius: .2em" :disabled="isSaving" data-toggle="modal" data-target="#replace-campaign-modal" @click="ReplaceClick">
                    <i class="glyphicon glyphicon-floppy-open text-warning"></i> &nbsp;{{ $t("message.Campaign_ReplaceCampaign")}}
                </button>
                <br>
                <br>
                <button v-show="id>0" class="btn btn-default btn-sm" style="border-radius: .2em" :disabled="isSaving" data-toggle="modal" data-target="#save-as-campaign-modal" @click="ReplaceClick">
                    <i class="glyphicon glyphicon-floppy-saved text-warning"></i> &nbsp;{{ $t("message.Campaign_SaveAsCampaign")}}
                </button>
                <hr>

                <div class="form-group">
                    <label class="control-label">{{ $t("message.Resolution")}}</label>
                    <resolution-dropdown :selected-width="width" :selected-height="height" @resolutionChanged="changeResolution">
                    </resolution-dropdown>
                </div>

                <div class="form-group">
                    <label class="control-label">{{ $t("message.Campaign_CampaignDuration")}}</label>
                    <time-input v-model="duration" zero-time-msg="0s">
                        <i slot="clear-icon" class="fa fa-repeat" data-toggle="tooltip" data-placement="right" title="Loop"></i>
                    </time-input>
                </div>

                <div class="form-group">
                    <i v-show="nameWarning" class="fa fa-warning" style="display:inline-block;color:red;" title="Name is over than 100"></i>
                    <label class="control-label" style="display:inline-block;">{{ $t("message.Campaign_CampaignName")}}</label>
                    <input type="text" class="form-control thin-input" v-bind:placeholder="$t('message.Campaign_CampaignName')" v-model="name"></input>
                </div>

                <div class="form-group">
                    <label class="control-label">{{ $t("message.Campaign_Width")}}</label>
                    <input type="number" min="0" class="form-control thin-input" v-bind:placeholder="$t( 'message.Campaign_Width')" v-model.number="width" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"></input>
                </div>

                <div class="form-group">
                    <label class="control-label">{{ $t("message.Campaign_Height")}}</label>
                    <input type="number" min="0" class="form-control thin-input" v-bind:placeholder="$t('message.Campaign_Height')" v-model.number="height" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"></input>
                </div>

            </div>

            <div class="col-sm-6 col-lg-7">

                <div>
                    <button class="btn btn-default btn-sm" style="border-radius: .2em" @click="addRegion">
                        <i class="fa fa-plus-square text-success"></i>&nbsp; {{ $t("message.Campaign_AddRegion")}}
                    </button>
                    <button class="btn btn-default btn-sm" style="border-radius: .2em" @click="previewModalShow">
                        <i class="fa fa-play-circle text-info"></i>&nbsp;{{ $t("message.Campaign_Preview")}}
                    </button>
                    <button class="btn btn-default btn-sm pull-right" style="border-radius: .2em" data-toggle="modal" data-target='#addTemplateModal'>

                        <i class="fa fa-th-large text-warning"></i> &nbsp;{{ $t("message.Campaign_CreateTemplate")}}
                    </button>
                    <add-template-modal modalId="addTemplateModal" :width="width" :height="height" :regions="regions" @onTemplateAdded="templateAddedHandler">
                    </add-template-modal>

                </div>

                <hr>

                <div class="form-group">
                    <label class="control-label">{{ $t("message.Campaign_ScreenLayout")}}</label>
                </div>

                <div id="region-container" class="template-container" :style="templateStyle">
                    <div class="region" v-for="(region, index) in ascOrderedRegions" :style="getRegionStyle(region)" :region-key="region.key" :key="region.key">

                        <i class="fa fa-minus-circle text-danger" @click="removeRegion(region)" style="position: absolute;right: 4px;top: 3px"></i>

                        <div class="region-content" style="display: flex;align-items: center;justify-content: center">
                            <span class="label label-info" style="background-color: #1f8ad7;font-weight: lighter;font-size: 15px">{{ region.key }}</span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-3">
                <tab-panel>
                    <div slot="region" class="InfoList">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="font-weight: 100">#</th>
                                    <th style="font-weight: 100">{{ $t("message.Campaign_Left")}}</th>
                                    <th style="font-weight: 100">{{ $t("message.Campaign_Top")}}</th>
                                    <th style="font-weight: 100">{{ $t("message.Campaign_Width")}}</th>
                                    <th style="font-weight: 100">{{ $t("message.Campaign_Height")}}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="region-icon-list">
                                <tr class="region-row" v-for="region in descOrderedRegions" :region-key="region.key" :key="region.key" style="cursor: pointer">
                                    <td>
                                        <span class="label label-info" style="background-color: #1f8ad7;font-weight: lighter">{{ region.key }}</span>
                                    </td>
                                    <td>
                                        <input class="form-control thin-input" v-model.number="region.left" type="number" min="0" @keyup="checkRegionBorder(region)">
                                    </td>
                                    <td>
                                        <input class="form-control thin-input" v-model.number="region.top" type="number" min="0" @keyup="checkRegionBorder(region)">
                                    </td>
                                    <td>
                                        <input class="form-control thin-input" v-model.number="region.width" type="number" min="0" @keyup="checkRegionBorder(region)">
                                    </td>
                                    <td>
                                        <input class="form-control thin-input" v-model.number="region.height" type="number" min="0" @keyup="checkRegionBorder(region)">
                                    </td>
                                    <td>
                                        <i class="fa fa-minus-circle text-danger" style="margin-top: 6px" @click="removeRegion(region)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!--Template tab-->
                    <div slot="template" class="InfoList">

                        <div>
                            <div v-for="template in templates">
                                <template-layout-icon :template="template" @onTemplateSelected="selectTemplate" @onTemplateRemoved="removeTemplate" style="border-bottom: 1px solid #596a7b;">
                                </template-layout-icon>
                            </div>
                        </div>
                    </div>

                    <div slot="info" class="InfoList">
                        <div v-if="info && info.createrName">
                            <div class="row form-group">
                                <div class="col-xs-4">{{ $t("message.Campaign_CreateBy")}}</div>
                                <div class="col-xs-8">{{ info.createrName }}</div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-4">{{ $t("message.CreateDate")}}</div>
                                <div class="col-xs-8">{{ info.createDate }}</div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-4">{{ $t("message.Campaign_UpdateBy")}}</div>
                                <div class="col-xs-8">{{ info.updaterName || '-' }}</div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-4">{{ $t("message.Campaign_UpdateDate")}}</div>
                                <div class="col-xs-8">{{ info.updateDate || '-' }}</div>
                            </div>

                            <div class="row form-group">
                                <div class="col-xs-4">{{ $t("message.Campaign_ReferenceBy")}}</div>
                                <div class="col-xs-8">
                                    <div>
                                        <a href="#">{{ info.deviceCount }}</a>&nbsp;&nbsp;{{$t("message.Device")}}
                                    </div>
                                    <div>
                                        <a href="#">{{ info.screenGroupCount }}</a>&nbsp;&nbsp;{{ $t("message.ScreenGroup")}}
                                    </div>
                                    <div v-show="info.deviceCount>0">
                                        <br>
                                        <label class="text-info">{{ $t("message.Device")}}</label>

                                        <div v-for="d in campaignUsedList.DeviceName">
                                            <span>{{ d }}</span>
                                        </div>
                                    </div>
                                    <div v-show="info.screenGroupCount>0">
                                        <br>
                                        <label class="text-info">{{ $t("message.ScreenGroup")}}</label>

                                        <div v-for="sg in campaignUsedList.ScreenGroupName">
                                            <span>{{ sg }}</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </tab-panel>

            </div>
        </div>
        <div class="row">
            <!--Region-->
            <div class="col-xs-12">
                <div style="font-weight: lighter;margin-top: 5px;margin-bottom: 5px">{{ $t("message.Campaign_RegionPlaylists")}}</div>
                <region-timelines :regions="descOrderedRegions" :segments="segments" @segmentSorted="segmentSortedHandler" @segmentDeleted="removeSegment" @fileAdded="addFileToRegion">
                </region-timelines>
            </div>
            <!--media Library&text asset-->
            <div class="col-xs-12">

                <assets-tab-panel>
                    <!--Media Library-->
                    <div slot="library">
                        <media-library :support-file-exts="['.mp4','.wmv','.avi','.bmp','.gif','.jpg','.jpeg','.png','.mp3','.swf']" :file-size-limit="1073741824" @fileDelete="deleteFileHandler">
                        </media-library>
                    </div>
                    <div slot="text">
                        <text-asset-editor @onTextAssetEdit="onTextAssetEditHandler" @onAssetDeleted="onTextAssetRemovedHandler">
                        </text-asset-editor>
                    </div>
                    <div slot="apps">
                        <apps-asset @fileDelete="deleteFileHandler"></apps-asset>
                    </div>
                </assets-tab-panel>

            </div>

        </div>

        <busy-fullscreen-modal :show="isSaving" :hide-delay="1200" :context="context"></busy-fullscreen-modal>

        <!--Publish視窗-->
        <all-publish-modal modal-id="publish-modal" :campaign-id="id"></all-publish-modal>

        <!--preview modal-->
        <preview-modal modal-id="preview-modal" :totalTime="duration" :parentCampaign="previewCP" :width="width" :height="height" :previewModalStatus="previewModalValue" :repostFileInfo="textAssetChange" @repostOver="textAssetChangeOver" @previewModalClose="previewMdlClose"> </preview-modal>

        <!--delete-region-frame-->
        <delete-region-frame modal-id="delete-region-frame" @removeFrames='clearFrames'></delete-region-frame>

        <!--replace-campaign-->
        <replace-campaign-modal modal-id="replace-campaign-modal" :selectCampaignId="id" :indexOrTemplate="false" @ReplaceCampaign="ReplaceCampaignHandler"></replace-campaign-modal>

        <!--save-as-campaign-->
        <save-as-campaign-modal modal-id="save-as-campaign-modal" @SaveAsCampaign="SaveAsCampaignHandler"></save-as-campaign-modal>
    </div>
</template>

<script>
import ResolutionDropdown from './resolution-dropdown.vue'
import TimeInput from '../controls/time-input.vue'
import TabPanel from './tab-panel.vue'
import RegionTimelines from './region-timelines.vue'
import TemplateLayoutIcon from './template-layout-icon.vue'
import AddTemplateModal from './modal/add-template-modal.vue'
import AssetsTabPanel from './assets-tab-panel.vue'
import MediaLibrary from '../media-library/media-library-index.vue'
import TextAssetEditor from './text-asset-editor.vue'
import BusyFullscreenModal from '../controls/modal/busy-fullscreen-modal.vue'
import AllPublishModal from './modal/all-publish-modal.vue'
import ReplaceCampaignModal from './modal/replace-campaign-modal.vue'
import SaveAsCampaignModal from './modal/save-as-campaign-modal.vue'
import PreviewModal from './modal/preview-modal.vue'
import DeleteRegionFrame from './modal/delete-region-frame.vue'
import AppsAsset from './apps-asset.vue'
import Bus from '../controls/bus'

var _ = require('lodash')

export default {
    name: 'template-editor',
    components: {
        ResolutionDropdown,
        TimeInput,
        TabPanel,
        RegionTimelines,
        TemplateLayoutIcon,
        AddTemplateModal,
        AssetsTabPanel,
        MediaLibrary,
        TextAssetEditor,
        BusyFullscreenModal,
        AllPublishModal,
        ReplaceCampaignModal,
        SaveAsCampaignModal,
        PreviewModal,
        DeleteRegionFrame,
        AppsAsset
    },
    props: {
        campaignId: { // 從上層傳來的, 要編輯的campaign id, 若是新增, 此值為0
            type: Number,
            required: true,
            default: 0
        },
        campaigns: {
            type: Number,
            required: false,
            default: 0
        }
    },
    data() {
        return {
            id: 0, //編輯中的campaign id, 若是新增狀態, 此值為0
            name: '',
            // desc: 'My first campaign. Very cool!',
            width: 1920,
            height: 1080,
            duration: 60,
            regions: [{
                id: 0,
                width: 1720,
                height: 880,
                left: 100,
                top: 100,
                order: 1,
                key: 1
            },
                // {id: 2, width: 665, height: 685, left: 510, top: 72, order: 2, key: 2}
            ],
            segments: [
                // {key: 1, fileId: 465, fileType: 'image', fileName: 'file 1', regionKey: 1, order: 1, duration: 207},
                // {key: 2, fileId: 464, fileType: 'video', fileName: 'file 2', regionKey: 2, order: 1, duration: 90},
                // {key: 3, fileId: 1, fileType: 'text', fileName: 'Text 1', regionKey: 2, order: 2, duration: 10},
                // {key: 4, fileId: 4, fileType: 'marquee', fileName: 'Marquee', regionKey: 2, order: 3, duration: 10},
                // {key: 5, fileId: 5, fileType: 'web', fileName: 'Web Site', regionKey: 2, order: 4, duration: 10},
            ],
            limitWidth: 600, //呈現於網頁上的寬度上限(px)
            limitHeight: 600, //呈現於網頁上的高度上限(px)
            regionMinWidth: 0,
            regionMinHeight: 0,
            templates: [],
            isSaving: false,
            errMsg: [],
            info: {
                createrName: '',
                createDate: '',
                updaterName: '',
                updateDate: '',
                deviceCount: 0,
                deviceGroupCount: 0,
                playlistCount: 0
            },
            previewCampaign: {},
            previewModalValue: false,
            tempTemplate: [],
            context: '',
            textAssetChange: false,
            campaignUsedList: [],
            nameWarning: false

        }
    },
    watch: {
        width: function() {
            this.widthHeightChange()

        },
        height: function() {
            this.widthHeightChange()
        },
        name(val) {
            let text = val.length
            if (text > 100) {
                this.nameWarning = true
            } else {
                this.nameWarning = false
            }
        }
    },
    computed: {
        templateStyle() {
            //預防Region長寬大於Campaign長寬，校正region的長寬設定
            this.regions.forEach(function(reg) {
                this.checkRegionBorder(reg)
            }, this);

            return {
                width: this.width * this.scaleRatio + 'px',
                height: this.height * this.scaleRatio + 'px',
            }
        },
        //縮放比
        scaleRatio() {
            if (this.width >= this.height) {
                return this.limitWidth / this.width
            } else {
                return this.limitHeight / this.height
            }
            //return 1
        },
        ascOrderedRegions() {
            return _.orderBy(this.regions, ['order'], ['asc'])
        },
        //排序for region time line
        descOrderedRegions() {
            return _.orderBy(this.regions, ['order'], ['desc'])
        },
        //整理資料給preview
        previewCP() {
            var Regions = []

            var vm = this

            $.each(vm.regions, function(index, region) {

                var frames = []
                var regionKey = region.key

                //add frames(segments) to each region
                $.each(vm.segments, function(index, seg) {
                    if (seg.regionKey === regionKey) {
                        frames.push({
                            length: seg.duration,
                            order: seg.order,
                            frameType: seg.fileType,
                            fileId: seg.fileId,
                            frameId: seg.id
                        })
                    }
                })

                Regions.push({
                    regionId: region.id,
                    width: region.width,
                    height: region.height,
                    left: region.left,
                    top: region.top,
                    layerOrder: region.order,
                    frames: frames
                })

            })
            return Regions
        }
    },
    updated() {
        if ($(".region:not(.ui-draggable)").length > 0) {
            this.makeDragResizeable(".region:not(.ui-draggable)")
        }
    },
    mounted() {
        var vm = this
        //props下來的ID複製本地端判斷
        vm.id = vm.campaignId
        vm.context = this.$i18n.messages[__culture].message.Loading
        vm.isSaving = true
        //initialze template list
        var initTemplate = function() {
            var api = $.get('/ace/api/template/all')
            api.done((res) => {
                if (res.Result) {
                    //append templates
                    vm.templates = []
                    $.each(res.Data, (i, o) => {
                        var t = {
                            id: o.TemplateId,
                            width: o.Width,
                            height: o.Height,
                            name: o.Name,
                            regions: []
                        }

                        //append regions to template
                        $.each(o.Regions, (j, p) => {
                            t.regions.push({
                                left: p.Left,
                                top: p.Top,
                                width: p.Width,
                                height: p.Height,
                                order: p.Order
                            })
                        })

                        vm.templates.push(t)
                    })
                }
            })
            api.always(() => {
                vm.isSaving = false
            })
        }()
        //end initialze template list
        vm.getCampaignDetail()
        //初始化campaign info
        if (vm.id !== 0) {
            vm.updateCampaignInfo()
        }

        vm.makeDragResizeable(".region")

        $('.region-icon-list').sortable({
            axis: "y",
            stop: function(event, ui) {

                //重新算出order
                var regionKeySequence = []

                $(".region-row").each(function() {
                    regionKeySequence.push(Number($(this).attr("region-key")))
                })

                vm.setOrder(regionKeySequence.reverse())
            },
        })
    },
    methods: {
        getCampaignDetail() {
            var vm = this
            vm.contentChage = true
            //初始化campaign
            if (vm.id !== 0) {
                var api = $.post('/ace/api/campaign/detail', {
                    CampaignId: vm.id
                })
                api.done(function(res) {
                    if (res.Result) {
                        //Set data
                        var data = res.Data
                        vm.name = data.Name
                        vm.width = data.Width
                        vm.height = data.Height
                        vm.duration = data.Duration

                        vm.regions = []
                        vm.segments = []

                        //append regions
                        var regionKey = 0
                        var segmentKey = 0
                        $.each(data.Regions, (i, region) => {
                            ++regionKey

                            vm.regions.push({
                                id: region.Id,
                                width: region.Width,
                                height: region.Height,
                                left: region.Left,
                                top: region.Top,
                                order: region.Order,
                                key: regionKey
                            })

                            //append segments
                            $.each(region.Frames, (j, frame) => {
                                ++segmentKey
                                vm.segments.push({
                                    key: segmentKey,
                                    fileId: frame.FileId,
                                    fileType: frame.FrameType,  //int
                                    fileName: frame.FileName,
                                    regionKey: regionKey,
                                    order: frame.Order,
                                    duration: frame.Duration,
                                    id: frame.Id,
                                    clockStyle: parseInt(frame.Content)
                                })
                            })
                        })

                    } else {
                        //todo: data not found hander
                    }
                })
                api.fail(function(err) {
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace("/ace")
                    }
                })

                vm.campaignUsedList = []
                $.post("/ace/api/campaign/usedcampaign", {
                    CampaignId: vm.id,
                }).done(function(res) {
                    if (res.Data) {
                        vm.campaignUsedList = res.Data
                    }

                }).fail(function(err) {
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace("/ace")
                    }

                })
            }
        },
        hideErrMsg() {
            this.errMsg = []
        },
        templateAddedHandler(template) {

            this.templates.push(template)
        },
        selectTemplate(template) {
            if (this.segments.length > 0) {
                $('#delete-region-frame').modal();
                this.tempTemplate = template;
            } else {
                this.segments = []
                if (template) {
                    this.width = template.width
                    this.height = template.height
                    $.each(template.regions, function(index, item) {
                        item.id = 0
                        item.key = index + 1
                    })
                    this.regions = _.cloneDeep(template.regions)
                }
            }
        },
        removeTemplate(template) {
            var index = _.indexOf(this.templates, template)
            if (index >= 0) {
                this.templates.splice(index, 1)
            }
        },
        changeResolution(reso) {
            this.width = reso.width
            this.height = reso.height
        },
        makeDragResizeable(el) {

            var vm = this

            $(el).draggable({
                snap: '.region',
                snapMode: "both",
                snapTolerance: 2,
                // containment: '#region-container',
                scroll: false,
                //drag event
                stop(e, ui) {
                    var regionKey = Number($(this).attr("region-key"))
                    var left = Number($(this).css('left').replace('px', ''))
                    var top = Number($(this).css('top').replace('px', ''))

                    //檢查邊界值
                    //check left
                    if (left < 0) {
                        $(this).css('left', 0)
                        left = 0
                    } else if (left + $(this).width() > vm.width * vm.scaleRatio) {
                        left = vm.width * vm.scaleRatio - $(this).width()
                        $(this).css('left', left)
                    }

                    //check top
                    if (top < 0) {
                        $(this).css('top', 0)
                        top = 0
                    } else if (top + $(this).height() > vm.height * vm.scaleRatio) {
                        top = vm.height * vm.scaleRatio - $(this).height()
                        $(this).css('top', top)
                    }

                    vm.setOrigin(regionKey, left, top)
                }
            }).resizable({
                // containment: "#region-container",
                minHeight: vm.regionMinHeight * vm.scaleRatio,
                minWidth: vm.regionMinWidth * vm.scaleRatio,
                //resize event
                stop: function(event, ui) {
                    var w = $(this).width()
                    var h = $(this).height()
                    var regionKey = Number($(this).attr("region-key"))

                    //檢查邊界值
                    //width
                    var left = Number($(this).css('left').replace('px', ''))
                    if (left + w > vm.width * vm.scaleRatio) {
                        w = vm.width * vm.scaleRatio - left
                        $(this).width(w)
                    }

                    //height
                    var top = Number($(this).css('top').replace('px', ''))
                    if (top + h > vm.height * vm.scaleRatio) {
                        h = vm.height * vm.scaleRatio - top
                        $(this).height(h)
                    }

                    vm.setSize(regionKey, w, h)
                }
            })
        },
        setOrigin(regionKey, left, top, el) {
            //find region
            var region = _.find(this.regions, function(o) {
                return o.key === regionKey
            })

            if (region) {
                region.left = left < 1 ? 0 : Math.floor(left / this.scaleRatio)
                region.top = top < 1 ? 0 : Math.floor(top / this.scaleRatio)
            }
        },
        setSize(regionKey, width, height) {
            //find region
            var region = _.find(this.regions, function(o) {
                return o.key === regionKey
            })
            if (region) {
                region.width = width < 1 ? 0 : Math.floor(width / this.scaleRatio)
                region.height = height < 1 ? 0 : Math.floor(height / this.scaleRatio)
            }
        },
        setOrder(regionKeySequence) {

            var regions = this.regions

            $.each(regionKeySequence, function(index, regionKey) {

                var region = _.find(regions, function(o) {
                    return o.key == regionKey
                })
                if (region) {
                    region.order = index + 1
                }
            })
        },
        getRegionStyle(region) {
            return {
                width: region.width * this.scaleRatio + 'px',
                height: region.height * this.scaleRatio + 'px',
                left: region.left * this.scaleRatio + 'px',
                top: region.top * this.scaleRatio + 'px'
            }
        },
        addRegion() {
            //find max key
            var maxKey = 0
            var maxKeyRegion = _.maxBy(this.regions, 'key')
            if (maxKeyRegion) {
                maxKey = maxKeyRegion.key
            } else {
                maxKey = 0
            }

            this.regions.push({
                left: 0,
                top: 0,
                width: Math.floor(100 / this.scaleRatio),
                height: Math.floor(100 / this.scaleRatio),
                id: 0, // id 0 means new adding region
                media: [],
                //
                order: this.regions.length + 1,
                key: maxKey + 1
            })
        },
        removeRegion(region) {
            var index = _.indexOf(this.regions, region)
            this.regions.splice(index, 1)
            var vm = this
            //把跟region有關的所有segment移除
            this.segments = _.filter(this.segments, function(p) {
                return p.regionKey !== region.key
            })
            //調整region的order and key
            $.each(this.regions, function(index, item) {
                var itemKey = item.key
                item.order = item.order > region.order ? item.order - 1 : item.order
                if (item.key > region.key) {
                    item.key = item.key - 1
                    //重新排列segments key
                    $.each(vm.segments, function(index, item) {
                        if (item.regionKey == itemKey) {
                            item.regionKey = item.regionKey - 1
                        }
                    })
                }
            })
        },
        removeSegment(segment) {
            var index = _.indexOf(this.segments, segment)

            if (index !== -1) {
                this.segments.splice(index, 1)

                //segment
                $.each(this.segments, function(index, s) {
                    if (s.regionKey === segment.regionKey && s.order > segment.order) {
                        --s.order
                    }
                })
            }
        },
        segmentSortedHandler(data) {

            var vm = this

            $.each(data, function(index, item) {

                var order = 1

                $.each(item.segmentKeys, function(index2, key) {

                    var segment = _.find(vm.segments, function(p) {
                        return p.key === key
                    })

                    if (segment) {
                        segment.regionKey = item.regionKey
                        segment.order = order

                        ++order
                    }
                })
            })
        },
        //region-timelines emit上來新增的資訊到region
        addFileToRegion(file, region) {
            if (!region) {
                return
            }

            var counter = 0 // counter是計算region裡面有多少個segment
            $.each(this.segments, function(index, segment) {
                if (segment.regionKey === region.key) {
                    ++counter
                }
            })

            var newSegmentKey = 1
            var max = -1

            //決定新插入的segment的key值(目前最大值加1)
            $.each(this.segments, function(index, s) {
                if (s.key > max) {
                    max = s.key
                }
            })

            if (max >= 0) {
                newSegmentKey = max + 1
            }

            //找指定region
            var index = _.findIndex(this.regions, function(p) {
                return p.key === region.key
            })
            if (index !== -1) {
                var newSeg = {
                    key: newSegmentKey,
                    fileId: file.fileId,
                    fileType: file.fileType,
                    regionKey: region.key,
                    order: counter + 1,
                    fileName: file.fileName,
                }
                if (file.duration) {
                    newSeg.duration = file.duration
                } else {
                    newSeg.duration = 10;
                }
                if (file.clockStyle >= 0) {
                    newSeg.clockStyle = file.clockStyle
                }

                this.segments.push(newSeg)
            }

        },
        onTextAssetEditHandler(asset) {

            //update all related text asset segment
            $.each(this.segments, function(index, seg) {
                if (seg.fileType === asset.type && seg.fileId === asset.id) {
                    seg.fileName = asset.name
                }
            })
            this.textAssetChange = true

        },
        onTextAssetRemovedHandler(asset) {

            //Remove text asset from related region media list
            this.segments = _.remove(this.segments, function(o) {
                return !(o.fileId === asset.id && o.fileType === asset.type)
            })

        },
        checkError() {
            var checkErr = []
            if (!this.name.trim()) {
                checkErr.push(this.$i18n.messages[__culture].message.Error_0004)
            }
            if (this.name.trim() !== "" && !this.name.trim().match(/^[^?*[+()^\\\/]+$/g)) {
                checkErr.push(this.$i18n.messages[__culture].message.Error_0003)
            }
            if (this.name.length > 50) {
                checkErr.push(this.$i18n.messages[__culture].message.Error_0009)
            }
            if (this.duration < 10 || !this.duration) {
                checkErr.push(this.$i18n.messages[__culture].message.Error_0019)
            }
            if (this.width <= 0 || !this.width) {
                checkErr.push(this.$i18n.messages[__culture].message.Error_0020)
            }
            if (this.height <= 0 || !this.height) {
                checkErr.push(this.$i18n.messages[__culture].message.Error_0021)
            }
            if (!this.regions || this.regions.length === 0) {
                checkErr.push(this.$i18n.messages[__culture].message.Error_0022)
            }
            return checkErr
        },
        saveCampaign() {
            var vm = this
            //check
            vm.errMsg = []
            var checkErr = vm.checkError();

            //Append error message
            if (checkErr.length > 0) {
                var html = "<ul style='list-style: initial'>"
                $.each(checkErr, (i, err) => {
                    html += "<li>" + err + "</li>"
                })
                html += "</ul>"
                vm.errMsg = html
                return
            }

            //end check
            vm.context = this.$i18n.messages[__culture].message.Saving
            vm.isSaving = true
            var cp = {
                CampaignId: vm.id,
                Name: vm.name.trim(),
                Height: vm.height,
                Width: vm.width,
                Duration: vm.duration,
                Regions: []
            }

            $.each(vm.regions, function(index, region) {

                var frames = []
                var regionKey = region.key

                //add frames(segments) to each region
                $.each(vm.segments, function(index, seg) {
                    if (seg.regionKey === regionKey) {
                        frames.push({
                            Length: seg.duration,
                            Order: seg.order,
                            FrameType: seg.fileType,
                            FileId: seg.fileId,
                            FrameId: seg.id,
                            ClockStyle: seg.clockStyle
                        })
                    }
                })

                cp.Regions.push({
                    RegionId: region.id,
                    Width: region.width,
                    Height: region.height,
                    OffsetX: region.left,
                    OffsetY: region.top,
                    LayerOrder: region.order,
                    Frames: frames
                })

            })

            var apiUrl = '/ace/api/campaign/add'

            if (vm.id !== 0) {
                //edit
                apiUrl = '/ace/api/campaign/edit'
            }

            // return
            $.post(apiUrl, cp)
                .done(function(res) {
                    Bus.$emit('Campaign-CampaignChange', true);
                    //done
                    vm.isSaving = false
                    if (res.Result) {
                        if (alertify) {
                            alertify.logPosition("bottom right")
                            alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.SaveSuccess)
                        }
                        vm.id = res.Data.CampaignId
                        //更新campaign info
                        vm.updateCampaignInfo()

                    } else {
                        alertify.logPosition("bottom right")
                        alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.SaveFailed)
                        if (res.Data) {
                            //Campaign name 已存在
                            checkErr.push(vm.$i18n.messages[__culture].message[res.Message])
                            var html = "<ul style='list-style: initial'>"
                            $.each(checkErr, (i, err) => {
                                html += "<li>" + err + "</li>"
                            })
                            html += "</ul>"
                            vm.errMsg = html
                        }
                    }
                }).fail(function(err) {
                    //error
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace("/ace")
                    }
                    vm.isSaving = false
                })
        },
        updateCampaignInfo() {
            var vm = this

            if (vm.id === 0) {
                return
            }
            var api = $.post('/ace/api/campaign/info', {
                CampaignId: vm.id
            })

            api.done((res) => { 
                if (res.Result && res.Data) {
                    //todo
                    vm.info.createrName = res.Data.CreateByUserName
                    vm.info.createDate = res.Data.CreateDate
                    vm.info.updaterName = res.Data.UpdateByUserName
                    vm.info.updateDate = res.Data.UpdateDate
                    vm.info.deviceCount = res.Data.DeviceCount
                    vm.info.screenGroupCount = res.Data.ScreenGroupCount
                } else {
                    //fail handler, todo
                }
            })
            api.fail((err) => {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace("/ace")
                }
            })
        },
        previewModalShow() {
            $('#preview-modal').modal({ backdrop: 'static', keyboard: false });
            this.previewModalValue = true;
        },
        previewMdlClose(val) {
            this.previewModalValue = val;
        },
        deleteFileHandler(bool) {
            if (bool) {
                this.getCampaignDetail();
            }
        },
        clearFrames(val) {
            if (val = true) {
                this.segments = [];
            }
            this.selectTemplate(this.tempTemplate);
        },
        textAssetChangeOver(val) {
            //false
            this.textAssetChange = val
        },
        widthHeightChange: _.debounce(
            function() {
                var vm = this
                if (vm.width < 0 || typeof (vm.width) !== 'number') {
                    vm.width = 0
                }
                if (vm.height < 0 || typeof (vm.height) !== 'number') {
                    vm.height = 0
                }
            },
            500
        ),
        //檢查並修正region的邊界值
        checkRegionBorder(region) {
            var vm = this
            this.$nextTick(function() {
                vm.checkvaildNumber(region)
                //check left
                if (!region.left || region.left < 0) {
                    region.left = 0
                } else if (region.left + region.width > vm.width) {
                    region.left = vm.width - region.width
                    if (region.left < 0) {
                        region.left = 0
                        region.width = vm.width
                    }
                }
                //check top
                if (!region.top || region.top < 0) {
                    region.top = 0
                } else if (region.top + region.height > vm.height) {
                    region.top = vm.height - region.height

                    if (region.top < 0) {
                        region.top = 0
                        region.height = vm.height
                    }
                }
                //check width
                if (!region.width || region.width < vm.regionMinWidth) {
                    region.width = vm.regionMinWidth
                }
                //當輸入寬度值大於Campaign寬度時，調整為Campaign寬度
                if (region.width > vm.width) {
                    region.width = vm.width
                }

                //check height
                if (!region.height || region.height < vm.regionMinHeight) {
                    region.height = vm.regionMinHeight
                }
                //當輸入高度值大於Campaign寬高度時，調整為Campaign高度
                if (region.height > vm.height) {
                    region.height = vm.height
                }
                vm.checkvaildNumber(region)
            })
        },
        checkvaildNumber(region) {
            if (typeof (region.left) !== "number" || region.left < 0)
                region.left = 0
            if (typeof (region.top) !== "number" || region.top < 0)
                region.top = 0
            if (typeof (region.width) !== "number" || region.width < 0)
                region.width = 0
            if (typeof (region.height) !== "number" || region.height < 0)
                region.height = 0
        },
        ReplaceCampaignHandler(val) {
            var vm = this
            //check
            vm.errMsg = []
            var checkErr = []
            if (this.duration < 10 || !this.duration) {
                checkErr.push(this.$i18n.messages[__culture].message.Error_0019)
            }
            if (this.width <= 0 || !this.width) {
                checkErr.push(this.$i18n.messages[__culture].message.Error_0020)
            }
            if (this.height <= 0 || !this.height) {
                checkErr.push(this.$i18n.messages[__culture].message.Error_0021)
            }
            if (!this.regions || this.regions.length === 0) {
                checkErr.push(this.$i18n.messages[__culture].message.Error_0022)
            }

            //Append error message
            if (checkErr.length > 0) {
                var html = "<ul style='list-style: initial'>"
                $.each(checkErr, (i, err) => {
                    html += "<li>" + err + "</li>"
                })
                html += "</ul>"
                vm.errMsg = html
                return
            }

            //end check
            vm.context = this.$i18n.messages[__culture].message.Saving
            vm.isSaving = true
            var cp = {
                CampaignId: val.CampaignId,
                Name: val.CampaignName.trim(),
                Height: vm.height,
                Width: vm.width,
                Duration: vm.duration,
                Regions: []
            }

            $.each(vm.regions, function(index, region) {

                var frames = []
                var regionKey = region.key

                //add frames(segments) to each region
                $.each(vm.segments, function(index, seg) {
                    if (seg.regionKey === regionKey) {
                        frames.push({
                            Length: seg.duration,
                            Order: seg.order,
                            FrameType: seg.fileType,
                            FileId: seg.fileId,
                            FrameId: seg.id
                        })
                    }
                })

                cp.Regions.push({
                    RegionId: region.id,
                    Width: region.width,
                    Height: region.height,
                    OffsetX: region.left,
                    OffsetY: region.top,
                    LayerOrder: region.order,
                    Frames: frames
                })

            })

            // return
            $.post('/ace/api/campaign/edit', cp)
                .done(function(res) {
                    //done
                    vm.isSaving = false
                    Bus.$emit('Campaign-CampaignChange', true);
                    if (res.Result) {
                        if (alertify) {
                            alertify.logPosition("bottom right")
                            alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.SaveSuccess)
                        }
                    } else {
                        alertify.logPosition("bottom right")
                        alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.SaveFailed)

                        if (res.Data) {
                            // res.Data = "Error_0023"
                            //Campaign name 已存在
                            checkErr.push(vm.$i18n.messages[__culture].message[res.Message])
                            var html = "<ul style='list-style: initial'>"
                            $.each(checkErr, (i, err) => {
                                html += "<li>" + err + "</li>"
                            })
                            html += "</ul>"
                            vm.errMsg = html
                        }
                    }

                }).fail(function(err) {
                    //error
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace("/ace")
                    }
                    vm.isSaving = false
                })
        },
        SaveAsCampaignHandler(val) {
            var vm = this
            //check
            vm.errMsg = []
            var checkErr = []
            if (!val.trim()) {
                checkErr.push(this.$i18n.messages[__culture].message.Error_0004)
            }
            if (val.trim() !== "" && !val.trim().match(/^[^?*[+()^\\\/]+$/g)) {
                checkErr.push(this.$i18n.messages[__culture].message.Error_0003)
            }
            if (this.name.length > 50) {
                checkErr.push(this.$i18n.messages[__culture].message.Error_0009)
            }
            if (this.duration < 10 || !this.duration) {
                checkErr.push(this.$i18n.messages[__culture].message.Error_0019)
            }
            if (this.width <= 0 || !this.width) {
                checkErr.push(this.$i18n.messages[__culture].message.Error_0020)
            }
            if (this.height <= 0 || !this.height) {
                checkErr.push(this.$i18n.messages[__culture].message.Error_0021)
            }
            if (!this.regions || this.regions.length === 0) {
                checkErr.push(this.$i18n.messages[__culture].message.Error_0022)
            }

            //Append error message
            if (checkErr.length > 0) {
                var html = "<ul style='list-style: initial'>"
                $.each(checkErr, (i, err) => {
                    html += "<li>" + err + "</li>"
                })
                html += "</ul>"
                vm.errMsg = html
                return
            }

            //end check
            vm.context = this.$i18n.messages[__culture].message.Saving
            vm.isSaving = true
            var cp = {
                Name: val.trim(),
                Height: vm.height,
                Width: vm.width,
                Duration: vm.duration,
                Regions: []
            }

            $.each(vm.regions, function(index, region) {

                var frames = []
                var regionKey = region.key

                //add frames(segments) to each region
                $.each(vm.segments, function(index, seg) {
                    if (seg.regionKey === regionKey) {
                        frames.push({
                            Length: seg.duration,
                            Order: seg.order,
                            FrameType: seg.fileType,
                            FileId: seg.fileId,
                            FrameId: seg.id,
                            ClockStyle: seg.clockStyle
                        })
                    }
                })

                cp.Regions.push({
                    RegionId: region.id,
                    Width: region.width,
                    Height: region.height,
                    OffsetX: region.left,
                    OffsetY: region.top,
                    LayerOrder: region.order,
                    Frames: frames
                })

            })
            $.post('/ace/api/campaign/add', cp)
                .done(function(res) {
                    Bus.$emit('Campaign-CampaignChange', true);
                    vm.isSaving = false
                    if (res.Result) {
                        if (alertify) {
                            alertify.logPosition("bottom right")
                            alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.SaveSuccess)
                        }
                    } else {
                        alertify.logPosition("bottom right")
                        alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.SaveFailed)
                        if (res.Data) {
                            //Campaign name 已存在
                            checkErr.push(vm.$i18n.messages[__culture].message[res.Data])
                            var html = "<ul style='list-style: initial'>"
                            $.each(checkErr, (i, err) => {
                                html += "<li>" + err + "</li>"
                            })
                            html += "</ul>"
                            vm.errMsg = html
                        }
                    }
                }).fail(function(err) {
                    //error
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace("/ace")
                    }
                    vm.isSaving = false
                })
        },
        ReplaceClick() {
            Bus.$emit('Campaign-CampaignChange', true)
        },
        PublishClick() {
            Bus.$emit('Campaign-CampaignChange', true)
        }
    }
}
</script>

<style scoped>
div.template-container {
    border: 1px solid #596a7b;
    background-color: #1d2d3d;
    position: relative;
    overflow: hidden;
    margin: auto;
}

div.region {
    background-color: #263748;
    cursor: pointer;
    position: absolute;
}

.region-content {
    border: 2px dotted #596a7b;
    width: 100%;
    height: 100%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ui-resizable-se {
    z-index: inherit !important;
}

.region-icon-list {
    list-style-type: none;
    padding: 0px;
}

.region-table th {
    border-bottom: 1px solid #4e5d6c;
}

.region-table tbody tr {
    border-bottom: 1px solid #4e5d6c;
}

.region-row td {
    padding: 5px;
    padding-top: 10px;
    border-color: inherit;
    border-top: none;
}

.thin-input {
    /*display: block;*/
    height: 28px;
    border-radius: .2em;
    margin-bottom: 5px;
}

.region-icon-list td input {
    padding: 0px;
}

.InfoList {
    overflow-y: auto;
    overflow-x: hidden;
    height: 400px;

    scrollbar-face-color: #000000;
    scrollbar-arrow-color: #rgba(0, 0, 0, 0.3);
    scrollbar-track-color: #ebebeb;
    scrollbar-shadow-color: #rgba(0, 0, 0, 0.5);
    scrollbar-highlight-color: #rgba(0, 0, 0, 0.8);
    scrollbar-3dlight-color: #rgba(0, 0, 0, 0.7);
}

.InfoList::-webkit-scrollbar {
    width: 10px;
}

.InfoList::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: gray;
    border-radius: 10px;
}

.InfoList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #132333;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
</style>