<template>
    <div class="tli-container" :class="{ hoverable : !readonly }" @click="select">
        <div class="layout-thumbnail">
            <div class="outer-frame" :style="outerFrameStyle()">
                <div class="inner-region" v-for="region in ascOrderedRegions" :style="innerRegionStyle(region)"></div>
            </div>
            <div style="font-weight: 100;text-overflow: ellipsis; overflow: hidden;">
                {{ template.name }}
            </div>
        </div>
    
        <label v-if="!readonly" class="control-label label label-default">{{ template.width }} * {{ template.height }}</label>
        <i v-if="!readonly" class="fa fa-remove" @click.prevent.stop="showDelete = true"></i>
    
        <div v-if="showDelete" style="margin-top: 5px;text-align: center">
            <footer-button :buttonList="buttonList" :isBusy="busyDeleting"> </footer-button>
        </div>
    
    </div>
</template>

<script>
import FooterButton from '../controls/modal/footer-button.vue'

var _ = require('lodash')

export default {
    name: 'template-layout-icon',
    props: {
        template: {
            type: Object,
            required: false,
            default: {
                id: 0,
                name: '',
                width: 1920,
                height: 1080,
                regions: []
            }
        },
        readonly: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    components: {
        FooterButton
    },
    data() {
        return {
            maxWidth: 100,
            maxHeight: 100,
            scaleRatio: 1,
            showDelete: false,
            busyDeleting: false,
            buttonList: [{ button: 'cancelDelete', name: this.$i18n.messages[__culture].message.Cancel, iconClass: "fa fa-times", class: "btn-default", method: 'CancelDelete', style: "margin:2px;", preventStop: true },
            { button: 'delete', method: "removeConfirm", style: "margin:2px;" }]
        }
    },
    created() {
        if (this.template.width > this.template.height) {
            this.scaleRatio = this.maxWidth / this.template.width
        } else {
            this.scaleRatio = this.maxHeight / this.template.height
        }
    },
    computed: {
        ascOrderedRegions() {
            return _.orderBy(this.template.regions, ['order'], ['asc'])
        },
    },
    methods: {
        select() {
            if (this.busyDeleting) {
                return
            }
            this.$emit('onTemplateSelected', this.template)
        },
        removeConfirm() {

            this.busyDeleting = true

            var api = $.post("/ace/api/template/delete", {
                TemplateId: this.template.id
            })
            var vm = this
            api.done((res) => {
                if (res.Result) {
                    alertify.logPosition("bottom right");
                    alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.DeleteSuccess);

                    vm.showDelete = false
                    vm.busyDeleting = false

                    vm.$emit('onTemplateRemoved', vm.template)
                } else {
                }
            })
        },
        outerFrameStyle() {
            var w = this.template.width * this.scaleRatio
            var h = this.template.height * this.scaleRatio

            return {
                width: w + 'px',
                height: h + 'px'
            }
        },
        innerRegionStyle(region) {
            var w = region.width * this.scaleRatio
            var h = region.height * this.scaleRatio
            var left = region.left * this.scaleRatio
            var top = region.top * this.scaleRatio

            return {
                width: w + 'px',
                height: h + 'px',
                left: left + 'px',
                top: top + 'px'
            }
        },
        CancelDelete(e) {
            this.showDelete = false
        }
    }
}
</script>

<style scoped>
.tli-container {
    transition: background-color .4s ease;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tli-container.hoverable {
    cursor: pointer;
}

.tli-container.hoverable:hover {
    background-color: #142434;
}

.layout-thumbnail {
    text-align: center;
}

.outer-frame {
    position: relative;
    background-color: #1d2d3d;
    display: inline-block;
}

.inner-region {
    position: absolute;
    background-color: #263748;
    border: 1px solid #596a7b;
}

label {
    font-size: small;
    position: absolute;
    top: 5px;
    padding-left: .2em;
    padding-right: .2em;
}

i.fa.fa-remove {
    font-size: small;
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: .2em;
}

i.fa.fa-remove:hover {
    color: #d9534f;
    transform: scale(1.25);
}
</style>