<template>
    <div>
        <!-- <h3>{{ $t("message.Library_TextAssetLibrary")}}</h3> -->
        <!--button  -->
        <div>
            <div v-for="button in addTextButton" :key="'button'+button.name" style="display:inline-block;margin-top:2px;margin-right: 5px;">
                <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#tae-modal" @click="AddTextAssetClick(button.type)">
                    <i class="fa" :class="faClass(button.type)" :style="faStyle(button.type)"></i> &nbsp; {{button.name}}
                </button>
            </div>
            <div style="display:inline-block;margin-top:2px;margin-right: 5px;">
                <input type="text" class="btn btn-default btn-sm" style="text-align: left; display: inline-block; cursor:text;" :placeholder="$t('message.Search')" id="btnSearch" v-model="searchText">
                <i class="fa fa-search" style="margin-left: 5px; margin-right: 10px; font-size:20px;align-items: center; display: inline-flex;"></i>
            </div>
        </div>
    
        <!--用以增加/修改asset的modal-->
        <text-asset-modal modal-id="tae-modal" :asset="selectAsset" :fileUsed="fileUsed" @onTextAssetSaved="TextAssetSavedHandler">
        </text-asset-modal>
    
        <!-- <hr> -->
        <table class="table table-hover textTable">
            <thead>
                <tr>
                    <th class="thborder" style="cursor:pointer;" @click="filterType=!filterType">
                        {{$t("message.Library_Name")}}
                        <i class="fa pull-right" :class="[filterType == false ? 'fa-angle-double-up': 'fa-angle-double-down' ]"></i>
                    </th>
                    <th class="thborder" style="cursor:pointer;" @click="filterType=!filterType">
                        {{$t("message.MediaType")}}
                        <i class="fa pull-right" :class="[filterType == true ? 'fa-angle-double-up': 'fa-angle-double-down' ]"></i>
                    </th>
                    <th class="thborder">{{$t('message.Library_Content')}}</th>
                    <th class="thborder" style="text-align:center;">{{$t('message.Edit')}} | {{$t('message.Delete')}}</th>
                </tr>
            </thead>
            <tbody id="text-asset-list">
                <!--<td class="text-asset" colspan="4">-->
                <tr v-for="(asset,index) in FilterTable" :key="asset.key" draggable="true" @dragstart="dragstartHandler($event, asset)">
                    <td class=" tdVertical">{{ asset.name }}</td>
                    <td class="tdVertical">
                        <tools-type-icon :media-type="asset.type" style="display: inline" :showDesc="true"></tools-type-icon>
                    </td>
                    <!--text-->
                    <td v-if="asset.type===4" class="tdVertical">
                        <div v-html="asset.text" class="assetText"></div>
                    </td>
                    <!--marquee-->
                    <td v-else-if="asset.type===6" class="tdVertical">
                        <div style="overflow-x:hidden;" :class="'marquee'+asset.id">{{showMarquee(asset.text,asset.id)}}</div>
                    </td>
                    <!--rss-->
                    <td v-else-if="asset.type ===7" class="tdVertical">
                        {{ rssUrl(asset.text) }}
                    </td>
                    <!--youtube-->
                    <td v-else-if="asset.type ===8" class="tdVertical">
                        https://www.youtube.com/watch?v={{ asset.text }}
                    </td>
                    <td v-else class="tdVertical">{{ asset.text }}</td>
                    <td style="text-align:center;vertical-align: middle;">
                        <i class="fa fa-pencil text-success" style="cursor: pointer" v-bind:title=" $t('message.Edit')" @click="EditTextAsset(asset)"></i>
                        <span class="text-muted">|</span>
                        <i class="fa fa-close text-danger" style="cursor: pointer" v-bind:title=" $t('message.Delete')" @click="removeTextAsset(asset)" data-toggle="modal" data-target="#del_textasset_modal"></i>
                    </td>
                </tr>
                <!--</td>-->
            </tbody>
        </table>
    
        <!--刪除text asset的modal-->
        <delete-text-asset-modal modal-id="del_textasset_modal" :fileUsed="fileUsed" :asset="deletingAsset" @onAssetDeleted="assetDeletedHandler"></delete-text-asset-modal>
    
    </div>
</template>

<script>
import TextAssetModal from './modal/text-asset-modal.vue'
import DeleteTextAssetModal from './modal/delete-text-asset-modal.vue'
import ToolsTypeIcon from '../controls/tools-type-icon.vue'

var _ = require('lodash')

export default {
    components: {
        TextAssetModal,
        DeleteTextAssetModal,
        ToolsTypeIcon
    },
    name: 'text-asset-editor.vue',
    data() {
        return {
            selectAsset: {
                type: 4,
                id: 0,
                key: 0,
                text: '',
                name: ''
            },
            deletingAsset: null,
            assets: [],
            fileUsed: [],
            filterType: true, //false為用name排序 true為用type排序
            addTextButton: [
                { name: this.$i18n.messages[__culture].message.Library_AddText, type: 4 }, //Add Text
                { name: this.$i18n.messages[__culture].message.Library_AddWebSite, type: 5 },//Add Web Site
                { name: this.$i18n.messages[__culture].message.Library_AddMarquee, type: 6 },//Add Marquee
                { name: this.$i18n.messages[__culture].message.Library_AddRSS, type: 7 },//Add Rss
                { name: this.$i18n.messages[__culture].message.Library_AddYoutube, type: 8 }//Add Youtube
            ],
            searchText: ''
        }
    },
    mounted() {
        this.GetTextAssetInfo()
    },
    computed: {
        FilterTable() {
            var vm = this
            if (!vm.filterType) {
                var sort = _.orderBy(vm.assets, ['name'], ['asc'])
                return sort.filter((element) => {
                    return element.name.match(this.FilterSearchTextCheck)
                })
            } else {
                var sort = _.orderBy(vm.assets, ['type', 'Id'], ['asc', 'asc'])
                return sort.filter((element) => {
                    return element.name.match(this.FilterSearchTextCheck)
                })
            }
        },
        FilterSearchTextCheck() {
            if (!this.searchText.trim().match(/^[^?*[+()^\\\/]+$/g) && this.searchText.trim() != "") {
                alertify.logPosition("bottom right")
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.Error_0003)
                return ''
            } else {
                return this.searchText
            }

        }

    },
    methods: {
        GetTextAssetInfo() {
            var vm = this
            var api = $.get('/ace/api/text/all')
            api.done(function (res) {
                if (res.Data) {
                    vm.assets = []
                    $.each(res.Data, (index, item) => {
                        vm.assets.push({
                            id: item.Id,
                            key: index + 1,
                            name: item.Name,
                            text: item.Text,
                            type: item.Type
                        })
                    })
                }
            })
        },
        showMarquee(val, id) {
            this.$nextTick(function () {
                var obj = JSON.parse(val);
                $('.marquee' + id).text(obj.Text).css('font-size', obj.FontSize + 'px').css('color', '#' + obj.Color);
                $('.marquee' + id).marquee();
            });
        },
        initAssetUsed() {
            //在新增text asset 情況下 清空selectAsset以及 被使用的array
            this.selectAsset = {
                type: 4,
                id: 0,
                key: 0,
                text: '',
                name: ''
            }
            this.fileUsed = []
        },
        AddTextAssetClick(type) {
            this.initAssetUsed()
            switch (type) {
                case 4:
                    this.$set(this.selectAsset, 'type', 4)
                    break;
                case 5:
                    this.$set(this.selectAsset, 'type', 5)
                    break;
                case 6:
                    this.$set(this.selectAsset, 'type', 6)
                    break;
                case 7:
                    this.$set(this.selectAsset, 'type', 7)
                    break;
                case 8:
                    this.$set(this.selectAsset, 'type', 8)
                    break;
            }
        },
        EditTextAsset(asset) {
            var vm = this
            vm.selectAsset = asset
            $.post("/ace/api/text/usedFile", {
                Id: asset.id,
            }).done(function (res) {
                if (res.Data) {
                    vm.fileUsed = res.Data.textAssetUsedNameList
                    $("#tae-modal").modal('show')
                }
            }).fail(function (err) {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace("/ace")
                }
            });
        },
        TextAssetSavedHandler(asset) {
            var index = _.findIndex(this.assets, { id: asset.id })

            if (index === -1) {
                //add
                var key = 1
                var maxKeyObj = _.maxBy(this.assets, 'key')

                if (maxKeyObj) {
                    key = maxKeyObj.key + 1
                }

                this.assets.push({
                    id: asset.id,
                    key: key,
                    name: asset.name,
                    text: asset.text,
                    type: asset.type
                })
            } else {
                //edit
                this.assets[index].name = asset.name
                this.assets[index].text = asset.text
                //template editor會用到 修改segment的內容物
                this.$emit('onTextAssetEdit', asset)
            }

        },
        dragstartHandler(event, asset) {

            event.dataTransfer.setData("text", JSON.stringify({
                textAsset: {
                    fileId: asset.id,
                    fileType: asset.type,
                    fileName: asset.name
                }
            }))
        },
        assetDeletedHandler(asset) {
            var index = this.assets.indexOf(asset)
            if (index !== -1) {
                this.assets.splice(index, 1)
            }
            this.deletingAsset = null

            this.$emit("onAssetDeleted", asset)
        },
        removeTextAsset(asset) {
            var vm = this;
            $.post("/ace/api/text/usedFile", {
                Id: asset.id,
            }).done(function (res) {
                if (res.Data) {
                    vm.fileUsed = res.Data.textAssetUsedNameList
                }
            }).fail(function (err) {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace("/ace")
                }
            });
            this.deletingAsset = asset
        },
        rssUrl(text) {
            var obj = JSON.parse(text);
            return obj.Url
        },
        faClass(type) {
            switch (type) {
                case 1:
                    return 'fa-image'
                case 2:
                    return 'fa-video-camera'
                case 3:
                    return 'fa-music'
                case 4:
                    return 'fa-font'
                case 5:
                    return 'fa-globe'
                case 6:
                    return 'fa-text-width'
                case 7:
                    return 'fa-rss-square'
                case 8:
                    return 'fa-youtube-play'
                case 9:
                    return 'fa-file-video-o'
            }
            return 'fa-question'
        },
        faStyle(type) {
            switch (type) {
                case 1:
                    return ''
                case 2:
                    return ''
                case 3:
                    return ''
                case 4:
                    return 'color: rgb(52, 250, 48);'
                case 5:
                    return 'color: rgb(86, 186, 219);'
                case 6:
                    return 'color: rgb(251, 254, 45);'
                case 7:
                    return 'color: rgb(240, 170, 50);'
                case 8:
                    return 'color: rgb(224, 36, 36);'
                case 9:
                    return ''
            }
            return 'color: rgb(52, 250, 48);'
        }
    }
}
</script>

<style scoped>
.tdVertical {
    vertical-align: middle;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    padding-left: 15px;
}

.assetText {
    color: black;
    text-align: left;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.textTable {
    margin-top: 5px;
    border-top: 2px solid #4e5d6c;
    border-left: 2px solid #4e5d6c;
    border-right: 2px solid #4e5d6c;
    table-layout: fixed;
    text-align: left;
}

.thborder {
    border-bottom: 2px solid #4e5d6c;
    border-right: 2px solid #4e5d6c;
    padding-left: 5px;
    text-align: center;
}

tbody {
    display: block;
}

td {
    text-align: left;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    /* even columns width , fix width of table too*/
}

#text-asset-list {
    overflow-y: auto;
    height: 400px;
    scrollbar-face-color: #000000;
    scrollbar-arrow-color: #rgba(0, 0, 0, 0.3);
    scrollbar-track-color: #ebebeb;
    scrollbar-shadow-color: #rgba(0, 0, 0, 0.5);
    scrollbar-highlight-color: #rgba(0, 0, 0, 0.8);
    scrollbar-3dlight-color: #rgba(0, 0, 0, 0.7);
}

#text-asset-list::-webkit-scrollbar {
    width: 10px;
}

#text-asset-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: gray;
    border-radius: 10px;
}

#text-asset-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #132333;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
</style>