<template>
    <div>
        <div class="row">
            <div class="col-xs-5 col-md-2 col-lg-2">
                <h1>{{ $t("message.Device")}}</h1>
            </div>
            <div class="col-xs-7 col-md-5 col-lg-3">
                <transition enter-active-class="animated flipInX" leave-active-class="animated zoomOut">
                    <div v-if="errMsg" class="alert alert-danger unregistered-device" data-toggle="modal" data-target="#unregistered-devices" title="Unregistered devices" style="border-radius:5px;">
                        <div v-html="errMsg"></div>
                    </div>
                </transition>
            </div>
            <div class="col-xs-12 col-md-5 col-lg-7">
                <span class="pull-right" style=" margin-top: 21px; margin-bottom: 10.5px; display:inline-flex">
                    <div class="dropdown" style="display:inline-flex">
                        <button class="btn btn-default btn-sm dropdown-toggle" style="margin: 2px;" type="button" data-toggle="dropdown">
                            <span>{{searchTypeName}}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li v-for="item in dropItem" @click="ChangeSearchType(item)" :key="item.value">
                                <a href="#">
                                    {{ item.text }}
                                    <span v-show="item.checked">
                                        &nbsp;
                                        <i class="fa fa-check text-success"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <input type="text" class="btn btn-default btn-sm" style="text-align: left; display: inline-block;margin: 2px; cursor:text;" :placeholder=" $t('message.Search')" id="btnSearch" v-model="searchText">
                    <i class="fa fa-search" style="margin-left: 10px; margin-right: 10px; font-size:20px;align-items: center; display: inline-flex;"></i>
                </span>
            </div>
        </div>
        <div class="pull-right">{{ $t("message.Device_Remain")}} :{{ userGroupInfo.DeviceRemaining }} {{ $t("message.Device_Machines")}} &nbsp; ,&nbsp;{{ $t("message.Device_Total")}}: {{ userGroupInfo.DeviceLimit }} {{ $t("message.Device_Machines")}}</div>
        <div class="progress" style="float:left;">
            <div class="progress-bar " :class="PrograssBar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div style="clear:both"></div>
        <two-slot-tab>
            <div slot="tab-header-1">{{ $t("message.Device")}}</div>
            <div slot="tab-header-2">{{ $t("message.Device_DeviceTag")}}</div>
            <div class="row" slot="tab-body-1">
                <device-content :filtered-devices="FilteredDevices" :filtered-screen-groups="FilteredScreenGroups" @deviceChanged="InitDeviceItems"></device-content>
            </div>
            <div slot="tab-body-2">
                <device-tag :searchText="TextFilter" :searchTextType="searchTextType" :refresh="deviceChange" @deviceChange="DeviceChangeOver" @tagChange="InitDeviceItems()">
                </device-tag>
            </div>
        </two-slot-tab>
        <unregistered-device-modal modal-id="unregistered-devices" :unregistered-device="unregisteredDevice" :device-remain="userGroupInfo.DeviceRemaining" @refresh="RefreshHandler"></unregistered-device-modal>
        <busy-fullscreen-modal :show="isBusy" :hide-delay="1200" :context="context"></busy-fullscreen-modal>
    </div>
</template>
<script>
import UnregisteredDeviceModal from './modal/unregistered-device-modal.vue'
import TwoSlotTab from '../controls/two-slot-tab.vue'
import DeviceTag from './device-tag.vue'
import DeviceContent from './device-content.vue'
import BusyFullscreenModal from '../controls/modal/busy-fullscreen-modal.vue'
export default {
    components: {
        UnregisteredDeviceModal,
        TwoSlotTab,
        DeviceTag,
        DeviceContent,
        BusyFullscreenModal
    },
    name: 'device-index',
    data() {
        return {
            devices: [],
            screenGroups: [],
            userGroupInfo: [],
            storageStatus: 0,
            unregisteredDevice: [],
            errMsg: '',
            searchText: '',
            searchTextType: 0,  //有deviceName/screenGroup/tag 查詢方式
            dropItem: [
                { text: this.$i18n.messages[__culture].message.Device_DeviceName, value: 0, checked: true }, //deviceName
                { text: this.$i18n.messages[__culture].message.Device_ScreenGroupName, value: 1, checked: false }, //screenGroup
                { text: this.$i18n.messages[__culture].message.Device_DeviceTag, value: 2, checked: false } //tag
            ],
            deviceChange: false,
            searchTypeName: this.$i18n.messages[__culture].message.Device_DeviceName,
            isBusy: false,
        }
    },
    mounted() {
        this.InitDeviceItems()
    },
    methods: {
        InitDeviceItems() {
            var vm = this
            vm.isBusy = true
            $.post("/ace/api/device/getalldevice").done((res) => {
                if (res.Result) {                    
                    vm.screenGroups = res.Data.GroupList
                    vm.devices = res.Data.UngroupedDevice
                    vm.unregisteredDevice = res.Data.UnregisteredDevice
                    if (vm.unregisteredDevice.length > 0) {
                        //There are unregistered devices !
                        vm.errMsg = '<i class="fa fa-exclamation-triangle"></i>&nbsp;' + vm.$i18n.messages[__culture].message.Error_0002 + ' <span class="pull-right">' + vm.unregisteredDevice.length + '</span>'
                    }
                    vm.userGroupInfo = res.Data.UserDeviceInfo
                }
            }).fail(function(err) {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
            }).always(function() {
                vm.isBusy = false
            })
        },
        RefreshHandler(bool) {
            //Clear unregistered device
            this.unregisteredDevice = []
            if (bool) {
                this.InitDeviceItems()
                this.deviceChange = true
                if (this.unregisteredDevice.length == 0) {
                    this.errMsg = ''
                }
            }
        },
        ChangeSearchType(data) {
            var vm = this
            $.each(vm.dropItem, (i, obj) => {
                obj.checked = false
            })
            data.checked = true
            vm.searchTextType = data.value
            vm.searchTypeName = data.text
        },
        DeviceChangeOver() {
            this.deviceChange = false
        }
    },
    computed: {
        TextFilter() {
            //篩選搜尋的文字
            var text = this.searchText;
            if (!text.trim().match(/^[^?*[+()^\\\/]+$/g) && text.trim() != '') {
                alertify.logPosition("bottom right");
                //Can't Insert Special characters
                alertify.delay(5000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + this.$i18n.messages[__culture].message.Error_0003)
                text = ''
                return text
            } else {
                return text
            }
        },
        FilteredDevices() {
            if (this.searchTextType == 0) {
                return this.devices.filter((element) => {
                    return element.DeviceName.match(this.TextFilter)
                })
            } else if (this.searchTextType == 2) {
                var flag = false //判斷是否有match 
                return this.devices.filter((element) => {
                    flag = false
                    //若搜尋框無輸入 全部顯示
                    if (this.TextFilter == '') {
                        flag = true
                    } else {
                        element.TagsName.forEach((t) => {
                            if (t.match(this.TextFilter))
                                flag = true
                        })
                    }
                    if (flag)
                        return element
                    else
                        return null
                })
            }
            else {
                if (this.TextFilter == '')
                    return this.devices
                else
                    return this.devices.filter((element) => {
                        return null
                    })
            }
        },
        FilteredScreenGroups() {
            if (this.searchTextType == 1) {
                return this.screenGroups.filter((screengroup) => {
                    return screengroup.Name.match(this.TextFilter)
                })
            } else if (this.searchTextType == 2) {
                var flag = false //判斷是否有match 
                return this.screenGroups.filter((screengroup) => {
                    flag = false
                    //若搜尋框無輸入 全部顯示
                    if (this.TextFilter == '') {
                        flag = true
                    } else {
                        screengroup.TagsName.forEach((t) => {
                            if (t.match(this.TextFilter))
                                flag = true
                        })
                        screengroup.Devices.forEach((device) => {
                            device.TagsName.forEach((t) => {
                                if (t.match(this.TextFilter))
                                    flag = true
                            })
                        })
                    }
                    if (flag)
                        return screengroup
                    else
                        return null
                })
            } else {
                //deviceName
                var flag = false //判斷是否有match 
                return this.screenGroups.filter((screengroup) => {
                    flag = false
                    screengroup.Devices.forEach((device) => {
                        if (device.DeviceName.match(this.TextFilter))
                            flag = true
                    })
                    if (flag)
                        return screengroup
                    else
                        return null
                })
            }
        },
        PrograssBar() {
            var vm = this

            $('.progress-bar').css('width', vm.userGroupInfo.UsageRate + '%')

            if (vm.userGroupInfo.UsageRate >= 80) {
                return 'red'
            } else if (vm.userGroupInfo.UsageRate >= 50) {
                return 'orange'
            } else {
                return 'green'
            }

        }
    }
}
</script>

<style scoped>
.card-panel {
    padding: 10px;
    border-radius: 5px;
    background: -o-linear-gradient(bottom right, yellow, red);
    background: -moz-linear-gradient(bottom right, yellow, red);
    background: linear-gradient(to bottom right, #e2e1e1, #92abcc);
}

.card-panel:hover {
    background: -o-linear-gradient(bottom right, yellow, red);
    background: -moz-linear-gradient(bottom right, yellow, red);
    background: linear-gradient(to bottom right, #92abcc, #e2e1e1);
}

.text-large {
    font-size: 3vh;
}

.margin-bottom-sm {
    margin-bottom: 10px;
}

.unregistered-device {
    margin-top: 10px;
    margin-bottom: 5px;
    text-decoration: none;
    cursor: pointer;
}

.progress {
    width: 100%;
    height: 15px;
    border-radius: 3px;
    background: #bdbdbd;
    border: 1px solid #a9a0ba;
}

.green {
    background-color: #25b325;
}

.red {
    background-color: #c72121;
}

.orange {
    background-color: #e46741;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: white;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: white;
}
</style>
