<template>
    <div>
        <div class="row">
            <!--Page head-->
            <detail-page-head :device-info="deviceInfo" :deviceId="deviceId" />
            <div class="col-xs-12">
                <three-slot-tab>
                    <div slot="tab-header-1">{{$t("message.Device_DeviceSetting")}}</div>
                    <div slot="tab-header-2">{{$t("message.Campaign_CampaignList")}}</div>
                    <div slot="tab-header-3">{{$t("message.Device_CampaignCalendar")}}</div>
                    <device-detail-setting slot="tab-body-1" :device-info="deviceInfo" :device-id="deviceId" />
                    <detail-campaign-list slot="tab-body-2" :device-id="deviceId" />
                    <detail-campaign-calendar slot="tab-body-3" :device-id="deviceId" />
                </three-slot-tab>
            </div>
        </div>
        <!-- <edit-publish-campaign-modal modal-id="device-edit-cp-modals" :scheduleSummaryId="scheduleSummayId" @initScheduleSummaryId="InitScheduleSummaryIdHandler" /> -->
        <all-publish-modal modal-id="edit-publish-modal" @InitScheduleSummaryId="InitScheduleSummaryIdHandler" :scheduleSummaryId="scheduleSummayId" />

    </div>
</template>
<script>
import DetailPageHead from './common-detail/detail-page-head.vue'
import ThreeSlotTab from "../controls/three-slot-tab.vue"
import DeviceDetailSetting from "./device-detail-setting.vue"
import DetailCampaignList from "./common-detail/detail-campaign-list.vue"
import DetailCampaignCalendar from "./common-detail/detail-campaign-calendar.vue"
import AllPublishModal from '../campaign/modal/all-publish-modal.vue'
import Bus from '../controls/bus'


export default {
    name: 'device-detail',
    components: {
        DetailPageHead,
        ThreeSlotTab,
        DeviceDetailSetting,
        DetailCampaignList,
        DetailCampaignCalendar,
        AllPublishModal
    },
    data() {
        return {
            deviceId: -1,  //初始設為-1
            dispatch: 2,
            deviceInfo: [],
            id: '',
            locationList: [],
            scheduleSummayId: -1,
            deletescheduleSummaryId: 0
        }
    },
    created() {
        Bus.$on('Device-DetailRepost', (data) => {
            if (data) {
                this.GetDetailInfo(this.deviceId)
            }
        })
        Bus.$on('Device-EditorScheduleSummaryId', (Id) => {
            this.scheduleSummayId = Id
        })
    },
    mounted() {
        this.deviceId = window.location.pathname.split("/").pop()
        this.GetDetailInfo(this.deviceId)
    },
    methods: {
        GetDetailInfo(id) {
            var vm = this;
            //GetDeviceInfo
            $.post("/ace/api/device/getdevicedetail", {
                Id: id
            }).done((res) => {
                vm.deviceInfo = res.Data.DeviceInfo;
            }).fail(function(err) {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
            })
        },
        InitScheduleSummaryIdHandler(val) {
            this.scheduleSummayId = val;
        }
    }
}
</script>

 