<template>
    <div class="col-lg-6 col-md-6 col-xs-12">

        <div class="panel">
            <div class="panel-heading">
                <div>
                    <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp; {{$t("message.Device_DeviceInformation")}}
                </div>
            </div>
            <div class="panel-body">
                <table class="table">
                    <template v-for="(item,index) in data">
                        <tr v-if="deviceInfo[item] !== null">
                            <th>
                                {{TheadText[index]}}
                            </th>
                            <td>
                                {{deviceInfo[item]}}
                            </td>
                        </tr>
                    </template>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "device-detail-machineinfo",
    data() {
        return {
            data: ['MachineName', 'IpAddress', 'MacAddress', 'OperationSystem', 'Resolution'],
            TheadText: [
                this.$i18n.messages[__culture].message.Device_MachineName,
                this.$i18n.messages[__culture].message.Device_IpAddress,
                this.$i18n.messages[__culture].message.Device_MacAddress,
                this.$i18n.messages[__culture].message.Device_OperatingSystem,
                this.$i18n.messages[__culture].message.Resolution
            ]
        }
    },
    props: {
        deviceInfo: {
            type: Object,
            default: {
                IpAddress: '',
                MacAddress: '',
                OperationSystem: '',
                MachineName: '',
                GroupName: '',
                PriorityType: ''
            }
        }
    }
}
</script>

<style scoped>
th {
    text-align: center;
    padding: 8px;
    font-weight: bold;
}

td {
    text-align: center;
    padding: 8px;
}

.panel-heading {
    background-color: #ad8084;
}
</style>


