<template>
    <div>
        <!--判斷是否要新增group -->
        <div v-show="!isCreateGroup" id="DeviceIndexArea">
            <div class="col-xs-12" style="margin-bottom:5px">
                <!--Create Button-->
                <div style="display:inline-block;">
                    <button type="button" class="btn btn-default btn-sm " style="border-radius:0.3em" @click="CreateGroupArea()">
                        <i class="fa fa-plus-square text-success"></i>&nbsp; {{ $t("message.Device_CreateScreenGroup")}}
                    </button>
                </div>
                <!--判斷是否為List 以及是否有勾選才show -->
                <div :style="(selectedDeviceList.length>0 || selectedScreenGroupList.length>0)&& showList==true?'visibility:visible':'visibility: hidden;'" style="display:inline-block;">
                    <button type="button" class="btn btn-default btn-sm" style="margin: 2px;" data-toggle="modal" data-target="#modalDeleteDevice">
                        <i class="fa fa-trash text-danger"></i>
                        &nbsp;{{ $t("message.Delete")}}&nbsp; {{ $t("message.Device_Devices")}}&nbsp;
                        <span class="label" style="background:#d9534f;padding: 0px 4px;">{{ selectedDeviceList.length}}</span>
                        &nbsp;{{ $t("message.Device_ScreenGroups")}}&nbsp;
                        <span class="label" style="background:#d9534f;padding: 0px 4px;">{{ selectedScreenGroupList.length}}</span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" style="margin: 2px;" data-toggle="modal" data-target="#downloadLatestPlayerModal">
                        <!-- @click="SetDownloadTargetDevice(null,null)"  -->
                        <i class="fa fa-download text-info"></i>
                        &nbsp;{{ $t("message.Device_DownloadLatestPlayer")}}&nbsp;&nbsp; {{ $t("message.Device_Devices")}}&nbsp;
                        <span class="label" style="background:#d9534f;padding: 0px 4px;">{{ selectedDeviceList.length}}</span>
                        &nbsp;{{ $t("message.Device_ScreenGroups")}}&nbsp;
                        <span class="label" style="background:#d9534f;padding: 0px 4px;">{{ selectedScreenGroupList.length}}</span>
                    </button>
                </div>
                <div class="pull-right" style="cursor: pointer;">
                    <span :class="{'view-mode-selected':!showList}">
                        <i class="fa fa-picture-o" @click="showList=false"></i>
                    </span>&nbsp;
                    <span :class="{'view-mode-selected':showList}">
                        <i class="fa fa-list-ul" @click="showList=true"></i>
                    </span>
                </div>

            </div>
            <!--Icon  -->
            <div v-show="!showList" id="DeviceIconArea">
                <!--filteredDevices Area-->
                <div v-if="filteredDevices.length>0" class="col-xs-12">
                    <div class="panel margin-bottom-sm">
                        <div class="panel-heading text-center" style="background-color:RGB(20,45,60);color:white">
                            <div @click="deviceArea= !deviceArea">
                                <div class="pull-right">
                                    <i v-show="deviceArea" class="fa fa-angle-double-down" style="float:right;display:none;cursor:pointer"></i>
                                    <i v-show="!deviceArea" class="fa fa-angle-double-up" style="float:right;cursor:pointer"></i>
                                </div>
                                {{ $t("message.Device")}}
                            </div>
                        </div>
                        <div class="panel-body" id="ungroupDeviceArea" v-show="deviceArea">
                            <div v-for="deviceInfo in filteredDevices" class="col-xs-3 col-sm-2 margin-bottom-sm" :key="'device'+deviceInfo.id">
                                <a :href="'/ace/device/detail/' + deviceInfo.Id" style="color: #63849c;text-decoration:none;">
                                    <div class="card-panel text-center" :title="deviceInfo.DeviceName">
                                        <div style="border:5px #63849c solid;border-radius:99em;width:5em;height:5em; margin: 0 auto;">
                                            <i class="fa fa-television fa-2x" style="color: #63849c;margin-top:25%"></i>
                                        </div>
                                        <div style="text-overflow: ellipsis;overflow: hidden; white-space: nowrap;">
                                            <dispatch-status :status="deviceInfo.DispatchStatus" isShowText="true" :text="deviceInfo.DeviceName"> </dispatch-status>
                                        </div>
                                        <div>
                                            <div v-if="deviceInfo.ConnectionStatus" :title="$t('message.Device_Online')">
                                                <i class="fa fa-circle" style="color:green;"></i>&nbsp; {{ $t("message.Device_Online")}}
                                            </div>
                                            <div v-else :title="$t('message.Device_Offline')">
                                                <i class="fa fa-circle" style="color:rgb(181, 22, 22);"></i>&nbsp; {{ $t("message.Device_Offline")}}
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Screengroup Area-->
                <div v-if="filteredScreenGroups.length>0" class="col-xs-12">
                    <div class="panel margin-bottom-sm">
                        <div class="panel-heading text-center" style="background-color:RGB(20,45,60);color:white">
                            <div @click="screenGroupArea=!screenGroupArea">
                                <div class="pull-right">
                                    <i v-show="screenGroupArea" class="fa fa-angle-double-down pull-right" style="display:none;cursor:pointer"></i>
                                    <i v-show="!screenGroupArea" class="fa fa-angle-double-up pull-right" style="cursor:pointer"></i>
                                </div>
                                {{ $t("message.ScreenGroup")}}
                            </div>
                        </div>
                        <div class="panel-body " id="sceenGroupArea" v-show="screenGroupArea">
                            <div v-for="screengroup in filteredScreenGroups" :key="'screengroup'+screengroup.Id" :title="screengroup.Name">
                                <a :href="'/ace/Device/ScreenGroup/' + screengroup.Id" style="text-decoration:none;color:white">
                                    <div style="background-color:rgba(100, 115, 130, 0.89)" class=" margin-bottom-sm">
                                        <div style="height:2.3em;background-color:#405161;color:white; vertical-align:middle;">
                                            <div class="col-xs-5 text-right" style="margin-top:5px">
                                                <span class="label label-warning" style="font-size:1em ;vertical-align:middle;">{{screengroup.HorizontallyScreenCount}}
                                                    <i class="fa fa-times"></i>&nbsp;{{screengroup.VerticallyScreenCount}}</span>
                                            </div>
                                            <div class="col-xs-7 text-overflow-setting text-left" style="vertical-align:middle;margin-top:5px">
                                                {{screengroup.Name}}
                                            </div>
                                        </div>
                                        <div class="screen-group-scollbar filteredDeviceList" style="margin-top:10px;">
                                            <div>
                                                <div v-for="device in screengroup.Devices " class="text-center margin-bottom-sm " style="width:120px;display: inline-block;margin-left: 20px;" :key=" 'screenGroupDevice'+device.Id " :title="device.DeviceName">
                                                    <div style="border:5px rgb(168, 168, 168) solid;border-radius:99em;width:5em;height:5em; margin: 0 auto; ">
                                                        <i class="fa fa-television fa-2x " style="color: rgb(168, 168, 168);margin-top:25% "></i>
                                                    </div>
                                                    <div class="text-overflow-setting">
                                                        <dispatch-status :status="device.DispatchStatus" isShowText="true" :text="device.DeviceName"> </dispatch-status>
                                                    </div>
                                                    <div>
                                                        <div v-if="device.ConnectionStatus" :title="$t('message.Device_Online')">
                                                            <i class="fa fa-circle" style="color:green;"></i>&nbsp; {{ $t("message.Device_Online")}}
                                                        </div>
                                                        <div v-else :title="$t('message.Device_Offline')">
                                                            <i class="fa fa-circle" style="color:rgb(181, 22, 22);"></i>&nbsp; {{ $t("message.Device_Offline")}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--List  -->
            <div v-show="showList" class="col-xs-12" id="DeviceListArea">
                <table style="width:100%; table-layout: fixed">
                    <thead>
                        <tr>
                            <th style="margin: 2px;">
                                <label class="btn btn-default btn-sm" style="margin: 2px;">
                                    <input type="checkbox" v-model="SelectedAll"> {{ $t("message.All")}}
                                </label>
                            </th>
                            <th v-for="(theadValue,index) in tableHeadText" :class="tableHeadCol[index]" :key='"th"+theadValue+index' style="text-align:center;">{{theadValue}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--deviceList  -->
                        <tr v-for="device in filteredDevices" class="device-list">
                            <td>
                                <label class="btn btn-default btn-sm">
                                    <input class="" type="checkbox" v-model="selectedDeviceList" :value="device">
                                </label>
                            </td>
                            <td>
                                <div :id="'deviceName'+device.DeviceId">
                                    <a :href="'/ace/device/detail/' + device.Id" style="text-decoration:none;">
                                        <div class="text-overflow-setting" :title="device.DeviceName">
                                            {{device.DeviceName}}
                                        </div>
                                    </a>
                                </div>
                            </td>
                            <!--screenGroup的位置 -->
                            <td></td>
                            <td class="text-center text-overflow-setting" :title="device.Resolution">{{device.Resolution}}</td>
                            <td class="text-center text-overflow-setting">
                                <div v-if="device.ConnectionStatus" style="display: inline-block;" :title="$t('message.Device_Online')">
                                    <i class="fa fa-circle" style="color:green;"></i>&nbsp; {{ $t("message.Device_Online")}}
                                </div>
                                <div v-else :title="$t('message.Device_Offline')" style="display: inline-block;">
                                    <i class="fa fa-circle" style="color:rgb(181, 22, 22);"></i>&nbsp; {{ $t("message.Device_Offline")}}
                                </div>
                                <span class="text-muted">&nbsp;|&nbsp;&nbsp;</span>
                                <i v-if="device.IsNeedRestart" class="fa fa-power-off text-defalut" style="cursor: not-allowed;background-color: grey; padding: 5px; border-radius: 0.3em;"  :title="$t('message.Device_Restart')" >
                                </i>
                                <i v-else-if="!device.IsNeedRestart" class="fa fa-power-off text-defalut" style="cursor: pointer;background-color: #5bc0de; padding: 5px; border-radius: 0.3em;"  :title="$t('message.Device_Restart')"  @click="RestartDevice(device.Id)" data-toggle="modal" data-target="#restartDeviceModal">
                                </i>&nbsp; {{$t('message.Device_Restart')}}                            
                            </td>
                            <td class="text-center">
                                <!--dispatch 圖示 -->
                                <dispatch-status :status=" device.DispatchStatus"></dispatch-status>
                            </td>
                            <td class="text-center text-overflow-setting" :title="device.DiskUsage+' GB/'+device.DiskCapacity+' GB'">{{device.DiskUsageRate}}&nbsp;%</td>
                            <td>
                                <ul class="tags">
                                    <li v-for="tag in device.TagsName">
                                        <div class="tag text-overflow-setting" style="width:5em" :title="tag">{{tag}}</div>
                                    </li>
                                </ul>
                            </td>
                            <td class="text-center text-overflow-setting" :title="device.VersionNumber">{{device.VersionNumber}}</td>
                            <td>
                                <i v-show="device.AutoUpdateEnabled" class="fa fa-cloud-download" :title="$t('message.Device_DeviceIsAutoUpdate')"></i>
                                <i v-show="!device.AutoUpdateEnabled && !device.IsLatestVersion && !device.IsNeedUpdate" class="fa fa-download download-latest-player" :title="$t('message.Device_DownloadLatestPlayer')" @click="SetDownloadTargetDevice(device,null)" data-toggle="modal" data-target="#downloadLatestPlayerModal"></i>
                                <i v-show="!device.AutoUpdateEnabled && !device.IsLatestVersion && device.IsNeedUpdate" class="fa fa-hourglass-half" :title="$t('message.Device_DeviceWaitUpdatePlayer')"></i>
                            </td>
                        </tr>
                        <!--screengroup list  -->
                        <template v-for="screengroup in filteredScreenGroups">
                            <tr v-for="device in screengroup.Devices" class="device-list">
                                <td>
                                    <label class="btn btn-default btn-sm">
                                        <input class="" type="checkbox" v-model="selectedScreenGroupList" :value="screengroup">
                                    </label>
                                </td>
                                <!--deviceName  -->
                                <td>
                                    <div :id="'deviceName'+device.Id">
                                        <a :href="'/ace/Device/ScreenGroup/' + screengroup.Id" style="text-decoration:none;">
                                            <div class="text-overflow-setting" :title="device.DeviceName">
                                                {{device.DeviceName}}
                                            </div>
                                        </a>
                                    </div>
                                </td>
                                <!--screengroup name  -->
                                <td class="text-center text-overflow-setting" :title="screengroup.Name">
                                    <a :href="'/ace/Device/ScreenGroup/' + screengroup.Id" style="text-decoration:none;">
                                        {{screengroup.Name}}
                                    </a>
                                </td>
                                <!--resolution  -->
                                <td class="text-center text-overflow-setting" :title="device.Resolution">{{device.Resolution}}</td>

                                <td class="text-center text-overflow-setting">
                                    <div v-if="device.ConnectionStatus" :title="$t('message.Device_Online')" style="display: inline-block;">
                                        <i class="fa fa-circle" style="color:green;"></i>&nbsp; {{ $t("message.Device_Online")}}
                                    </div>
                                    <div v-else :title="$t('message.Device_Offline')" style="display: inline-block;">
                                        <i class="fa fa-circle" style="color:rgb(181, 22, 22);"></i>&nbsp; {{ $t("message.Device_Offline")}}
                                    </div>
                                    <span class="text-muted">&nbsp;|&nbsp;&nbsp;</span>
                                     <i v-if="device.IsNeedRestart" class="fa fa-power-off text-defalut" style="cursor: not-allowed;background-color: grey; padding: 5px; border-radius: 0.3em;"  :title="$t('message.Device_Restart')" >
                                    </i>
                                    <i v-else-if="!device.IsNeedRestart" class="fa fa-power-off text-defalut" style="cursor: pointer;background-color: #5bc0de; padding: 5px; border-radius: 0.3em;"  :title="$t('message.Device_Restart')"  @click="RestartDevice(device.Id)" data-toggle="modal" data-target="#restartDeviceModal">
                                    </i>&nbsp; {{$t('message.Device_Restart')}}   
                                </td>
                                <td class="text-center">
                                    <!--dispatch 圖示  -->
                                    <dispatch-status :status="device.DispatchStatus"></dispatch-status>
                                </td>
                                <td class="text-center  text-overflow-setting" :title="device.DiskUsage+' GB/'+device.DiskCapacity+' GB'">
                                    {{device.DiskUsageRate}}&nbsp;%
                                </td>
                                <td>
                                    <ul class="tags">
                                        <li v-for="tag in device.TagsName">
                                            <div class="tag text-overflow-setting" style="width:5em" :title="tag">{{tag}}</div>
                                        </li>
                                    </ul>
                                </td>                                
                                <td class="text-center text-overflow-setting" :title="device.VersionNumber">

                                </td>
                                <td>
                                    <i v-show="device.AutoUpdateEnabled" class="fa fa-cloud-download" :title="$t('message.Device_DeviceIsAutoUpdate')"></i>
                                    <i v-show="!device.AutoUpdateEnabled && !device.IsLatestVersion && !device.IsNeedUpdate" class="fa fa-download download-latest-player" :title="$t('message.Device_DownloadLatestPlayer')" @click="SetDownloadTargetDevice(null,screengroup)" data-toggle="modal" data-target="#downloadLatestPlayerModal"></i>
                                    <i v-show="!device.AutoUpdateEnabled && !device.IsLatestVersion && device.IsNeedUpdate" class="fa fa-hourglass-half" :title="$t('message.Device_DeviceWaitUpdatePlayer')"></i>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>
        <div v-show="isCreateGroup">
            <div class="col-xs-12">
                <Screen-group-editor :isCreateGroup="isCreateGroup" :getUngroupInfo="getUngroupInfo" @CloseScreenGroupEdit="CloseScreenGroupEditHandler">
                </screen-group-editor>
            </div>
        </div>
        <delete-device-modal :modalId="modalDeleteDevice" :deleteDeviceList="selectedDeviceList" :deleteScreenGroupList="selectedScreenGroupList" :isBatch="true" @deviceDeleted="DeviceChangedHandler"></delete-device-modal>
        <download-latest-player-modal modalId="downloadLatestPlayerModal" :selectedDeviceList="selectedDeviceList" :selectedScreenGroupList="selectedScreenGroupList" @apiResult="DeviceChangedHandler"></download-latest-player-modal>
        <restart-device-modal modalId="restartDeviceModal" :selectedRestartDevice="selectedRestartDevice" @deviceReeboot="DeviceChangedHandler" ></restart-device-modal>
    </div>
</template>
<script>
import ScreenGroupEditor from './screen-group/screen-group-editor.vue'
import DeleteDeviceModal from './modal/delete-device-modal.vue'
import DownloadLatestPlayerModal from './modal/download-latest-player-modal.vue'
import RestartDeviceModal from './modal/restart-device-modal.vue'
import DispatchStatus from '../controls/dispatch-status.vue'
export default {
    components: {
        ScreenGroupEditor,
        DeleteDeviceModal,
        DownloadLatestPlayerModal,
        DispatchStatus,
        RestartDeviceModal
    },
    name: 'screen-group-index',
    data() {
        return {
            isCreateGroup: false,
            showList: false,
            tableHeadText: [
                this.$i18n.messages[__culture].message.Device_DeviceName,
                this.$i18n.messages[__culture].message.Device_ScreenGroupName,
                this.$i18n.messages[__culture].message.Resolution,
                this.$i18n.messages[__culture].message.Device_ConnectionStatus + ' | ' + this.$i18n.messages[__culture].message.Device_Restart,
                this.$i18n.messages[__culture].message.DispatchStatus,
                this.$i18n.messages[__culture].message.Device_DiskUsageRate,
                this.$i18n.messages[__culture].message.Device_DeviceTag,
                this.$i18n.messages[__culture].message.Version
            ],
            tableHeadCol: ['col-xs-1', 'col-xs-1', 'col-xs-1', 'col-xs-2', 'col-xs-1', 'col-xs-1', 'col-xs-3', 'col-xs-1'],
            selectedDeviceList: [],
            selectedScreenGroupList: [],
            deviceArea: true,
            screenGroupArea: true,
            selectedRestartDevice: 0,
            getUngroupInfo: false
        }
    },
    props: {
        filteredScreenGroups: {
            type: Object,
            default: null
        },
        filteredDevices: {
            type: Object,
            default: null
        }
    },
    methods: {
        CreateGroupArea() {
            if (this.filteredDevices.length < 2) {
                alertify.logPosition("bottom right")
                //Count of ungrouped device is not enough to create a new screen group
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + this.$i18n.messages[__culture].message.Error_0013)
                this.isCreateGroup = false
            } else {
                this.isCreateGroup = true
                this.getUngroupInfo = true
            }
        },
        //device異動 清空所有資料
        DeviceChangedHandler() {
            this.$emit("deviceChanged")
            this.selectedDeviceList = []
            this.selectedScreenGroupList = []
        },
        SetDownloadTargetDevice(device, screenGroup) {
            //清空select array
            _.pullAllWith(this.selectedDeviceList, this.filteredDevices, _.isEqual)
            _.pullAllWith(this.selectedScreenGroupList, this.filteredScreenGroups, _.isEqual)
            this.selectedDeviceList = _.cloneDeep(this.selectedDeviceList)
            this.selectedScreenGroupList == _.cloneDeep(this.selectedScreenGroupList)
            //組成array 丟給modal
            if (device != null)
                this.$set(this.selectedDeviceList, 0, device)
            else
                this.$set(this.selectedScreenGroupList, 0, screenGroup)
        },
        RestartDevice(deviceId) {          
            this.selectedRestartDevice = deviceId
        },
        CloseScreenGroupEditHandler() {
            //關閉新增screengroup
            this.isCreateGroup = false
            this.getUngroupInfo = false
            
            this.$emit("deviceChanged")
            this.selectedDeviceList = []
            this.selectedScreenGroupList = []
        }
    },
    computed: {
        SelectedAll: {
            get() {
                var vm = this
                //判斷 deviceList 與 選取[]是不是都有且相同
                var tempList = _.differenceWith(vm.filteredDevices, vm.selectedDeviceList, _.isEqual)
                var tempGroupList = _.differenceWith(vm.filteredScreenGroups, vm.selectedScreenGroupList, _.isEqual)
                if (vm.filteredDevices.length > 0 && tempList.length === 0 && tempGroupList.length === 0) {
                    return true
                } else {
                    return false
                }
            },
            set(val) {
                var vm = this
                var tempDeviceList = []
                var tempScreenGroupList = []
                if (val) {// 表示all 被勾選
                    //加入所有的All
                    tempDeviceList = vm.selectedDeviceList.concat(vm.filteredDevices)
                    tempScreenGroupList = vm.selectedScreenGroupList.concat(vm.filteredScreenGroups)
                    //除掉重複的項目
                    vm.selectedDeviceList = _.unionWith(vm.selectedDeviceList, tempDeviceList)
                    vm.selectedScreenGroupList = _.unionWith(vm.selectedScreenGroupList, tempScreenGroupList)
                } else {
                    _.pullAllWith(vm.selectedDeviceList, vm.filteredDevices, _.isEqual)
                    _.pullAllWith(vm.selectedScreenGroupList, vm.filteredScreenGroups, _.isEqual)
                    vm.selectedDeviceList = _.cloneDeep(vm.selectedDeviceList)
                    vm.selectedScreenGroupList == _.cloneDeep(vm.selectedScreenGroupList)
                }
            }
        }
    }
}
</script>

<style scoped>
.card-panel {
    padding: 10px;
    border-radius: 5px;
    background: -o-linear-gradient(bottom right, yellow, red);
    background: -moz-linear-gradient(bottom right, yellow, red);
    background: linear-gradient(to bottom right, #e2e1e1, #92abcc);
}

.card-panel:hover {
    background: -o-linear-gradient(bottom right, yellow, red);
    background: -moz-linear-gradient(bottom right, yellow, red);
    background: linear-gradient(to bottom right, #92abcc, #e2e1e1);
}

.margin-bottom-sm {
    margin-bottom: 10px;
}

.text-overflow-setting {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.screen-group-scollbar {
    overflow: auto;
    width: 100%;
    white-space: nowrap;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-face-color: #000000;
    scrollbar-arrow-color: #rgba(0, 0, 0, 0.3);
    scrollbar-track-color: #ebebeb;
    scrollbar-shadow-color: #rgba(0, 0, 0, 0.5);
    scrollbar-highlight-color: #rgba(0, 0, 0, 0.8);
    scrollbar-3dlight-color: #rgba(0, 0, 0, 0.7);
}

.filteredDeviceList::-webkit-scrollbar {
    height: 10px;
}

.filteredDeviceList::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: gray;
    border-radius: 5px;
}

.filteredDeviceList::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #132333;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.tags li {
    float: left;
}

.tag {
    background: #df691a;
    border-radius: 3px 0 0 3px;
    color: #fff;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
}

.tag::before {
    background: #2b3e50;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
    border-left-color: #df691a;
}

.tag::after {
    background: #2b3e50;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    border-left-color: #df691a;
}

.device-list {
    opacity: 0.7;
}

.device-list:hover {
    opacity: 1;
}

.view-mode-selected {
    border: 1px solid #76818c;
    padding: 2px 4px 2px 4px;
    background-color: #396b96;
}

.download-latest-player {
    cursor: pointer;
    background-color: #5bc0de;
    padding: 5px;
    border-radius: 0.3em
}
</style>
