<template>
    <div class="row">
        <transition name="fade">
            <div v-show="selectDevice.length>0" style="display: inline-block;">
                <button type="button" class="btn btn-default btn-sm" style="margin: 2px;" data-toggle="modal" data-target="#add-edit-account-id" v-show="!multipleTagButton " @click="NewTagClick(index,'multiple') ">
                    <i class="fa fa-tags text-success"></i>
                    &nbsp;{{ $t("message.Device_NewTag")}}
                </button>
                <input class="btn btn-default btn-sm newTagInput " v-show="multipleTagButton " type="text " v-model="multipleInputtTag " @keyup.esc="CancelCreateTag(index,'multiple') " @keyup.enter="CreateTag(deviceIdList,screenGroupIdList,'','multiple') " v-focus="focused " @blur="CancelCreateTag(index,'multiple') ">

                <button type="button" class="btn btn-default btn-sm" style="margin: 2px;" data-toggle="modal" data-target="#delete-device-tag">
                    <i class="fa fa-trash text-danger"></i>
                    &nbsp;{{ $t("message.Device_DeleteTag")}}&nbsp;
                    <span class="label" style="background:#d9534f;padding: 0px 4px;">{{ selectDevice.length}}</span>
                </button>
            </div>
        </transition>
        <br>
        <div>
            <table style="width:100%;" class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            <label class="btn btn-default btn-sm" style="margin: 2px;">
                                <input type="checkbox" v-model="selectAllDevice"> {{ $t("message.All")}}
                            </label>
                        </th>
                        <th>{{ $t("message.Device_DeviceName")}}</th>
                        <th>{{ $t("message.Device_DeviceTag")}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(device,index) in deviceList" :key="'device'+device.DeviceId">
                        <td class="col-md-1 ">
                            <label class="btn btn-default btn-sm" style="margin: 2px;">
                                <input class="" type="checkbox" v-model="selectDevice" :value="device">
                            </label>
                        </td>
                        <td class="col-md-2 textOverflow" :title="device.DeviceName">
                            <i v-if="device.DeviceId" class="fa fa-desktop"></i>
                            <i v-else class="fa fa-th-large"></i>
                            {{device.Name}}
                        </td>
                        <td class="col-md-7">
                            <ul style="padding:0;">
                                <li v-for="tag in device.Tag " :key=" 'tag'+tag ">
                                    <span :title="tag">
                                        {{tag}}
                                        <i class="fa fa-times text-danger " style="cursor: pointer " title="Delete role " @click="DeleteTag(device.DeviceId,device.ScreenGroupId,index,tag) "></i>
                                    </span>
                                </li>
                                <label class="newTagLabel " v-show="!tagInputArrayBoolean[index] " @click="NewTagClick(index,'single') ">{{ $t("message.Device_NewTag")}}...</label>
                                <input class="btn btn-default btn-sm newTagInput " v-show="tagInputArrayBoolean[index] " type="text " v-model="tagInputArray[index] " @keyup.esc="CancelCreateTag(index,'single') " @keyup.enter="CreateTag(device.DeviceId,device.ScreenGroupId,index,'single') " v-focus="focused " @blur="CancelCreateTag(index,'single') ">
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div v-show="pageCount>0" class="col-xs-12" style="text-align: center;">
                <paginate :page-count="pageCount" :page-range="4" :margin-pages="1" :click-handler="PageClickCallback" :prev-text="$t('message.Prev')" :next-text="$t('message.Next')" :container-class="'pagination'" :page-class="'page-item'" :page-rebuild="pageRebuild" @rebuildCallBack="PageRebuildHandler"></paginate>
            </div>
        </div>
        <delete-device-tag-modal modal-id="delete-device-tag" :deviceList="deviceList" :tagList="tagList" :deviceIdList="deviceIdList" :screenGroupIdList="screenGroupIdList" :selectDevice="selectDevice" @apiResult="ApiResultHandler"></delete-device-tag-modal>
    </div>
</template>
<script>
var _ = require('lodash')
// import { focus } from 'vue-focus';
import { mixin as focusMixin } from 'vue-focus'
import deleteDeviceTagModal from './modal/delete-device-tag-modal.vue'
import Paginate from '../controls/paginate.vue'

export default {
    name: 'device-tag',
    components: {
        deleteDeviceTagModal,
        Paginate
    },
    mixins: [focusMixin],
    props: {
        searchText: {
            type: String,
            require: true,
            default: ''
        },
        searchTextType: {
            type: String,
            require: true,
            default: 0  //0 deviceName 1 screenGroupName 2tagName
        },
        refresh: {
            type: Boolean,
            defalut: false
        }
    },
    data() {
        return {
            deviceList: [
                // {DeviceName:'',deviceLocation:'',deviceTag:[]}
                // { DeviceId: '47', DeviceName: 'test123', DeviceLocation: 'ECS 13F', DeviceTag: ['testtag', 'ttt', 'ddd', '3'] },
            ],
            tagInputArray: [],
            tagInputArrayBoolean: [],
            selectDevice: [],
            selectDeviceCount: [],
            tagList: [],
            deviceIdList: [],
            focused: false,
            page: 1,
            pageRows: 10,
            pageCount: 0,
            multipleInputtTag: '',
            multipleTagButton: false,
            screenGroupIdList: [],
            pageRebuild: false
        }
    },
    mounted() {
        this.GetAllDevice()
    },
    computed: {
        selectAllDevice: {
            get() {
                var vm = this
                //判斷 deviceList 與 選取[]是不是都有且相同
                var tempList = _.differenceWith(vm.deviceList, vm.selectDevice, _.isEqual)
                if (vm.deviceList.length > 0 && tempList.length === 0) {
                    return true
                } else {
                    return false
                }
            },
            set(val) {
                var vm = this
                //把所有deviceList資料重組 組出deviceIdList,screenGroupIdList 以及Tag
                var tempDeviceList = []
                if (val) {// 表示all 被勾選
                    //加入所有的All
                    tempDeviceList = vm.selectDevice.concat(vm.deviceList)
                    //除掉重複的項目
                    vm.selectDevice = _.unionWith(vm.selectDevice, tempDeviceList)
                } else {
                    _.pullAllWith(vm.selectDevice, vm.deviceList, _.isEqual)
                    vm.selectDevice = _.cloneDeep(vm.selectDevice)
                }
            }
        }
    },
    watch: {
        selectDevice(val) {
            var vm = this
            var tempArr = []
            var tempdevice = []
            var tempScreenGroup = []
            val.forEach(function(device) {
                //type = group ungroup
                if (device.DeviceId && device.DevcieId !== 0) {
                    tempdevice.push(device.DeviceId)
                    tempArr = tempArr.concat(device.Tag)
                } else if (device.ScreenGroupId && device.ScreenGroupId !== 0) {
                    tempScreenGroup.push(device.ScreenGroupId)
                    tempArr = tempArr.concat(device.Tag)
                }
            }, this)
            vm.deviceIdList = tempdevice
            vm.screenGroupIdList = tempScreenGroup
            vm.tagList = _.uniq(tempArr)
        },
        //於device-index上層判斷過特殊字元，若還有特殊字元將為空字串
        searchText(val) {
            this.SearchtextDebounce(this.searchText, this.searchTextType)
        },
        searchTextType() {
            this.SearchtextDebounce(this.searchText, this.searchTextType)
        },
        refresh(val) {
            if (val)
                this.GetAllDevice()
        }
    },
    methods: {
        GetAllDevice(text, type) {
            var vm = this
            var obj = {
                Page: vm.page,
                PageRows: vm.pageRows
            }
            if (text) {
                obj.SearchText = text.trim()
                obj.SearchType = type
            }
            //post 回來 寫回deviceList
            $.post('api/device/getdevicetag', obj)
                .done((res) => {
                    if (res.Data) {                       
                        vm.deviceList = res.Data.DeviceList
                        vm.pageCount = res.Data.Count
                    }
                })
                .fail((err) => {
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace('/ace')
                    }
                })
                .always(() => {
                    vm.$emit("deviceChange", false)
                })

        },
        DeleteTag(deviceId, screenGroupId, index, value) {
            //單筆刪除
            var vm = this
            if (deviceId !== 0)
                var deviceList = [deviceId]
            if (screenGroupId !== 0)
                var screenGroupList = [screenGroupId]
            var tag = [value]
            var obj = {
                DeviceId: deviceList,
                ScreenGroupId: screenGroupList,
                TagName: tag
            }
            //post 刪除tag
            $.post('api/device/deletedevicetag', obj)
                .done((res) => {
                    if (res.Result) {
                        vm.GetAllDevice()
                        //清理掉所選的device
                        vm.selectDevice = []
                        vm.$emit("tagChange", true)
                        alertify.logPosition("bottom right")
                        alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.DeleteSuccess)
                    }
                    else {
                        alertify.logPosition("bottom right")
                        alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.DeleteFailed)
                    }
                })
                .fail((err) => {
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace('/ace')
                    }
                })

        },
        CreateTag(deviceId, screenGroupId, index, type) { //type single/multiple  
            var vm = this
            var deviceList = []
            var screenGroupList = []
            var tag = []

            //post 寫入DB 新增一個tag 記得trim
            if (type === 'single') {
                if (!vm.tagInputArray[index].trim().match(/^[^?*[+()^\\\/]+$/g)) {
                    alertify.logPosition("bottom right")
                    //Can't Insert Special Characters
                    alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.Error_0003)
                    return
                }
                else if (vm.tagInputArray[index].length > 25) {
                    alertify.logPosition("bottom right")
                    //Name is over than 25
                    alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.Error_0045)
                    return
                }
                //deviceId
                tag = [vm.tagInputArray[index].trim()]
                //若是DeviceId為0表示是screengroup
                if (deviceId !== 0)
                    deviceList.push(deviceId)
                //若是screengroup為0表示是DeviceId
                if (screenGroupId !== 0)
                    screenGroupList.push(screenGroupId)
            } else {
                if (!vm.multipleInputtTag.trim().match(/^[^?*[+()^\\\/]+$/g)) {
                    alertify.logPosition("bottom right")
                    ////Can't Insert Special Characters
                    alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.Error_0003)
                    return
                }
                else if (vm.multipleInputtTag.length > 25) {
                    alertify.logPosition("bottom right")
                    //Name is over than 25
                    alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.Error_0045)
                    return
                }
                //deviceList
                deviceList = deviceId
                screenGroupList = screenGroupId
                tag = [vm.multipleInputtTag.trim()]
            }
            var obj = {
                DeviceId: deviceList,
                ScreenGroupId: screenGroupList,
                TagName: tag
            }
            $.post('api/device/insertdevicetag', obj)
                .done((res) => {
                    if (res.Result) {
                        vm.GetAllDevice()
                        //清掉所有選的Device
                        vm.selectDevice = []
                        if (type === 'single') {
                            //清空v-model的值
                            vm.$set(vm.tagInputArray, index, '')
                            //關閉input 顯示label 
                            vm.$set(vm.tagInputArrayBoolean, index, false)
                        } else {
                            vm.multipleInputtTag = ''
                        }
                        vm.$emit("tagChange", true)

                        alertify.logPosition("bottom right")
                        alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.AddSuccess)
                    }
                    else {
                        alertify.logPosition("bottom right")
                        alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.AddFailed)
                    }
                })
                .fail((err) => {
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace('/ace')
                    }
                })
        },
        NewTagClick(index, type) {
            if (type === 'multiple') {
                this.multipleTagButton = true
                this.focused = true
            } else {
                this.$set(this.tagInputArrayBoolean, index, true)
                this.focused = true
            }
        },
        CancelCreateTag(index, type) {
            if (type === 'multiple') {
                this.multipleTagButton = false
                this.multipleInputtTag = ''
                this.focused = false
            } else {
                this.$set(this.tagInputArrayBoolean, index, false)
                this.$set(this.tagInputArray, index, '')
                this.focused = false
            }
        },
        PageRebuildHandler(val) {
            this.pageRebuild = false
        },
        PageClickCallback(val) {
            this.page = val
            this.GetAllDevice()
        },
        ApiResultHandler(val) {
            if (val) {
                this.GetAllDevice()
                //清理掉所選的device
                this.selectDevice = []
                //重call screeninfo
                this.$emit('tagChange', true)

            }
        },
        SearchtextDebounce: _.debounce(
            function(text, type) {
                var vm = this
                vm.page = 1
                vm.pageRebuild = true
                vm.GetAllDevice(text, type)
                //清掉選的device
                vm.selectDevice = []
            },
            500
        )

    }
}
</script>
<style scoped>
.newTagLabel {

    opacity: 0.5;
}

.newTagLabel:hover {
    cursor: pointer;
    opacity: 1;
}

.newTagInput {
    text-align: left;
    display: inline-block;
    /* width: 10%; */
    cursor: text;
}

td {
    overflow-x: hidden;
    text-overflow: ellipsis;
    text-align: left;
    vertical-align: middle !important;
}

li {
    margin: 5px;
    display: inline-block;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

.textOverflow {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 0;
    white-space: nowrap;
}
</style>

