<template>
    <div id="DeviceInfo" class="tab-pane fade in active">
        <detail-setting-area :information="deviceInfo" :device-id="deviceId" />
        <device-detail-machineinfo :device-info="deviceInfo" />
    </div>
</template>
<script>
import DetailSettingArea from "./common-detail/detail-setting-area.vue"
import DeviceDetailMachineinfo from "./device-detail-machineinfo.vue"

export default {
    name: 'device-detail-setting',
    components: {
        DetailSettingArea,
        DeviceDetailMachineinfo
    },
    data() {
        return {
            defaultScreenId: null
        }
    },
    props: {
        deviceInfo: {
            type: Array,
            default: null
        },
        deviceId: {
            type: Number,
            default: null,
        }
    },
    watch: {
        deviceInfo() {
            this.defaultScreenId = this.deviceInfo.DefaultScreenId
        }
    }
}
</script>
<style scoped>

</style>