<template>
  <div class="vc-chrome">
    <div class="vc-chrome-saturation-wrap">
      <saturation v-model="colors" @change="childChange"></saturation>
    </div>
    <div class="vc-chrome-body">
      <div class="vc-chrome-controls">
        <div class="vc-chrome-color-wrap">
          <div class="vc-chrome-active-color" :style="{background: activeColor}"></div>
        </div>
  
        <div class="vc-chrome-sliders">
          <div class="vc-chrome-hue-wrap">
            <hue v-model="colors" @change="childChange"></hue>
          </div>
        </div>
      </div>
  
    </div>
  </div>
</template>

<script>
import colorMixin from './mixin/color'
import editableInput from './common/EditableInput.vue'
import saturation from './common/Saturation.vue'
import hue from './common/Hue.vue'
// import alpha from './common/Alpha.vue'

export default {
  name: 'Chrome',
  mixins: [colorMixin],
  props: {
  },
  components: {
    saturation,
    hue,
    // alpha,
    'ed-in': editableInput
  },
  data() {
    return {
      fields: ['hex', 'rgba', 'hsla'],
      fieldsIndex: 0,
      highlight: false
    }
  },
  computed: {
    activeColor() {
      var rgba = this.colors.rgba
      return 'rgba(' + [rgba.r, rgba.g, rgba.b, rgba.a].join(',') + ')'
    }
  },
  methods: {
    childChange(data) {
      this.colorChange(data)
    },
  }
}
</script>

<style>
.vc-chrome {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .3), 0 4px 8px rgba(0, 0, 0, .3);
  box-sizing: initial;
  width: 225px;
  font-family: Menlo;
  background-color: #fff;
}

.vc-chrome-controls {
  display: flex;
}

.vc-chrome-color-wrap {
  width: 32px;
}

.vc-chrome-active-color {
  margin-top: 6px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.vc-chrome-sliders {
  flex: 1;
}

.vc-chrome-fields-wrap {
  display: flex;
  padding-top: 16px;
}

.vc-chrome-fields {
  display: flex;
  margin-left: -6px;
  flex: 1;
}

.vc-chrome-field {
  padding-left: 6px;
  width: 100%;
}

.vc-chrome-toggle-btn {
  width: 32px;
  text-align: right;
  position: relative;
}

.vc-chrome-toggle-icon {
  margin-right: -4px;
  margin-top: 12px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.vc-chrome-toggle-icon-highlight {
  position: absolute;
  width: 24px;
  height: 28px;
  background: #eee;
  border-radius: 4px;
  top: 10px;
  left: 12px;
}

.vc-chrome-hue-wrap {
  position: relative;
  height: 10px;
  margin-bottom: 8px;
}

.vc-chrome-alpha-wrap {
  position: relative;
  height: 10px;
}

.vc-chrome-hue-wrap .vc-hue {
  border-radius: 2px;
}

.vc-chrome-alpha-wrap .vc-alpha-gradient {
  border-radius: 2px;
}

.vc-chrome-hue-wrap .vc-hue-picker,
.vc-chrome-alpha-wrap .vc-alpha-picker {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  transform: translate(-6px, -2px);
  background-color: rgb(248, 248, 248);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.vc-chrome-body {
  padding: 16px 16px 12px;
  background-color: #fff;
}

.vc-chrome-saturation-wrap {
  width: 100%;
  padding-bottom: 55%;
  position: relative;
  border-radius: 2px 2px 0 0;
  overflow: hidden;
}

.vc-chrome-saturation-wrap .vc-saturation-circle {
  width: 12px;
  height: 12px;
}

.vc-chrome-fields .vc-input__input {
  font-size: 11px;
  color: #333;
  width: 100%;
  border-radius: 2px;
  border: none;
  box-shadow: inset 0 0 0 1px #dadada;
  height: 21px;
  text-align: center;
}

.vc-chrome-fields .vc-input__label {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 11px;
  color: #969696;
  text-align: center;
  display: block;
  margin-top: 12px;
}
</style>
