// 使用說明: 傳入status 以及 是否要show文字 文字可傳入或者顯示預設
<template>
    <div>
        <!--無內容可派送 -->
        <i v-if="status == 0" class="fa fa-exclamation-circle " style="color:rgb(181, 22, 22); " :title="dispatchStatusNameList[status] "></i>
        <!--Dispatched-->
        <i v-else-if="status==1 " class="fa fa-check-circle-o " style="color:#1058e0; " :title="dispatchStatusNameList[status] "></i>
        <!--WaitingForUpdate-->
        <i v-else-if="status==2 " class="fa fa-refresh fa-spin fa-fw " style="color:green; " :title="dispatchStatusNameList[status] "></i>
        <!--內容派送中 -->
        <i v-else-if="status== 3 " class="fa fa-refresh fa-spin fa-fw " style="color:green; " :title="dispatchStatusNameList[status] "></i>
        <!--派送失敗 -->
        <i v-else class="fa fa-exclamation-circle " style="color:rgb(181, 22, 22); " :title="dispatchStatusNameList[status] "></i>
        <span v-show="isShowText">{{text==""?dispatchStatusNameList[status]:text}}</span>
    </div>
</template>
<script>
export default {
    name: 'dispatch-status',
    data() {
        return {
            dispatchStatusNameList: [
                this.$i18n.messages[__culture].message.NoDataToDispatch,
                this.$i18n.messages[__culture].message.Dispatched,
                this.$i18n.messages[__culture].message.WaitingForUpdate,
                this.$i18n.messages[__culture].message.Updating,
                this.$i18n.messages[__culture].message.DispatchFail
            ]
        }
    },
    props: {
        status: {
            type: Number,
            default: 0
        },
        isShowText: {
            type: Boolean,
            default: false
        },
        text: {
            type: String,
            default: ""
        }
    },
}
</script>
<style>

</style>


