<template>

    <div class="alert alert-danger" v-if="show && messages && messages.length > 0">
        <button type="button" class="close" @click.prevent.stop="close">&times;</button>
        <i class="fa fa-exclamation-triangle"></i>
        &nbsp;Error
        <div>
            <ul>
                <li v-for="msg in messages">
                    {{ msg }}
                </li>
            </ul>
        </div>
    </div>

</template>

<script>
    export default {
        name: 'error-messages-alert',
        data() {
            return {
                show: false
            }
        },
        props: {
            messages: {
                type: Array,
                required: true,
                default: [
                    // 'test error 1',
                    // 'test error 2'
                ]
            }
        },
        created() {
            if(this.messages && this.messages.length > 0) {
                this.show = true
            } else {
                this.show = false
            }
        },
        watch: {
            messages(val) {
                //
                if(val && val.length > 0) {
                    this.show = true
                } else {
                    this.show = false
                }
            }
        },
        methods: {
            close() {
                this.show = false
            }
        }
    }
</script>

<style scoped>
    ul {
        list-style: initial;
    }
</style>