<template>
    <div>
        <div class="slot-tab-header-wrapper">
            <div class="slot-tab-header" :class="{ active: tab1 }" @click="click(1)">
                <slot name="tab-header-1"></slot>
            </div>
            <div class="slot-tab-header" :class="{ active: tab2 }" @click="click(2)">
                <slot name="tab-header-2"></slot>
            </div>
        </div>
        <div class="slot-tab-body-wrapper">
            <div class="tab-content">
                <div v-show="tab1" class="animated fadeIn">
                    <slot name="tab-body-1"></slot>
                </div>

                <div v-show="tab2" class="animated fadeIn">
                    <slot name="tab-body-2"></slot>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'location-slot-tab',
    data() {
        return {
            tab1: true,
            tab2: false,
        }
    },
    props: {
        finishAdd: {
            type: Boolean,
            require: false,
            default: false
        }
    },
    watch: {
        finishAdd() {
            if (this.finishAdd) {
                this.tab1 = true
                this.tab2 = false
            }
        }
    },
    methods: {
        click(index) {
            if (index === 1) {
                this.tab1 = true
                this.tab2 = false
                this.$emit('LocationTabClick', 0);
            } else {
                this.tab1 = false
                this.tab2 = true
                //新增location
                this.$emit('LocationTabClick', 1);
            }
        }
    }
}
</script>

<style scoped>
.slot-tab-header-wrapper {
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
}

.slot-tab-body-wrapper {
    padding: 15px;
}

.slot-tab-header {
    height: 36px;
    float: left;
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition: background-color .2s ease;
    border-bottom: 1px solid lightslategray;
    color: lightslategray;
}

.slot-tab-header.active {
    border-bottom: 2px solid orangered;
    color: white;
}

.slot-tab-header:hover {
    background-color: #1a2a3a;
}
</style>