<template>
    <div class="rubber-checkbox" @click="clickHandler">
    
        <transition name="rubber-checkbox-transition">
            <i v-if="value" class="fa animated rubberBand text-success" :class="checkedIconClass"></i>
            <i v-else class="fa fa-circle-o text-muted animated fadeIn"></i>
        </transition>
    
        <span class="rubber-checkbox-text" :class="textClass">{{ text }}</span>
    
    </div>
</template>

<script>
export default {
    name: 'rubber-checkbox',
    props: {
        value: {
            type: Boolean,
            required: true,
            default: false
        },
        text: {
            type: String,
            required: false,
            default: ''
        },
        checkedIconClass: {
            type: String,
            required: false,
            default: 'fa-check-circle-o'
        },
        checkedTextClass: {
            type: String,
            required: false,
            default: ''
        }
    },
    computed: {
        textClass() {
            if (this.value === true && this.checkedTextClass) {
                return this.checkedTextClass
            } else {
                return null
            }
        }
    },
    methods: {
        clickHandler() {
            this.$emit('input', !this.value)
        }
    }
}
</script>

<style>
.rubber-checkbox {
    display: inline-block;
    cursor: pointer;
    font-weight: 100;
    white-space: nowrap;
}


/*.rubber-checkbox-text {
        margin-left: 2px;
    }*/

.rubber-checkbox>i {
    width: 15px;
}
</style>