<template>
    <div>
        <div class="slot-tab-header-wrapper">
            <div class="slot-tab-header" :class="{ active: tab1 }" @click="click(1)">
                <slot name="tab-header-1"></slot>
            </div>
            <div class="slot-tab-header" :class="{ active: tab2 }" @click="click(2)">
                <slot name="tab-header-2"></slot>
            </div>
            <div class="slot-tab-header" :class="{ active: tab3 }" @click="click(3)">
                <slot name="tab-header-3"></slot>
            </div>
        </div>
        <div class="slot-tab-body-wrapper">
            <div class="tab-content">
                <!--fadeIn特效 class 暫時拿掉 因為會影響到modal呈現-->
                <div v-show="tab1" class="animated ">
                    <slot name="tab-body-1"></slot>
                </div>
    
                <div v-show="tab2" class="animated ">
                    <slot name="tab-body-2"></slot>
                </div>
    
                <div v-show="tab3" class="animated ">
                    <slot name="tab-body-3"></slot>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'three-slot-tab',
    data() {
        return {
            tab1: true,
            tab2: false,
            tab3: false
        }
    },
    methods: {
        click(index) {
            if (index === 1) {
                this.tab1 = true
                this.tab2 = false
                this.tab3 = false
            } else if (index === 2) {
                this.tab1 = false
                this.tab2 = true
                this.tab3 = false
            } else {
                this.tab1 = false
                this.tab2 = false
                this.tab3 = true
            }
        }
    }
}
</script>

<style scope>
.slot-tab-header-wrapper {
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
}

.slot-tab-body-wrapper {
    padding: 15px;
}

.slot-tab-header {
    height: 36px;
    float: left;
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition: background-color .2s ease;
    border-bottom: 1px solid lightslategray;
    color: lightslategray;
}

.slot-tab-header.active {
    border-bottom: 2px solid orangered;
    color: white;
}

.slot-tab-header:hover {
    background-color: #1a2a3a;
}
</style>