<template>
    <div class="dropdown">
    
        <div class="input-group">
            <!--左側時鐘icon-->
            <!--<span class="input-group-addon">-->
            <!--<i class="fa fa-clock-o"></i>-->
            <!--</span>-->
            <button class="btn btn-default dropdown-toggle" type="button" @click="clickHandler" data-toggle="dropdown" style="width: 100%">
                {{ timeString }} &nbsp;
                <span class="caret"></span>
            </button>
            <!--時間輸入的選單-->
            <ul class="dropdown-menu">
                <li>
                    <table class="table" style="margin-bottom: 10px">
                        <thead>
                            <tr>
                                <th>{{ $t("message.Hour")}}</th>
                                <th>{{ $t("message.Minute")}}</th>
                                <th>{{ $t("message.Second")}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="number" min="0" style="width: 100%;" placeholder="Hour" v-model.number="hour" @keyup.enter="confirmHandler">
                                </td>
                                <td>
                                    <input type="number" min="0" style="width: 100%;" placeholder="Minute" v-model.number="minute" @keyup.enter="confirmHandler">
                                </td>
                                <td>
                                    <input type="number" min="0" style="width: 100%;" placeholder="Second" v-model.number="second" @keyup.enter="confirmHandler">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center;margin-bottom: 10px">
                        <button type="button" class="btn btn-success btn-xs" @click="confirmHandler">
                            <i class="fa fa-check"></i>
                        </button>
                    </div>
                </li>
            </ul>
    
            <!--右側時間reset 0 icon-->
            <!--<span class="input-group-addon" @click="clearHandler">-->
            <!--<slot name="clear-icon">-->
            <!--<i class="fa fa-eraser" data-toggle="tooltip" data-placement="right" title="Clear"></i>-->
            <!--</slot>-->
            <!--</span>-->
            <span class="input-group-addon">
                <i class="fa fa-clock-o" data-toggle="tooltip" data-placement="right" ></i>
            </span>
        </div>
    
    </div>
</template>

<script>
export default {
    name: 'time-input',
    data() {
        return {
            show: false,
            hour: 0,
            minute: 0,
            second: 0
        }
    },
    props: {
        value: {
            type: Number,
            default: 60,
            required: true
        },
        //時間為0時, 要顯示的字串
        zeroTimeMsg: {
            type: String,
            default: '-',
            required: false
        }
    },//end props  
    computed: {
        timeString() {

            var str = '';

            if (this.time.hour > 0) {
                str += this.time.hour + 'h'
            }
            if (this.time.minute > 0) {
                if (str.length > 0) {
                    str += ', '
                }
                str += this.time.minute + 'm'
            }
            if (this.time.second > 0) {
                if (str.length > 0) {
                    str += ', '
                }
                str += this.time.second + 's'
            }

            return str || this.zeroTimeMsg
        },
        time() {
            return this.getTime(this.value)
        }

    },//end computed
    watch: {
        time() {
            this.init()
        },
        hour() {
            this.timeChange()
        },
        minute() {
            this.timeChange()

        },
        second() {
            this.timeChange()
        }
    },
    mounted() {
        this.init()
        $('[data-toggle="tooltip"]').tooltip()
    },
    methods: {
        //從秒數算出小時, 分鐘, 秒
        getTime(seconds) {
            var h = Math.floor(seconds / 3600)
            var m = Math.floor((seconds - h * 3600) / 60)
            var s = (seconds - h * 3600 - m * 60) % 60
            return {
                hour: h,
                minute: m,
                second: s
            }
        },
        init() {
            this.hour = this.time.hour
            this.minute = this.time.minute
            this.second = this.time.second
        },
        clickHandler() {

            this.init()
        },
        confirmHandler() {
            this.validCheck()
            var totalSeconds = Math.abs(this.hour * 3600 + this.minute * 60 + this.second)
            this.$emit('input', Number(totalSeconds))
        },
        clearHandler() {
            this.$emit('input', Number(0))
        },
        validCheck() {
            var vm = this
            if (vm.hour < 0 || typeof (vm.hour) !== 'number') {
                vm.hour = 0
            }
            if (vm.minute < 0 || typeof (vm.minute) !== 'number') {
                vm.minute = 0
            }
            if (vm.second < 0 || typeof vm.second !== 'number') {
                vm.second = 0
            }
        },
        timeChange: _.debounce(
            function () {
                this.validCheck()
            },
            300
        ),
    }//end methods
}
</script>

<style scoped>
ul.dropdown-menu {
    width: 100%;
    /*background: linear-gradient(180deg,#2c3c4c 10%,#213345);*/
}

.fa.fa-eraser {
    cursor: pointer;
    color: darkgray;
}

.fa.fa-eraser:hover {
    color: lightgray;
}

td {
    padding: 5px !important;
    padding-top: 0px !important;
}

.form-control {
    height: 25px;
    border-radius: .2em !important;
}

th {
    font-weight: 100;
}

.btn-success {
    border-radius: 50%;
}
</style>