//mediatype showdesc 文字
<template>
    <div>
        <i class="fa" :class="faClass" :style="iconStyle"></i>
        <template v-if="showDesc">
            &nbsp;{{ mediaDesc }}
        </template>
        <template v-if="text != null">
            &nbsp;{{ text }}
        </template>
    </div>
</template>

<script>
export default {
    name: "tools-type-icon",
    props: {
        mediaType: {
            type: Number,
            required: true,
            default: 0
        },
        showDesc: {
            type: Boolean,
            required: false,
            default: false
        },
        text: {
            type: String,
            required: false,
            default: ''
        }
    },
    computed: {
        faClass() {
            switch (this.mediaType) {
                case 1:
                    return 'fa-image'
                case 2:
                    return 'fa-video-camera'
                case 3:
                    return 'fa-music'
                case 4:
                    return 'fa-font'
                case 5:
                    return 'fa-globe'
                case 6:
                    return 'fa-text-width'
                case 7:
                    return 'fa-rss-square'
                case 8:
                    return 'fa-youtube-play'
                case 9:
                    return 'fa-file-video-o'
                case 10:
                    return 'fa-cloud'
                case 11:
                    return 'fa-clock-o'
                case 12:
                    return 'fa-file-text-o'
                case 13:
                    return 'fa-image'
                case 16:
                    return 'fa-history'
                case 17:
                    return 'fa-file-code-o'
                case 18:
                    return 'fa-file-pdf-o'
            }
            return 'fa-question'
        },
        iconStyle() {
            switch (this.mediaType) {
                case 1:
                    return {
                        color: '#81c7d4'
                    }
                case 2:
                    return {
                        color: '#8b81c3'
                    }
                case 3:
                    return {
                        color: '#56BADB'
                    }
                case 4:
                    return {
                        color: '#34FA30'
                    }
                case 5:
                    return {
                        color: '#56BADB'
                    }
                case 6:
                    return {
                        color: '#FBFE2D'
                    }
                case 7:
                    return {
                        color: '#F0AA32'
                    }
                case 8:
                    return {
                        color: '#E02424'
                    }
                case 9:
                    return {
                        color: '#ED5858'
                    }
                case 10:
                    return {
                        color: '#fff'
                    }
                case 11:
                    return {
                        color: '#56D4B8'
                    }
                case 12:
                    return {
                        color: '#DE9D83'
                    }
                case 13:
                    return {
                        color: '#81c7d4'
                    }
                case 16:
                    return {
                        color: '#81c7d4'
                    }
                case 17:
                    return {
                        color: '#7cdb71'
                    }
                case 18:
                    return {
                        color: '#e78583'
                    }
                default:
                    return {
                        color: '#f0ad4e'
                    }
            }
        },
        mediaDesc() {
            switch (this.mediaType) {
                case 1:
                    return this.$i18n.messages[__culture].message.Image
                case 2:
                    return this.$i18n.messages[__culture].message.Video
                case 3:
                    return this.$i18n.messages[__culture].message.Music
                case 4:
                    return this.$i18n.messages[__culture].message.Text
                case 5:
                    return this.$i18n.messages[__culture].message.Web
                case 6:
                    return this.$i18n.messages[__culture].message.Marquee
                case 7:
                    return this.$i18n.messages[__culture].message.RSS
                case 8:
                    return this.$i18n.messages[__culture].message.Youtube
                case 9:
                    return this.$i18n.messages[__culture].message.Flash
                case 10:
                    return this.$i18n.messages[__culture].message.Weather
                case 11:
                    return this.$i18n.messages[__culture].message.Clock
                case 12:
                    return this.$i18n.messages[__culture].message.Menu
                case 13:
                    return this.$i18n.messages[__culture].message.NullImage
                case 16:
                    return this.$i18n.messages[__culture].message.Timer
            }
            return '?'
        }
    }
}
</script>

<style scoped>

</style>