<template>
    <div>
    
        <div class="slot-tab-header-wrapper">
    
            <div class="slot-tab-header" :class="{ active: tab1 }" @click="click(1)">
                <slot name="tab-header-1"></slot>
            </div>
            <div class="slot-tab-header" :class="{ active: tab2 }" @click="click(2)">
                <slot name="tab-header-2"></slot>
            </div>
    
        </div>
    
        <div class="slot-tab-body-wrapper">
            <div v-show="tab1" class="animated">
                <slot name="tab-body-1"></slot>
            </div>
    
            <div v-show="tab2" class="animated">
                <slot name="tab-body-2"></slot>
            </div>
    
        </div>
    
    </div>
</template>

<script>
export default {
    name: 'two-slot-tab',
    data() {
        return {
            tab1: true,
            tab2: false
        }
    },
    props: {
        initIndex: {
            type: Number,
            required: true,
            default: 1
        }
    },
    mounted() {
        this.setTab(this.initIndex)
    },
    watch: {
        initIndex(newIndex) {
            this.setTab(newIndex)
        }
    },
    methods: {
        setTab(index) {
            if (index === 2) {
                this.tab1 = false
                this.tab2 = true
            } else {
                this.tab1 = true
                this.tab2 = false
            }
        },
        click(index) {
            this.setTab(index)
        }
    }
}
</script>

<style>
.slot-tab-header-wrapper {
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
}

.slot-tab-body-wrapper {
    padding: 15px;
}

.slot-tab-header {
    height: 36px;
    float: left;
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition: background-color .2s ease;
    border-bottom: 1px solid lightslategray;
    color: lightslategray;
}

.slot-tab-header.active {
    border-bottom: 2px solid orangered;
    color: white;
}

.slot-tab-header:hover {
    background-color: #1a2a3a;
}
</style>