<template>
    <div>
        <div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-labelledby="myModal-label">
            <h3 style="color:white; text-align: center; padding-top: 200px">
                {{ $t("message.Loading")}}&nbsp;
                <i class="fa fa-spin fa-spinner"></i>
            </h3>
        </div>
    
        <div class="menu">
            <div class="collapse-btn" style="z-index:1000;position:fixed;margin-left:40px;" :class="{show:showMenu}" @click.prevent.stop="collapseClick">
                <i v-if="!showMenu" class="fa fa-search"></i>
                <i v-else class="fa fa-angle-left"></i>
            </div>
    
            <div class="side-panel" :class="{show:showMenu}" @click.stop>
    
                <div style="padding: 15px" id="padding">
                    <div class="form-group">
                        <label class="control-label">{{ $t("message.Loginfo_SelectType")}}</label>
                        <select class="form-control" v-model="dateType" id="dataType">
                            <option value="year">{{ $t("message.Loginfo_Year")}}</option>
                            <option value="month">{{ $t("message.Loginfo_Month")}}</option>
                            <option value="day">{{ $t("message.Loginfo_Day")}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{ $t("message.StartDate")}}</label>
                        <input id="start_date" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{ $t("message.EndDate")}}</label>
                        <input id="end_date" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default" :disabled="isLoading" @click="queryClick" id="dataQuery">
                            {{ $t("message.Search")}}&nbsp;
                            <i v-if="isLoading" class="fa fa-spin fa-spinner"></i>
                            <i v-else class="fa fa-search"></i>
                        </button>
                    </div>
                    <div v-if="errMsg" class="alert alert-danger">
                        <i class="fa fa-exclamation-triangle"></i>&nbsp; {{ errMsg }}
                    </div>
                    <hr>
    
                    <div class="row">
                        <div class="col-xs-6">
                            <!-- 性別 -->
                            <div class="form-group">
                                <label class="control-label">
                                    <input type="checkbox" v-model="sexCheckAll" /> {{ $t("message.Gender")}}
                                </label>
                                <div class="checkbox" v-for="gender in genders" :key="gender.id">
                                    <label>
                                        <input type="checkbox" :value="gender" v-model="inputParam.sex" />
                                        <span>{{ gender.text }}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <!-- 年齡 -->
                            <div class="form-group">
                                <label class="control-label">
                                    <input type="checkbox" v-model="ageCheckAll" /> {{ $t("message.Age")}}
                                </label>
                                <div class="checkbox" v-for="age in ages" :key="age.id">
                                    <label>
                                        <input type="checkbox" :value="age" v-model="inputParam.age" />
                                        <span>{{ age.text }}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <!-- 注視時間 -->
                            <div class="form-group">
                                <label class="control-label">
                                    <input type="checkbox" v-model="looktimeCheckAll" /> {{ $t("message.WatchingTime")}}
                                </label>
                                <div class="checkbox" v-for="looktime in looktimes" :key="looktime.id">
                                    <label>
                                        <input type="checkbox" :value="looktime" v-model="inputParam.looktime" />
                                        <span>{{ looktime.text }}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <!-- 距離 -->
                            <div class="form-group">
                                <label class="control-label">
                                    <input type="checkbox" v-model="distanceCheckAll" /> {{ $t("message.Distance")}}
                                </label>
                                <div class="checkbox" v-for="distance in distances" :key="distance.id">
                                    <label>
                                        <input type="checkbox" :value="distance" v-model="inputParam.distance" />
                                        <span>{{ distance.text }}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="report_area">
            <div class="row all-chart" style="display:none;">
    
                <div class="col-md-12 margin-bottom-sm">
                    <div class="card-panel">
                        <table style="width:100%">
                            <tbody>
                                <tr>
                                    <td align="left">
                                        <!--期間統計圖-->
                                        <span style="font-size:22px;">{{ $t("message.Loginfo_PeriodChart")}}</span>
                                    </td>
                                    <td align="right">
                                        <input type="radio" name="year" value="0" id="lblRadioChecked" />
                                        <label for="lblRadioChecked" class="lblRadioChecked">{{ $t("message.Loginfo_ByYear")}}</label>&nbsp;
                                        <!--按年顯示-->
                                        <input type="radio" name="year" value="1" id="lblRadio" />
                                        <label for="lblRadio" class="lblRadio">{{ $t("message.Loginfo_ByMonth")}}</label>
                                        <!--按月顯示-->
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <div class="pull-right" style="display:none;" id="rbComputed">
                                            <select class="form-control" id="ddlSwitch">
                                                <option value="0">{{ $t("message.Loginfo_Individual")}}</option>
                                                <!--個別-->
                                                <option value="1">{{ $t("message.Loginfo_Summary")}}</option>
                                                <!--加總-->
                                            </select>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br />
                        <div id="dateChart"></div>
                        <a href="#" style="position: absolute; bottom: 6px" class="download-image-link" data-div="dateChart" data-filename="DateBarChart.png">
                            {{ $t("message.Loginfo_DownloadImage")}}&nbsp;
                            <i class="fa fa-download"></i>
                        </a>
                    </div>
                </div>
    
                <div class="col-md-6 margin-bottom-sm">
                    <div class="card-panel">
                        <div class="pull-left" style="font-size:22px;">{{ $t("message.Loginfo_ChartofGender")}}</div>
                        <!--性別統計圖-->
                        <table style="width:100%;">
                            <tbody>
                                <tr>
                                    <td align="center">
                                        <div id="sexChart"></div>
                                    </td>
                                    <td align="center">
                                        <div id="sexBarChart"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br />
                        <a href="#" style="position: absolute; bottom: 6px" class="download-image-link" data-div1="sexChart" data-div2="sexBarChart" data-filename1="GenderChart.png" data-filename2="GenderBarChart.png">
                            {{ $t("message.Loginfo_DownloadImage")}}&nbsp;
                            <i class="fa fa-download"></i>
                        </a>
                    </div>
                </div>
    
                <div class="col-md-6 margin-bottom-sm">
                    <div class="card-panel">
                        <div class="pull-left" style="font-size:22px;">{{ $t("message.Loginfo_ChartofAge")}}</div>
                        <!--年齡統計圖-->
                        <table style="width:100%;">
                            <tbody>
                                <tr>
                                    <td align="center">
                                        <div id="ageChart"></div>
                                    </td>
                                    <td align="center">
                                        <div id="ageBarChart"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br />
                        <a href="#" style="position: absolute; bottom: 6px" class="download-image-link" data-div1="ageChart" data-div2="ageBarChart" data-filename1="AgeChart.png" data-filename2="AgeBarChart.png">
                            {{ $t("message.Loginfo_DownloadImage")}}&nbsp;
                            <i class="fa fa-download"></i>
                        </a>
                    </div>
                </div>
    
                <div class="col-md-6 margin-bottom-sm">
                    <div class="card-panel">
                        <div class="pull-left" style="font-size:22px;">{{ $t("message.Loginfo_ChartofWatchingTime")}}</div>
                        <!--注視時間統計圖-->
                        <table style="width:100%;">
                            <tbody>
                                <tr>
                                    <td align="center">
                                        <div id="lookTimeChart"></div>
                                    </td>
                                    <td align="center">
                                        <div id="lookTimeBarChart"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br />
                        <a href="#" style="position: absolute; bottom: 6px" class="download-image-link" data-div1="lookTimeChart" data-div2="lookTimeBarChart" data-filename1="LooktimeChart.png" data-filename2="LooktimeBarChart.png">
                            {{ $t("message.Loginfo_DownloadImage")}}&nbsp;
                            <i class="fa fa-download"></i>
                        </a>
                    </div>
                </div>
    
                <div class="col-md-6 margin-bottom-sm">
                    <div class="card-panel">
                        <div class="pull-left" style="font-size:22px;">{{ $t("message.Loginfo_ChartofDistance")}}</div>
                        <!--距離統計圖-->
                        <table style="width:100%;">
                            <tbody>
                                <tr>
                                    <td align="center">
                                        <div id="distanceChart"></div>
                                    </td>
                                    <td align="center">
                                        <div id="distanceBarChart"></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br />
                        <a href="#" style="position: absolute; bottom: 6px" class="download-image-link" data-div1="distanceChart" data-div2="distanceBarChart" data-filename1="DistanceChart.png" data-filename2="DistanceBarChart.png">
                            {{ $t("message.Loginfo_DownloadImage")}}&nbsp;
                            <i class="fa fa-download"></i>
                        </a>
                    </div>
                </div>
    
                <div id="svgFirst" class="c3" style="display:none;"></div>
                <div id="svgSecond" class="c3" style="display:none;"></div>
    
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'chart-index',
    data() {
        return {
            __queryData: [], //此變數儲存全部資料
            api: {
                getInputParams: '/ace/api/report/inputparams',
                query: '/ace/api/report/query'
            },
            isLoading: false,
            errMsg: '',
            showMenu: true,
            document: $(document),
            dateType: 'day',
            genders: [
                { id: 1, text: this.$i18n.messages[__culture].message.Male, value: 1 },
                { id: 2, text: this.$i18n.messages[__culture].message.Female, value: 2 }
            ],
            ages: [
                // { id: 1, text: this.$i18n.messages[__culture].message.Loginfo_Child, value: 1 },
                // { id: 2, text: this.$i18n.messages[__culture].message.Loginfo_Young, value: 2 },
                // { id: 3, text: this.$i18n.messages[__culture].message.Loginfo_Adult, value: 3 },
                // { id: 4, text: this.$i18n.messages[__culture].message.Loginfo_Old, value: 4 }
            ],
            looktimes: [
                //{ id: 1, text: '1秒以下', value: 1 },
            ],
            distances: [
                //{ id: 1, text: '1以下', value: 1 },
            ],
            inputParam: {
                sex: [],
                age: [],
                looktime: [],
                distance: []
            },
            inputStartDate: '',
            inputEndDate: '',
            queryDataUpdated: false,
            queryStartDate: null,
            queryEndDate: null

        }
    },
    computed: {
        sexCheckAll: {
            get: function () {
                return this.inputParam.sex.length === this.genders.length
            },
            set: function (val) {
                this.inputParam.sex = []
                if (val) {
                    this.inputParam.sex = this.genders
                }
            }
        },
        ageCheckAll: {
            get: function () {
                return this.inputParam.age.length === this.ages.length
            },
            set: function (val) {
                this.inputParam.age = []
                if (val) {
                    this.inputParam.age = this.ages
                }
            }
        },
        looktimeCheckAll: {
            get: function () {
                return this.inputParam.looktime.length === this.looktimes.length
            },
            set: function (val) {
                this.inputParam.looktime = []
                if (val) {
                    this.inputParam.looktime = this.looktimes
                }
            }
        },
        distanceCheckAll: {
            get: function () {
                return this.inputParam.distance.length === this.distances.length
            },
            set: function (val) {
                this.inputParam.distance = []
                if (val) {
                    this.inputParam.distance = this.distances
                }
            }
        },
    },
    mounted: function () {
        var vm = this
        this.document.click(function () {
            vm.showMenu = false
        })

        this.setDateInputFormat()
        this.sexCheckAll = true
        this.ageCheckAll = true
        this.looktimeCheckAll = true
        this.distanceCheckAll = true

        //初始化資料
        this.isLoading = true

        var api = $.get(vm.api.getInputParams)

        api.done(function (res) {
            if (res.Result) {
                //初始化looktime
                vm.looktimes = []
                $.each(res.LooktimeRangeDefinition, function (index, obj) {
                    vm.looktimes.push({
                        id: obj.Id,
                        text: obj.Description,
                        value: obj.Id
                    })
                })
                vm.looktimeCheckAll = true

                //初始化distance
                vm.distances = []
                $.each(res.DistanceRangeDefinition, function (index, obj) {
                    vm.distances.push({
                        id: obj.Id,
                        text: obj.Description,
                        value: obj.Id
                    })
                })
                vm.distanceCheckAll = true

                //初始化ages
                vm.ages = []
                $.each(res.AgeRangeDefinition, function (index, obj) {
                    vm.ages.push({
                        id: obj.AgeId,
                        text: obj.Description,
                        value: obj.AgeId
                    })
                })
                vm.ageCheckAll = true
            }
        })
        api.always(function () {
            vm.isLoading = false
        })
    },
    watch: {
        dateType: function (val) {
            this.setDateInputFormat()
        },
        isLoading: function (val) {
            if (val) {
                this.showLoadingModal()
            } else {
                this.hideLoadingModal()
            }
        },
        'inputParam.sex': function () {
            this.updateReport()
        },
        'inputParam.age': function () {
            this.updateReport()
        },
        'inputParam.looktime': function () {
            this.updateReport()
        },
        'inputParam.distance': function () {
            this.updateReport()
        },
    },
    methods: {
        queryClick: function () {
            $('#ddlSwitch').get(0).selectedIndex = 0
            $("#rbComputed").css("display", "none")
            $("#lblRadioChecked").prop('checked', true)

            this.errMsg = ''

            var data = {
                TimeType: this.dateType,
                StartDateString: this.inputStartDate,
                EndDateString: this.inputEndDate
            }

            if (!data.StartDateString || !data.EndDateString || !this.dateType) {
                this.errMsg = this.$i18n.messages[__culture].message.Error_0040//請輸入開始及結束時間
                return
            }

            this.isLoading = true

            var vm = this

            var api = $.post(vm.api.query, data)

            api.done(function (res) {

                if (res.Result) {

                    vm.__queryData = res.Data.FaceDectionLog

                    vm.queryStartDate = res.Data.DataStartDate
                    vm.queryEndDate = res.Data.DataEndDate

                    vm.updateReport()

                } else {
                    // //多語封包
                    var multilan = vm.$i18n.messages[__culture].message
                    vm.errMsg = multilan[res.Message]
                }
            })
            api.fail(function (err) {
                vm.errMsg = err
            })
            api.always(function () {
                vm.isLoading = false
            })
        },
        showLoadingModal: function () {
            $("#loadingModal").modal({
                backdrop: 'static',
                show: true
            })
        },
        hideLoadingModal: function () {
            $("#loadingModal").modal('hide')
        },
        collapseClick: function () {
            this.showMenu = !this.showMenu
        },
        //
        setDateInputFormat: function () {
            var format = ''
            switch (this.dateType) {
                case 'year':
                    format = 'YYYY'
                    break;

                case 'month':
                    format = 'YYYY-MM'
                    break;

                case 'day':
                    format = 'YYYY-MM-DD'
                    break;
            }

            if ($('#start_date').data("DateTimePicker")) {
                $('#start_date').data("DateTimePicker").destroy()
            }
            if ($('#end_date').data("DateTimePicker")) {
                $('#end_date').data("DateTimePicker").destroy()
            }

            var options = {
                format: format,
                showClose: true,
                showTodayButton: true,
                showClear: true,
                keepOpen: true,
                locale: 'en-us',//設定語言zh-tw 繁中
            }

            $('#start_date').datetimepicker(options)
            $('#end_date').datetimepicker(options)

            var vm = this

            $("#start_date,#end_date").on("dp.change", function (e) {
                vm.inputStartDate = $("#start_date").val()
                vm.inputEndDate = $("#end_date").val()
            });

            //設定當前時間
            $('#start_date').data("DateTimePicker").date(moment())
            $('#end_date').data("DateTimePicker").date(moment())

            this.inputStartDate = $('#start_date').val()
            this.inputEndDate = $('#end_date').val()
        },
        //end setDateInputFormat()
        updateReport: function () {
            if (!(this.__queryData && this.__queryData.length)) {
                return
            }

            //傳入多語封包
            var multilan = this.$i18n.messages[__culture].message

            var drawData = this.countDrawSpecData(multilan)

            this.drawReports(drawData, multilan)
        },
        countDrawSpecData: function (multilan) {
            var vm = this

            var sexCounter = []
            var ageCounter = []
            var looktimeCounter = []
            var distanceCounter = []

            $.each(vm.inputParam.sex, function (i, o) { sexCounter.push({ text: o.text, value: o.value, count: 0 }) })
            $.each(vm.inputParam.age, function (i, o) { ageCounter.push({ text: o.text, value: o.value, count: 0 }) })
            $.each(vm.inputParam.looktime, function (i, o) { looktimeCounter.push({ text: o.text, value: o.value, count: 0 }) })
            $.each(vm.inputParam.distance, function (i, o) { distanceCounter.push({ text: o.text, value: o.value, count: 0 }) })

            //過濾__queryData
            var filteredQueryData = vm.__queryData

            //filter sex
            if (!vm.sexCheckAll) {
                filteredQueryData = _.filter(filteredQueryData, function (o) {
                    for (var i = 0; i < sexCounter.length; i++) {
                        if (sexCounter[i].value === o.Gender) {
                            return true
                        }
                    }
                    return false
                })
            }

            //filter age
            if (!vm.ageCheckAll) {
                filteredQueryData = _.filter(filteredQueryData, function (o) {
                    for (var i = 0; i < ageCounter.length; i++) {
                        if (ageCounter[i].value === o.Age) {
                            return true
                        }
                    }
                    return false
                })
            }

            //filter looktime
            if (!vm.looktimeCheckAll) {
                filteredQueryData = _.filter(filteredQueryData, function (o) {
                    for (var i = 0; i < looktimeCounter.length; i++) {
                        if (looktimeCounter[i].value === o.Lid) {
                            return true
                        }
                    }
                    return false
                })
            }

            //filter distance
            if (!vm.distanceCheckAll) {
                filteredQueryData = _.filter(filteredQueryData, function (o) {
                    for (var i = 0; i < distanceCounter.length; i++) {
                        if (distanceCounter[i].value === o.Did) {
                            return true
                        }
                    }
                    return false
                })
            }

            //統計年齡 性別 注視時間 注視距離
            $.each(filteredQueryData, function (index, data) {

                var t;

                //sex
                t = _.find(sexCounter, { value: data.Gender })
                if (t) {
                    t.count += data.Count
                }

                //age
                t = _.find(ageCounter, { value: data.Age })
                if (t) {
                    t.count += data.Count
                }

                //looktime
                t = _.find(looktimeCounter, { value: data.Lid })
                if (t) {
                    t.count += data.Count
                }

                //distance
                t = _.find(distanceCounter, { value: data.Did })
                if (t) {
                    t.count += data.Count
                }
            })

            var sexSpec = {
                type: "sex",
                data: [{
                    name: "性別人數統計",
                    key: _.map(sexCounter, 'text'),
                    value: _.map(sexCounter, 'count'),
                }]
            }

            var ageSpec = {
                type: "age",
                data: [{
                    name: "年齡統計",
                    key: _.map(ageCounter, 'text'),
                    value: _.map(ageCounter, 'count'),
                }]
            }

            var looktimeSpec = {
                type: "looktime",
                data: [{
                    name: "Looktime統計",
                    key: _.map(looktimeCounter, 'text'),
                    value: _.map(looktimeCounter, 'count'),
                }]
            }

            var distanceSpec = {
                type: "distance",
                data: [{
                    name: "Distance統計",
                    key: _.map(distanceCounter, 'text'),
                    value: _.map(distanceCounter, 'count'),
                }]
            }

            //每年與每年總人數統計
            var startDate = moment(vm.queryStartDate)
            var endDate = moment(vm.queryEndDate)

            var startYear = startDate.year()
            var startMonth = startDate.month()
            var startDay = startDate.date()

            var endYear = endDate.year()
            var endMonth = endDate.month()
            var endtDay = endDate.date()

            var peopleBarSpec = {
                type: "people_bar",
                data: []
            }

            var peopleLineSpecData = {
                type: "people_line",
                data: []
            }

            if (vm.dateType === 'year') {

                var years = []
                var yearMonths = []

                for (var y = startYear; y < endYear; y++) {
                    years.push({
                        year: y,
                        count: 0
                    })
                    for (var m = 1; m <= 12; m++) {
                        yearMonths.push({
                            year: y,
                            month: m,
                            count: 0
                        })
                    }
                }

                //統計year month
                $.each(filteredQueryData, function (index, data) {
                    var t = _.find(yearMonths, { year: data.Year, month: data.Month })
                    if (t) {
                        t.count += data.Count
                    }
                })

                //統計years
                $.each(yearMonths, function (index, data) {
                    var t = _.find(years, { year: data.year })
                    if (t) {
                        t.count += data.count
                    }
                })

                //製作bar spec
                peopleBarSpec.data.push({
                    name: multilan.Loginfo_Year,
                    key: _.map(years, 'year'),
                    value: _.map(years, 'count')
                })

                //製作line spec
                _.forEach(years, function (obj) {
                    var data = _.filter(yearMonths, { year: obj.year })
                    peopleLineSpecData.data.push({
                        name: obj.year.toString(),
                        key: _.map(data, 'month'),
                        value: _.map(data, 'count')
                    })
                })

            } else if (vm.dateType === 'month') {

                var start = moment([startYear, startMonth])
                var end = moment([endYear, endMonth])

                var months = []
                var monthDays = []

                for (var m = start; m < end; m = m.add(1, 'months')) {
                    months.push({
                        year: m.year(),
                        month: m.month() + 1,
                        count: 0
                    })

                    for (var d = 1; d <= m.daysInMonth(); d++) {
                        monthDays.push({
                            year: m.year(),
                            month: m.month() + 1,
                            day: d,
                            count: 0
                        })
                    }
                }

                //統計month days
                $.each(filteredQueryData, function (index, data) {
                    var t = _.find(monthDays, { year: data.Year, month: data.Month, day: data.Day })
                    if (t) {
                        t.count += data.Count
                    }
                })

                //統計months
                $.each(monthDays, function (index, data) {
                    var t = _.find(months, { year: data.year, month: data.month })
                    if (t) {
                        t.count += data.count
                    }
                })

                //製作bar spec
                peopleBarSpec.data.push({
                    name: multilan.Loginfo_Month,
                    key: _.map(months, function (o) { return o.year + '/' + o.month }),
                    value: _.map(months, 'count')
                })

                //製作line spec
                _.forEach(months, function (obj) {
                    var data = _.filter(monthDays, { year: obj.year, month: obj.month })
                    peopleLineSpecData.data.push({
                        name: obj.year + '/' + obj.month,
                        key: _.map(data, 'day'),
                        value: _.map(data, 'count')
                    })
                })

            } else if (vm.dateType === 'day') {

                var start = moment([startYear, startMonth, startDay])
                var end = moment([endYear, endMonth, endtDay])

                var days = []
                var dayHours = []

                for (var d = start; d < end; d = d.add(1, 'days')) {

                    days.push({
                        year: d.year(),
                        month: d.month() + 1,
                        day: d.date(),
                        count: 0
                    })

                    for (var h = 0; h <= 23; h++) {
                        dayHours.push({
                            year: d.year(),
                            month: d.month() + 1,
                            day: d.date(),
                            hour: h,
                            count: 0
                        })
                    }
                }

                //統計day hours
                $.each(filteredQueryData, function (index, data) {
                    var t = _.find(dayHours, { year: data.Year, month: data.Month, day: data.Day, hour: data.Hour })
                    if (t) {
                        t.count += data.Count
                    }
                })

                //months
                $.each(dayHours, function (index, data) {
                    var t = _.find(days, { year: data.year, month: data.month, day: data.day })
                    if (t) {
                        t.count += data.count
                    }
                })

                //製作bar spec
                peopleBarSpec.data.push({
                    name: multilan.Loginfo_Day,
                    key: _.map(days, function (o) { return o.year + '/' + o.month + '/' + o.day }),
                    value: _.map(days, 'count')
                })

                //製作line spec
                _.forEach(days, function (obj) {
                    var data = _.filter(dayHours, { year: obj.year, month: obj.month, day: obj.day })
                    peopleLineSpecData.data.push({
                        name: obj.year + '/' + obj.month + '/' + obj.day,
                        key: _.map(data, 'hour'),
                        value: _.map(data, 'count')
                    })
                })
            }

            var specData = []
            specData.push(peopleBarSpec)
            specData.push(peopleLineSpecData)
            specData.push(sexSpec)
            specData.push(ageSpec)
            specData.push(looktimeSpec)
            specData.push(distanceSpec)

            return specData

        },
        drawReports: function (specData, multilan) {
            var total = [];
            for (var i = 0; i < specData[1].data.length; i++) {
                for (var j = 0; j < specData[1].data[0].key.length; j++) {
                    if (total.length < specData[1].data[0].key.length) {
                        total.push(0);
                    }
                    if (specData[1].data[i].value[j] != null) {
                        total[j] = total[j] + specData[1].data[i].value[j];
                    }
                }
            }

            var lineSum = [multilan.Loginfo_Total];
            for (var i = 0; i < total.length; i++) {
                lineSum.push(total[i]);
            }

            if ($('#dataType :selected').val() == "year") {
                $("#lblRadio").attr("checked", false);
                $(".lblRadioChecked").text(multilan.Loginfo_ByYear);
                $(".lblRadio").text(multilan.Loginfo_ByMonth);
            }
            else if ($('#dataType :selected').val() == "month") {
                $("#lblRadio").attr("checked", false);
                $(".lblRadioChecked").text(multilan.Loginfo_ByMonth);
                $(".lblRadio").text(multilan.Loginfo_ByDay);
            }
            else {
                $("#lblRadio").attr("checked", false);
                $(".lblRadioChecked").text(multilan.Loginfo_ByDay);
                $(".lblRadio").text(multilan.Loginfo_ByHour);
            }

            $(".all-chart").css('display', 'block');
            var dateChart = "#dateChart";
            var lineChart;

            //日期篩選圖處理區塊
            //資料處理(bar)
            var barDate = [specData[0].data[0].name];
            var dateCategories = [];

            for (var i = 0; i < specData[0].data[0].key.length; i++) {
                barDate.push(specData[0].data[0].value[i]);
                dateCategories.push(specData[0].data[0].key[i])
            }

            //資料處理(Line)
            var lineDate = [];
            for (var i = 0; i < specData[1].data.length; i++) {
                var data = [];
                data.push(specData[1].data[i].name);

                for (var j = 0; j < specData[1].data[i].key.length; j++) {

                    data.push(specData[1].data[i].value[j]);
                }
                lineDate.push(data);
            }

            var lineColumns = [];
            for (var i = 0; i < lineDate.length; i++) {
                lineColumns.push(lineDate[i]);
            }

            var lineKey = [];
            var tmp = 0;
            var biggest = 0;
            for (var i = 0; i < specData[1].data.length; i++) {
                if (specData[1].data[i].key.length > tmp) {
                    tmp = specData[1].data[i].key.length;
                    biggest = i;
                }
            }

            for (var i = 0; i < specData[1].data[0].key.length; i++) {
                lineKey.push(specData[1].data[0].key[i])
            }

            //設定折線圖的X軸顯示字串
            var lineLabel = "";
            //年
            if (specData[1].data[0].key.length == 12) {
                lineLabel = multilan.Loginfo_Month
            }
            //月
            else if (specData[1].data[0].key.length >= 28) {
                lineLabel = multilan.Loginfo_Day
            }
            //日
            else {
                lineLabel = multilan.Hour
            }

            var ratio = 0;
            if (specData[0].data[0].key.length > 1) {
                ratio = 0.3;
            } else {
                ratio = 0.1;
            }

            dateChartPicker(multilan);

            //畫日期的方法(bar)
            function dateChartPicker(multilan) {
                var chart = c3.generate({
                    bindto: dateChart,
                    size: {
                        height: 400,
                    },
                    data: {
                        columns: [
                            barDate
                        ],
                        type: 'bar'
                    },
                    bar: {
                        width: {
                            ratio: ratio
                        }
                    },
                    axis: {
                        y: {
                            label: multilan.Loginfo_Persons,
                            tick: {
                                format: function (d) {
                                    return (parseInt(d) == d) ? d : null;
                                }
                            }
                        },
                        x: {
                            type: 'category',
                            categories: dateCategories
                        }
                    },
                    grid: {
                        x: {
                            show: true
                        },
                        y: {
                            show: true
                        }
                    }
                });
                $(dateChart).css('position', "static");
            }

            //畫日期的方法(Line)
            function dateLineChartPicker(multilan) {
                lineChart = c3.generate({
                    bindto: dateChart,
                    size: {
                        height: 400,
                    },
                    data: {
                        columns: lineColumns
                    },
                    axis: {
                        y: {
                            label: multilan.Loginfo_Persons,
                            tick: {
                                format: function (d) {
                                    return (parseInt(d) == d) ? d : null;
                                }
                            }
                        },
                        x: {
                            label: lineLabel,
                            type: 'category',
                            categories: specData[1].data[biggest].key
                        }
                    }
                });
            }

            //判斷使用者選擇轉換的條件
            $('input[type=radio][name=year]').change(function () {
                if (this.value == 0) {
                    //選年
                    d3.select(dateChart).select("svg").remove();

                    $("#rbComputed").css("display", "none");

                    dateChartPicker(multilan);

                    $(dateChart).css('position', "static");
                }
                else {
                    //選月
                    d3.select(dateChart).select("svg").remove();

                    $("#rbComputed").css("display", "block");
                    $('#ddlSwitch').get(0).selectedIndex = 0;

                    dateLineChartPicker(multilan);

                    $(dateChart).css('position', "static");
                }
            });

            $('#ddlSwitch').change(function () {
                if ($(this).val() == 0) {
                    //個別
                    setTimeout(function () {
                        lineChart.unload({
                            done: function () {
                                lineChart.load({
                                    columns: lineColumns
                                });
                            }
                        });

                    }, 500);
                }
                else {
                    //總和
                    setTimeout(function () {
                        lineChart.unload({
                            done: function () {
                                lineChart.load({
                                    columns: [
                                        lineSum
                                    ]
                                });
                            }
                        });

                    }, 500);
                }
            });

            //性別篩選圖處理區塊
            //資料處理(bar)
            var donutBarSex = [multilan.Loginfo_GenderStatistics];//性別統計
            var sexCategories = [];

            for (var i = 0; i < specData[2].data[0].key.length; i++) {
                donutBarSex.push(specData[2].data[0].value[i]);
                sexCategories.push(specData[2].data[0].key[i])
            }

            var donutSex = [];
            for (var i = 0; i < specData[2].data[0].key.length; i++) {
                var data = [];
                data.push(specData[2].data[0].key[i]);
                data.push(specData[2].data[0].value[i]);
                donutSex.push(data);
            }

            var sexColumns = [];
            for (var i = 0; i < donutSex.length; i++) {
                sexColumns.push(donutSex[i]);
            }

            this.drawDount("#sexChart", sexColumns, multilan.Gender, 300, 300);//性別

            this.drawBar("#sexBarChart", donutBarSex, 300, 300, sexCategories, multilan);

            //年齡篩選圖處理區塊
            //資料處理
            var barAge = [multilan.Loginfo_AgeStatistics]; //年齡統計
            var ageCategories = [];

            for (var i = 0; i < specData[3].data[0].key.length; i++) {
                barAge.push(specData[3].data[0].value[i]);
                ageCategories.push(specData[3].data[0].key[i])
            }

            var donutAge = [];
            for (var i = 0; i < specData[3].data[0].key.length; i++) {
                var data = [];
                data.push(specData[3].data[0].key[i]);
                data.push(specData[3].data[0].value[i]);
                donutAge.push(data);
            }

            var ageColumns = [];
            for (var i = 0; i < donutAge.length; i++) {
                ageColumns.push(donutAge[i]);
            }

            this.drawDount("#ageChart", ageColumns, multilan.Age, 300, 300);//年齡
            this.drawBar("#ageBarChart", barAge, 300, 300, ageCategories, multilan);

            //注視時間篩選圖處理區塊
            //資料處理
            var barLooktime = [multilan.Loginfo_WatchingTimeStatistics];//注視時間統計
            var looktimeCategories = [];

            for (var i = 0; i < specData[4].data[0].key.length; i++) {
                barLooktime.push(specData[4].data[0].value[i]);
                looktimeCategories.push(specData[4].data[0].key[i])
            }

            var donutLookTime = [];
            for (var i = 0; i < specData[4].data[0].key.length; i++) {
                var data = [];
                data.push(specData[4].data[0].key[i]);
                data.push(specData[4].data[0].value[i]);
                donutLookTime.push(data);
            }

            var lookTimeColumns = [];
            for (var i = 0; i < donutLookTime.length; i++) {
                lookTimeColumns.push(donutLookTime[i]);
            }

            this.drawDount("#lookTimeChart", lookTimeColumns, multilan.WatchingTime, 300, 300);//注視時間
            this.drawBar("#lookTimeBarChart", barLooktime, 300, 300, looktimeCategories, multilan);

            //距離篩選圖處理區塊
            //資料處理
            var barDistance = [multilan.Loginfo_DistanceStatistics];//距離統計
            var distanceCategories = [];

            for (var i = 0; i < specData[5].data[0].key.length; i++) {
                barDistance.push(specData[5].data[0].value[i]);
                distanceCategories.push(specData[5].data[0].key[i])
            }

            var donutDistance = [];
            for (var i = 0; i < specData[5].data[0].key.length; i++) {
                var data = [];
                data.push(specData[5].data[0].key[i]);
                data.push(specData[5].data[0].value[i]);
                donutDistance.push(data);
            }

            var distanceColumns = [];
            for (var i = 0; i < donutDistance.length; i++) {
                distanceColumns.push(donutDistance[i]);
            }

            this.drawDount("#distanceChart", distanceColumns, multilan.Distance, 300, 300); //距離
            this.drawBar("#distanceBarChart", barDistance, 300, 300, distanceCategories, multilan);
        },
        //畫甜甜圈圖方法
        drawDount: function (bind, columns, title, height, width) {
            var chart = c3.generate({
                bindto: bind,
                data: {
                    columns: columns,
                    type: 'donut',
                },
                size: {
                    height: height,
                    width: width
                },
                donut: {
                    title: title
                }
            });
        },

        //畫直條圖方法
        drawBar:
        function (bind, columns, height, width, categories, multilan) {
            var chart = c3.generate({
                bindto: bind,
                data: {
                    columns: [
                        columns
                    ],
                    type: 'bar'
                },
                bar: {
                    width: {
                        ratio: 0.4
                    }
                },
                size: {
                    height: height,
                    width: width
                },
                axis: {
                    y: {
                        label: multilan.Loginfo_Persons,//人數
                        tick: {
                            format: function (d) {
                                return (parseInt(d) == d) ? d : null;
                            }
                        }
                    },
                    x: {
                        type: 'category',
                        categories: categories
                    }
                },
                grid: {
                    x: {
                        show: true
                    },
                    y: {
                        show: true
                    }
                }
            });
        },
        downloadChart: function () {
            if ($(this).data("div") == "dateChart") {
                //單檔下載
                //呼叫下載圖片方法
                downloadImg("dateChart", "DateChart.png");
            }
            else {
                //判斷使用者點選的圖表
                if ($(this).data("div1") == "sexChart") {
                    $("#svgFirst").append($("#sexChart svg").clone());
                    $("#svgSecond").append($("#sexBarChart svg").clone());
                }
                else if ($(this).data("div1") == "ageChart") {
                    $("#svgFirst").append($("#ageChart svg").clone());
                    $("#svgSecond").append($("#ageBarChart svg").clone());
                }
                else if ($(this).data("div1") == "lookTimeChart") {
                    $("#svgFirst").append($("#lookTimeChart svg").clone());
                    $("#svgSecond").append($("#lookTimeBarChart svg").clone());
                }
                else if ($(this).data("div1") == "distanceChart") {
                    $("#svgFirst").append($("#distanceChart svg").clone());
                    $("#svgSecond").append($("#distanceBarChart svg").clone());
                }

                //把圖變大
                d3.select("#svgFirst").select("svg").attr("width", 1200).attr("height", 1200).style("transform", "scale(4)");
                d3.select("#svgSecond").select("svg").attr("width", 900).attr("height", 900).style("transform", "scale(3)");

                //宣告兩個圖片的Id和名稱
                var divId1 = "svgFirst";
                var divId2 = "svgSecond";

                var filename1 = $(this).data("filename1")
                var filename2 = $(this).data("filename2")

                //組成陣列
                var divIds = []
                divIds.push(divId1)
                divIds.push(divId2)

                var divNames = []
                divNames.push(filename1)
                divNames.push(filename2)

                //呼叫兩次下載圖片方法
                for (var i = 0; i < 2; i++) {
                    downloadImg(divIds[i], divNames[i])
                }

                d3.select("#svgFirst").select("svg").remove();
                d3.select("#svgSecond").select("svg").remove();

            }

            function downloadImg(id, name) {
                var svg = $("#" + id + " svg")
                svg.attr("xmlns", "http://www.w3.org/2000/svg")
                svg.attr("xmlns:xlink", "http://www.w3.org/1999/xlink")
                insertStyle(svg[0])
                $(svg).addClass("c3")
                var source = (new XMLSerializer()).serializeToString(svg[0])
                //add xml declaration
                source = '<?xml version="1.0" standalone="no"?>\r\n' + source

                //convert svg source to URI data scheme.
                var url = "data:image/svg+xml;charset=utf-8," + encodeURIComponent(source)
                svg.removeClass("c3")
                svg.find("style").remove()
                var canvas = document.createElement("canvas"),
                    context = canvas.getContext("2d"),
                    image = new Image();
                $(canvas).attr("width", svg.attr("width"))
                    .attr("height", svg.attr("height"))
                image.src = url
                image.onload = function () {
                    context.drawImage(image, 0, 0)

                    var a = document.createElement("a")
                    a.download = name
                    a.href = canvas.toDataURL("image/png")
                    //  a.href = url;
                    a.click()
                };
            }

            function insertStyle(el) {
                var cssRules,
                    styleSheets = document.styleSheets
                for (var idx = 0; idx < styleSheets.length; idx++) {
                    if (styleSheets[idx].href.match(/c3\.min\.css/)) {
                        cssRules = styleSheets[idx].cssRules
                        break
                    }
                }
                var style = document.createElement("style")
                for (var idx = 0; idx < cssRules.length; idx++) {
                    var selector = cssRules[idx].selectorText;
                    if (el.matches && el.matches(selector) || el.querySelector(selector)) {
                        style.innerHTML += cssRules[idx].cssText
                    }
                }
                if (style.innerHTML) {
                    var defs = el.getElementsByTagName("defs")[0]
                    defs.appendChild(style)
                }
            }
        }
    }
}
</script>

<style scoped>
.card-panel {
    padding: 20px;
    background-color: rgb(66, 78, 95)
}

.col-md-6,
.col-md-12 {
    padding-right: 5px;
    padding-left: 5px;
}

.margin-bottom-sm {
    margin-bottom: 10px;
}

.control-label {
    color: #000;
}

.checkbox label span {
    color: #000;
}

.menu .side-panel::-webkit-scrollbar {
    width: 10px;
}

.menu .side-panel::-webkit-scrollbar-track {
    background-color: gray;
    border-radius: 10px;
}

.menu .side-panel::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #132333;
}
</style>
