<template>
    <div class="row">
        <div v-show="!detailStatus">
            <log-tab-panel>
                <div slot="searchTag">
                    <span class="pull-right">
                        <input type="text" class="form-control btn btn-default btn-sm" style="text-align: left; display: inline-block;width:80%;cursor:text;" v-bind:placeholder=" $t('message.Search')" v-model="searchText">
                        <i class="fa fa-search" style="cursor:pointer;margin-left: 10px; margin-right: 10px; font-size:20px"></i>
                    </span>
                </div>
                <div slot="rowData">
                    <table style="width:100%;table-layout: fixed" class="table table-hover">
                        <thead>
                            <th v-for="item in deviceTh">
                                {{item}}
                            </th>
                        </thead>
                        <tbody>
                            <tr v-for=" deviceInfo in deviceListInfo">
                                <td>{{deviceInfo.deviceName}} </td>
                                <td>
                                    <i v-if="deviceInfo.dispatchStatus === 1" class="fa fa-check-circle-o" style="margin-right:5px;color:rgb(16, 88, 224)"></i>
                                    <!--WaitingForUpdate-->
                                    <i v-else-if="deviceInfo.dispatchStatus === 2" class="fa fa-refresh fa-spin " style="margin-right:5px; color:#5cb85c;"></i>
                                    <i v-else class="fa fa-exclamation-circle" style="margin-right:5px"></i>
                                    {{dispatchName[deviceInfo.dispatchStatus]}}
                                </td>
                                <td v-if="deviceInfo.locationName">
                                    <i class="fa fa-map-marker red" style="margin-right:5px" v-bind:title=" $t('message.Location')"></i>
                                    {{deviceInfo.locationName}}
                                </td>
                                <td v-else></td>
                                <td>
                                    <i v-if="deviceInfo.enableFaceDetection" class="fa fa-eye" style="cursor: pointer;color:#5cb85c;" v-bind:title=" $t('message.Loginfo_FaceLogInfo')" @click="changePage(deviceInfo.deviceId,deviceInfo.deviceName,'face')"></i>
                                    <span style="color:white">&nbsp;|&nbsp;</span>
                                    <i class="fa fa-calendar " style="cursor: pointer;color: rgb(209, 170, 98);" v-bind:title=" $t('message.Loginfo_DisplayLogInfo')" @click="changePage(deviceInfo.deviceId,deviceInfo.deviceName,'display')"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div v-show="pageCount>0" class="col-xs-12" style="text-align: center;width:100%">
                        <paginate :page-count="pageCount" :page-range="4" :margin-pages="1" :click-handler="pageClickCallback" :prev-text="$t('message.Prev')" :next-text="$t('message.Next')" :container-class="'pagination'" :page-class="'page-item'" :page-rebuild="pageRebuild" @rebuildCallBack="pageRebuildHandler" />
                    </div>
                </div>
                <div slot="BIChart">
                    <bi-chart></bi-chart>
                </div>
    
            </log-tab-panel>
        </div>
        <transition name="fade">
            <div v-show="detailStatus">
                <log-detail :deviceId="deviceId" :detailType="detailType" :deviceName="deviceName" @postFinish="(val)=>{this.loadMap=val}" @backClick="backClickHandler"></log-detail>
            </div>
        </transition>
        <!--loading-->
        <busy-fullscreen-modal :show="isBusy" :hide-delay="1200" :context="context"></busy-fullscreen-modal>
    </div>
</template>
<script>
import logTabPanel from './log-tab-panel.vue'
import logDetail from "./log-detail.vue"
import BusyFullscreenModal from '../controls/modal/busy-fullscreen-modal.vue'
import Paginate from '../controls/paginate.vue'
import BiChart from './bi-chart.vue'

export default {
    name: 'log-info-index',
    data() {
        return {
            deviceListInfo: [],
            deviceTh: [this.$i18n.messages[__culture].message.Device_DeviceName, this.$i18n.messages[__culture].message.DispatchStatus, this.$i18n.messages[__culture].message.Location, this.$i18n.messages[__culture].message.FaceDetection + ' | ' + this.$i18n.messages[__culture].message.Display],
            detailStatus: false,
            deviceId: -1,
            deviceName: '',
            detailType: '',
            dispatchName: [this.$i18n.messages[__culture].message.NoDataToDispatch, this.$i18n.messages[__culture].message.Dispatched, this.$i18n.messages[__culture].message.WaitingForUpdate, this.$i18n.messages[__culture].message.Updating, this.$i18n.messages[__culture].message.DispatchFail],
            loadMap: false,
            searchText: '',
            pageCount: 1,  //總頁數
            pageRows: 10,  //每頁幾筆
            page: 1, //當前頁數,
            pageRebuild: false,
            isBusy: false
        }
    },
    components: {
        logTabPanel,
        logDetail,
        BusyFullscreenModal,
        Paginate,
        BiChart
    },
    mounted() {
        this.getDevice()
    },
    watch: {
        searchText(val) {
            var vm = this
            if (!val.trim().match(/^[^?*[+()^\\\/]+$/g) && vm.searchText.trim() != "") {
                alertify.logPosition("bottom right");
                alertify.delay(5000).error("<i class='fa fa-info-circle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.Error_0003);
                return false
            }
            vm.SearchtextDebounce(val)
        }
    },
    methods: {
        // 傳入要show的頁面face/campaign 
        changePage(id, name, type) {
            var vm = this
            vm.loadMap = true
            //顯示detail資訊
            vm.deviceId = id
            vm.deviceName = name
            vm.detailType = type
            setTimeout(function () {
                vm.detailStatus = true
            }, 1000);
        },
        backClickHandler(val) {
            this.detailStatus = val
            this.deviceId = -1
        },
        pageClickCallback(val) {
            this.page = val
            this.getDevice()
        },
        getDevice(deviceName) {
            //post for all device
            var vm = this
            vm.isBusy = true
            var obj = {
                Page: vm.page,
                PageRows: vm.pageRows,
                DeviceName: ''
            }
            if (deviceName) {
                obj.DeviceName = deviceName.trim()
            }
            $.post('api/LogInfo/GetAllDeviceInfo', obj)
                .done((res) => {
                    vm.deviceListInfo = res.Data.DeviceList
                    vm.pageCount = res.Data.Count
                    vm.isBusy = false
                }).fail((err) => {
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace('/ace')
                    }
                }).always(function () {
                    vm.isBusy = false
                })
        },
        pageRebuildHandler(val) {
            this.pageRebuild = false;
        },
        SearchtextDebounce: _.debounce(
            function (text) {
                var vm = this
                vm.page = 1
                vm.pageRebuild = true
                vm.getDevice(text)
            },
            500
        ),
    }
}
</script>
<style scoped>
.fade-enter,
{
    opacity: 0
}

.fade-enter-active,
{
    transition: opacity .3s
}

.red {
    color: red;
}

td {
    text-overflow: ellipsis;
    overflow: hidden;
}
</style>


