<template>
    <div>
        <div id="main" class="col-xs-12">
            <div id="header" class="col-xs-12">
                <h1>
                    <label style="text-overflow: ellipsis;overflow: hidden;">{{deviceName}}</label>
                </h1>
                <div>
                    <i class="closeButton fa fa-times " style="cursor:pointer;font-size:20px" @click="clickClose()"></i>&nbsp;
                </div>
                <div>
                    <a :href="'api/LogInfo/GetCSVDownload/' + this.deviceId+'/'+this.detailType" class="buttonColor btn btn-default btn-sm" style="border-radius: 0.2em;">
                        <i class="fa fa-download text-success"></i>
                        &nbsp; {{ $t("message.Loginfo_DownloadCSV")}}
                    </a>
                </div>
                <div>
                    <button @click="searchLog" type="button" class="buttonColor btn btn-default btn-sm" style="border-radius: 0.2em;">
                        {{ $t("message.Search")}}
                    </button>
                </div>
                <div>
                    <span class="pull-right" style="background-color: rgb(200, 152, 25); ">
                        <i class="fa fa-calendar" style="margin-left: 10px; margin-right: 10px; font-size:20px" v-bind:title=" $t('message.EndDate')"></i>
                        <input type="text" class="form-control btn-sm" style="text-align: left; display: inline-block;width:80%;" v-bind:placeholder=" $t('message.EndDate')" id="endDate" v-model="endDate">
                    </span>
                </div>
                <div>
                    <span class="pull-right" style="background-color: rgb(200, 152, 25);margin-right:10px ">
                        <i class="fa fa-calendar" style="margin-left: 10px; margin-right: 10px; font-size:20px" v-bind:title=" $t('message.StartDate')"></i>
                        <input type="text" class="form-control btn-sm" style="text-align: left; display: inline-block;width:80%;" v-bind:placeholder=" $t('message.StartDate')" id="startDate" v-model="startDate">
                    </span>
                </div>
            </div>
            <div class="panel-body">
                <table v-if="detailType==='face'" style="width:100%;table-layout: fixed" class="table table-hover">
                    <thead>
                        <th v-for="th in faceThead">
                            {{th}}
                        </th>
                    </thead>
                    <tbody>
                        <tr v-for="data in logData">
                            <td>
                                <i v-if="data.Gender === 1" class="fa fa-mars text-info" style="font-size: 15px;" v-bind:title=" $t('message.Male')"></i>
                                <i v-else-if="data.Gender === 2" class="fa fa-venus text-danger" style="font-size: 15px;" v-bind:title=" $t('message.Female')"></i>
                                <i v-else class="fa fa-question" style="font-size: 15px;"></i>
                            </td>
                            <td>
                                {{ageDeffinition(data.AgeId)}}
                            </td>
                            <td>{{countOfDistance(data.Distance)}} </td>
                            <td>{{formatSecond(data.LookTime)}} </td>
    
                            <td>{{formateDate(data.LogTime)}} </td>
                        </tr>
                    </tbody>
                </table>
                <table v-else-if="detailType==='display'" style="width:100%;table-layout: fixed" class="table table-hover">
                    <thead>
                        <th v-for="th in displayThead">
                            {{th}}
                        </th>
                    </thead>
                    <tbody>
                        <tr v-for="data in logData">
                            <td>{{data.FileName}} </td>
                            <td>
                                <tools-type-icon :showDesc="true" style="margin-top: 5px;margin-left: 5px" :mediaType="data.FileType"></tools-type-icon>
                            </td>
                            <td>{{formateDate(data.StartTime)}} </td>
                            <td>{{formateDate(data.EndTime)}} </td>
                            <td>{{data.CampaignName}} </td>
                            <td> {{displayType(data.DisplayType)}}</td>
                        </tr>
                    </tbody>
                </table>
                <div v-show="pageCount>0" class="col-xs-12" style="text-align: center;">
                    <paginate :page-count="pageCount" :page-range="4" :margin-pages="1" :click-handler="clickCallback" :prev-text="$t('message.Prev')" :next-text="$t('message.Next')" :container-class="'pagination'" :page-class="'page-item'" :page-rebuild="pageRebuild" @rebuildCallBack="pageRebuildHandler" />
                </div>
            </div>
        </div>
        <busy-fullscreen-modal id="modalTableLoading" :show="loadMap" :hide-delay="1200" :context="context"></busy-fullscreen-modal>
    </div>
</template>
<script>

import Paginate from '../controls/paginate.vue'
import ToolsTypeIcon from '../controls/tools-type-icon.vue'
import BusyFullscreenModal from '../controls/modal/busy-fullscreen-modal.vue'

export default {
    name: 'log-detail',
    components: {
        Paginate,
        BusyFullscreenModal,
        ToolsTypeIcon
    },
    data: function () {
        return {
            faceThead: [this.$i18n.messages[__culture].message.Gender, this.$i18n.messages[__culture].message.Age, this.$i18n.messages[__culture].message.Distance, this.$i18n.messages[__culture].message.WatchingTime, this.$i18n.messages[__culture].message.Date],
            displayThead: [this.$i18n.messages[__culture].message.Media, this.$i18n.messages[__culture].message.MediaType, this.$i18n.messages[__culture].message.StartDate, this.$i18n.messages[__culture].message.EndDate, this.$i18n.messages[__culture].message.Campaign, this.$i18n.messages[__culture].message.LogInfo_DisplayType],
            logData: [],
            pageCount: 1,  //總頁數
            pageRows: 10, //每頁筆數
            page: 1, //當前頁數,
            startDate: '',
            endDate: '',
            pageRebuild: false,
            loadMap: false,
            content: ''
        }
    },
    props: {
        deviceId: {
            type: Number,
            require: true,
            default: -1
        },
        detailType: {
            type: String,
            require: true,
            default: 'face'
        },
        deviceName: {
            type: String,
            require: true,
            default: ''
        }

    },
    mounted() {
        var vm = this;
        //datetimepicker
        $("#endDate").datetimepicker({
            format: 'YYYY/MM/DD H:mm',
            sideBySide: true,
            toolbarPlacement: 'top',
        });
        $("#startDate").datetimepicker({
            format: 'YYYY/MM/DD H:mm',
            sideBySide: true,
            toolbarPlacement: 'top',
        });
        $("#inputAutoShutDownTime").on('dp.change', function () {
            vm.shutDownButton = 1
            vm.AutoShutDownTime = $('#inputAutoShutDownTime').val()
        })
    },
    watch: {
        deviceId(val) {
            this.getData()
        }
    },
    methods: {
        getData() {
            this.startDate = $('#startDate').val().trim()
            this.endDate = $('#endDate').val().trim()
            if (this.startDate !== '' && this.endDate !== '') {
                if ((Date.parse(this.startDate)).valueOf() > (Date.parse(this.endDate)).valueOf()) {
                    alertify.logPosition("bottom right");
                    alertify.delay(4000).error("<i class='fa fa-info-circle'></i>&nbsp;" + this.$i18n.messages[__culture].message.Error_0030);
                    this.loadMap = false
                    return false
                }
            }
            var url;
            var obj = {
                Deviceid: this.deviceId,
                Page: this.page,
                PageRows: this.pageRows,
                StartDate: this.startDate,
                EndDate: this.endDate
            };
            if (this.deviceId === -1)
                return false;
            if (this.detailType === 'face') {
                url = 'api/LogInfo/GetDeviceFaceLogList'
            } else {
                //display
                url = 'api/LogInfo/GetDeviceDisplayLogList'
            }
            var vm = this;
            $.post(url, obj)
                .done(function (res) {
                    if (res.Data && url === 'api/LogInfo/GetDeviceFaceLogList') {
                        vm.logData = res.Data.FaceList
                        vm.pageCount = res.Data.Count
                        vm.$emit('postFinish', false)
                    } else {
                        //display
                        var data = res.Data.DisplayList

                        vm.logData = data
                        vm.pageCount = res.Data.Count
                        vm.$emit('postFinish', false)
                    }

                }).fail(function (err) {
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace('/ace')
                    }
                })
                .always(function () {
                    vm.loadMap = false
                })
        },
        ageDeffinition(age) {
            switch (age) {
                case 0:
                    return 'Unrecognized';

                case 1:
                    return 'Child';

                case 2:
                    return 'Teenager';

                case 3:
                    return 'Adult';

                case 4:
                    return 'Elder';

            }
        },
        countOfDistance(length) {
            return length / 100
        },
        formatSecond(secs) {
            var hr = Math.floor(secs / 3600);
            var min = Math.floor((secs - (hr * 3600)) / 60);
            var sec = parseInt(secs - (hr * 3600) - (min * 60));
            if (min < 10) { min = '0' + min; }
            if (sec < 10) { sec = '0' + sec; }
            if (hr > 0) {
                hr += ':';
                return hr + min + ':' + sec;
            }
            else {
                return min + ':' + sec;
            }
        },
        formateDate(date) {
            if (date) {
                return date.replace('T', ' ')
            }
        },
        clickCallback(pageNum) {
            this.page = pageNum
            this.loadMap = true
            this.getData()
        },
        displayType(type) {
            switch (type) {
                case 1:
                    return this.$i18n.messages[__culture].message.Campaign
                case 2:
                    return this.$i18n.messages[__culture].message.FaceDetection
                case 3:
                    return this.$i18n.messages[__culture].message.Spot
            }
        },
        fileType(type) {
            switch (type) {
                case 1:
                    return 'Image'
                case 2:
                    return 'Video'
                case 3:
                    return 'Audio'
                case 4:
                    return 'Text'
                case 5:
                    return 'Web'
                case 6:
                    return 'Marquee'
                case 7:
                    return 'Rss'
                case 8:
                    return 'Youtube'
                case 9:
                    return 'Flash'
            }
        },
        searchLog() {
            this.loadMap = true
            this.page = 1
            this.pageRebuild = true
            this.getData()
        },
        clickClose() {
            $('#startDate').val('')
            $('#endDate').val('')
            this.startDate = ''
            this.endDate = ''
            this.$emit('backClick', false)
            this.page = 1
            this.pageRebuild = true
            // this.$refs.paginate.selected = 1
        },
        pageRebuildHandler(val) {
            this.page = 1
            this.pageRebuild = false;
        }

    }
}
</script>

<style scoped>
.panel-body {
    margin: 15px
}

#header>div {
    margin: 21px 10px 0px 10px;
    /*display: inline-block;*/
    vertical-align: middle;
    float: right;
}

h1 {
    width: 20%;
    margin-left: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

#main {
    /*border: 10px outset;*/
    /* box-shadow: 10px 10px 5px rgba(227, 227, 255, 0.5); */
    border-radius: 20px;
    box-shadow: 1px 1px 12px 4px hsla(240, 7%, 97%, .5);
    margin: 20px 0 20px 0;
    background-color: #495e73;
}

.closeButton {
    color: gray;
}

.closeButton:hover {
    color: white;
}

.buttonColor {
    background-color: #d37a3f;
}

hr {
    margin: 10px 0 10px 0;
}



td {
    text-overflow: ellipsis;
    overflow: hidden;
}

table {
    margin-top: 5px;
    border-top: 1px solid #8da3b9;
}
</style>

