<template>
    <div>
        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs ">
                    <li class="active">
                        <a href="#tab_rowData" data-toggle="tab">{{ $t("message.Log")}}</a>
                    </li>
                    <li>
                        <a href="#tab_BIChart" data-toggle="tab">{{ $t("message.BI")}}</a>
                    </li>
                    <slot name="searchTag"></slot>
                </ul>
                <div class="tab-content ">
                    <div class="tab-pane active" id="tab_rowData">
                        <slot name="rowData"></slot>
                    </div>
                    <div class="tab-pane " id="tab_BIChart">
                        <slot name="BIChart"></slot>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'log-tab-panel'
}
</script>

<style scoped>
/*Tabs*/

.tabbable-panel {
    /*border:1px solid #eee;*/
    padding: 10px;
}

.tabbable-line>.nav-tabs {
    border: none;
    margin: 0px;
}

.tabbable-line>.nav-tabs>li {
    margin-right: 2px;
    padding-bottom: 4px;
    text-align: center;
    width: 100px;
}

.tabbable-line>.nav-tabs>li>a {
    border: 0;
    margin-right: 0;
    color: #4e5d6c;
}

.tabbable-line>.nav-tabs>li>a>i {
    color: #a6a6a6;
}

.tabbable-line>.nav-tabs>li.open>a,
.tabbable-line>.nav-tabs>li:hover>a {
    border: 0;
    background: none !important;
    color: lightslategray;
}

.tabbable-line>.nav-tabs>li.open>a>i,
.tabbable-line>.nav-tabs>li:hover>a>i {
    color: #a6a6a6;
}

.tabbable-line>.nav-tabs>li.open .dropdown-menu,
.tabbable-line>.nav-tabs>li:hover .dropdown-menu {
    margin-top: 0px;
}

.tabbable-line>.nav-tabs>li.active {
    border-bottom: 4px solid #5bc0de;
    position: relative;
}

.tabbable-line>.nav-tabs>li.active>a {
    border: 0;
    color: #5bc0de;
}

.tabbable-line>.nav-tabs>li.active>a>i {
    color: #404040;
}

.tabbable-line>.tab-content {
    margin-top: -3px;
    /*background-color: #fff;*/
    border: 0;
    border-top: 1px solid #4e5d6c;
    padding: 15px;
}

.portlet .tabbable-line>.tab-content {
    padding-bottom: 0;
}
</style>