﻿@model DsSite.Models.ViewModels.ChangePasswordViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
</head>
<body>

    @if (ViewBag.ChangeSuccess == true)
    {
        <div>Change password successfully!</div>
        <div>
            @Html.ActionLink("Login page", "LogIn", "Account")
        </div>
    }
    else
    {
        <div>
            @using (Html.BeginForm())
            {
                <div>
                    Email:
                    <input type="text" name="Email" value="@Model.Email" />
                </div>
                <div>
                    Temp password:
                    <input type="text" name="TempPassword" value="@Model.TempPassword" />
                </div>
                <div>
                    New password:
                    <input type="text" name="NewPassword" value="@Model.NewPassword" />
                </div>
                <div>
                    Repeat new password:
                    <input type="text" name="RepeatPassword" value="@Model.RepeatPassword" />
                </div>
                <button type="submit">Confirm</button>
            }
        </div>
    }

    @if (ViewBag.ErrorMessage != null)
    {
        <div>
            <span style="color:red">@ViewBag.ErrorMessage</span>
        </div>
    }

</body>
</html>
