﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forget Password</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <div>
                Email:
                <input type="text" name="Email" />
            </div>
            <div>
                <button type="submit">Send reset password mail</button>
            </div>
        }
    </div>
</body>
</html>
