﻿@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet" />
<link href="~/Scripts/alertify/css/alertify.css" rel="stylesheet" />

@section scripts{
    <script src="~/Scripts/bootstrap-toggle.min.js"></script>

    @*alertify*@
    <script src="~/Scripts/alertify/js/alertify.js"></script>

    @*_d_s*@
    <script src="~/Scripts/_d_s.js"></script>

    @*Vue js app*@
    <script src="~/vue-dev/dist/build.js"></script>
}
<div id="app">
    <account-management></account-management>
</div>  