﻿@using System.Web.Configuration

@{
    Layout = null;
}

<!DOCTYPE html>

<html style="height:100%">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogIn</title>

    @Styles.Render("~/Content/css")

    <style>
        .login-form{
            margin: 0 auto;
            max-width: 350px;
        }

        @@media screen and (min-width:768px) {
            .login-form{
                margin-top: 100px;
            }
        }

        .login-bg{
            background:linear-gradient(141deg, #2b3840 0%, #3b4e70 51%, #3d4f7c 75%);
            /*background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
            background-repeat:no-repeat;
            min-height:100%;
        }

    </style>

</head>
<body class="login-bg">

    <div id="app" class="container">

        @using (Html.BeginForm("LogIn", "Account", FormMethod.Post, new { @Class = "login-form" }))
        {
            <h3 style="text-align:center">
                Log in
                <i class="fa fa-sign-in animated fadeInLeft"></i>
            </h3>

            <hr />

            <div>
                @*Email Account:*@
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-user" style="width:15px"></i>
                    </span>
                    <input type="text" class="form-control" value="" name="Account" placeholder="Email Account" v-model="email" />
                </div>
            </div>
            <br />
            <div>
                @*Password:*@
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="fa fa-key" style="width:15px"></i>
                    </span>
                    <input type="password" class="form-control" value="" name="Password" placeholder="Password" />
                </div>
            </div>

            <br />
            <div>
                <button type="submit" class="btn btn-primary btn-block" value="Log In">
                    Log In
                </button>
            </div>

            <br />
            <div class="text-right">
                <p>
                    <a href="#" data-toggle="modal" data-target="#forgetPasswordModal">Forget password?</a>

                    @*@Html.ActionLink("Forget password ?", "ForgetPassword", "Account")*@
                </p>
            </div>

            if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger alert-dismissible animated fadeIn" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong><i class="fa fa-exclamation-triangle"></i></strong>
                    &nbsp;@ViewBag.ErrorMessage
                </div>
            }

        }

        @*忘記密碼視窗*@
        <div class="modal fade" id="forgetPasswordModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="forgetPasswordModal-label">Forget your password?</h4>
                    </div>
                    <div class="modal-body">

                        <div v-show="!isChangedSuccessfully">

                            <p>Fill your email address below.</p>
                            <p>System will send you a mail with a <span class="text-warning">temporary check code</span>.</p>
                            <p>Follow the instructions to <strong class="text-warning">RESET</strong> your password.</p>
                            <p>Be aware of that the code expires after <span class="text-warning">10 minutes</span></p>

                            <hr />
                        </div>

                        <form role="form">
                            <div class="form-group">
                                <label class="control-label" for="exampleInputEmail">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter email" v-model="email" v-bind:disabled="isSendingResetPasswordEmail || isChangingPassword">
                            </div>
                        </form>

                        <div v-show="isChangingPassword && !isChangedSuccessfully" class="animated fadeIn">
                            <hr />
                            <p>
                                System has send you an email. Please check.
                            </p>
                            <form role="form">
                                <div class="form-group">
                                    <label class="control-label" for="exampleInputEmail">Reset password check code</label>
                                    <input type="text" class="form-control" v-model="checkCode" v-bind:disabled="isSendingNewPassword">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="exampleInputEmail">New password</label>
                                    <input type="password" class="form-control" v-model="newPassword" v-bind:disabled="isSendingNewPassword">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="exampleInputEmail">Repeat password</label>
                                    <input type="password" class="form-control" v-model="repeatPassword" v-bind:disabled="isSendingNewPassword">
                                </div>
                            </form>
                        </div>

                        <div class="alert alert-danger animated fadeIn" v-show="sendPasswordFailErrorMessage">
                            {{sendPasswordFailErrorMessage}}
                        </div>

                        <div class="alert alert-success animated bounceIn" v-show="isChangedSuccessfully">
                            <strong>You password is updated!</strong> Try login by new password.
                        </div>

                    </div>
                    <div class="modal-footer">

                        @*Cancel*@
                        <button type="button" class="btn btn-default" data-dismiss="modal" v-show="!isSendingResetPasswordEmail && !isChangingPassword">Cancel</button>

                        @*Send*@
                        <button type="button" class="btn btn-primary" v-on:click="sendBtnHandler" v-bind:disabled="isSendingResetPasswordEmail" v-show="!isChangingPassword">
                            <span>
                                <i class="fa fa-spin fa-spinner" v-show="isSendingResetPasswordEmail"></i>
                                <i class="fa fa-send" v-show="!isSendingResetPasswordEmail"></i>
                                &nbsp;Send
                            </span>
                        </button>

                        @*Comfirm*@
                        <button type="button" class="btn btn-success animated fadeIn" v-show="isChangingPassword && !isChangedSuccessfully" v-on:click="confirmBtnHandler" v-bind:disabled="isSendingNewPassword">
                            <i class="fa fa-spin fa-spinner" v-show="isSendingNewPassword"></i>
                            <i class="fa fa-check" v-show="!isSendingNewPassword"></i>
                            &nbsp;Comfirm
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @*vue js*@
    <script src="~/Scripts/vue/vue.min.js"></script>

    <script>

        var app = new Vue({
            el: '#app',
            data: {
                email: '',
                isSendingResetPasswordEmail: false,
                sendPasswordFailErrorMessage: null,
                isChangingPassword: false,
                isSendingNewPassword: false,
                checkCode: '',
                newPassword: '',
                repeatPassword: '',
                isChangedSuccessfully: false,
                apiForgetPassword: '@WebConfigurationManager.AppSettings["SiteRoot"]' + '/api/forgetpassword',
                apiChangePassword: '@WebConfigurationManager.AppSettings["SiteRoot"]' + '/api/changepassword',
            },
            methods: {
                sendBtnHandler: function () {
                    if (this.isSendingResetPasswordEmail === true) {
                        return;
                    }

                    if (!this.email) {
                        this.sendPasswordFailErrorMessage = 'Please fill you email address.';
                        return;
                    }

                    this.sendPasswordFailErrorMessage = null;

                    this.isSendingResetPasswordEmail = true;

                    //ajax call
                    var _this = this;

                    //Call forget password api
                    $.post(this.apiForgetPassword, {
                        email: this.email
                    }).then(function (res) {
                        //success
                        console.log(res);

                        _this.isSendingResetPasswordEmail = false;
                        _this.sendPasswordFailErrorMessage = null;

                        if (res.Result === false) {
                            _this.endPasswordFailErrorMessage = res.Message;
                        } else {
                            _this.isChangingPassword = true;

                            if (res.ResultCode === 1) {
                                //仍有尚未過期的驗證碼
                                //do nothing...
                            }
                        }


                    }, function (err) {
                        //fail
                        console.error(err);

                        this.isSendingResetPasswordEmail = false;
                        this.endPasswordFailErrorMessage = 'Send email fail, please try again later.';
                    });


                },//end sendBtnHandler
                confirmBtnHandler: function () {

                    if (!this.isChangingPassword) {

                        return;

                    } else if (!this.checkCode || !this.newPassword || !this.repeatPassword) {

                        this.sendPasswordFailErrorMessage = 'Please enter check code, password and repeat password';
                        return;

                    } else if (this.newPassword !== this.repeatPassword) {

                        this.sendPasswordFailErrorMessage = 'Password is not the same';
                        return;
                    }

                    this.sendPasswordFailErrorMessage = null;
                    this.isSendingNewPassword = true;

                    var _this = this;

                    //Call change password api
                    $.post(this.apiChangePassword, {
                        Email: this.email,
                        TempPassword: this.checkCode,
                        Password: this.newPassword,
                        RepeatPassword: this.repeatPassword,
                    }).then(function (res) {
                        //call api success
                        if (res.Result) {
                            //change pwd success
                            _this.sendPasswordFailErrorMessage = null;
                            _this.isChangedSuccessfully = true;
                            _this.isSendingNewPassword = false;
                        } else {
                            //change pwd fail
                            _this.sendPasswordFailErrorMessage = res.Message;
                            _this.isSendingNewPassword = false;
                        }
                    }, function (err) {
                        //call api fail
                        _this.sendPasswordFailErrorMessage = err;
                        _this.isSendingNewPassword = false;
                    })

                },//end confirmBtnHandler
            },
        });

    </script>

</body>



</html>