﻿/*
    上方Menu active項目hightlight
*/
@media screen and (min-width: 768px) {
    .navbar-nav > li > a.active{
        border-bottom:solid 2px #FC9F4D;
        box-sizing:border-box;
    }

    .navbar-nav > li > a:not(.active) {
        border-bottom: solid 2px #df691a;
    }

    .navbar-nav > li > a:not(.active):hover {
        border-bottom: solid 2px #c85e17;
    }
}