﻿.card-panel{
    color:white;
    padding:20px;
    border-radius:5px
}

.text-large{
    font-size: 40px;
}

/*.text-medium-large{
    font-size: 32px;
}*/

.text-medium{
    font-size: 24px;
}

.margin-bottom-sm{
    margin-bottom: 10px;
}

.clickable{
    cursor:pointer;
}

.no-max-width{
    max-width: none;
}

.no-border{
    border:none;
}

.no-shadow{
    box-shadow:none;
    -webkit-box-shadow:none;
}

.full-width{
    width:100%;
}