﻿@model DsSite.Models.ViewModels.AuthorizationManagementViewModel

@{
    ViewBag.Title = "Authorization Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 style="color: orange">Role and Menu</h3>


<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Desc</th>
            <th>Authorization Controller/Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model.Roles)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td>@role.Description</td>
                <td>
                    @if (role.Menus != null)
                    {
                        <ul>
                            @foreach (var menu in role.Menus)
                            {
                                <li>
                                    <span>@menu.Controller</span>
                                    &nbsp;/&nbsp;
                                    <span>@menu.Action</span>
                                </li>
                            }
                        </ul>
                    }
            </td>
            </tr>
        }
    </tbody>
</table>

<hr />

<h3 style="color: orange">User and Role</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.UserId</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>
                    @if (user.Roles != null)
                    {
                        <ul>
                            @foreach (var role in user.Roles)
                            {
                                <li>
                                    <span>@role.Name</span>
                                </li>
                            }
                        </ul>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>