<template>
    <div>
        <h2 class="col-xs-5 col-md-4 col-lg-4" style="display: inline-block;">{{ $t("message.Account_Accounts")}}</h2>
        <div class="col-md-8 col-xs-7 col-lg-8">
            <div style="display: inline-block;margin-top: 10px;" class="pull-right">
                <input type="text" class="btn btn-default btn-sm" style="cursor:text;text-align: left" v-bind:placeholder=" $t('message.Search')" id="btnSearch" v-model="searchText">
                <i class="fa fa-search" style="margin-left: 3px;cursor: pointer"></i>
            </div>
        </div>
        <div style="clear:both"> </div>
        <index-tab-panel>
            <div slot="accounts">
                <div class="row">
                    <!-- <div class="col-md-2"> -->
                    <button type="button" class="btn btn-default btn-sm" style="margin: 2px;" data-toggle="modal" data-target="#add-edit-account-id" @click="addAccount">
                        <i class="fa fa-user-plus text-success"></i>
                        &nbsp; {{ $t("message.Account_AddAccount")}}
                    </button>
                    <!-- </div> -->
                    <!-- <div class="col-md-3"> -->
                    <transition name="fade">
                        <div v-if="selectedUserSettings.length>0" style="display: inline-block;">
                            <button type="button" class="btn btn-default btn-sm" style="margin: 2px;" data-toggle="modal" data-target="#delete-transfer-account-id" @click="deleteUser">
                                <i class="fa fa-user-times text-danger"></i>
                                &nbsp; {{ $t("message.Account_DeleteAccount")}}
                            </button>
                            <button type="button" class="btn btn-default btn-sm" style="margin: 2px;" data-toggle="modal" data-target="#assign-account-id">
                                <i class="fa fa-cog text-info"></i>
                                &nbsp;{{ $t("message.Account_AssignAccount")}}&nbsp;
                                <span class="label" style="background:#d9534f">{{ selectedUserSettings.length}}</span>

                            </button>
                        </div>
                    </transition>
                    <!-- </div> -->

                </div>
                <br>
                <div class="row">
                    <!-- <div class="col-md-12"> -->
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <label class="btn btn-default btn-sm" style="margin: 2px;">
                                        <input type="checkbox" v-model="accountSelectAll"> {{ $t("message.All")}}
                                    </label>
                                </th>
                                <th>{{ $t("message.Account_Name")}}</th>
                                <th>{{ $t("message.Account_EMail")}}</th>
                                <th>{{ $t("message.Account_Role")}}</th>
                                <th>{{ $t("message.Account_LastLoginTime")}}</th>
                                <th>{{ $t("message.CreateDate")}}</th>
                                <th>{{ $t("message.Edit")}}</th>
                                <th>{{ $t("message.Transfer")}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="user in users" :key="'roleUser'+user.Id+page">
                                <td class="col-md-1" >
                                    <label class="btn btn-default btn-sm" style="margin: 2px;">
                                        <input type="checkbox" v-model="selectedUserSettings" :value="user">
                                    </label>
                                </td>
                                <td class="col-md-1">{{user.Name}}</td>
                                <td class="col-md-2">{{user.Email}}</td>
                                <td class="col-md-3">
                                    <div v-for="role in user.SiteRole" :key="'role'+role" style="display: inline-block;">
                                        {{role}}
                                        <i class="fa fa-times text-danger" style="cursor: pointer" v-bind:title=" $t('message.Account_DeleteRole')" @click="deleteRole(user,role)"></i> &nbsp;
                                    </div>
                                    <span v-if="user.SiteRole == null">{{ $t("message.Account_UnassignedAccount")}}</span>
                                </td>
                                <td class="col-md-2">{{user.LastLoginTime}}</td>
                                <td class="col-md-2">{{user.CreateDate}}</td>
                                <td class="col-md-1">
                                    <i class="fa fa-pencil text-success" style="cursor: pointer" v-bind:title=" $t('message.Edit')" @click="edit(user)"></i>
                                </td>
                                <td class="col-md-1">
                                    <i class="fa fa-share-square-o text-warning" style="cursor: pointer" v-bind:title=" $t('message.Transfer')" data-toggle="modal" data-target="#delete-transfer-account-id" @click="transferUser(user.Id)"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div v-show="pageCount>0" class="col-xs-12" style="text-align: center;">
                        <paginate :page-count="pageCount" :page-range="4" :margin-pages="1" :click-handler="clickCallback" :prev-text="$t('message.Prev')" :next-text="$t('message.Next')" :container-class="'pagination'" :page-class="'page-item'" :page-rebuild="pageRebuild" @rebuildCallBack="pageRebuildHandler"></paginate>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <div slot="roles">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{ $t("message.Account_Name")}}</th>
                            <th>{{ $t("message.Account_Role")}}</th>
                            <th>{{ $t("message.Account_Authorization")}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="roleInfo in rolesInfo" :key="'roleInfo'+roleInfo.Name">
                            <td>{{roleInfo.Name}}</td>
                            <td>{{roleInfo.Description}}</td>
                            <td>
                                <ul>
                                    <li v-for="menu in roleInfo.Menus" :key="'menu'+menu">
                                        <span>
                                            <i class="fa fa-circle" style="font-color:white;font-size:10px;"></i>&nbsp;&nbsp;{{menu.Controller}}
                                        </span>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </index-tab-panel>

        <busy-fullscreen-modal :show="isSaving" :hide-delay="1000" :context="context"></busy-fullscreen-modal>

        <add-edit-account-modal modal-id="add-edit-account-id" :userInfo="editUserInfo" :roles="roles" @refreshUsers="refreshUsersHandler"></add-edit-account-modal>
        <assign-account-modal modal-id="assign-account-id" @refreshUsers="refreshUsersHandler" :roles="roles" :users="selectedUserSettings"></assign-account-modal>
        <delete-transfer-account-modal modal-id="delete-transfer-account-id" @refreshUsers="refreshUsersHandler" :userId="userId" :users="selectedUserSettings" :deletetranfer="deletetranfer"></delete-transfer-account-modal>

    </div>
</template>

<script>
import AddEditAccountModal from './modal/add-edit-account-modal.vue'
import AssignAccountModal from './modal/assign-account-modal.vue'
import DeleteTransferAccountModal from './modal/delete-transfer-account-modal.vue'
import RubberCheckbox from '../controls/rubber-checkbox.vue'
import BusyFullscreenModal from '../controls/modal/busy-fullscreen-modal.vue'
import IndexTabPanel from './index-tab-panel.vue'
import Paginate from '../controls/paginate.vue'

export default {
    name: 'account-management',
    components: {
        AddEditAccountModal,
        RubberCheckbox,
        DeleteTransferAccountModal,
        AssignAccountModal,
        BusyFullscreenModal,
        IndexTabPanel,
        Paginate
    },
    data() {
        return {
            users: [],
            roles: [],
            rolesInfo: [],
            selectedUserSettings: [],
            userId: 0,
            deletetranfer: true, //delete true,transfer false
            show: true,
            editUserInfo: {
                id: 0,
                name: '',
                email: '',
                password: '',
                comfirmPassword: '',
            },
            searchText: '',
            isSaving: false,
            context: '',

            pageCount: 1,  //總頁數
            pageRows: 10, //每頁顯示筆數
            page: 1, //當前頁數
            pageRebuild: false, // 重製分頁,
        }
    },
    watch: {
        searchText(val) {
            var vm = this
            //篩選搜尋的文字

            if (!val.trim().match(/^[^?*[+()^\\\/]+$/g) && vm.searchText.trim() != "") {
                alertify.logPosition("bottom right");
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + this.$i18n.messages[__culture].message.Error_0003);
            } else {
                vm.SearchtextDebounce(val)
            }
        }
    },
    mounted() {
        this.initUsers();
        this.getAllRoles();
        this.getRolesInfo();
    },
    computed: {
        accountSelectAll: {
            get() {
                var self = this;
                //比對user 與被選取的user項目 數量為0表示全選
                var arrSum = _.differenceWith(self.users, self.selectedUserSettings, _.isEqual)

                if (this.users.length > 0 && arrSum.length === 0) {
                    return true
                } else {
                    return false
                }
            },
            set(val) {
                var self = this
                if (val === true) {
                    var arrSum = _.differenceWith(self.users, self.selectedUserSettings, _.isEqual)
                    //合併選取的user
                    var arrSelectedUsers = _.union(self.selectedUserSettings, arrSum)
                    self.selectedUserSettings = _.cloneDeep(arrSelectedUsers)
                } else {
                    _.pullAllWith(self.selectedUserSettings, self.users, _.isEqual)
                    self.selectedUserSettings = _.cloneDeep(self.selectedUserSettings)
                }
            }
        }
    },
    methods: {
        //取得所有使用者資料
        initUsers: function() {
            var vm = this;
            var obj = {
                Page: vm.page,
                PageRows: vm.pageRows,
                DeviceName: ''
            }
            //判斷是否帶有deviceName搜尋
            if (vm.searchText.trim() != '') {
                obj.DeviceName = vm.searchText.trim()
            }
            vm.context = this.$i18n.messages[__culture].message.Loading;
            vm.isSaving = true;
            $.post("/ace/api/account/getAllAccounts", obj)
                .done(function(res) {
                    if (res.Result) {
                        vm.pageCount = res.Data.PageCount
                        vm.users = res.Data.UserInfoList

                    }
                    else {
                        vm.pageCount = 0;
                        vm.users = [];
                        alertify.logPosition("bottom right");

                    }
                }).fail((err) => {
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace('/ace')
                    }
                }).always(function() {
                    vm.isSaving = false;
                });

        },
        //取得所有角色資料
        getAllRoles: function() {
            var vm = this;
            $.post("/ace/api/account/getAllRoles").done(function(res) {
                if (res.Result) {
                    vm.roles = res.Data;
                }
            }).fail((err) => {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
            });
        },
        //取得角色對應表(Menu)清單
        getRolesInfo: function() {
            var vm = this;
            $.post("/ace/api/account/getRolesInfo").done(function(res) {
                if (res.Result) {
                    vm.rolesInfo = res.Data;
                }
            }).fail((err) => {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
            });
        },
        refreshUsersHandler: function(bool) {
            if (bool) {
                //重設畫面
                this.initUsers();
                this.selectedUserSettings = [];
            }
        },
        addAccount: function() {
            //清空編輯資料
            this.editUserInfo = {
                id: 0,
                name: '',
                email: '',
                password: '',
                comfirmPassword: '',
                roles: []
            };
        },
        deleteUser: function() {
            this.deletetranfer = true;
        },
        transferUser: function(id) {
            this.deletetranfer = false;
            this.userId = id;
        },
        edit: function(user) {
            //設定編輯資料
            this.editUserInfo = {
                id: user.Id,
                name: user.Name,
                email: user.Email,
                password: user.HashedPassword,
                comfirmPassword: user.HashedPassword,
                roles: user.SiteRole
            };
            $("#add-edit-account-id").modal('show');
        },
        deleteRole: function(user, role) {
            var self = this;
            $.post("/ace/api/account/deleteRole", {
                Id: user.Id, Role: role
            }).done(function(res) {
                if (res.Result) {
                    alertify.logPosition("bottom right");
                    alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + self.$i18n.messages[__culture].message.DeleteSuccess);
                    //重整頁面
                    self.initUsers();
                }
            }).fail((err) => {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
            });
        },
        clickCallback(val) {
            this.page = val
            this.initUsers()
        },
        pageRebuildHandler(val) {
            this.pageRebuild = false;
        },
        SearchtextDebounce: _.debounce(
            function(text) {
                var vm = this
                vm.page = 1
                vm.pageRebuild = true
                vm.initUsers()
                vm.selectedUserSettings = [];
            },
            500
        )
    }
}
</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}
</style>
