﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test Multilanguage</h2>

<hr />
<div>
    <form action="@Url.Action("SaveLan", "MultiLan")" method="post">
        語言:
        <select name="code" class="form-control" style="width:120px; display: inline-block">
            <option value="en-us">English</option>
            <option value="zh-tw">繁體中文</option>
        </select>
        <button type="submit" class="btn btn-default">儲存</button>
    </form>
</div>
<br />
<div>
    Controller取多語:@ViewBag.ControllerText
</div>
<div>
    Razor取多語: @DsHelper.LText("save")
</div>
<div>
    jQuery取多語: <span id="sp1"></span>
</div>

@section scripts {
    <script>
        $(document).ready(function () {

            var text = LText("save")

            $("#sp1").text(LText("save"))

        })
    </script>
}