<template>
    <div id="CampaignCalendar" class="tab-pane fade in active">
        <div class="col-xs-12">
            <div class="col-xs-12" style="background-color:#596a7b;">
                <div class="col-xs-12">
                    <p>
                        <h2>
                            <i class="fa fa-calendar"></i>&nbsp;{{$t("message.Device_CampaignCalendar")}}
                        </h2>
                    </p>
                    <!--大行事曆-->
                    <div class="col-xs-12" style="background-color:white;margin-bottom:10px ; color:black">
                        <div class="col-xs-12">
                            <div class="pull-left col-xs-2" id="previousmonth" @click="ChangeMonth(-1)">
                                <i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
                            </div>
                            <div class="text-center  col-xs-8" style="font-size:1.5em" id="CalendarMonth">{{month}}</div>
                            <div class="col-xs-2" id="nextmonth" @click="ChangeMonth(1)">
                                <i class=" fa fa-angle-right fa-2x " aria-hidden="true "></i>
                            </div>
                        </div>

                        <table class="col-xs-12 " id="Calendar" style="margin-bottom:10px">
                            <tr>
                                <th style="width:14% ">{{$t("message.Mon")}}</th>
                                <th style="width:14% ">{{$t("message.Tue")}}</th>
                                <th style="width:14% ">{{$t("message.Wed")}}</th>
                                <th style="width:14% ">{{$t("message.Thu")}}</th>
                                <th style="width:14% ">{{$t("message.Fri")}}</th>
                                <th style="width:14% " class="text-danger">{{$t("message.Sat")}}</th>
                                <th style="width:14% " class="text-danger">{{$t("message.Sun")}}</th>
                            </tr>
                            <tr v-for="w in totalWeek" :key="'totalWeek'+w">
                                <td v-for="wd in 7 " style="width:14%;height:100px;" :key="'weekDay'+wd">
                                    <div :style="selectedDateTd[(w-1)*7 + wd]?'background-color:lightblue':'background-color:white'">
                                        <div v-if="calendarList[(w-1)*7 + wd] != null" @click="ChangeDate(calendarList[(w-1)*7 + wd].DateNumber,(w-1)*7 + wd)" :id="'CalDate'+calendarList[(w-1)*7 + wd]">
                                            <!--日期-->
                                            <div :class="(wd === 6|| wd === 7)?'text-danger':''">{{calendarList[(w-1)*7 + wd].DateNumber}}</div>
                                            <div style="height:80px">
                                                <!--general-->
                                                <div v-if="calendarList[(w-1)*7 + wd].CampaignCount[0]>0">
                                                    <span class="badge" :title="$t('message.General')">
                                                        <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                                        {{calendarList[(w-1)*7 + wd].CampaignCount[0]}}
                                                    </span>
                                                </div>
                                                <!--face-->
                                                <div v-if="calendarList[(w-1)*7 + wd].CampaignCount[1]>0">
                                                    <span class="badge" style="background-color:#1aa2df" :title="$t('message.FaceDetection')">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                        {{calendarList[(w-1)*7 + wd].CampaignCount[1]}}
                                                    </span>
                                                </div>
                                                <!--spot-->
                                                <div v-if="calendarList[(w-1)*7 + wd].CampaignCount[2]>0">
                                                    <span class="badge" style="background-color:rgba(255, 115, 0, 0.9)" :title="$t('message.Spot')">
                                                        <i class="fa fa-bell" aria-hidden="true"></i>
                                                        {{calendarList[(w-1)*7 + wd].CampaignCount[2]}}
                                                    </span>
                                                </div>
                                                <!-- event -->
                                                <div v-if="calendarList[(w-1)*7 + wd].CampaignCount[3]>0">
                                                    <span class="badge" style="background-color:rgba(255, 115, 0, 0.9)" :title="$t('message.Event')">
                                                        <i class="fa fa-bolt" aria-hidden="true"></i>
                                                        {{calendarList[(w-1)*7 + wd].CampaignCount[3]}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
                <DetailCampaignCalendarInfo :deviceId="deviceId" :screenGroupId="screenGroupId" :selectedDate="selectedDate" />
            </div>
        </div>
    </div>
</template>
<script>
import DetailCampaignCalendarInfo from "./detail-campaign-calendar-info.vue";
import Bus from "../../controls/bus";

export default {
  name: "detail-campaign-calendar",
  components: {
    DetailCampaignCalendarInfo
  },
  props: {
    deviceId: {
      type: Number,
      default: null
    },
    screenGroupId: {
      type: Number,
      default: null
    }
  },
  created() {
    Bus.$on("Device-ScheduleSummaryChange", res => {
      if (res) this.InitialCalendar();
    });

    Bus.$on("Device-CampaignChange", res => {
      if (res) this.InitialCalendar();
    });
  },
  watch: {
    deviceId() {
      this.InitialCalendar();
    },
    screenGroupId() {
      this.InitialCalendar();
    }
  },
  data() {
    return {
      month: "",
      num: 0,
      totalWeek: 0, //一個月幾周
      firstDateWeekDate: 0, //每個月第一天是星期幾
      lastDateOfMonth: 0, //那個月有幾天
      campaignCalendarlist: [],
      calendarList: [],
      selectedDate: "",
      selectedDateTd: []
    };
  },
  mounted() {
    var vm = this;
    var d = new Date();
    var thismonth = d.getFullYear() + "/" + (d.getMonth() + 1);
    this.month = thismonth;
  },
  methods: {
    InitialCalendar() {
      var vm = this;
      $.post("/ace/api/device/getdevicecampaigncalendar", {
        DeviceId: vm.deviceId,
        ScreenGroupId: vm.screenGroupId,
        Month: vm.month,
        Num: vm.num
      })
        .done(res => {
          if (res.Data) {
            vm.SetCalendar(res.Data);
          } else {
            vm.message = {
              type: "fail",
              msg: res.Message
            };
          }
        })
        .fail(err => {
          if (err.readyState === 4 && err.status === 401) {
            window.location.replace("/ace");
          }
          vm.message = {
            type: "fail",
            msg: err
          };
        });
    },
    SetCalendar(data) {
      var firstDate = data.FirstDateWeekDate;
      var lastdate = data.LastDateOfMonth;
      this.totalWeek = data.TotalWeek;
      this.firstDateWeekDate = data.FirstDateWeekDate;
      this.month = data.NewMonth;
      this.lastDateOfMonth = data.LastDateOfMonth;
      this.calendarList = [];

      if (firstDate == 0) firstDate = 7;

      for (var i = 0; i < firstDate; i++) {
        this.calendarList.push(null);
      }
      this.calendarList.push(...data.CampaignCalendarList);
    },
    ChangeMonth(num) {
      this.num = num;
      this.InitialCalendar();
      this.selectedDate = "";
      this.selectedDateTd = [];
      //reset num after change
      this.num = 0;
    },
    ChangeDate(day, arrayPosition) {
      this.selectedDate = this.month + "/" + day;
      this.selectedDateTd = [];
      this.selectedDateTd[arrayPosition] = true;
    }
  }
};
</script>
<style scoped>

</style>