<template>
    <div>
        <div class="col-xs-12" id="topTag">
            <!--回到device頁面  -->
            <h3>
                <a class="back-btn" href="/ace/Device">
                    <i class="fa fa-chevron-left "></i>&nbsp;
                </a>
            </h3>
            <h4 v-if="deviceInfo!=null">
                <div v-if="deviceInfo.ConnectionStatus" :title="$t('message.Device_Online')">
                    <i class="fa fa-circle" style="color:green;"></i>
                </div>
                <div v-else :title="$t('message.Device_Offline')">
                    <i class="fa fa-circle" style="color:rgb(181, 22, 22);"></i>
                </div>
            </h4>

            <h1 v-if="deviceInfo!=null">
                <i class="fa fa-desktop"></i>
            </h1>
            <!--screen Group  -->
            <h1 v-else>
                <i class="fa fa-th-large"></i>
            </h1>
            <!--rename-->
            <h1 id="NameArea">
                <label v-if="state === 'view'" style="max-width:320px;text-overflow: ellipsis;overflow: hidden;white-space:nowrap;" :title="rename">{{rename}}</label>
                <div v-else>
                    <input type="text" class="form-control" v-model="rename" v-on:keyup.enter="SaveName" id="NameEdit" v-on:keyup.esc="CancelChange" />
                </div>
                <button v-if="state === 'view'" type="button" class="btn btn-success btn-xs" style="border-radius:.3em" @click="state = 'edit'">
                    <i class="fa fa-pencil"></i>
                    {{$t("message.Device_Rename")}}
                </button>
            </h1>
            <!--Dispatch icon (device)-->
            <h3 v-if="deviceInfo!=null">
                <dispatch-status :status="deviceInfo.DispatchStatus" isShowText="true"></dispatch-status>
            </h3>
        </div>
        <!--progessBar(device)-->
        <div v-if="deviceInfo!=null" class="col-xs-12" style="z-index:100">
            <div class="progress" style="float:left;">
                <div class="progress-bar " :class="PrograssBar()" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="dropdown">
                <i class="fa fa-info-circle fa-lg pull-right" aria-hidden="true"></i>
                <div class="dropdown-content">
                    <div id="container"></div>
                    <!--百分比圖-->
                    <div style="text-align:center;">
                        <p style="white-space:nowrap;">{{$t("message.Device_HardDiskUsage")}} :&nbsp; {{deviceInfo.DiskUsage}}&nbsp;GB</p>
                        <!--DiskUsage-->
                        <p style="white-space:nowrap;">{{$t("message.Device_HardDiskFreeSpace")}} :&nbsp; {{RemainStorage}}&nbsp;GB</p>
                        <!--DiskCapacity-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import DispatchStatus from '../../controls/dispatch-status.vue'

export default {
    name: 'detail-page-head',
    components: {
        DispatchStatus
    },
    props: {
        deviceInfo: {
            type: Array,
            required: false,
            default: null
        },
        screenInfo: {
            type: Array,
            required: false,
            default: null
        },
        deviceId: {
            type: Number,
            required: false,
            default: null
        },
        screenGroupId: {
            type: Number,
            required: false,
            default: null
        }
    },
    data() {
        return {
            state: 'view',
            Id: 0,
            rename: '',
            originalRename: '',
            storageStatus: 0
        }
    },
    mounted() {
        this.Id = window.location.pathname.split("/").pop();
    },
    watch: {
        deviceInfo() {
            this.rename = this.deviceInfo.DeviceName
            this.originalRename = this.deviceInfo.DeviceName
        },
        screenInfo() {
            this.rename = this.screenInfo.Name
            this.originalRename = this.screenInfo.Name
        },
        'deviceInfo.DiskUsageRate': function() {
            this.Chart();
            var vm = this
            $('.progress-bar').css('width', vm.deviceInfo.DiskUsageRate + '%');
            if (vm.deviceInfo.DiskUsageRate <= 50) {
                vm.storageStatus = 0;
            } else if (vm.deviceInfo.DiskUsageRate <= 80) {
                vm.storageStatus = 1;
            } else {
                vm.storageStatus = 2;
            }
            vm.PrograssBar();
        }
    },
    computed: {
        RemainStorage: function() {
            return this.RemainingSpace()
        }
    },
    methods: {
        Chart() {
            var vm = this;
            var chart = c3.generate({
                bindto: "#container",
                data: {
                    columns: [
                        [vm.$i18n.messages[__culture].message.Device_HardDiskUsage, vm.deviceInfo.DiskUsage],
                        [vm.$i18n.messages[__culture].message.Device_HardDiskFreeSpace, vm.RemainingSpace()]
                    ],
                    type: 'donut'
                },
                donut: {
                    title: vm.deviceInfo.DiskUsageRate.substring(0, 5) + "%"
                },
                color: {
                    pattern: ['#dc6514', '#e2c726']
                },
                size: {
                    height: 200,
                    width: 200
                },
                legend: {
                    position: 'bottom'
                },
                tooltip: {
                    show: false
                },
            });
            $('#container').find('svg>g>g>text').css("fill", "white")
            $('#container').find('svg').css({ "display": "block", "margin": "auto" })
            $('#container').find('.c3-chart-arcs-title').css("fill", "white")
        },
        //更改名字
        SaveName() {
            var vm = this;
            var apiName = vm.rename.trim()
            if (apiName == '') {
                alertify.logPosition("bottom right");
                //Name can't be empty
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.Error_0004);
                return
            } else if (apiName.length > 50) {
                alertify.logPosition("bottom right");
                //Name is over than 50
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.Error_0009)
                return
            } else if (!apiName.match(/^[^?*[+()^\\\/]+$/g)) {
                alertify.logPosition("bottom right");
                //Can't Insert Special Characters
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.Error_0003);
                return
            } else {
                // device screengroup call 同一支API 
                $.post("/ace/api/device/rename", {
                    DeviceId: vm.deviceId,
                    ScreenGroupId: vm.screenGroupId,
                    Name: apiName
                }).done((res) => {                  
                    if (res.Result) {
                        alertify.logPosition("bottom right");
                        alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.SaveSuccess)
                        vm.state = 'view';
                        vm.$emit('DetailRepost', true)
                    } else {
                        alertify.logPosition("bottom right");
                        alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message[res.Message])
                    }
                }).fail((err) => {
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace('/ace')
                    }
                })
            }
        },
        PrograssBar() {
            switch (this.storageStatus) {
                //安全 綠色
                case 0:
                    return 'green'
                //橘色警戒
                case 1:
                    return 'orange'
                //紅色危險
                case 2:
                    return 'red'
                default:
                    return 'green'
            }
        },
        RemainingSpace() {          
            return parseFloat(parseFloat(this.deviceInfo.DiskCapacity) - parseFloat(this.deviceInfo.DiskUsage)).toFixed(2)
        },
        CancelChange() {
            this.rename = this.originalRename
            this.$nextTick(() => {
                this.state = 'view'
            })
        }
    }

}
</script>
<style scoped>
#topTag>h1,
h2,
h3,
h4,
h5 {
    margin: 5px 10px;
    vertical-align: middle;
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #577998;
    max-width: 400px;
    right: 20px;
    padding: 10px;
    box-shadow: 1px 1px 10px 2px #cccccc;
    border-radius: 10%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.progress {
    width: 98%;
    height: 15px;
    border-radius: 3px;
    background: #bdbdbd;
    border: 1px solid #a9a0ba;
}

.green {
    background-color: #25b325;
}

.red {
    background-color: #c72121;
}

.orange {
    background-color: #e46741;
}

a {
    color: white;
    text-decoration: none;
}
</style>


