<template>
    <div class="col-xs-12">
        <h3 v-if="selectedDate!==''">{{$t('message.Device_NowSelect')}}&nbsp;:&nbsp;{{selectedDate}}</h3>
        <template v-if="selectedDate!==''">
            <div class="col-xs-12" v-for="cp in campaigns" style="background-color:#405161;margin-top:10px; margin-bottom:10px">
                <!--Campaign Name  -->
                <div class="col-xs-12 col-md-2" style="margin:4.5% 0;">
                    <i v-show="cp.Playorder>0" class="fa fa-bullhorn " style="display:inline-block" :title="$t('message.General')"></i>
                    <i v-show="cp.HasFaceDetectionRule" class="fa fa-eye " style="display:inline-block" :title="$t('message.FaceDetection')"></i>
                    <i v-show="cp.Spot" class="fa fa-bell " style="display:inline-block" :title="$t('message.Spot')"></i>
                    <i v-show="cp.Event" class="fa fa-bolt " style="display:inline-block" :title="$t('message.Event')"></i>
                    <div style="text-overflow: ellipsis;overflow: hidden;display:inline-block" :title="cp.CampaignName">{{cp.CampaignName}}</div>
                </div>
                <!--content  -->
                <div class="col-xs-6 col-md-5" style="margin:1% 0;">
                    <div class="col-lg-12 col-xs-12">
                        <div class="inline">
                            <i class="fa fa-calendar" aria-hidden="true"> {{$t('message.Device_ExpiryDate')}}:</i>
                        </div>
                        <div class="inline" style="padding-left:10px;">
                            {{ValidDuration(cp)}}
                        </div>
                    </div>
                    <div class="col-lg-12 col-xs-12">
                        <template v-if="!cp.Event">
                            <div class="inline">
                                <i class="fa fa-clock-o" aria-hidden="true"> {{$t('message.Device_PlayTime')}}:</i>
                            </div>
                            <div class="inline" style="padding-left:10px;">
                                {{PlayTime(cp)}}
                            </div>
                        </template>
                    </div>
                    <div class="col-lg-12 col-xs-12">
                        <template v-if="!cp.Event">
                            <div class="inline">
                                <i class="fa fa-retweet" aria-hidden="true"> {{$t('message.Device_CyclePlaying')}}:</i>
                            </div>
                            <div class="inline">
                                <div class="table-text-align">
                                    <ul v-if="cp.HasCalendarRule">
                                        <li v-for="day in cp.RepeatWeekDay" :key="'repeatDay'+day" style="margin-right:5px;display:inline-block;">
                                            <img :src="'/ace/images/' + day +'.png'" alt="Folder" />
                                        </li>
                                    </ul>
                                    <span v-else>{{$t('message.Device_ReplayWholeWeek')}}</span>
                                </div>
                            </div>
                        </template>
                    </div>
                    <div v-if="cp.HasFaceDetectionRule" class="col-lg-12 col-xs-12">
                        <i class="fa fa-eye" aria-hidden="true"> {{$t('message.FaceDetection')}}:</i>
                        <i v-if="cp.Gender == 1 || cp.Gender == 0" class="fa fa-mars text-info" style="font-size: 15px;" :title="$t('message.Male')"></i>&nbsp;
                        <i v-if="cp.Gender == 2 || cp.Gender == 0" class="fa fa-venus text-danger" style="font-size: 15px;" :title="$t('message.Female')"></i>
                        <span>{{cp.AgeRestriction}}</span>
                    </div>
                    <div v-if="cp.Spot" class="col-lg-12 col-xs-12">
                        <i class="fa fa-bell" aria-hidden="true"> {{$t('message.Spot')}}</i>
                    </div>
                </div>
                <!--button  -->
                <div class="col-xs-4 col-md-5" style="text-align:center; margin:4.5% 0;">

                    <a class="btn btn-sm btn-success" :href="'/ace/campaign/editor/' +cp.CampaignId" style="border-radius:.3em;margin:5px">
                        <i class="fa fa-cog"></i>
                        {{$t('message.Campaign')}}
                    </a>

                    <button type="submit" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#edit-publish-modal" @click="EditClick(cp.ScheduleSummaryId)" style="border-radius:.3em ;margin:5px">
                        <i class="fa fa-pencil"></i> {{$t('message.Device_Restriction')}}
                    </button>

                </div>
            </div>
        </template>
    </div>
</template>

<script>
import Bus from "../../controls/bus";

export default {
  name: "detail-campaign-calendar-info",
  data() {
    return {
      scheduleSummaryId: -1,
      campaigns: []
    };
  },
  created() {
    Bus.$on("Device-ScheduleSummaryChange", res => {
      if (res) this.GetDispachedCampaignByDate();
    });
  },
  props: {
    selectedDate: {
      type: String,
      default: null
    },
    deviceId: {
      type: Number,
      default: -1
    },
    screenGroupId: {
      type: Number,
      default: null
    }
  },
  watch: {
    selectedDate() {
      this.GetDispachedCampaignByDate();
    }
  },
  methods: {
    GetDispachedCampaignByDate() {
      var vm = this;
      if (vm.selectedDate != "") {
        $.post("/ace/api/device/getdeviceseleteddatecampaign", {
          DeviceId: vm.deviceId,
          ScreenGroupId: vm.screenGroupId,
          SelectedDate: vm.selectedDate
        })
          .done(res => {
            if (res.Result) {
              vm.campaigns = res.Data;
            }
          })
          .fail(err => {
            if (err.readyState === 4 && err.status === 401) {
              window.location.replace("/ace");
            }
          });
      }
    },
    ValidDuration(cp) {
      if (cp.Enddate == null) {
        return cp.Startdate + "~";
      } else {
        return cp.Startdate + "~" + cp.Enddate;
      }
    },
    PlayTime(cp) {
      if (cp.DailyStartTime == "00:00:00" && cp.DailyEndTime == "23:59:59") {
        return this.$i18n.messages[__culture].message.Campaign_PlayAllDay;
      } else if (cp.Spot) {
        return cp.DailyStartTime + " ~";
      } else {
        return cp.DailyStartTime + "~" + cp.DailyEndTime;
      }
    },
    EditClick(val) {
      Bus.$emit("Device-EditorScheduleSummaryId", val);
    }
  }
};
</script>


<style scoped>
i {
  padding: 8px;
}

.inline {
  display: inline-block;
}
</style>

