<template>
    <div id="DeviceInfo" class="tab-pane fade in active">
        <div class="col-xs-12">
            <div class="panel">
                <!--device title  -->
                <div v-show="deviceId>0" class="panel-heading">
                    <i class="fa fa-television"></i>&nbsp; {{$t("message.Device_DeviceSetting")}}
                </div>
                <!--screen group title  -->
                <div v-show="screenGroupId>0" class="panel-heading">
                    <i class="fa fa-th-large"></i>&nbsp; {{$t("message.Device_ScreenGroupSetting")}}
                </div>

                <div class="panel-body">
                    <div class="col-xs-12 col-md-6">
                        <!--一般設定-->
                        <p>
                            <i class="fa fa-cog">&nbsp; {{$t("message.Device_NormalSetting")}}</i>
                        </p>
                        <div class="space-20 col-xs-12">
                            <!--locationButton -->
                            <div class="btn btn-sm btn-warning" data-toggle="modal" data-target="#LocationSetting" :title="$t('message.Device_LocationSetting')" @click="LocationButtonClick" style="border-radius:.3em">
                                <i class="fa fa-map-marker"></i>&nbsp; {{$t("message.Location")}}
                            </div>

                            <div class="btn btn-sm btn-primary" data-toggle="modal" data-target="#DefaultScreenList" :title="$t('message.Device_DefaultScreenSetting')" style="border-radius:.3em">
                                <i class="fa fa-picture-o"></i>&nbsp; {{$t("message.Device_DefaultScreen")}}
                            </div>
                            <!--device 才show  -->
                            <div v-if="deviceId>0" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modalDeleteDevice" :title="$t('message.Device_DeleteDevice')" style="border-radius:.3em">
                                <i class="fa fa-trash-o"></i>&nbsp; {{$t("message.Device_DeleteDevice")}}
                            </div>
                            <div style="margin-top:5px">
                                <span>{{$t("message.Device_AutomaticallyShutDown")}} :</span>
                                <input type="text" id="inputAutoShutDownTime" v-model="AutoShutDownTime" :placeholder="$t('message.Device_AutomaticallyShutDownSetting')">
                                <i class="fa animated text-success buttonOfAutoDown" :class="TimeIconClass(shutDownButton)" :title="shutDownButton?$t('message.Device_ClickSaveChange'):$t('message.Device_AlreadySaved')" @click="UpdateShutdownTime">
                                </i>
                            </div>
                        </div>
                        <!--@*臉部辨識設定*@-->
                        <p>
                            <i class="fa fa-eye">&nbsp; {{$t("message.Device_FaceDetectionSetting")}}</i>
                        </p>
                        <div class="space-20 col-xs-12">
                            <div v-show="enableFaceDetection" class="col-lg-6">
                                <div class="col-lg-12  col-xs-12 faceSetting">
                                    <span>{{$t("message.Device_OptionFaceDetection")}} :</span>
                                    <transition name="slide">
                                        <label for="faceSwitchInput">
                                            {{DetectButton}}
                                        </label>
                                    </transition>
                                    <input v-model="faceSwitch" @click="FaceSwitchChange" type="checkbox" id="faceSwitchInput" />
                                </div>
                                <transition name="fade">
                                    <div v-show="faceSwitch" class="col-lg-12  col-xs-12 faceSetting">
                                        <span>{{$t("message.Device_DetectionMode")}} :</span>
                                        <label for="detectInput">{{ModeButton}}</label>
                                        <input v-model="faceMode" @click="FaceModeChange" type="checkbox" id="detectInput" />
                                    </div>
                                </transition>
                                <div class="col-lg-12 col-xs-12 faceSetting">
                                    <span>{{$t("message.Device_ReportFaceDetection")}} :</span>
                                    <label for="reportInput">
                                        {{ReportButton}}
                                    </label>
                                    <input v-model="faceDetectionReportEnabled" @click="FaceDetectionReportEnabledChange" type="checkbox" id="reportInput" />
                                </div>
                            </div>
                        </div>
                        <!--@*播放器設定*@-->
                        <p>
                            <i class="fa fa-download">&nbsp; {{$t("message.Device_PlayerUpdateSetting")}}</i>
                        </p>
                        <div class="space-20 col-xs-12">
                            <div class="col-xs-12">
                                <div class="col-xs-12 faceSetting">
                                    <span>{{$t("message.Device_AutoUpdatePlayer")}} :</span>
                                    <label for="autoUpdateInputToggle">
                                        {{AutoUpdateButton}}
                                    </label>
                                    <input v-model="autoUpdateEnabled" @click="AutoUpdateEnabledChange" type="checkbox" id="autoUpdateInputToggle" />
                                </div>
                                <div v-show="autoUpdateEnabled" class="col-xs-12">
                                    {{$t('message.Device_AutoUpdateTime')}}:
                                    <input type="text" id="inputAutoUpdateTime" v-model="autoUpdateTime" :title="$t('message.Device_AutoUpdateTime')">
                                    <i class="fa animated text-success buttonOfAutoDown" :class="TimeIconClass(autoUpdateChangeButton)" :title="autoUpdateChangeButton?$t('message.Device_ClickSaveChange'):$t('message.Device_AlreadySaved')" @click="UpdateAutoUpdateTime"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div>
                            <p>
                                <i class="fa fa-desktop"> &nbsp;{{ $t("message.Device_DefaultScreen")}}</i>
                            </p>
                            <p class="img">
                                <img v-if="defaultScreenId != null" :src="'/ace/api/library/file-image/'+defaultScreenId" class="img-responsive" style="display:inline-block;max-height:200px" />
                                <label v-else style="background-color:dodgerblue;display:inline-block;height:200px;width:200px" class="img-responsive"></label>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--modal for location-setting-->
        <location-setting-modal :defaultLocationId="defaultLocationId" :device-id="deviceId" :location-initail="locationInitail" :screen-group-id="screenGroupId" />
        <default-screen-modal :device-id="deviceId" :screenGroupId="screenGroupId" :parent-default-screen="defaultScreenId" />
        <delete-device-modal :modalId="modalDeleteDevice" :screen-group-id="screenGroupId" :deviceId="deviceId"></delete-device-modal>

    </div>
</template>
    
<script>
import LocationSettingModal from '../modal/location-setting-modal.vue'
import DeleteDeviceModal from '../modal/delete-device-modal.vue'
import DefaultScreenModal from '../modal/default-screen-modal.vue'
import Bus from "../../controls/bus"

export default {
    name: 'detail-setting-area',
    components: {
        LocationSettingModal,
        DeleteDeviceModal,
        DefaultScreenModal
    },
    data() {
        return {
            autoShutDownTime: '',
            enableFaceDetection: '', //DB device 是否有臉部功能
            faceDetectionType: '', // DB 0: Single / 1: Multiple /null
            faceDetectionReportEnabled: '', //　DB device臉部報表功能
            faceSwitch: false,
            faceMode: false,
            shutDownButton: 0,
            defaultScreenId: null,
            locationInitail: false,
            autoUpdateEnabled: false,
            autoUpdateTime: '',
            autoUpdateChangeButton: 0,
            defaultLocationId: null
        }
    },
    props: {
        information: {
            type: Object,
            default: null
        },
        deviceId: {
            type: Number,
            default: null,
        },
        screenGroupId: {
            type: Number,
            default: null,
        }


    },
    mounted() {
        var vm = this;
        //datetimepicker
        $("#inputAutoShutDownTime").datetimepicker({
            format: 'HH:mm:ss A',
            sideBySide: true,
            toolbarPlacement: 'top',
            showClose: true,
            showClear: true,
            widgetPositioning: {
                horizontal: 'auto',
                vertical: 'bottom'
            }
        });
        $("#inputAutoShutDownTime").on('dp.change', function() {
            vm.shutDownButton = 1
            vm.AutoShutDownTime = $('#inputAutoShutDownTime').val()
        })

        $("#inputAutoUpdateTime").datetimepicker({
            format: 'HH:mm:ss A',
            sideBySide: true,
            toolbarPlacement: 'top',
            showClose: true,
            showClear: true,
            widgetPositioning: {
                horizontal: 'auto',
                vertical: 'bottom'
            }
        });
        $("#inputAutoUpdateTime").on('dp.change', function() {
            vm.autoUpdateChangeButton = 1
            vm.autoUpdateTime = $('#inputAutoUpdateTime').val()
        })
    },
    watch: {
        information() {
            if (this.information != null) {
                this.defaultLocationId = this.information.LocationId
                this.defaultScreenId = this.information.DefaultScreenId
                this.faceDetectionReportEnabled = this.information.FaceDetectionReportEnabled
                this.enableFaceDetection = this.information.EnableFaceDetection
                this.faceDetectionType = this.information.FaceDetectionType
                if (this.faceDetectionType !== null) {
                    this.faceSwitch = true;
                    if (this.faceDetectionType == 1) {
                        this.faceMode = true;
                    } else {
                        this.faceMode = false;
                    }
                } else {
                    this.faceSwitch = false;
                }
                this.autoShutDownTime = this.information.DailyShutDownTime
                this.autoUpdateEnabled = this.information.AutoUpdateEnabled
                this.autoUpdateTime = this.information.AutoUpdateTime
            } else { }
        }
    },
    methods: {
        PostForData(url, object) {
            var vm = this;
            $.post(url, object)
                .done((res) => {
                    if (res.Result) {
                        alertify.logPosition("bottom right")
                        alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.SaveSuccess)
                        vm.shutDownButton = 0
                        vm.autoUpdateChangeButton = 0
                        Bus.$emit('Device-DetailRepost', true);
                    } else {
                        alertify.logPosition("bottom right")
                        alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.SaveFailed)
                    }
                }).fail(function(err) {
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace('/ace')
                    }
                })
        },
        LocationButtonClick() {
            this.locationInitail = true
        },
        UpdateShutdownTime() {
            this.shutDownButton = 2

            if (this.autoShutDownTime !== null && this.autoShutDownTime !== '') {
                this.autoShutDownTime = this.autoShutDownTime.substring(0, 8)
            }
            var url = '/ace/api/device/setdailyshutdowntime'
            var obj = {
                DeviceId: this.deviceId,
                AutoShutDownTime: this.AutoShutDownTime,
                ScreenGroupId: this.screenGroupId,
            }
            //post
            this.PostForData(url, obj);
        },
        TimeIconClass(type) {
            switch (type) {
                //更改未儲存
                case 1:
                    return 'fa-warning red'
                //儲存中
                case 2:
                    return 'fa-refresh yellow'
                //sucess
                case 0:
                    return 'fa-check-circle-o'
                default:
                    return ''
            }
        },
        FaceSwitchChange() {
            if (!this.faceSwitch) {
                this.faceDetectionType = null
            } else {
                this.faceDetectionType = 0
                this.faceMode = false
            }
            this.FaceDetectionTypeChange()
        },
        FaceModeChange() {
            if (this.faceSwitch) {
                if (this.faceMode) {
                    this.faceDetectionType = 1
                } else {
                    this.faceDetectionType = 0
                }
            }
            this.FaceDetectionTypeChange()
        },
        FaceDetectionTypeChange() {
            var url = '/ace/api/device/facedetectionchange'
            var obj = {
                DeviceId: this.deviceId,
                FaceDetectionType: this.faceDetectionType,
                ScreenGroupId: this.screenGroupId,
            }
            //post
            this.PostForData(url, obj)
        },
        FaceDetectionReportEnabledChange() {
            var url = '/ace/api/device/facedetectionreportenabledchange'
            var obj = {
                DeviceId: this.deviceId,
                FaceDetectionReportEnabled: this.faceDetectionReportEnabled,
                ScreenGroupId: this.screenGroupId,
            }
            //post
            this.PostForData(url, obj)

        },
        AutoUpdateEnabledChange() {
            if (this.autoUpdateEnabled) {
                this.autoUpdateChangeButton = 1
            } else {
                this.autoUpdateTime = null
                this.UpdateAutoUpdateTime()
            }
        },
        UpdateAutoUpdateTime() {
            this.autoUpdateChangeButton = 2

            if (this.autoUpdateTime !== null && this.autoUpdateTime !== '') {
                this.autoUpdateTime = this.autoUpdateTime.substring(0, 8)
            }
            var url = '/ace/api/device/autoupdateenabledchange'
            var obj = {
                DeviceId: this.deviceId,
                AutoUpdateEnabled: this.autoUpdateEnabled,
                ScreenGroupId: this.screenGroupId,
                AutoUpdateTime: this.autoUpdateTime
            }
            //post
            this.PostForData(url, obj)
        }
    },
    computed: {
        DetectButton() {
            if (this.faceSwitch)
                return this.$i18n.messages[__culture].message.Device_On
            else
                return this.$i18n.messages[__culture].message.Device_Off
        },
        ModeButton() {
            if (this.faceMode)
                return this.$i18n.messages[__culture].message.Device_Multiple
            else
                return this.$i18n.messages[__culture].message.Device_Single
        },
        ReportButton() {
            if (this.faceDetectionReportEnabled)
                return this.$i18n.messages[__culture].message.Device_On
            else
                return this.$i18n.messages[__culture].message.Device_Off
        },
        AutoUpdateButton() {
            if (this.autoUpdateEnabled)
                return this.$i18n.messages[__culture].message.Device_On
            else
                return this.$i18n.messages[__culture].message.Device_Off
        }
    }
}
</script>

<style scoped>
.faceSetting>label {
    width: 40px;
    vertical-align: middle;
    background-color: #df691a;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 400;
}

.faceSetting>label:hover {
    box-shadow: 4px 4px 3px rgba(20%, 20%, 40%, 0.5);
}


.faceSetting>input {
    display: none;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}


.panel-heading {
    background-color: #ad8084;
}

.red {
    color: red
}

.yellow {
    color: yellow
}

.buttonOfAutoDown {
    margin-left: 5px;
    vertical-align: middle;
    font-size: 16px;
    cursor: pointer;
}
</style>