<template>
    <div>
        <transition name="fade">
            <div :style="(selectedCampaigns.length>0)?'visibility: visible;':'visibility: hidden;'" style="display: inline-block;">
                <button class="btn-default btn btn-sm" style="border-radius:0.3em" data-toggle="modal" data-target="#delete-cp-modal" :title="$t('message.Edit')" @click="DeleteCampaigns([],true)">
                    <i class="fa fa-trash text-danger"></i>
                    &nbsp;{{ $t("message.Device_DeleteDispatchedCampaigns")}}&nbsp;
                    <span class="label" style="background:#d9534f;padding: 0px 4px;">{{ selectedCampaigns.length}}</span>
                </button>
            </div>
        </transition>
        <br>
        <br>
        <table style="width:100%;table-layout: fixed" class="table table-hover">
            <thead>
                <tr>
                    <td>
                        <label class="btn btn-default btn-sm" style="margin: 2px;">
                            <input type="checkbox" v-model="SelectedAll" v-if="campaigns.length>0">&nbsp;{{ $t("message.All")}}
                        </label>
                    </td>
                    <td v-for="item in theadValue" :key="'theadValue'+item">{{item}}</td>
                </tr>
            </thead>
            <tbody>
                <tr v-for="cp in campaigns" valign="middle">
                    <td>
                        <label class="btn btn-default btn-sm" style="margin: 2px;">
                            <input type="checkbox" v-model="selectedCampaigns" :value="cp" style="vertical-align:middle">
                        </label>
                    </td>
                    <td class="table-text-align" style="text-overflow: ellipsis;overflow: hidden;" :title="cp.CampaignName">{{cp.CampaignName}}</td>
                    <td class="table-text-align">{{DateOfCP(cp)}}</td>
                    <td class="table-text-align">
                        {{Loop(cp)}}
                    </td>
                    <td class="table-text-align">
                      <template v-if="!cp.Event">
                        <ul v-if="cp.HasCalendarRule">
                            <li v-for="day in cp.RepeatWeekDay" :key="'repeatDay'+day" style="margin-right:5px;">
                                <img :src="'/ace/images/' + day +'.png'" alt="Folder" style="height:32px" />
                            </li>
                        </ul>
                        <span v-else>{{$t('message.Device_ReplayWholeWeek')}}</span>
                      </template>
                    </td>
                    <td class="table-text-align">

                        <div v-show="cp.HasFaceDetectionRule">
                            <i class="fa fa-eye text-success" :title="$t('message.FaceDetection')"></i>&nbsp;
                            <i v-if="cp.Gender == 1 || cp.Gender == 0" class="fa fa-mars text-info" style="font-size: 15px;" :title="$t('message.Male')"></i>&nbsp;
                            <i v-if="cp.Gender == 2 || cp.Gender == 0" class="fa fa-venus text-danger" style="font-size: 15px;" :title="$t('message.Female')"></i>
                            <span>{{cp.AgeRestriction}}</span>
                        </div>
                        <i v-show="cp.Spot" class="fa fa-bell text-warning" :title="$t('message.Spot')"></i>
                        <i v-show="cp.Event" class="fa fa-bolt text-warning" :title="$t('message.Event')"></i>
                    </td>
                    <td class="table-text-align">
                        <i class="fa fa-pencil text-success" style="cursor: pointer" data-toggle="modal" data-target="#edit-publish-modal" :title="$t('message.Edit')" @click="EditClick(cp.ScheduleSummaryId)"></i>
                    </td>
                    <td class="table-text-align">
                        <i class="fa fa-remove text-danger" style="cursor: pointer" data-toggle="modal" data-target="#delete-cp-modal" :title="$t('message.Delete')" @click="DeleteCampaigns([cp],false)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <delete-campaign-modal modal-id="delete-cp-modal" :device-id="deviceId" :screen-group-id="screenGroupId" :SIdList="selectedCampaigns" BatchDelete="true" @deleteSuccess="deleteSuccessHandler"></delete-campaign-modal>
    </div>
</template>
<script>
import DeleteCampaignModal from "../modal/delete-campaign-modal.vue";
import Bus from "../../controls/bus";

export default {
  name: "detail-campaign-list",
  components: {
    DeleteCampaignModal
  },
  props: {
    deviceId: {
      type: Number,
      default: null
    },
    screenGroupId: {
      type: Number,
      default: null
    }
  },
  data() {
    return {
      campaigns: [],
      theadValue: [
        this.$i18n.messages[__culture].message.Device_CampaignName,
        this.$i18n.messages[__culture].message.Device_ExpiryDate,
        this.$i18n.messages[__culture].message.Device_PlayTime,
        this.$i18n.messages[__culture].message.Device_CyclePlaying,
        this.$i18n.messages[__culture].message.Device_Restriction,
        this.$i18n.messages[__culture].message.Edit,
        this.$i18n.messages[__culture].message.Delete
      ],
      selectedCampaigns: [],
      isBatch: false
    };
  },
  created() {
    Bus.$on("Device-ScheduleSummaryChange", res => {
      if (res) this.GetCampaignListInfo();
    });
  },
  computed: {
    SelectedAll: {
      get() {
        if (
          this.campaigns.length > 0 &&
          this.campaigns.length === this.selectedCampaigns.length
        ) {
          return true;
        } else {
          return false;
        }
      },
      set(val) {
        if (val === true) {
          this.selectedCampaigns = this.campaigns;
        } else {
          this.selectedCampaigns = [];
        }
      }
    }
  },
  watch: {
    deviceId() {
      this.GetCampaignListInfo();
    },
    screenGroupId() {
      this.GetCampaignListInfo();
    }
  },
  methods: {
    GetCampaignListInfo() {
      var vm = this;
      //取出Device的Campaign List
      $.post("/ace/api/device/getdevicecampaignlist", {
        //Device id變數
        DeviceId: vm.deviceId,
        ScreenGroupId: vm.screenGroupId
      })
        .done(res => {
          if (res.Result) {
            console.log(res.Data.DeviceCampaignList);
            vm.campaigns = res.Data.DeviceCampaignList;
          }
        })
        .fail(function(err) {
          if (err.readyState === 4 && err.status === 401) {
            window.location.replace("/ace");
          }
        });
    },
    DateOfCP(cp) {
      if (cp.Enddate == null) {
        return cp.Startdate + " ~ ";
      } else {
        return cp.Startdate + " ~ " + cp.Enddate;
      }
    },
    Loop(cp) {
      if (!cp.Event) {
        if (cp.DailyStartTime == "00:00:00" && cp.DailyEndTime == "23:59:59") {
          return this.$i18n.messages[__culture].message.Campaign_PlayAllDay;
        } else if (cp.Spot) {
          return cp.DailyStartTime + " ~";
        } else {
          return cp.DailyStartTime + " ~ " + cp.DailyEndTime;
        }
      }
    },
    EditClick(Id) {
      Bus.$emit("Device-EditorScheduleSummaryId", Id);
    },
    DeleteCampaigns(cpList, isBatch) {
      //目前因為 campaign 有共用到 所以到時再一起更改底層modal 吃資料的方式
      //目前為直接把select 的CP 傳到modal 刪除時去跑array 取出SChId  最好改成整理好資料格式再往下丟
      var vm = this;
      if (!isBatch) {
        this.selectedCampaigns = cpList;
      }
    },
    deleteSuccessHandler(val) {
      if (val) {
        this.GetCampaignListInfo();
        Bus.$emit("Device-CampaignChange", true);
        // this.$emit('deletescheduleSummaryId', -this.deletescheduleSummaryId)
      }
      this.selectedCampaigns = [];
    }
  }
};
</script>
<style scoped>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
  text-align: center;
}

li {
  float: left;
}

li span {
  display: block;
  padding: 8px;
}

.table-text-align {
  vertical-align: middle;
}
</style>