<template>
    <div class="modal fade" :id="modalId">
        <div class="busy-modal-content">
            <h3>
                <i class="fa fa-spinner fa-spin"></i>
                <!--&nbsp;Saving-->
                &nbsp;{{context}}
            </h3>
        </div>
    </div>
</template>

<script>

//全螢幕顯示的遮蔽用視窗
//透過show參數決定顯示或隱藏
var _ = require('lodash')

export default {
    name: 'busy-fullscreen-modal',
    props: {
        modalId: {
            type: String,
            required: false,
            default: 'busy-fullscreen-modal-id'
        },
        show: {
            type: Boolean,
            required: true,
            default: false
        },
        hideDelay: {
            type: Number,
            require: true,
            default: 100
        },
        context: {
            type: String,
            require: true,
            default: null
        }
    },
    mounted() {
        $("#" + this.modalId).modal({
            backdrop: 'static',
            show: false
        })

        if (this.show === true) {
            $("#" + this.modalId).modal('show')
        }
        this.context = this.context ? this.context : this.$i18n.messages[__culture].message.Loading   
    },
    watch: {
        show(newVal, oldVal) {
            if (newVal !== oldVal) {
                // $("#" + this.modalId).modal(newVal === true ? 'show' : 'hide')

                if (newVal === false) {
                    //hide
                    var vm = this

                    //延遲__毫秒消失(使modal不會太快不見)
                    setTimeout(function () {
                        $("#" + vm.modalId).modal('hide')
                    }, this.hideDelay)

                } else {
                    //show
                    $("#" + this.modalId).modal('show')
                }
            }
        }
        // context() {
        //     //暫時解法 為了取代 props null 資料進來導致改回預設值            
        //     // this.context = this.context == '' ? this.context : this.$i18n.messages[__culture].message.Loading
        // }
    },
}
</script>

<style>
.busy-modal-content {
    text-align: center;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
</style>