<template>
    <div style="display:inline-block">
        <template v-for="button in buttonList ">
            <button v-if="!button.preventStop" type="button" :class="[button.buttonClass?button.buttonClass:DefaultButtonClass(button),initButtonClass]" style="border-radius: 0.3em;" @click="ConfirmHandler(button)" :data-dismiss="button.dismiss?button.dismiss:''" :style="button.style">
                <i :class="[isBusy&&button.button!=='cancel'?busyClass:(button.iconClass?button.iconClass:DefaultIconClass(button))]"></i>
                &nbsp;{{button.name?button.name:DefaultName(button)}}
            </button>
            <!-- 加入 若click event 為 preventStop -->
            <button v-if="button.preventStop" type="button" :class="[button.buttonClass?button.buttonClass:DefaultButtonClass(button),initButtonClass]" style="border-radius: 0.3em;" @click.prevent.stop="ConfirmHandler(button)" :data-dismiss="button.dismiss?button.dismiss:''" :style="button.style">
                <i :class="[isBusy&&button.button!=='cancel'?busyClass:(button.iconClass?button.iconClass:DefaultIconClass(button))]"></i>
                &nbsp;{{button.name?button.name:DefaultName(button)}}
            </button>
        </template>
    </div>
</template>
<script>
export default {
    name: 'footer-button',
    data() {
        return {
            busyClass: 'fa fa-spin fa-spinner',
            initButtonClass: "btn btn-sm",
        }
    },
    props: {
        buttonList: {
            type: Array,
            required: true,
            default: [
                { button: 'cancel', dismiss: 'modal', parameter: [] }
            ]
        },
        isBusy: {
            type: Boolean,
            required: false,
            default: false
        },
        publicParameter: {
            type: Array,
            required: false,
            default: []
        }
    },
    methods: {
        ConfirmHandler(buttonObj) {
            var vm = this
            if (buttonObj.button === 'cancel') {

            } else {
                if (vm.$parent[buttonObj.method]) {
                    if (vm.publicParameter.length == 0)
                        vm.$parent[buttonObj.method].apply(this, buttonObj.parameter ? buttonObj.parameter : [])
                    else {
                        vm.$parent[buttonObj.method].apply(this, vm.publicParameter)
                    }
                }
            }

        },
        DefaultIconClass(buttonObj) {
            switch (buttonObj.button) {
                case 'save':
                    return 'fa fa-floppy-o'
                case 'replace ':
                    return 'glyphicon glyphicon-floppy-open text-warning'
                case 'cancel':
                    return 'fa fa-times'
                case 'publish':
                    return 'fa fa-cloud-upload'
                case 'update':
                    return 'fa fa-cloud-upload'
                case 'edit':
                    return 'fa fa-pencil'
                case 'delete':
                    return 'fa fa-trash'
                case 'transfer':
                    return 'fa fa-exclamation-triangle'
                case 'registry':
                    return 'fa fa-check-circle-o'
                case 'refuseRegistry':
                    return 'fa fa-ban'
                case 'logout':
                    return 'fa fa-sign-out'
                default:
                    break;
            }
        },
        DefaultButtonClass(buttonObj) {
            switch (buttonObj.button) {
                case 'save':
                    return 'btn-success'
                case 'cancel':
                    return 'btn-default'
                case 'publish':
                    return 'btn-info'
                case 'update':
                    return 'btn-info'
                case 'edit':
                    return 'btn-success'
                case 'delete':
                    return 'btn-danger'
                case 'transfer':
                    return 'btn-danger'
                case 'registry':
                    return 'btn-success'
                case 'refuseRegistry':
                    return 'btn-danger'
                case 'logout':
                    return 'btn-primary'
                default:
                    return 'btn-default'
            }
        },
        DefaultName(buttonObj) {
            switch (buttonObj.button) {
                case 'save':
                    return this.$i18n.messages[__culture].message.Save
                case 'cancel':
                    return this.$i18n.messages[__culture].message.Cancel
                case 'publish':
                    return this.$i18n.messages[__culture].message.Publish
                case 'update':
                    return this.$i18n.messages[__culture].message.Update
                case 'edit':
                    return this.$i18n.messages[__culture].message.Edit
                case 'delete':
                    return this.$i18n.messages[__culture].message.Delete
                case 'transfer':
                    return this.$i18n.messages[__culture].message.Transfer
                case 'registry':
                    return this.$i18n.messages[__culture].message.Registry
                case 'refuseRegistry':
                    return this.$i18n.messages[__culture].message.RefuseRegistry
                case 'logout':
                    return this.$i18n.messages[__culture].message.Logout
                default:
                    return 'Default'
            }
        }

    }
}
</script>
