<template>
<div :id="modalId" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModal-label"> {{ $t("message.Logout")}}</h4>
            </div>
            <div class="modal-body">
                <p>{{ $t("message.LogoutRequest")}}</p>
            </div>
            <div class="modal-footer">    
                <footer-button :buttonList="buttonList" :isBusy="isBusy"> </footer-button>
            </div>
        </div>
    </div>
</div>
</template>
<script>
import FooterButton from "./footer-button.vue"

export default {
    name: 'logout-modal',
    components: {
        FooterButton
    },
    props: {
        modalId: {// 從上層傳來的, 要編輯的campaign id, 若是新增, 此值為0
            type: String,
            default: 'logoutModal'
        }
    },
    data() {
        return {
            buttonList: [
                { button: 'cancel', method: '', dismiss: 'modal' },
                { button: 'logout', method: "Submit" }
            ],
            isBusy: false 
        }
    },
    methods: {
        Submit: function () {
            var vm = this;
            var apiUrl = "/ace/api/account/Logout";
            vm.errMsg = ''

            $.post(apiUrl).done(function (res) {               
                vm.isBusy = false;
                $('#' + vm.modalId).modal('hide');
                 window.location.replace(window.location.href)
            }).fail((err) => {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
            }).always(function () {
                vm.isBusy = false;
                $('#' + vm.modalId).modal('hide');
            });
        }
    }
}
</script>

<style scoped>

</style>