<template>
    <div :id="modalId" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModal-label">{{ $t("message.Setting")}}</h4>
                </div>
                <form>
                    <div class="modal-body">
    
                        <div class="form-horizontal">
                            <fieldset>
                                <!--Name-->
                                <div class="form-group">
                                    <label for="inputEmail" class="col-xs-4 control-label">{{ $t("message.Account_Name")}}</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control" :value="userName" disabled style="width: 220px; border-radius: .3em; height: 30px; padding: 0px 8px">
                                    </div>
                                </div>
                                <!--Email-->
                                <div class="form-group">
                                    <label for="inputEmail" class="col-xs-4 control-label">{{ $t("message.Account_EMail")}}</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control" :value="userEmail" disabled style="width: 220px; border-radius: .3em; height: 30px; padding: 0px 8px">
                                    </div>
                                </div>
                                <!--Password-->
                                <div class="form-group">
                                    <label for="inputPassword" class="col-xs-4 control-label">{{ $t("message.Account_Password")}}</label>
                                    <div class="col-xs-8">
                                        <button v-if="state==='view'" id="btn_change_password" type="button" class="btn btn-warning" style="width: 220px; border-radius: .3em; height: 30px; padding: 0px 8px" @click="state = 'edit'">
                                            <i class="fa fa-pencil"></i>&nbsp; {{ $t("message.Home_ChangePassword")}}
                                        </button>
                                        <div v-else>
                                            <input type="password" id="tb_setting_password" v-model="password" class="form-control" value="" style="width: 220px; border-radius: .3em; height: 30px; padding: 0px 8px" name="Password">
                                        </div>
                                    </div>
                                </div>
                                <!--ConfirmPassword-->
                                <div v-if="state==='edit'" class="form-group" id="div_setting_confirm_pwd">
                                    <label for="inputPassword" class="col-xs-4 control-label">{{ $t("message.Home_ConfirmPassword")}}</label>
                                    <div class="col-xs-8">
                                        <div>
                                            <input id="btn_change_password_confirm" type="password" v-model="repeatPassword" class="form-control" value="" style="width: 220px; border-radius: .3em; height: 30px; padding: 0px 8px" name="PasswordConfirm">
                                        </div>
                                    </div>
                                </div>
                                <!--Language-->
                                <div class="form-group">
                                    <label for="select" class="col-xs-4 control-label">{{ $t("message.Language")}}</label>
                                    <div class="col-xs-6">
                                        <!--class="form-control", style="width: 220px; border-radius: .2em; height: 30px; padding: 0px 8px"-->
                                        <select class="form-control" name="language" v-model="lang">
                                            <option value="en-us">{{ $t("message.English")}}</option>
                                            <option value="zh-tw">{{ $t("message.TraditionalChinese")}}</option>
                                            <option value="zh-cn">{{ $t("message.SimplifiedChinese")}}</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
    
                    </div>
                    <div class="modal-footer">
                        <span v-if='errMsg' class="text-danger">
                            <i class="fa fa-exclamation-triangle"></i>&nbsp; {{ errMsg }}&nbsp;
                        </span>
                        <footer-button :buttonList="buttonList" :isBusy="isBusy"> </footer-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import FooterButton from "./footer-button.vue"

export default {
    name: 'setting-modal',
    components: {
        FooterButton
    },
    props: {
        modalId: {// 從上層傳來的, 要編輯的campaign id, 若是新增, 此值為0
            type: String,
            default: 'settingModal'
        }
    },
    data() {
        return {
            buttonList: [
                { button: 'cancel', method: '', dismiss: 'modal' },
                { button: 'save', method: "Submit" }
            ],
            isBusy: false,
            userName: 'defalut',
            userEmail: 'defalut',
            repeatPassword: '',
            password: '',
            lang: __culture,
            errMsg: '',
            state: 'view'

        }
    },
    mounted() {
        this.FindUserInfo()
    },
    methods: {
        Submit: function () {
            var vm = this;
            var apiUrl = "/ace/api/savesetting";
            vm.errMsg = ''

            if ((vm.password !== "" || vm.repeatPassword !== "") && (vm.password.trim() == "" || vm.repeatPassword.trim() == "")) {
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0048
                return;
            }

            if (vm.state == 'edit' && !(vm.password.trim() == "" && vm.repeatPassword.trim() == "")) {
                if ((vm.password.trim() !== "" || vm.repeatPassword.trim() !== "") && vm.password.trim() !== vm.repeatPassword.trim()) {
                    vm.errMsg = vm.$i18n.messages[__culture].message.Error_0041
                    return;
                }
                vm.isBusy = true;
            }
            $.post(apiUrl, { Name: vm.userEmail, Password: vm.password, RepeatPasssword: vm.repeatPassword, LanguageCode: vm.lang }).done(function (res) {
                if (res.Result) {
                    alertify.logPosition("bottom right")
                    alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.SaveSuccess)
                    vm.$i18n.locale = vm.lang
                }
                vm.isBusy = false;
                $('#' + vm.modalId).modal('hide');
                window.location.replace(window.location.href)
            }).fail((err) => {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
            }).always(function () {
                vm.isBusy = false;
                $('#' + vm.modalId).modal('hide');
            });
        },
        FindUserInfo: function () {
            var vm = this;
            vm.isBusy = true;
            var apiUrl = "/ace/api/account/userinfo";

            $.get(apiUrl).done(function (res) {
                if (res.Data.Name) {
                    vm.userName = res.Data.Name
                    vm.userEmail = res.Data.Email
                }
                vm.isBusy = false;
            }).fail((err) => {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
            }).always(function () {
                vm.isBusy = false;
            });
        }
    }
}
</script>

<style scoped>

</style>