<template>
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ $t("message.Library_AddTimer")}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="padding: 0px 40px 0px 40px;">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">{{ $t("message.Library_Name")}}
                                    <span class="required-star">*</span>
                                </label>
                                <input type="text" class="form-control" v-model="timerInfo.name">
                            </div>
                            <div class="form-group">
                                <label class="control-label">{{ $t("message.Library_TargetTime")}}
                                    <span class="required-star">*</span>
                                </label>
                                <input type="text" class="form-control" id="target_date">
                            </div>
                            <div class="form-group">
                                <label class="control-label">{{ $t("message.Library_Fontcolor")}}
                                    <span class="required-star">*</span>
                                </label>
                                <chrome :value="timerInfo.color" @input="UpdatePick"></chrome>
                            </div>
                            <div class="form-group">
                                <label class="control-label">{{ $t("message.Setting")}}
                                    <span class="required-star">*</span>
                                </label>
                                <br>
                                <label class="checkbox-inline"><input type="checkbox" name="settings" v-model="timerInfo.settings.year">{{ $t("message.Loginfo_Year")}}</label>
                                <label class="checkbox-inline"><input type="checkbox" name="settings" v-model="timerInfo.settings.month">{{ $t("message.Loginfo_Month")}}</label>
                                <label class="checkbox-inline"><input type="checkbox" name="settings" v-model="timerInfo.settings.day">{{ $t("message.Loginfo_Day")}}</label>
                                <label class="checkbox-inline"><input type="checkbox" name="settings" v-model="timerInfo.settings.hour">{{ $t("message.Hour")}}</label>
                                <label class="checkbox-inline"><input type="checkbox" name="settings" v-model="timerInfo.settings.minute">{{ $t("message.Minute")}}</label>
                                <label class="checkbox-inline"><input type="checkbox" name="settings" v-model="timerInfo.settings.second">{{ $t("message.Second")}}</label>
                                <label class="checkbox-inline"><input type="checkbox" name="settings" v-model="timerInfo.settings.millisecond">{{ $t("message.Library_Millisecond")}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span v-if='errMsg' class="text-danger">
                        <i class="fa fa-exclamation-triangle"></i>&nbsp; {{ errMsg }} &nbsp;
                    </span>
                    <footer-button :buttonList="buttonList" :isBusy="isBusy"></footer-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FooterButton from '../../controls/modal/footer-button.vue'
import Chrome from '../../controls/Chrome.vue'

export default {
    name: 'add-timer-modal',
    components: {
        FooterButton,
        Chrome
    },
    props: {
        modalId: {
            type: String,
            required: true,
            default: 'add-timer-modal-id'
        },
        timerInfo: {
            type: Object,
            required: true,
            default: {
                assetId: 0,
                name: '',
                dateTime: '',
                color: '#000000',
                settings: {
                    year: true,
                    month: true,
                    day: true,
                    hour: true,
                    minute: true,
                    second: true,
                    millisecond: true
                }
            }
        }
    },
    data() {
        return {
            errMsg: '',
            isBusy: false,
            buttonList: [{ button: 'cancel', dismiss: 'modal' }, { button: 'save', method: 'submit' }],
        }
    },
    mounted() {
        $(function() {
            $('#target_date').datetimepicker({
                keepOpen: true,
                showTodayButton: true,
                format: 'YYYY/MM/DD H:mm A',
            })
        })

    },
    watch: {
        timerInfo() {
            if (this.timerInfo.dateTime !== "")
                $("#target_date").val(this.changeDate(this.timerInfo.dateTime))
        }
    },
    methods: {
        UpdatePick(val) {
            this.timerInfo.color = val.hex
        },
        changeDate(val) {
            //2017/05/26 1:31
            var d = new Date(val);
            var n = d.getFullYear() + "/" + (parseInt(parseInt(d.getMonth()) + 1) < 10 ? "0" + parseInt(parseInt(d.getMonth()) + 1) : parseInt(parseInt(d.getMonth()) + 1)) +
                "/" + (d.getDate() < 10 ? "0" + d.getDate() : d.getDate()) + " " + (d.getHours() < 10 ? "0" + d.getHours() : d.getHours()) + ":" + (d.getMinutes() < 10 ? "0" +
                    d.getMinutes() : d.getMinutes());
            return n
        },
        submit: function() {
            var vm = this;
            vm.isBusy = true;
            if (vm.timerInfo.name.trim() === "") {
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0004;
                vm.isBusy = false
                return
            }

            //禁止輸入特殊符號
            if (!vm.timerInfo.name.trim().match(/^[^?*[+()^\\\/]+$/g)) {
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0003
                vm.isBusy = false
                return
            }
            else if (vm.timerInfo.name.length > 50) {
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0009
                vm.isBusy = false
                return
            }

            if ($("#target_date").val() == '') {
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0056
                vm.isBusy = false
                return
            }



            var data = {
                Name: vm.timerInfo.name,
                DateTime: $('#target_date').val(),
                Color: vm.timerInfo.color,
                Settings: {
                    Year: vm.timerInfo.settings.year,
                    Month: vm.timerInfo.settings.month,
                    Day: vm.timerInfo.settings.day,
                    Hour: vm.timerInfo.settings.hour,
                    Minute: vm.timerInfo.settings.minute,
                    Second: vm.timerInfo.settings.second,
                    Millisecond: vm.timerInfo.settings.millisecond
                }
            }

            $.post("/ace/api/library/addtimer", {
                assetId: vm.timerInfo.assetId, Name: vm.timerInfo.name, TimerDetail: JSON.stringify(data)
            }).done(function(res) {
                if (res.Result) {
                    vm.isBusy = false

                    if (vm.timerInfo.assetId == 0) {
                        alertify.logPosition("bottom right")
                        alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.AddSuccess)
                    } else {
                        alertify.logPosition("bottom right")
                        alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.SaveSuccess)
                    }

                    //clear menuInfo
                    vm.timerInfo = {
                        assetId: 0,
                        name: '',
                        dateTime: '',
                        color: '#000000',
                        settings: {
                            year: true,
                            month: true,
                            day: true,
                            hour: true,
                            minute: true,
                            second: true,
                            millisecond: true
                        }
                    }
                    vm.errMsg = ''

                    vm.$emit('timerSaved', true)

                    $("#" + vm.modalId).modal('hide')
                }

            }).fail(function(err) {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
            })

        }
    }
}
</script>

<style scoped>
.required-star {
    color: red;
}
</style>
