<template>
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ $t("message.Library_AddMenu")}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="padding: 0px 40px 0px 40px;">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">{{ $t("message.Library_Name")}}
                                    <span class="required-star">*</span>
                                </label>
                                <input type="text" class="form-control" v-model="menuInfo.name">
                            </div>
                            <div class="form-group">
                                <label class="control-label">{{ $t("message.Library_UploadMenuContent")}}
                                    <span class="required-star">*</span>
                                </label>
                                <input id="contentUpload" type="file" class="form-control" accept="application/vnd.ms-excel">
                            </div>
                            <div class="form-group">
                                <label class="control-label">{{ $t("message.Library_MenuImage")}}
                                    <span class="required-star">*</span>
                                </label>
                                <select id="imgSelector" class="form-control" @change="changeImgHandler" v-model="menuInfo.backgroudFileId">
                                    <option value="0">---{{ $t("message.Library_ChooseImage")}}---</option>
                                    <option v-for="item in parentPictureList" :key="'picture'+item" :value="item.Id">{{item.Name}}</option>
                                </select>
                                <img :src="imgSelectedUrl" alt="" style="max-height: 120px;max-width: 180px;margin-top:10px;">
                            </div>
                            <div class="form-group">
                                <label class="control-label">{{ $t("message.Library_TextEffect")}}
                                    <span class="required-star">*</span>
                                </label>
                                <br>
                                <label class="radio-inline"><input type="radio" name="effect" value="0" v-model="menuInfo.textEffect">{{ $t("message.Library_None")}}</label>
                                <label class="radio-inline"><input type="radio" name="effect" value="1" v-model="menuInfo.textEffect">{{ $t("message.Library_Effect1")}}</label>
                                <label class="radio-inline"><input type="radio" name="effect" value="2" v-model="menuInfo.textEffect">{{ $t("message.Library_Effect2")}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span v-if='errMsg' class="text-danger">
                        <i class="fa fa-exclamation-triangle"></i>&nbsp; {{ errMsg }} &nbsp;
                    </span>
                    <footer-button :buttonList="buttonList" :isBusy="isBusy"></footer-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FooterButton from '../../controls/modal/footer-button.vue'

export default {
    name: 'add-menu-modal',
    components: {
        FooterButton
    },
    props: {
        modalId: {
            type: String,
            required: true,
            default: 'add-menu-modal-id'
        },
        menuInfo: {
            type: Object,
            required: true,
            default: {
                assetId: 0,
                menuId: 0,
                name: '',
                backgroudFileId: 0,
                textEffect: 0 //0 無,1 效果1,2 效果2
            }
        }
    },
    data() {
        return {
            errMsg: '',
            isBusy: false,
            buttonList: [{ button: 'cancel', dismiss: 'modal' }, { button: 'save', method: 'submit' }],
            parentPictureList: [],
            imgSelectedUrl: ''
        }
    },
    watch: {
        menuInfo: function() {
            if (this.menuInfo.backgroudFileId != 0) {
                this.imgSelectedUrl = '/ace/api/library/file-thumbnail/' + this.menuInfo.backgroudFileId
            } else {
                this.imgSelectedUrl = ''
            }
        }
    },
    mounted() {
        this.getAllImage()
    },
    methods: {
        submit: function() {
            var vm = this;
            vm.isBusy = true;
            if (vm.menuInfo.name.trim() === "") {
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0004;
                vm.isBusy = false
                return
            }

            //禁止輸入特殊符號
            if (!vm.menuInfo.name.trim().match(/^[^?*[+()^\\\/]+$/g)) {
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0003
                vm.isBusy = false
                return
            }
            else if (vm.menuInfo.name.length > 50) {
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0009
                vm.isBusy = false
                return
            }

            if (document.getElementById("contentUpload").files.length == 0) {
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0055
                vm.isBusy = false
                return
            }

            if (parseInt(vm.menuInfo.backgroudFileId) === 0) {
                vm.errMsg = vm.$i18n.messages[__culture].message.Library_ChooseImage
                vm.isBusy = false
                return
            }
            var data = {
                AssetId: vm.menuInfo.assetId,
                MenuId: vm.menuInfo.menuId,
                Name: vm.menuInfo.name,
                BackgroudFileId: parseInt(vm.menuInfo.backgroudFileId),
                TextEffect: vm.menuInfo.textEffect
            }

            var ds = new _d_s()

            ds.uploadFile('/ace/library/uploadajax', document.getElementById("contentUpload").files[0], {
                begin: null,
                progress: null,
                onResponse: this.onResponseHandler,
                error: null,
            }, null, JSON.stringify(data))

        },
        onResponseHandler: function(file, res, key) {
            var vm = this
            if (res.status === 200) {
                var result = JSON.parse(res.response)
                if (result.Success) {
                    vm.isBusy = false

                    if (vm.menuInfo.assetId == 0) {
                        alertify.logPosition("bottom right")
                        alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.AddSuccess)
                    } else {
                        alertify.logPosition("bottom right")
                        alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.SaveSuccess)
                    }

                    //clear menuInfo
                    vm.menuInfo = {
                        assetId: 0,
                        menuId: 0,
                        name: '',
                        backgroudFileId: 0,
                        textEffect: 0 //0 無,1 效果1,2 效果2
                    }
                    vm.errMsg = ''
                    vm.imgSelectedUrl = ''
                    document.getElementById("contentUpload").value = ""

                    vm.$emit('menuSaved', true)

                    $("#" + vm.modalId).modal('hide')
                }
                else {
                    vm.errMsg = vm.$i18n.messages[__culture].message.Error_0016
                }
            } else {
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0016
            }
        },
        hideErrMsgName: function() {
            this.errMsg = '';
        },
        getAllImage: function() {
            var vm = this

            //default screen modal image
            $.post("/ace/api/device/GetAllImage").done(function(res) {
                vm.parentPictureList = res.Data.ImageList;

            }).fail(function(err) {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
            })
        },
        changeImgHandler: function(ev) {
            var url = '/ace/api/library/file-thumbnail/'
            if (parseInt(ev.target.value) === 0) {
                this.imgSelectedUrl = ''
            } else {
                this.imgSelectedUrl = url + ev.target.value;
            }
        }
    }
}
</script>

<style scoped>
.required-star {
    color: red;
}
</style>
