<template>
    <div :id="modalId" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ $t("message.Campaign_CreateTemplate")}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!--左側資訊-->
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label class="control-label">{{ $t("message.Resolution")}}: {{width}} * {{height}}</label>
                            </div>
                            <div class="form-group">
                                <label class="control-label">{{ $t("message.Campaign_Region")}}: {{regions.length}}</label>
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    {{ $t("message.Campaign_TemplateName")}}
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" class="form-control" v-bind:placeholder=" $t('message.Campaign_TemplateName')" v-model="name" style="height: 30px;border-radius: .2em">
                            </div>
                        </div>

                        <!--右側縮圖-->
                        <div class="col-xs-6">
                            <div>
                                <label class="control-label">{{ $t("message.Campaign_ScreenLayout")}}:</label>
                            </div>
                            <div>
                                <template-layout-icon :template="template" :readonly="true"></template-layout-icon>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <span v-show="errMsg" class="text-danger">
                        <i class="fa fa-exclamation-triangle"></i>&nbsp; {{ errMsg }}
                    </span>
                    <footer-button :buttonList="buttonList" :isBusy="isBusy"></footer-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import TemplateLayoutIcon from '../template-layout-icon.vue'
import FooterButton from '../../controls/modal/footer-button.vue'

export default {
    components: {
        TemplateLayoutIcon,
        FooterButton
    },
    name: 'add-template-modal',
    data() {
        return {
            name: '',
            errMsg: '',
            isBusy: false,
            buttonList: [{ button: 'cancel', dismiss: 'modal' }, { button: 'save', method: 'add', name: this.$i18n.messages[__culture].message.Campaign_CreateTemplate }],
        }
    },
    computed: {
        template() {
            return {
                name: this.name,
                width: this.width,
                height: this.height,
                regions: this.regions
            }
        }
    },
    props: {
        width: {
            type: Number,
            default: 1920,
        },
        height: {
            type: Number,
            default: 1080
        },
        regions: {
            type: Array,
            default: []
        },
        modalId: {
            type: String,
            required: true,
            default: "addTemplateModalId"
        }
    },
    methods: {
        add() {
            var vm = this

            vm.errMsg = ''

            //check
            if (!vm.name.trim()) {
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0004
                return
            }
            if (vm.name.trim() !== "" && !vm.name.trim().match(/^[^?*[+()^\\\/]+$/g)) {
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0003
                return
            }
            if (vm.name.trim().length > 50) {
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0009
                return
            }

            vm.isBusy = true

            var data = {
                Name: vm.name,
                Width: vm.width,
                Height: vm.height,
                Regions: []
            }

            $.each(this.regions, (i, region) => {
                data.Regions.push({
                    Width: region.width,
                    Height: region.height,
                    Left: region.left,
                    Top: region.top,
                    Order: region.order
                })
            })

            var api = $.post("/ace/api/template/add", data)

            api.done((res) => {

                if (res.Result) {
                    //add success

                    //hide modal, show success message
                    if (alertify) {
                        alertify.logPosition("bottom right");
                        alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.SaveSuccess);
                    }

                    $("#" + this.modalId).modal('hide')

                    //組合template, 用觸發template added 事件
                    var t = {
                        id: res.Data.TemplateId,
                        name: vm.name,
                        width: vm.width,
                        height: vm.height,
                        regions: []
                    }
                    $.each(res.Data.Regions, (i, region) => {
                        t.regions.push({
                            id: region.Id,
                            width: region.Width,
                            height: region.Height,
                            left: region.Left,
                            top: region.Top,
                            order: region.Order
                        })
                    })

                    //通知上層要加入新的template
                    this.$emit('onTemplateAdded', t)

                    this.name = ''

                } else {
                    vm.errMsg = vm.$i18n.messages[__culture].message[res.Message]
                    //add fail
                    alertify.logPosition("bottom right");
                    alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.SaveFailed);
                }
            })
            api.fail((err) => {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace("/ace")
                }
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0044

            })
            api.always(() => {
                vm.isBusy = false
            })
        }
    }
}
</script>

<style scoped>

</style>