<template>
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ $t("message.Library_DeleteMenu")}}</h4>
                </div>
                <div class="modal-body">
                    <div v-if="menuUsed.length === 0">
                        <h4>{{ $t("message.Campaign_DeleteTextAssetRequest")}}</h4>
                    </div>
                    <div v-else>
                        <h4>{{ $t("message.Library_ToolUsed")}}</h4>
                    </div>
                    <div v-if="menuUsed.length != 0">
                        <br>
                        <label class="text-info">{{$t("message.Campaign")}}</label>
                        <ul>
                            <li v-for="(menu,index) in menuUsed" class="textoverflow" :key="'menu'+index">
                                <span :title="menu">{{ menu }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <footer-button :buttonList="buttonList" :isBusy="isBusy"> </footer-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FooterButton from '../../controls/modal/footer-button.vue'

export default {
    name: 'delete-menu-modal',
    components: {
        FooterButton
    },
    props: {
        modalId: {
            type: String,
            required: true,
            default: 'delete-menu-modal-id'
        },
        assetId: {
            type: Number,
            required: true,
            default: 0
        },
        menuId: {
            type: Number,
            required: true,
            default: 0
        },
        menuUsed: {
            type: Array,
            default: []
        }
    },
    data() {
        return {
            isBusy: false,
            buttonList: [{ button: 'cancel', dismiss: 'modal' }, { button: 'delete', method: 'deleteMenu' }],
        }
    },
    methods: {
        deleteMenu: function() {
            var vm = this
            $.post("/ace/api/library/deletemenu", {
                AssetId: vm.assetId, MenuId: vm.menuId
            }).done(function(res) {
                if (res.Result) {
                    alertify.logPosition("bottom right")
                    alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.DeleteSuccess)

                    vm.$emit('menuSaved', true)
                }
            }).fail(function(err) {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
            }).always(function() {

                vm.isBusy = false

                $('#' + vm.modalId).modal('hide')
            })
        }
    }
}
</script>

<style scoped>
.textoverflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
</style>
