<template>
    <div>
        <div class="modal fade" :id="modalId" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
            <div class="modal-dialog" style="top: 20%;">
                <div class="modal-content" style="border-radius: 5px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        <h4 class="modal-title custom_align">
                            <i class="fa fa-exclamation-triangle" style="fornt-size:20px ;color:red;"></i>&nbsp;{{ $t("message.Campaign_DeleteRegionFrame")}}
                        </h4>
                    </div>
                    <div class="modal-footer">
                        <footer-button :buttonList="buttonList" :isBusy="isBusy"></footer-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import FooterButton from '../../controls/modal/footer-button.vue'

export default {
    name: "delete-region-frame",
    components: {
        FooterButton
    },
    data() {
        return {
            isBusy: false,
            buttonList: [{ button: 'cancel', dismiss: 'modal' }, { button: 'delete', method: 'removeAllSegment' }],

        }
    },
    props: {
        modalId: {
            type: String,
            require: true,
            default: 'delete-region-frame'
        }
    },
    methods: {
        removeAllSegment() {
            this.isBusy = true
            this.$emit('removeFrames', true)
            $("#" + this.modalId).modal('hide')
            this.isBusy = false

        }
    }
}
</script>
<style scoped>
.btn {
    border-radius: 5px;
    size: 20px;
}
</style>

