<template>
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        <span>{{ $t("message.Campaign_DeleteCampaignTag")}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="padding: 0px 40px 0px 40px;">
                        <div class="col-md-12 border" style="">
                            <!--#5a6877-->
                            <div>
                                <h4 class="text-info">{{ $t("message.Campaign_SelectedCampaignName")}}</h4>
                                <ul>
                                    <li style="margin-bottom:10px;" class="textOverflow col-sm-4" v-for="c in selectCampaign" :key="'campaignId'+c">
                                        <i class="fa fa-film text-warning"></i>
                                        <span :title="c.name">{{ c.name }}</span>
                                    </li>
                                </ul>
                            </div>
                            <table class="table col-sm border" style="table-layout: fixed;background-color:rgba(72, 85, 99, 1);">
                                <thead style="text-align:center;">
                                    <tr>
                                        <th class="text-info col-sm-2" style="text-align:center;">{{ $t("message.Choose")}}</th>
                                        <th class="text-info col-sm-10" style="text-align:center;">{{ $t("message.Campaign_TagName")}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="scrollOfTags" colspan="2">
                                            <div id="scrollOfTags">
                                                <table class="table table-hover" style="background-color:rgba(72, 85, 99, 1);">
                                                    <tbody>
                                                        <tr v-for="(tag,index) in tagList" :key="index" @click="SelectTags(tag)" style="cursor: pointer;" class="trHover">
                                                            <td class=" col-sm-2" style="text-align: center;">
                                                                <input type="checkbox" :value="tag" v-model="selectedTags" :key="'selected'+index" @click="SelectTags(tag)">
                                                                </input>
                                                            </td>
                                                            <td class=" col-sm-10 textOverflow" style="max-width:0;text-align: center;" :title="tag">
                                                                {{tag}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <transition enter-active-class="animated flipInX" leave-active-class="animated zoomOut">
                                <div v-if="errMsg" class="alert alert-danger">
                                    <button type="button" class="close" @click="hideErrMsg">&times;</button>
                                    <i class="fa fa-exclamation-triangle"></i> &nbsp;
                                    <div style="display: inline-block;" v-html="errMsg"></div>
                                </div>
                            </transition>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <footer-button :buttonList="buttonList" :isBusy="isBusy"></footer-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
var _ = require('lodash')
import FooterButton from '../../controls/modal/footer-button.vue'

export default {
    name: 'delete-campaign-tag',
    components: {
        FooterButton
    },
    data() {
        return {
            isBusy: false,
            searchText: '',
            selectedTags: [],
            errMsg: '',
            buttonList: [{ button: 'cancel', dismiss: 'modal' }, { button: 'delete', method: 'Submit' }],
        }
    },
    props: {
        modalId: {
            type: String,
            required: true,
            default: ''
        },
        tagList: {
            type: Array,
            required: true,
            default: []
        },
        campaignIdList: {
            type: Array,
            required: true,
            default: []
        },
        selectCampaign: {
            type: Array,
            required: true,
            default: []
        }
    },
    methods: {
        SelectTags: function(tag) {
            var index = _.indexOf(this.selectedTags, tag)
            if (index >= 0) {
                this.selectedTags.splice(index, 1)
            }
            else {
                this.selectedTags.push(tag)
            }
        },
        ErrorCheck: function() {
            if (this.selectedTags.length == 0)
                this.errMsg = this.$i18n.messages[__culture].message.Error_0007
        },
        ShowResultMsg: function(success) {
            alertify.logPosition("bottom right")
            if (success)
                alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + this.$i18n.messages[__culture].message.DeleteSuccess)
            else
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + this.$i18n.messages[__culture].message.DeleteFailed)
        },
        Submit: function() {
            var vm = this
            vm.isBusy = true
            vm.errMsg = ''
            var apiUrl = "/ace/api/campaign/deletecampaigntag"
            vm.ErrorCheck()
            if (vm.errMsg !== "")
                return
            $.post(apiUrl, {
                TagName: vm.selectedTags,
                CampaignId: vm.campaignIdList
            }).done(function(res) {
                vm.errMsg = ''
                vm.selectedTags = []
                if (res.Result) {
                    vm.ShowResultMsg(true)
                    vm.$emit('apiResult', true)
                    $('#' + vm.modalId).modal('hide')
                } else {
                    vm.errMsg = vm.$i18n.messages[__culture].message[res.Message]
                    vm.ShowResultMsg(false)
                }
            }).fail(function(err) {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0044

            }).always(function() {
                vm.isBusy = false
            })
        },
        hideErrMsg() {
            this.errMsg = ''
        }
    },
    computed: {
        FilteredTags() {
            var nameAsc = _.orderBy(this.tagList, ['name'], ['asc']);
            return nameAsc.filter((element) => {
                return element.name.match(this.searchText)
            })
        }
    }
}
</script>

<style scoped>
.scrollOfTags div {
    overflow-y: auto;
    height: 300px;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-face-color: #000000;
    scrollbar-arrow-color: #rgba(0, 0, 0, 0.3);
    scrollbar-track-color: #132332;
    scrollbar-shadow-color: #rgba(0, 0, 0, 0.5);
    scrollbar-highlight-color: #rgba(0, 0, 0, 0.8);
    scrollbar-3dlight-color: #rgba(0, 0, 0, 0.7);
}

#scrollOfTags::-webkit-scrollbar,
#scrollOfTags::-webkit-scrollbar {
    width: 10px;
}

#scrollOfTags::-webkit-scrollbar-track,
#scrollOfTags::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: gray;
    border-radius: 10px;
}

#scrollOfTags::-webkit-scrollbar-thumb,
#scrollOfTags::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #132333;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.textOverflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /*max-width: 0;*/
}

.border {
    border-radius: 5px
}

.trHover:hover {
    background-color: #5a6877;
}

.cancelbtn:hover {
    background-color: #132332;
}
</style>
