<template>
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ $t("message.Campaign_DeleteCampaign")}}</h4>
                </div>
                <div class="modal-body">
                    <div v-if="(!campaignUsedList.hasOwnProperty('DeviceName') ||  !campaignUsedList.hasOwnProperty('ScreenGroupName')) || (campaignUsedList.DeviceName.length ==0 && campaignUsedList.ScreenGroupName== 0)">
                        <h4>{{ $t("message.Campaign_DeleteCampaignRequest")}}</h4>
                    </div>
                    <div v-else>
                        <h4>{{ $t("message.Campaign_DeleteUsedCampaignRequest")}}</h4>
                        <div v-if="campaignUsedList.DeviceName.length != 0">
                            <br>
                            <label class="text-info">{{ $t("message.Device")}}</label>
                            <ul>
                                <li v-for="d in campaignUsedList.DeviceName">
                                    <span>{{ d }}</span>
                                </li>
                            </ul>
                        </div>
                        <div v-if="campaignUsedList.ScreenGroupName.length != 0">
                            <br>
                            <label class="text-info">{{ $t("message.ScreenGroup")}}</label>
                            <ul>
                                <li v-for="sg in campaignUsedList.ScreenGroupName">
                                    <span>{{ sg }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
    
                </div>
                <div class="modal-footer">
                    <span v-show="errMsg" class="text-danger">
                        <i class="fa fa-exclamation-triangle"></i>&nbsp; {{ errMsg }}
                    </span>
                    <footer-button :buttonList="buttonList" :isBusy="isBusy"></footer-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FooterButton from '../../controls/modal/footer-button.vue'
export default {
    name: 'delete-campaign-modal',
    components: {
        FooterButton
    },
    data() {
        return {
            isBusy: false,
            buttonList: [{ button: 'cancel', dismiss: 'modal' }, { button: 'delete', method: 'deleteHandler' }],
            errMsg: ''
        }
    },
    props: {
        modalId: {
            type: String,
            required: true,
            default: 'delete-campaign-modal-id'
        },
        campaignUsedList: {
            type: Object,
            required: true,
            default: null
        },
        deletingCampaign: {
            type: Object,
            required: true,
            default: {}
        }
    },
    methods: {
        deleteHandler() {
            if (!this.deletingCampaign) {
                return
            }
            this.isBusy = true
            var vm = this

            $.post('/ace/api/campaign/delete', {
                CampaignId: vm.deletingCampaign.id
            }).done(function (res) {

                if (res.Result) {
                    vm.$emit('deleteSuccess', vm.deletingCampaign)
                    alertify.logPosition("bottom right");
                    alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.DeleteSuccess);

                } else {
                    vm.errMsg = vm.$i18n.messages[__culture].message[res.Message]
                    alertify.logPosition("bottom right");
                    alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.DeleteFailed);
                }
            }).fail(function (err) {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace("/ace")
                }
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0044

            }).always(function () {

                vm.isBusy = false

                $('#' + vm.modalId).modal('hide')
            })
        }
    }
}
</script>

<style scoped>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li span {
    display: inline-flex;
    margin: 4px;
    /* padding: 8px; */
}
</style>