<template>
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 v-if="asset && asset.type ===4" class="modal-title">{{ $t("message.Library_DeleteText")}}</h4>
                    <h4 v-else-if="asset &&asset.type ===5" class="modal-title">{{ $t("message.Library_DeleteWebSite")}}</h4>
                    <h4 v-else-if="asset &&asset.type ===6" class="modal-title">{{ $t("message.Library_DeleteMarquee")}}</h4>
                    <h4 v-else-if="asset &&asset.type ===7" class="modal-title">{{ $t("message.Library_DeleteRSS")}}</h4>
                    <h4 v-else-if="asset &&asset.type ===8" class="modal-title">{{ $t("message.Library_DeleteYoutube")}}</h4>
                </div>
                <div class="modal-body">
                    <div v-if="fileUsed.length === 0">
                        <h4>{{ $t("message.Campaign_DeleteTextAssetRequest")}}</h4>
                    </div>
                    <div v-else>
                        <h4>{{$t("message.Campaign_DeleteUsedTextAssetRequest")}}</h4>
                    </div>

                    <div v-if="fileUsed.length != 0">
                        <br>
                        <label class="text-info">{{$t("message.Campaign")}}</label>
                        <ul>
                            <li v-for="(file,index) in fileUsed" class="textoverflow" :key="'file'+index">
                                <span :title="file">{{ file }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <!--Error msg-->
                    <span v-show="errMsg" class="text-danger" style="margin-right: 10px">
                        <i class="fa fa-exclamation-triangle"></i>
                        &nbsp; {{ errMsg }}
                    </span>
                    <footer-button :buttonList="buttonList" :isBusy="isBusy"></footer-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FooterButton from '../../controls/modal/footer-button.vue'

export default {
    name: 'delete-text-asset-modal',
    data() {
        return {
            errMsg: '',
            isBusy: false,
            buttonList: [{ button: 'cancel', dismiss: 'modal' }, { button: 'delete', method: 'deleteConfirm' }],

        }
    },
    components: {
        FooterButton
    },
    props: {
        modalId: {
            type: String,
            required: true,
            default: 'delete-text-asset-modal-id'
        },
        asset: {
            type: Object,
            default: {
                id: 0,
                key: 0,
                name: '',
                text: '',
                type: 4
            }
        },
        fileUsed: {
            type: Array,
            default: []
        }
    },
    watch: {
        asset() {
            this.errMsg = ''
        }
    },
    methods: {
        deleteConfirm() {

            var vm = this

            vm.isbusy = true

            if (!vm.asset) {
                return
            }

            var api = $.post('/ace/api/text/delete', {
                Id: vm.asset.id
            })
            api.done((res) => {
                if (res.Result) {
                    //success
                    //hide modal
                    $("#" + vm.modalId).modal('hide')
                    //show success message
                    if (alertify) {
                        alertify.logPosition("bottom right");
                        alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.DeleteSuccess);
                    }
                    //trigger event
                    vm.$emit('onAssetDeleted', vm.asset)

                } else {
                    //fail
                    vm.errMsg = vm.$i18n.messages[__culture].message[res.Message]
                    alertify.logPosition("bottom right");
                    alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.DeleteFailed);
                }
            })
            api.fail((err) => {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace("/ace")
                }
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0044

            })
            api.always(() => {
                vm.isbusy = false
            })
        }
    }
}
</script>

<style scoped>
.textoverflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
</style>