<template>
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog" :style="modalSizeStyle">
            <div class="modal-content">
                <div class="modal-body" style="background-color:#fff;border-radius:8px  ">
                    <button type="button" class="close" @click="close" aria-hidden="true" style="color:#aaa">&times;</button>
                    <div v-if="campaigns!==[]&& campaigns !=='undefined'">
                        <div style="margin: 1% 5%;">
                            <div class="form-group">
                                <label class="control-label" style="color:black;">{{ $t("message.Campaign_ResolutionWidth")}}</label>&nbsp;
                                <input type="number" min="1" v-bind:placeholder="$t( 'message.Campaign_Width')" v-model.number="widthPixel" style="max-width:75px;" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"></input>
                                <i class="fa fa-times text-muted"></i>
                                <input type="number" min="1" max="5" step="1" v-bind:placeholder="$t( 'message.Campaign_Count')" v-model.number="horizontalCount" style="min-width:55px;" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"></input>
                            </div>
                            <div class="form-group">
                                <label class="control-label" style="color:black;">{{ $t("message.Campaign_ResolutionHeight")}}</label>&nbsp;
                                <input type="number" min="1" v-bind:placeholder="$t( 'message.Campaign_Height')" v-model.number="heightPixel" style="max-width:75px;" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"></input>
                                <i class="fa fa-times text-muted"></i>
                                <input type="number" min="1" max="5" step="1" class="" v-bind:placeholder="$t( 'message.Campaign_Count')" v-model.number="verticalCount" style="min-width:55px;" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"></input>

                                <button type="button" class="btn btn-default btn-sm" style="border-radius: .2em; margin: 0 1%;" @click="StartPreview">
                                    <i class="fa fa-play-circle text-info"></i>&nbsp;{{ $t("message.Campaign_Preview")}}
                                </button>
                                <transition enter-active-class="animated flipInX" leave-active-class="animated zoomOut">
                                    <div v-if="errMsg" class="alert alert-danger" style="margin-top: 10px;">
                                        <button type="button" class="close" @click="hideErrMsg">&times;</button>
                                        <div v-html="errMsg"></div>
                                    </div>
                                </transition>
                            </div>
                        </div>
                        <div id="preview-container" class="template-container" :style="templateStyle">

                            <div class="preview-region" v-for="(region, index) in campaigns" :style="getRegionStyle(region)" :region-key="region.key" :key="index">
                                <div class="region-content" style="display: flex;align-items: center;justify-content: center">
                                    <template v-if=" campaigns[index].frames.length > 0 &&  frameArray[index]">
                                        <!-- image-->
                                        <div v-if="frameArray[index].frameType == 1" :style="getRegionStyle(region)">
                                            <img :src="frameArray[index].content" :style="getFrameSizeStyle(region)">
                                        </div>
                                        <!--video-->
                                        <div v-else-if="frameArray[index].frameType == 2" :style="getRegionStyle(region)">
                                            <div v-if="frameArray[index].content==''" :style="getFrameSizeStyle(region)" style="background-color: white;">
                                                <i class="fa fa-film" aria-hidden="true" style=" display: inline-block; vertical-align: middle; color: black;">&nbsp;This video size is over than 20mb</i>
                                            </div>
                                            <video v-else :id="'region'+index+'frame'+frameArray[index].fileId" :style="getFrameSizeStyle(region)" autoplay loop>
                                                <source :src="frameArray[index].content" type="video/mp4">
                                            </video>
                                        </div>
                                        <!--audio-->
                                        <div v-else-if="frameArray[index].frameType == 3" :style="getRegionStyle(region)">
                                            <audio :id="'region'+index+'frame'+frameArray[index].fileId" :style="getFrameSizeStyle(region)" autoplay loop controls>
                                                <source :src="frameArray[index].content" type="audio/mp3">
                                            </audio>
                                        </div>
                                        <!--text-->
                                        <div v-else-if="frameArray[index].frameType == 4" :style="getRegionStyle(region)">
                                            <div style="overflow:hidden;color:#000000; white-space: nowrap;" v-html="frameArray[index].content" :style="getFrameSizeStyle(region)"></div>
                                        </div>
                                        <!--web-->
                                        <div v-else-if="frameArray[index].frameType == 5" :style="getRegionStyle(region)">
                                            <div>
                                                <embed :style="getFrameSizeStyle(region)" :src="frameArray[index].content">
                                            </div>
                                        </div>
                                        <!--marquee-->
                                        <div v-else-if="frameArray[index].frameType == 6" :style="getRegionStyle(region)">
                                            <div :style="getFrameSizeStyle(region)" style="overflow:hidden;position:relative;">
                                                <div :id="'previewMar'+index+frameArray[index].fileId" class="marquee"></div>
                                            </div>
                                        </div>

                                        <!--Rss-->
                                        <div v-else-if="frameArray[index].frameType == 7" :style="getRegionStyle(region)">
                                            <!-- 此層 div 主要是為了RSS 縮放後的背景顏色區塊不會跟者變短 -->
                                            <!-- <div :style="getRSSFrameWidthSizeStyle(region,frameArray[index].style)"> -->
                                            <div :style="rssStyle(frameArray[index].style)"> {{frameArray[index].content}}
                                            </div>
                                            <!-- </div> -->
                                        </div>
                                        <!--youtube-->
                                        <div v-else-if="frameArray[index].frameType == 8" :style="getRegionStyle(region)">
                                            <embed :style="getFrameSizeStyle(region) " :src="'https://www.youtube.com/embed/'+frameArray[index].content+'?rel=0&autoplay=1&loop=1&playlist='+frameArray[index].content" allowfullscreen>
                                        </div>
                                        <!--flash-->
                                        <div v-else-if="frameArray[index].frameType == 9" :style="getRegionStyle(region)">
                                            <embed :id="'region'+index+'frame'+frameArray[index].fileId" :style="getFrameSizeStyle(region)" allowScriptAccess:="always" name="plugin" menu="false" play="true" :src="frameArray[index].content" type="application/x-shockwave-flash">
                                            <!--https://helpx.adobe.com/flash/kb/flash-object-embed-tag-attributes.html-->
                                            <!--<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" align="" :id="'region'+index+'frame'+frameArray[index].fileId">-->
                                            <!--<param name="movie" :value="frameArray[index].content">-->
                                            <!--<param name="quality" value="High">-->
                                            <!--<param name="Src" :value="frameArray[index].content">-->
                                            <!--<param name="WMode" value="Window">-->
                                            <!--<param name="Play" value="true">-->
                                            <!--<param name="Loop" value="true">-->
                                            <!--<param name="SAlign" value="">-->
                                            <!--<param name="Menu" value="true">-->
                                            <!--<param name="Base" value="">-->
                                            <!--<param name="AllowScriptAccess" value="always">-->
                                            <!--<param name="Scale" value="default">-->
                                            <!--<embed :id="'region'+index+'frame'+frameArray[index].fileId" :src="frameArray[index].content" quality="high" bgcolor="#FFFFFF" :style="getFrameSizeStyle(region)" :name="'region'+index+'frame'+frameArray[index].fileId" align="" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">-->
                                            <!--</object>-->
                                        </div>

                                        <div v-else-if="frameArray[index].frameType == 17" :style="getRegionStyle(region)">
                                            <img src="/ace/images/xps.jpg" :style="getFrameSizeStyle(region)">
                                        </div>
                                        <div v-else-if="frameArray[index].frameType == 18" :style="getRegionStyle(region)">
                                            <embed :style="getFrameSizeStyle(region)" type="application/pdf" :src='"/ace/api/library/file-pdf/"+frameArray[index].fileId'>
                                        </div>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
var _ = require('lodash')
export default {
    name: 'preview-modal',
    data() {
        return {
            selectCampaigns: [],
            campaigns: [],
            assetType: 5,
            //呈現於網頁上的寬度，高度上限(px)
            limitWidth: 1000,
            limitHeight: 800,
            frameArray: [
                //[region1現在要播的Frame,region2,region3......]
            ],
            timer: [],
            tempWidth: 1920,
            tempHeight: 1080,
            realWidthRatio: 1,
            realHeightRatio: 1,
            widthPixel: 1920,
            heightPixel: 1080,
            horizontalCount: 1,
            verticalCount: 1,
            errMsg: ''
        }
    },
    props: {
        modalId: {// 從上層傳來的, 要編輯的campaign id, 若是新增, 此值為0
            type: String,
            required: true,
            default: ''
        },
        parentCampaign: {
            type: Array,
            required: true,
            default: {}
        },
        width: {
            type: Number,
            required: true,
            default: 1920
        },
        height: {
            type: Number,
            required: true,
            default: 1080
        },
        previewModalStatus: {
            type: Boolean,
            required: false,
            default: false
        },
        totalTime: {
            type: Number,
            required: true,
            default: 60
        },
        repostFileInfo: {
            type: Boolean,
            required: false,
            default: false
        }
    },
    watch: {
        parentCampaign(val) {
            //整理camp
            this.MakeFileArray(_.cloneDeep(this.parentCampaign))
        },
        previewModalStatus() {
            //true 為開啟modal
            // if (this.previewModalStatus) {
            //     this.TimerCheckData()
            // }
        },
        repostFileInfo(val) {
            if (val) {
                this.MakeFileArray(_.cloneDeep(this.parentCampaign))
                this.$emit('repostOver', false);
            }
        }
    },
    methods: {
        close() {
            //Close modal
            $("#" + this.modalId).modal('hide')
            this.clearAllTimer();
            this.frameArray = []
            this.$emit('previewModalClose', false)
        },
        getRegionStyle(region) {
            return {
                width: region.width * this.scaleRatio * this.realWidthRatio + 'px',
                height: region.height * this.scaleRatio * this.realHeightRatio + 'px',
                left: region.left * this.scaleRatio * this.realWidthRatio + 'px',
                top: region.top * this.scaleRatio * this.realHeightRatio + 'px',
                "z-index": region.layerOrder + 9999
            }
        },
        //copy props parentCampaign
        MakeFileArray(parent) {
            //整理所有的frame 打成一包[{},{},{}]
            var vm = this;
            var index, fileId = '', frameType = '', frames = [], arrayForPost = [], obj = {}, frameIndex;
            for (var item in parent) {
                index = parseInt(item);
                frames = parent[item].frames
                for (var frameIndex in frames) {
                    fileId = frames[frameIndex].fileId;
                    frameType = frames[frameIndex].frameType;
                    obj = {
                        FileId: fileId,
                        FileType: frameType,
                        Index: index,
                        FrameIndex: parseInt(frameIndex)
                    }
                    arrayForPost.push(obj);
                }
            }
            if (arrayForPost.length > 0) {
                // 透過API要file資訊
                $.post('/ace/api/library/all-file-path', {
                    AllFile: arrayForPost
                }).done(function(res) {
                    if (res) {
                        vm.SortOutCampaigns(res);
                    }
                }).fail(function(err) {
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace("/ace")
                    }
                });
            } else {
                //當campaign為空時
                vm.SortOutCampaigns([]);
            }
        },
        SortOutCampaigns(data) {
            var vm = this
            var frame
            vm.campaigns = _.cloneDeep(vm.parentCampaign)
            if (vm.campaigns.length > 0 && vm.campaigns !== 'undefined') {
                data.forEach(function(val, index) {
                    frame = vm.campaigns[val.Index].frames[val.FrameIndex]
                    if (frame["content"] !== 'undefined') {
                        if (val.FileType == 7) {
                            frame["content"] = val.RssContent
                            frame["style"] = JSON.parse(val.Content)
                        } else if (val.FileType === 6) {
                            frame["content"] = JSON.parse(val.Content)
                            frame["content"]["Width"] = vm.campaigns[val.Index].width
                        } else {
                            frame["content"] = val.Content
                        }
                    }
                });
            }
        },
        //找出region中frame最多的
        CheckMaxFrameLength() {
            var maxFrameLength = 0;
            this.campaigns.forEach(function(val) {
                if (val.frames.length > maxFrameLength)
                    maxFrameLength = val.frames.length
            })
            return maxFrameLength
        },
        TimerCheckData() {
            var vm = this;
            var MaxFrameLength = this.CheckMaxFrameLength()
            //清除timer
            vm.clearAllTimer();
            vm.frameArray = []//clear 播放的Array
            var endTimeArray = [] //save every region endTime
            var filterArray = []//save filter check
            var c = 0 //vm.campaigns.length count
            //初始endTimeArray
            for (var idx = 0; idx < vm.campaigns.length; idx++) {
                endTimeArray[idx] = { "endTime": 0, endCheck: vm.campaigns[idx].frames.length === 0 ? true : false }
                vm.setTimer(idx, null, vm.totalTime)
            }
            //若 campaign 時長大於0才播放
            if (endTimeArray.length > 0 && vm.totalTime > 0) {
                //使用最大的frame 長度來檢查 frame order 從 1 開始
                var i = 1
                do {
                    c = 0
                    do {//依次針對每個 region 做檢查                        
                        // var preidx = _.findIndex(vm.campaigns[c].frames, function (o) { return o.order == i-1 });
                        if (endTimeArray[c].endTime < vm.totalTime && !endTimeArray[c].endCheck) {
                            //idx 找這個region內的frame是否有到第i個 如果有傳回i
                            var idx = _.findIndex(vm.campaigns[c].frames, function(o) { return o.order == i });

                            if (idx !== -1) { //此region有找到此order的frame
                                //為了配合player目前邏輯，所以region只有一筆時，忽略segment的length，若要改回只須留else
                                if (vm.campaigns[c].frames.length === 1) { //若此region只有一筆frame
                                    //開始時間為前一個的結束時間
                                    vm.campaigns[c].frames[idx].startTime = endTimeArray[c].endTime
                                    vm.campaigns[c].frames[idx].endTime = vm.totalTime
                                    vm.campaigns[c].frames[idx].length = vm.totalTime
                                    var startTime = vm.campaigns[c].frames[idx].startTime
                                    var endTime = vm.totalTime
                                } else {
                                    //開始時間為前一個的結束時間
                                    vm.campaigns[c].frames[idx].startTime = endTimeArray[c].endTime
                                    vm.campaigns[c].frames[idx].endTime = vm.campaigns[c].frames[idx].startTime + vm.campaigns[c].frames[idx].length
                                    var startTime = vm.campaigns[c].frames[idx].startTime
                                    var endTime = vm.campaigns[c].frames[idx].endTime
                                }
                                var obj = _.cloneDeep(vm.campaigns[c].frames[idx])
                                if (startTime < vm.totalTime) {
                                    //設定此region當前frame結束時間
                                    endTimeArray[c].endTime = endTime
                                    //設定此region當前frame delay多久開始
                                    vm.setTimer(c, obj, startTime, vm.campaigns[c].width)
                                }
                                //若此region的最後時間已經超過campaign 設定時間 則設定region的清除
                                if (endTimeArray[c].endTime >= vm.totalTime) {
                                    vm.setTimer(c, null, endTimeArray[c].endTime)
                                    endTimeArray[c].endCheck = true
                                }
                            }
                        }
                        c++;
                    } while (c < vm.campaigns.length)
                    //判斷全部的region完成時間是否大於設定時間
                    filterArray = _.filter(endTimeArray, function(o) { return !o.endCheck; })
                    i = (i % MaxFrameLength) + 1
                } while (filterArray.length > 0)
            }
        },
        setTimer(c, obj, delayTime, regionWidth) {
            var vm = this
            if (obj !== null && obj.frameType === 7) {
                //rss 間隔幾秒
                var interval = parseInt(obj.style.Interval)
                //能輪播幾個
                var count = Math.floor(obj.length / interval)
                var rssTime = 0
                var contentLength = obj.content.length
                for (var i = contentLength; i < count + contentLength; i++) {
                    var rssObj = _.cloneDeep(obj)
                    rssObj.content = obj.content[(i % contentLength)]
                    vm.setRssTimer(rssObj, c, delayTime, rssTime)
                    rssTime += interval
                }
            } else if (obj !== null && obj.frameType === 4) {
                var textObj = _.cloneDeep(obj)

                if (textObj.content.match(/font-size:\s\d+px/g)) {

                    var fontWidth = 0
                    textObj.content = textObj.content.replace(/font-size:\s\d+px/g, function(word) {
                        fontWidth = parseFloat(word.substring(10, word.length - 2)) * vm.textScaleRatio
                        return 'font-size: ' + fontWidth + "px"
                    });
                    // textObj.content = "<div style='transform:scale(" + fontWidth / 12 + ");-webkit-transform-origin-x:0%'" + textObj.content + "</div>"
                    textObj.content = textObj.content
                    vm.SetTextTimer(textObj, c, delayTime)
                }
                else {
                    vm.SetTextTimer(textObj, c, delayTime)
                }
            }
            else {
                vm.timer.push(setTimeout(function() {
                    vm.$set(vm.frameArray, c, obj)
                    if (obj !== null) {
                        if (obj.frameType === 2 || obj.frameType === 3 || obj.frameType === 9) {
                            vm.$nextTick(function() {
                                // vm.autoReplay(c, obj);
                            })
                        } else if (obj.frameType === 6) {
                            vm.$nextTick(function() {
                                vm.bindMarquee(obj, c)
                            })
                        }
                    }
                }, delayTime * 1000))
            }
        },
        setRssTimer(obj, c, delayTime, rssTime) {
            var vm = this
            vm.timer.push(setTimeout(function() {
                vm.$set(vm.frameArray, c, obj)
            }, (delayTime + rssTime) * 1000))
        },
        SetTextTimer(obj, c, delayTime) {
            var vm = this
            var textObj = _.cloneDeep(obj)
            vm.timer.push(setTimeout(function() {
                vm.$set(vm.frameArray, c, textObj)
            }, delayTime * 1000))
        },
        //清除所有timer
        clearAllTimer() {
            for (var i = 0; i < this.timer.length; i++) {
                window.clearTimeout(this.timer[i]);
            }
        },
        //綁定所有的跑馬燈
        bindMarquee(data, c) {
            var vm = this
            var obj = data.content
            var regionWidth = vm.scaleRatio * obj.Width * vm.realWidthRatio
            var fontWidth = obj.FontSize * vm.textScaleRatio
            var duration = 20000 * obj.Width * vm.realWidthRatio / vm.tempWidth

            setTimeout(function() {
                // if (fontWidth < 12) {
                //     var scaleRatio = fontWidth / 12
                //     $('#previewMar' + c + data.fileId).text(obj.Text).css('font-size', fontWidth + 'px').css('color', '#' + obj.Color).css('transform', "scale(" + scaleRatio + ")").css("-webkit-transform-origin-x", "0%")
                // } else {
                $('#previewMar' + c + data.fileId).text(obj.Text).css('font-size', fontWidth + 'px').css('color', '#' + obj.Color)
                // }
                $('#previewMar' + c + data.fileId).marquee({
                    duration: duration
                })
            }, 200)

        },
        getFrameSizeStyle(region) {
            return {
                width: region.width * this.scaleRatio * this.realWidthRatio + 'px',
                height: region.height * this.scaleRatio * this.realHeightRatio + 'px',
                "z-index": region.layerOrder + 9999
            }
        },
        getRSSFrameWidthSizeStyle(region, styleObj) {
            var rssObj = _.cloneDeep(styleObj)
            return {
                backgroundColor: rssObj.BackgroundColor ? '#' + rssObj.BackgroundColor : '#000000',
                width: region.width * this.scaleRatio * this.realWidthRatio + 'px',
                "z-index": region.layerOrder + 9999
            }
        },
        rssStyle(obj) {
            var realFontSizeScale = obj.FontSize * this.textScaleRatio / 12
            var rssObj = _.cloneDeep(obj)

            return {
                backgroundColor: rssObj.BackgroundColor ? '#' + rssObj.BackgroundColor : '#000000',
                fontSize: obj.FontSize * this.textScaleRatio + "px",
                // "transform": obj.FontSize * this.textScaleRatio < 12 ? "scale(" + realFontSizeScale + ")" : "scale(1)",//12px 以下做縮放調整字體大小
                // "-webkit-transform-origin-x": "0%",//為了讓縮放後的可以靠邊不會留空
                // "-webkit-transform-origin-y": "0%",//為了讓縮放後的可以靠邊不會留空
                color: '#' + obj.Color,
                "white-space": "nowrap",
                "overflow": "hidden",
                position: "relative"
            }
        },
        autoReplay(idx, obj) {
            if (obj.frameType === 2 || obj.frameType === 3) {
                var video = document.getElementById('region' + idx + 'frame' + obj.fileId);
                video.currentTime = 0;
                video.play();
            } else if (obj.frameType === 9) {
                var flash = document.getElementById('region' + idx + 'frame' + obj.fileId)
                if (flash.Rewind) {
                    flash.Rewind() //倒帶
                    flash.Play()
                }
            }
        },
        //驗證預覽輸入資料的合法性
        DataVaild() {
            var vm = this
            vm.errMsg = ''
            if (vm.horizontalCount === '' || vm.verticalCount === '' || vm.widthPixel === '' || vm.heightPixel === '') {
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0049
            } else {
                if (vm.horizontalCount === 0 || vm.verticalCount === 0 || vm.widthPixel === 0 || vm.heightPixel === 0) {
                    vm.errMsg = vm.$i18n.messages[__culture].message.Error_0050
                }
                if (vm.widthPixel < 1024 || vm.heightPixel < 768) {
                    vm.errMsg = vm.$i18n.messages[__culture].message.Error_0051
                }
                if (vm.horizontalCount * vm.verticalCount > 25) {
                    vm.errMsg = vm.$i18n.messages[__culture].message.Error_0052
                }

            }
        },
        StartPreview() {
            var vm = this;
            vm.DataVaild()
            if (vm.errMsg !== '') {
                setTimeout(function() {
                    vm.errMsg = ''
                }, 2000);
                return
            }

            this.tempWidth = this.widthPixel * this.horizontalCount
            this.tempHeight = this.heightPixel * this.verticalCount
            this.realWidthRatio = this.tempWidth / this.width
            this.realHeightRatio = this.tempHeight / this.height

            this.$nextTick(function() {
                this.MakeFileArray(_.cloneDeep(this.parentCampaign))
                this.TimerCheckData()
            })

        },
        hideErrMsg: function() {
            this.errMsg = '';
        },
    },
    computed: {
        templateStyle() {
            return {
                width: this.tempWidth * this.scaleRatio + 'px',
                height: this.tempHeight * this.scaleRatio + 'px',
            }
        },
        textScaleRatio() {//text aseet font size use
            return this.limitWidth / this.tempWidth
        },
        scaleRatio() { //region use        
            if (this.tempWidth >= this.tempHeight) {
                return this.limitWidth / this.tempWidth
            } else {
                return this.limitHeight / this.tempHeight
            }
        },
        modalSizeStyle() {
            return {
                width: this.tempWidth * this.scaleRatio * 1.2 + 'px',
                height: this.tempHeight * this.scaleRatio * 1.2 + 'px',
                top: 100 + 'px'
            }
        }
    }
}
</script>

<style scoped>
div.template-container {
    border: 1px solid #596a7b;
    background-color: black;
    position: relative;
    overflow: hidden;
    margin: auto;
}

div.preview-region {
    position: absolute;
}

.region-content {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
</style>