<template>
    <div class="modal fade bs-example-modal-lg" :id="modalId" @click="stop">
        <div class="reveal-modal">
            <div v-if="fileType === 2" class="fill">
                <video class="imga" controls :poster="imgSrc" id="v1">
                    <source :src="video" type="video/mp4">
                </video>
            </div>
            <div v-if="fileType === 1" class="fill">
                <img :src="imgSrc" alt="Test" class="imga">
            </div>
            <button type="button" class="close close-reveal-modal" data-dismiss="modal" aria-hidden="true" @click="stop">&times;</button>
        </div>
    </div>
</template>

<script>
export default {
    name: 'preview-file-modal',
    data() {
        return {

        }
    },
    props: {
        modalId: {
            type: String,
            required: true,
            default: 'preview-modal'
        },
        fileId: {
            type: Number,
            required: true,
            default: 0
        },
        fileType: {
            type: Number,
            required: true,
            default: 0
        },
        fileName: {
            type: String,
            required: true,
            default: ''
        }
    },
    computed: {
        imgSrc() {
            return '/ace/api/library/file-image/' + this.fileId
        },
        video() {
            return '/ace/api/library/file-video/' + this.fileId
        }
    },
    watch: {
        video: function (val) {
            //切換影片
            var video = document.getElementById('v1');
            if (video) {
                video.src = val;
                video.pause()
            }
        }
    },
    methods: {
        stop: function () {
            //點選Modal使影片暫停
            var video = document.getElementById("v1");
            if (video) {
                video.pause()
            }
        }
    }
}
</script>

<style scoped>
.preview-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fill {
    width: 100%;
    float: left;
    height: 100%;
}

.fill .imga {
    width: 100%;
    height: 100%;
}

.imga {
    max-width: 100%;
    max-height: 100%;
}

.reveal-modal {
    top: 100px;
    left: 20%;
    width: 60%;
    height: 80%;
    background-color: #fff;
    position: absolute;
    z-index: 101;
    padding: 30px 20px 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

.reveal-modal .close-reveal-modal {
    font-size: 22px;
    line-height: .5;
    position: absolute;
    top: 8px;
    right: 11px;
    color: #aaa;
    text-shadow: 0 -1px 1px rbga(0, 0, 0, .6);
    font-weight: bold;
    cursor: pointer;
}

.fill {
    width: 100%;
    float: left;
    height: 100%;
}
</style>
