<template>
    <!--4 collapse panel-->

    <div class="panel-group">

        <div class="panel panel-default">
            <div class="panel-heading" @click="clickHeader(0)">
                <h4 class="panel-title">
                    <slot name="header-0"></slot>
                </h4>
                <i class="fa fa-angle-left" :class="{ selected: selected[0]}"></i>
            </div>
            <div v-show="selected[0]" class="panel-collapse">
                <div class="panel-body">
                    <slot name="body-0"></slot>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" @click="clickHeader(1)">
                <h4 class="panel-title">
                    <slot name="header-1"></slot>
                </h4>
                <i class="fa fa-angle-left" :class="{ selected: selected[1]}"></i>
            </div>
            <div v-show="selected[1]" class="panel-collapse">
                <div class="panel-body">
                    <slot name="body-1"></slot>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" @click="clickHeader(2)">
                <h4 class="panel-title">
                    <slot name="header-2"></slot>
                </h4>
                <i class="fa fa-angle-left" :class="{ selected: selected[2]}"></i>
            </div>
            <div v-show="selected[2]" class="panel-collapse">
                <div class="panel-body">
                    <slot name="body-2"></slot>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" @click="clickHeader(3)">
                <h4 class="panel-title">
                    <slot name="header-3"></slot>
                </h4>
                <i class="fa fa-angle-left" :class="{ selected: selected[3]}"></i>
            </div>
            <div v-show="selected[3]" class="panel-collapse">
                <div class="panel-body">
                    <slot name="body-3"></slot>
                </div>
            </div>
        </div>

        <div v-show="!selectedType.event" class="panel panel-default">
            <div class="panel-heading" @click="clickHeader(4)">
                <h4 class="panel-title">
                    <slot name="header-4"></slot>
                </h4>
                <i class="fa fa-angle-left" :class="{ selected: selected[4]}"></i>
            </div>
            <div v-show="selected[4]" class="panel-collapse">
                <div class="panel-body">
                    <slot name="body-4"></slot>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: 'publish-modal-collapse',
    props: {
        initIndex: {
            type: Number,
            required: true,
            default: 0
        },
        selectedType: {
            type: Object,
            required: false,
            default: {
                general: true,
                face: false,
                spot: false,
                event: false,
            }
        }
    },
    data() {
        return {
            selected: [
                false, //panel 0
                false, //panel 1
                false, //panel 2
                false, //panel 3
                false //panel 4
            ]
        }
    },
    mounted() {
        this.selectedIndex = this.initIndex
        this.$set(this.selected, this.selectedIndex, true)
    },
    watch: {

    },
    methods: {
        clickHeader(index) {
            this.$set(this.selected, index, !this.selected[index])
        }
    }
}
</script>

<style scoped>
.fa.fa-angle-left {
    /*transition: all .2s;*/
}

.fa.fa-angle-left.selected {
    transform: rotate(-90deg)
}

.fa-angle-down,
.fa-angle-left {
    position: absolute;
    right: 15px;
    top: 10px;
}

.panel-heading {
    background-color: #1a2a3a;
    cursor: pointer;
    position: relative;
    transition: background-color .2s ease;
}

.panel-heading:hover {
    background-color: #132333;
}

.panel-body {
    /*background-color: black;*/
    background-color: #223242;
}
</style>