<template>
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog modal-lg">
            <div class="modal-content inner">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <i class="glyphicon glyphicon-floppy-open"></i> &nbsp;{{$t("message.Campaign_ReplaceCampaign")}}
                    </h4>
                </div>
                <div class="modal-body">
                    <div style="float:right;">
                        <input type="text" class="btn btn-default btn-sm" style="text-align: left; display: inline-block;margin: 2px; cursor:text;" id="btnSearch" v-model="searchText" v-bind:placeholder=" $t('message.Search')">
                        <i class="fa fa-search" style="margin-left: 10px; margin-right: 10px; font-size:20px;align-items: center; display: inline-flex;"></i>
                    </div>
                    <table class="table">
                        <thead colspan="5">
                            <tr>
                                <th class="col-sm-1 textOverflow text-info"></th>
                                <th class="col-sm-3 textOverflow text-info">{{$t("message.Campaign_CampaignName")}}</th>
                                <th class="col-sm-3 textOverflow text-info">{{$t("message.Campaign_Duration")}}</th>
                                <th class="col-sm-3 textOverflow text-info">{{$t("message.Campaign_UpdateDate")}}</th>
                                <th class="col-sm-2 textOverflow text-info">{{$t("message.Campaign_UpdateBy")}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="filteredcampaigns" colspan="5">
                                    <div id="filteredcampaignsList">
                                        <table class="table table-hover">
                                            <tbody>
                                                <tr v-for="(cp,index) in filteredCampaigns" :key="'campaign'+index" @click="SelectedReplaceCampaign(cp)">
                                                    <td class="col-md-1">
                                                        <label class="btn btn-default btn-sm" style="margin: 2px;">
                                                            <input type="radio" v-model="selectCampaign" :value="cp" :disabled="cp.CampaignId==selectCampaignId">
                                                        </label>
                                                    </td>
                                                    <td class="col-md-3 textOverflow" :title="cp.CampaignName">{{ cp.CampaignName }}</td>
                                                    <td class="col-md-3 textOverflow" :title="cp.Duration">{{cp.Duration}}</td>
                                                    <td class="col-md-3 textOverflow" :title="ChangeDate(cp.UpdateDate)">{{ChangeDate(cp.UpdateDate)}}</td>
                                                    <td class="col-md-2 textOverflow" :title="cp.UpdatebyUserName">{{cp.UpdatebyUserName}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <span v-if='errMsg' class="text-danger">
                        <i class="fa fa-exclamation-triangle"></i>&nbsp; {{ errMsg }}&nbsp;
                    </span>
                    <footer-button :buttonList="buttonList" :isBusy="isSaving"></footer-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FooterButton from '../../controls/modal/footer-button.vue'
import Bus from '../../controls/bus'
var _ = require('lodash')

export default {
    components: {
        FooterButton
    },
    name: 'replace-campaign-modal',
    props: {
        modalId: {
            type: String,
            required: true,
            default: 'replace-campaign-modal'
        },
        indexOrTemplate: {
            type: Boolean,
            required: true,
            default: true
        },
        selectCampaignId: {
            type: Number,
            required: true,
            default: 0
        }
    },
    mounted() {
        this.GetAllCampaign();
    },
    created() {
        Bus.$on('Campaign-CampaignChange', (val) => {
            if (val) {
                this.GetAllCampaign()
                this.selectCampaign = 0
            }
        })
    },
    data() {
        return {
            selectCampaign: '',
            searchText: '',
            isSaving: false,
            indexOrTemplate: true,
            errMsg: '',
            campaigns: [
                //{ id: 1, key: 1, name: 'Campaign 1', duration: 30 }             
            ],
            buttonList: [{ button: 'cancel', dismiss: 'modal' }, { button: 'save', method: 'saveClick', name: this.$i18n.messages[__culture].message.Campaign_ReplaceCampaign }]
        }
    },
    computed: {
        filteredCampaigns() {
            var nameAsc = _.orderBy(this.campaigns, ['CampaignName'], ['asc']);
            return nameAsc.filter((element) => {
                if (this.searchText.trim() == "" || !this.searchText.trim().match(/^[^?*[+()^\\\/]+$/g)) {
                    this.searchText = ""
                    return element
                }
                return element.CampaignName.match(this.searchText)
            })
        },
    },
    methods: {
        GetAllCampaign() {
            var vm = this
            if (vm.searchText.trim() != "" && !this.searchText.trim().match(/^[^?*[+()^\\\/]+$/g)) {
                alertify.logPosition("bottom right");
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.Error_0003);
                return
            }
            var obj = {
                searchText: vm.searchText.trim()
            }
            //get data 清空資料    
            vm.isSaving = true
            $.post("/ace/api/campaign/getallcampaigninfo", obj).done(function(res) {
                if (res.Result) {
                    vm.campaigns = res.Data.CampaignsList
                }
            }).fail(function(err) {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace("/ace")
                }
            }).always(function() {
                vm.isSaving = false
            })

        },
        saveClick() {
            var vm = this
            if (vm.selectCampaign.CampaignId == null) {
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0024
            }
            else if (!vm.indexOrTemplate) {
                //為了在tempkate 畫面裡面編輯但不想存檔的使用者 給予取代現有編輯內容至另外的campaign                           
                this.$emit("ReplaceCampaign", vm.selectCampaign)
                $("#" + this.modalId).modal('hide')
            }
            else {
                vm.isSaving = true
                var api = $.post('/ace/api/campaign/replacecampaign', {
                    ReplaceCampaignId: vm.selectCampaignId, SaveAsCampaignId: vm.selectCampaign.CampaignId, SaveAsCampaignName: vm.selectCampaign.CampaignName
                }).done(function(res) {
                    if (res.Result) {
                        if (alertify) {
                            alertify.logPosition("bottom right")
                            alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.SaveSuccess)
                        }
                        Bus.$emit("Campaign-CampaignChange", true)
                        vm.$emit("ReplaceCampaign")
                        $("#" + vm.modalId).modal('hide')
                    } else {
                        alertify.logPosition("bottom right")
                        alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.SaveFailed)
                        if (res.Data) {
                            // res.Data = "Error_0023"
                            //Campaign name 已存在
                            checkErr.push(vm.$i18n.messages[__culture].message[res.Message])
                            var html = "<ul style='list-style: initial'>"
                            $.each(checkErr, (i, err) => {
                                html += "<li>" + err + "</li>"
                            })
                            html += "</ul>"
                            vm.errMsg = html
                        }
                    }
                }).fail(function(err) {
                    //error
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace("/ace")
                    }
                    vm.isSaving = false
                })
            }
        },
        SelectedReplaceCampaign(campaign) {
            var vm = this
            if (vm.selectCampaignId != campaign.CampaignId)
                this.selectCampaign = campaign
        },
        ChangeDate: function(val) {
            //2017/05/26 1:31
            var d = new Date(val);
            var n = d.getFullYear() + "/" + (parseInt(parseInt(d.getMonth()) + 1) < 10 ? "0" + parseInt(parseInt(d.getMonth()) + 1) : parseInt(parseInt(d.getMonth()) + 1)) +
                "/" + (d.getDate() < 10 ? "0" + d.getDate() : d.getDate()) + " " + (d.getHours() < 10 ? "0" + d.getHours() : d.getHours()) + ":" + (d.getMinutes() < 10 ? "0" +
                    d.getMinutes() : d.getMinutes());
            return n
        }
    }

}
</script>

<style scoped>
.modal-header,
.modal-footer {
    background-color: #2a3a4a;
}

.modal-body {
    background-color: #334353;
}



::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: white;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
}



.filteredcampaigns div {
    cursor: pointer;
    overflow-y: auto;
    height: 300px;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-face-color: #000000;
    scrollbar-arrow-color: #rgba(0, 0, 0, 0.3);
    scrollbar-track-color: #ebebeb;
    scrollbar-shadow-color: #rgba(0, 0, 0, 0.5);
    scrollbar-highlight-color: #rgba(0, 0, 0, 0.8);
    scrollbar-3dlight-color: #rgba(0, 0, 0, 0.7);
}

.selectedList {
    overflow-y: auto;
    overflow-x: hidden;
    height: 250px;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-face-color: #000000;
    scrollbar-arrow-color: #rgba(0, 0, 0, 0.3);
    scrollbar-track-color: #ebebeb;
    scrollbar-shadow-color: #rgba(0, 0, 0, 0.5);
    scrollbar-highlight-color: #rgba(0, 0, 0, 0.8);
    scrollbar-3dlight-color: #rgba(0, 0, 0, 0.7);
}

#filteredcampaignsList::-webkit-scrollbar,
#filteredScreenList::-webkit-scrollbar,
#filteredDeviceList::-webkit-scrollbar,
.selectedList::-webkit-scrollbar {
    width: 10px;
}

#filteredcampaignsList::-webkit-scrollbar-track,
#filteredDeviceList::-webkit-scrollbar-track,
#filteredScreenList::-webkit-scrollbar-track,
.selectedList::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: gray;
    border-radius: 10px;
}

#filteredcampaignsList::-webkit-scrollbar-thumb,
#filteredDeviceList::-webkit-scrollbar-thumb,
#filteredScreenList::-webkit-scrollbar-thumb,
.selectedList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #132333;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.textOverflow {
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    /*max-width: 0;*/
}
</style>