<template>
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog modal-sm">
            <div class="modal-content inner">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <i class="glyphicon glyphicon-floppy-saved"></i> &nbsp;{{$t("message.Campaign_SaveAsCampaign")}}
                    </h4>
                </div>
                <div class="modal-body">
                    <th class="textOverflow text-info">{{$t("message.Campaign_CampaignName")}}</th>
                    <input type="text" v-model="name" class="form-control thin-input"></input>
                </div>
                <div class="modal-footer">
                    <span v-if='errMsg' class="text-danger">
                        <i class="fa fa-exclamation-triangle"></i>&nbsp; {{ errMsg }}&nbsp;
                    </span>
                    <footer-button :buttonList="buttonList" :isBusy="isSaving"></footer-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FooterButton from '../../controls/modal/footer-button.vue'
import Bus from '../../controls/bus'
var _ = require('lodash')

export default {
    components: {
        FooterButton
    },
    name: 'save-as-campaign-modal',
    props: {
        modalId: {
            type: String,
            required: true,
            default: 'save-as-campaign-modal'
        }
    },
    data() {
        return {
            name: '',
            errMsg: '',
            buttonList: [{ button: 'cancel', dismiss: 'modal' }, { button: 'save', method: 'saveClick', name: this.$i18n.messages[__culture].message.Campaign_SaveAsCampaign }]
        }
    },

    methods: {
        saveClick() {
            var vm = this
            if (vm.name == null) {
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0024
            }
            this.$emit("SaveAsCampaign", vm.name)
            this.name = ''
            $("#" + this.modalId).modal('hide')
        },
    }

}
</script>

<style scoped>
.modal-header,
.modal-footer {
    background-color: #2a3a4a;
}

.modal-body {
    background-color: #334353;
}

.textOverflow {
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    /*max-width: 0;*/
}

.thin-input {
    /*display: block;*/
    height: 28px;
    border-radius: .2em;
    margin-bottom: 5px;
}
</style>