<template>
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        <tools-type-icon style="display: inline-block" :media-type="segment.fileType" :show-desc="true"></tools-type-icon>
                    </h4>
                </div>
                <div class="modal-body">
                    <div style="font-weight: 100">
                        {{ GetFileName(segment) }}
                    </div>

                    <hr>
                    <div style="margin-bottom: 5px">
                        <label class="control-label">{{ $t("message.Campaign_MediaDuration")}}</label>
                        <div style="width: 200px;border: 1px solid lightslategray">
                            <time-input v-model="duration" zero-time-msg="0s">
                                <i slot="clear-icon" class="fa fa-repeat" data-toggle="tooltip" data-placement="right" title="Loop"></i>
                            </time-input>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <div class="modal-footer">
                    <span v-if='errMsg' class="text-danger">
                        <i class="fa fa-exclamation-triangle"></i>&nbsp; {{ errMsg }}&nbsp;
                    </span>
                    <footer-button :buttonList="buttonList" :isBusy="isBusy"></footer-button>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import TimeInput from '../../controls/time-input.vue'
import FooterButton from '../../controls/modal/footer-button.vue'
import ToolsTypeIcon from '../../controls/tools-type-icon.vue'

export default {
    name: 'segment-setting-modal',
    components: {
        TimeInput,
        FooterButton,
        ToolsTypeIcon
    },
    data() {
        return {
            duration: 0,
            errMsg: '',
            isBusy: false,
            buttonList: [{ button: 'cancel', dismiss: 'modal' }, { button: 'save', method: 'Save' }]
        }
    },
    watch: {
        //當Segment有變更時要重設相關參數值
        segment() {
            this.duration = this.segment.duration
        }
    },
    props: {
        modalId: {
            type: String,
            required: false,
            default: 'segmentSettingModal'
        },
        segment: {
            type: Object,
            required: true,
            default: {
                regionId: 0,
                fileName: '',
                fileType: '',
                fileId: 0,
                order: 0,
                key: 0,
                duration: 0
            }
        }
    },
    methods: {
        Save() {
            this.InvalidTime()
            if (this.errMsg !== '') {
                return
            } else {
                this.segment.duration = this.duration
                $('#' + this.modalId).modal('hide')
            }

        },
        InvalidTime() {
            this.errMsg = ''
            if (this.duration < 10) {
                this.errMsg = this.$i18n.messages[__culture].message.Error_0019
                //未大於0 則用原本的值
                this.duration = this.segment.duration
            }
        },
        GetFileName: function(segment) {
            switch (segment.fileName) {
                case "10":
                    return this.$i18n.messages[__culture].message.Weather
                case "110":
                    return this.$i18n.messages[__culture].message.TraditionalClock
                case "111":
                    return this.$i18n.messages[__culture].message.ElectronicClock
                case "12":
                    return this.$i18n.messages[__culture].message.Menu
                case "13":
                    return this.$i18n.messages[__culture].message.NullImage
            }
            return segment.fileName
        }

    }
}
</script>

<style scoped>

</style>