<template>
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" v-html="modalTitle"></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">{{$t('message.Library_Name')}}</label>
                        <input type="text" class="form-control inputText" v-model="name" v-if="asset.type === 8" style="width:80%">
                        <input type="text" class="form-control inputText" v-model="name" v-else>
                    </div>
                    <!--Text editor-->
                    <div v-show="asset.type === 4">
                        <label class="control-label">{{$t('message.Library_Text')}}</label>
                        <div>
                            <div class="form-group" id="textEditor" v-model="text" />
                        </div>
                    </div>

                    <!--Web site editor-->
                    <div v-show="asset.type === 5" class="form-group">
                        <label class="control-label">{{$t('message.Library_EnterUrl')}}</label>
                        <input type="text" class="form-control inputText" :placeholder="$t('message.Library_EnterUrl')" v-model="text" />
                    </div>

                    <!--Marquee editor-->
                    <div v-show="asset.type === 6">
                        <div class="form-group form-group-medium-width">
                            <label>{{$t('message.Library_Fontsize')}}
                                <span class="required-star">*</span>
                            </label>
                            <input type="text" class="form-control inputText" v-model="marquee.tbFontSize" onkeyup="value=value.replace(/[^\d]/g,'') " />
                        </div>
                        <div class="form-group">
                            <label>{{$t('message.Library_MarqueeText')}}
                                <span class="required-star">*</span>
                            </label>
                            <input type="text" class="form-control inputText" :placeholder="$t('message.Library_EnterText')" v-model="text" />
                        </div>
                        <div class="form-group form-group-medium-width">
                            <label>{{$t('message.Library_Fontcolor')}}
                                <span class="required-star">*</span>
                            </label>
                            <chrome :value="marqueeColors" @input="UpdateMarqueePick"></chrome>
                        </div>

                        <br>
                        <!--預覽區塊-->
                        <div class="marquee" :value="changeMarquee" style="overflow-x:hidden"></div>
                    </div>

                    <!--Rss site editor-->
                    <div v-show="asset.type === 7">
                        <div class="form-group form-group-medium-width">
                            <label>{{$t('message.Library_URL')}}
                                <span class="required-star">*</span>
                            </label>
                            <input type="text" class="form-control inputText" :placeholder="$t('message.Library_EnterUrl')" v-model="text" />
                        </div>
                        <div class="form-group form-group-medium-width">
                            <label>{{$t('message.Library_Fontsize')}}
                                <span class="required-star">*</span>
                            </label>
                            <input type="text" class="form-control inputText" v-model="rss.tbFontSize" onkeyup="value=value.replace(/[^\d]/g,'') " />
                        </div>

                        <div class="form-group form-group-medium-width">
                            <div style="display:inline-block;margin:10px;">
                                <label>{{$t('message.Library_Fontcolor')}}
                                    <span class="required-star">*</span>
                                </label>
                                <chrome :value="fontColors" @input="UpdateFontPick"></chrome>
                            </div>
                            <div style="display:inline-block;margin:10px;">
                                <div>
                                    <label style="display:inline-block;"> {{$t('message.Library_BackgroundColor')}}
                                        <span class="required-star">*</span>
                                    </label>
                                    <div class="pull-right">
                                        <input type="checkbox" id="cbTransparent" v-model="rss.cbTransparent" style="display:inline-block;" />&nbsp;
                                        <label for="cbTransparent" style="display:inline-block;">{{$t('message.Library_Transparent')}}</label> &nbsp;
                                    </div>
                                </div>
                                <chrome :value="backgroundColors" @input="UpdateBackgroundPick"></chrome>
                            </div>
                        </div>
                        <div class="form-group form-group-medium-width">
                            <label> {{$t('message.Library_RSSTextEX')}} </label>
                            <input value="  this is for demo RSS text and background" id="rssEX" disabled/>
                        </div>
                        <div class="form-group form-group-medium-width">
                            <label>{{$t('message.Library_Interval')}}
                                <span class="required-star">*</span>
                            </label>
                            <input class="form-control inputText" v-model="rss.tbInterval" onkeyup="value=value.replace(/[^\d]/g,'') ">
                        </div>
                    </div>
                    <!--Youtube editor-->
                    <div v-show="asset.type === 8" class="form-group">
                        <label class="control-label">{{$t('message.Library_URL')}}</label>
                        <div class="form-inline">
                            <input type="text" class="form-control inputText" value="https://www.youtube.com/watch?v=" disabled style="width:50%;" />
                            <input type="text" class="form-control inputText" placeholder="ABCDE123" v-model="text" style="width:30%" />
                        </div>
                    </div>
                </div>
                <div v-if="fileUsed.length != 0" style="text-align: center;margin:1% 5%;">
                    <br>
                    <h4 class="text-info">{{$t("message.Library_TextAssetUsedBy")}}</h4>
                    <ul>
                        <li v-for="file in fileUsed" class="usedCampaign">
                            <span style="float:left;">{{ file }}</span>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <span v-show="errMsgStatus" class="text-danger" style="margin-right: 10px">
                        <i class="fa fa-exclamation-triangle"></i>&nbsp; {{ errMsg }}
                    </span>
                    <footer-button :buttonList="buttonList" :isBusy="isBusy"></footer-button>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import FooterButton from '../../controls/modal/footer-button.vue'
import Chrome from '../../controls/Chrome.vue'

let defaultMarqueeColor = {
    hex: '#000000',
}
let defaultBGColor = {
    hex: '#000000',
}
let defaultFontColor = {
    hex: '#FFFFFF',
}
export default {
    name: 'text-asset-modal',
    components: {
        FooterButton,
        Chrome,  //還可以,
    },
    data() {
        return {
            name: '',
            text: '',
            errMsg: '',
            errMsgStatus: false,
            isBusy: false,
            buttonList: [{ button: 'cancel', dismiss: 'modal' }, { button: 'save', method: 'saveAsset' }],
            marquee: {
                tbFontSize: '20',
                // tbWidth: '300',
                tbTextColor: 'FFFFFF'
            },
            rss: {
                tbFontSize: '20',
                tbTextColor: 'ffffff',
                tbBackgroundColor: '000000',
                cbTransparent: false,
                tbInterval: '10'
            },
            marqueeColors: {
                hex: defaultMarqueeColor,
            },
            fontColors: {
                hex: defaultFontColor
            },
            backgroundColors: {
                hex: defaultBGColor
            }
        }
    },
    props: {
        modalId: {
            type: String,
            required: false,
            default: 'textAssetModalId'
        },
        asset: {
            type: Object,
            required: false,
            default: {
                type: 'text',
                name: '',
                text: '',
                key: 0,
                id: 0
            }
        },
        fileUsed: {
            type: Array,
            default: []
        }
    },
    mounted() {
        var vm = this;
        this.TextEditor();
    },
    watch: {
        asset(selectAsset) {
            this.errMsg = ''
            this.errMsgStatus = false
            this.name = ''
            this.text = ''
            this.marqueeColors = defaultMarqueeColor
            this.fontColors = defaultFontColor
            this.backgroundColors = defaultBGColor
            this.marquee = {
                tbFontSize: '20',
                // tbWidth: '300',
                tbTextColor: '000000'
            }
            this.rss = {
                tbFontSize: '20',
                tbTextColor: 'ffffff',
                tbBackgroundColor: '000000',
                cbTransparent: false,
                tbInterval: '10'
            }
            $('.marquee').empty();
            //判斷是否為edit
            if (selectAsset && selectAsset.key) {
                //edit
                if (selectAsset.type == 6) {
                    var obj = JSON.parse(selectAsset.text)
                    this.name = obj.Name
                    this.text = obj.Text
                    this.marquee.tbFontSize = obj.FontSize
                    // this.marquee.tbWidth = obj.Width;
                    this.marquee.tbTextColor = obj.Color
                    this.marqueeColors = {
                        hex: '#' + obj.Color
                    }
                } else if (selectAsset.type == 7) {
                    var obj = JSON.parse(selectAsset.text)
                    this.name = obj.Name
                    this.text = obj.Url
                    this.rss.tbFontSize = obj.FontSize
                    this.rss.tbTextColor = obj.Color
                    this.rss.tbBackgroundColor = obj.BackgroundColor
                    this.rss.cbTransparent = obj.Transparent
                    this.rss.tbInterval = obj.Interval
                    this.fontColors = {
                        hex: '#' + obj.Color
                    }
                    this.backgroundColors = {
                        hex: '#' + obj.BackgroundColor
                    }

                }
                else {
                    this.name = selectAsset.name
                    this.text = selectAsset.text
                    if (selectAsset.type == 4) {
                        $("#textEditor").summernote('code', selectAsset.text)
                    }
                }
            }
            else {
                //新增
                $("#textEditor").summernote('code', '');
            }
        },
        "rss.cbTransparent"(val) {
            if (val)
                $('#rssEX').css('background-color', '#000000')
        },
        //用來製作EX時的顯示
        "rss.tbTextColor"() {
            $('#rssEX').css('color', '#' + this.rss.tbTextColor)
        },
        "rss.tbBackgroundColor"() {
            if (this.rss.cbTransparent) {
                $('#rssEX').css('background-color', '#000000')
            }
            else {
                $('#rssEX').css('background-color', '#' + this.rss.tbBackgroundColor)

            }
        }
    },
    computed: {
        modalTitle() {
            if (!this.asset) {
                return ''
            }
            if (this.asset.id > 0) {
                //edit
                switch (this.asset.type) {
                    case 4:
                        return this.$i18n.messages[__culture].message.Library_EditText
                    case 5:
                        return this.$i18n.messages[__culture].message.Library_EditWebSite
                    case 6:
                        return this.$i18n.messages[__culture].message.Library_EditMarquee
                    case 7:
                        return this.$i18n.messages[__culture].message.Library_EditRSS
                    case 8:
                        return this.$i18n.messages[__culture].message.Library_EditYoutube
                }
            } else {
                //add
                switch (this.asset.type) {
                    case 4:
                        return this.$i18n.messages[__culture].message.Library_AddText
                    case 5:
                        return this.$i18n.messages[__culture].message.Library_AddWebSite
                    case 6:
                        return this.$i18n.messages[__culture].message.Library_AddMarquee
                    case 7:
                        return this.$i18n.messages[__culture].message.Library_AddRSS
                    case 8:
                        return this.$i18n.messages[__culture].message.Library_AddYoutube
                }
            }
        },
        changeMarquee: function() {
            if (this.asset.type === 6) {
                var text = this.text;
                var fontSize = this.marquee.tbFontSize
                // var width = this.marquee.tbWidth
                var color = this.marquee.tbTextColor
                if (text !== '' && fontSize !== '' && color !== '') {
                    $('.marquee').text(text).css('font-size', fontSize + 'px').css('width', '300px').css('color', '#' + color);
                    $('.marquee').marquee();
                }
            }
        }
    },
    methods: {
        saveAsset() {
            var vm = this
            var saveText = ''
            var urlValidString = /(((^https?:(?:\/\/)?)(?:[-;:&=\+\$,\w]+@)?[A-Za-z:0-9.-]+|(?:www.|[-;:&=\+\$,\w]+@)[A-Za-z0-9.-]+)((?:\/[\+~%\/.\w-_]*)?\??(?:[-\+=&;%@.\w_]*)#?(?:[\w]*))?)$/g
            var apiUrl = '/ace/api/text/add'
            vm.errMsg = ''
            vm.errMsgStatus = false

            //edit
            if (this.asset.id !== 0) {
                apiUrl = '/ace/api/text/edit'
            }
            //不為空判斷
            if (vm.name.trim() === '')
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0004

            //特殊字元判斷
            if (vm.name.trim() !== '' && !vm.name.trim().match(/^[^?*[+()^\\\/]+$/g))
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0003

            //名稱長度判斷
            if (vm.name.trim().length >= 50)
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0009

            if (vm.asset.type === 4) {
                var text = $("#textEditor").summernote('code')
                //多包層 div防止外圍的 class 影響summernote的設定 預設 summernote 對於 黑色不會生成色碼
                if (text.search('div style="color:#000000;"') < 0) {
                    text = "<div style='color:#000000;'>" + text + "</div>"
                }
                saveText = text.trim()
                if (saveText == '')
                    vm.errMsg = vm.$i18n.messages[__culture].message.Error_0034
            } else if (vm.asset.type === 6) { //跑馬燈
                if (vm.text.trim() == '')
                    vm.errMsg = vm.$i18n.messages[__culture].message.Error_0034
                saveText = {
                    Name: vm.name.trim(),
                    FontSize: parseInt(vm.marquee.tbFontSize),
                    Width: parseInt(vm.marquee.tbWidth),
                    Text: vm.text.trim(),
                    Color: vm.marquee.tbTextColor
                }
                saveText = JSON.stringify(saveText);
            } else if (vm.asset.type === 7) {
                if (vm.text.trim() == '')
                    vm.errMsg = vm.$i18n.messages[__culture].message.Error_0035
                var re = urlValidString;
                var found = vm.text.match(re);
                if (found == null) {
                    vm.errMsg = vm.$i18n.messages[__culture].message.Error_0036
                }

                saveText = {
                    Url: vm.text.trim(),
                    Name: vm.name.trim(),
                    FontSize: parseInt(vm.rss.tbFontSize),
                    Color: vm.rss.tbTextColor,
                    BackgroundColor: vm.rss.cbTransparent ? null : vm.rss.tbBackgroundColor,
                    Interval: vm.rss.tbInterval,
                    Transparent: vm.rss.cbTransparent
                }
                saveText = JSON.stringify(saveText);
            } else if (vm.asset.type === 8) {
                if (vm.text.trim() == '')
                    vm.errMsg = vm.$i18n.messages[__culture].message.Error_0037
                saveText = vm.text
            } else {
                var re = urlValidString
                var found = this.text.trim().match(re)
                if (found)
                    saveText = this.text.trim()
                else {
                    vm.errMsg = vm.$i18n.messages[__culture].message.Error_0036
                }
            }

            if (vm.errMsg !== '')
                return vm.errMsgStatus = true
            vm.isbusy = true
            var api = $.post(apiUrl, {
                Id: this.asset.id,
                Name: this.name.trim(),
                Text: saveText,
                Type: this.asset.type
            })
            api.done((res) => {
                //add success
                //trigger event
                if (res.Result) {
                    vm.$emit('onTextAssetSaved', {
                        id: res.Data.Id,
                        name: this.name,
                        text: res.Data.Content,
                        type: this.asset.type,
                        key: this.asset.key
                    })

                    if (alertify) {
                        alertify.logPosition("bottom right");
                        alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.SaveSuccess);

                    }
                    $("#" + this.modalId).modal('hide')
                } else {
                    vm.errMsg = vm.$i18n.messages[__culture].message[res.Message]
                    alertify.logPosition("bottom right");
                    alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.SaveFailed);
                }

            })
            api.fail((err) => {
                //add fail
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace("/ace")
                }
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0044
            })
            api.always(() => {
                vm.isbusy = false
            })
        },
        TextEditor() {
            //build text editor
            $('#textEditor').summernote({
                toolbar: [
                    ['style', ['bold', 'clear']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'paragraph']],
                    ['height', ['height']]
                ],
                height: 200
            })
        },
        //跑馬燈color選取後
        UpdateMarqueePick(val) {
            this.marqueeColors = val
            var color = val.hex.split('#').pop()
            this.$set(this.marquee, 'tbTextColor', color)
        },
        //RSS font color
        UpdateFontPick(val) {
            this.fontColors = val
            var color = val.hex.split('#').pop()
            this.$set(this.rss, 'tbTextColor', color)
        },
        //Rss Background color
        UpdateBackgroundPick(val) {
            this.backgroundColors = val
            var color = val.hex.split('#').pop()
            this.$set(this.rss, 'tbBackgroundColor', color)
        },
    }
}
</script>

<style scoped>
.marquee {
    overflow: hidden;
    /*border: 1px solid white;*/
    background-color: white;
    border-radius: 5px;
}

.inputText {
    border-radius: 5px;
    width: 50%;
}

.required-star {
    color: red;
}

.usedCampaign {
    margin: 0 5%;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
</style>