﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogIn</title>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <script>

    </script>
</head>
<body>
    @using (Html.BeginForm("LogIn", "Account", FormMethod.Post))
    {
        <div>
            Account:
            <input type="text" value="" name="Account" />
        </div>
        <div>
            Password:
            <input type="password" value="" name="Password" />
        </div>
        <div>
            <button type="submit" value="Log In">
                Log In
            </button>
        </div>
    }

    @if (ViewBag.ErrorMessage != null)
    {
        <span style="color:indianred">@ViewBag.ErrorMessage</span>
    }

</body>
</html>
