<template>
    <div>
        <!--Todo, 顯示資料夾路徑-->
        <span v:once>{{ upload.name }}</span>
        <span class="text-muted" v:once> ( {{ sizeDescription }} ) </span>

        <!--Progress information-->
        <span class="pull-right">

            <!--uploading-->
            <span class="text-info" v-if="upload.status === 'uploading'">
                <i class="fa fa-spin fa-spinner"></i>
                <span class="percentage-text">
                    {{ upload.progress }}%
                </span>
            </span>

            <!--success-->
            <span class="text-success" v-if="upload.status === 'success'">
                <i class="fa fa-check animated rubberBand"></i>
                <span class="percentage-text">
                    {{ $t("message.Library_Done")}}
                </span>
            </span>

            <!--fail-->
            <span class="text-danger" v-if="upload.status === 'fail'">
                <i class="fa fa-warning animated rubberBand"></i>
                <span class="percentage-text">
                    {{ $t("message.Library_UploadFailed")}}. {{ ErrorMsg }}
                </span>
            </span>

            <!--cancel-->
            <span class="text-warning" v-if="upload.status === 'cancel'">
                <i class="fa fa-ban animated rubberBand"></i>
                <span class="percentage-text">
                    {{ $t("message.Library_CancelUpload")}}...
                </span>
            </span>

            <!--Close button-->
            <i class="fa fa-close text-muted" v-on:click="$emit('close')"></i>
        </span>

        <!--Progress bar-->
        <div class="progress">
            <div class="progress-bar" role="progressbar" :style="width" :class="{
                                                    'progress-bar-info':upload.status === 'uploading', 
                                                    'progress-bar-success':upload.status === 'success', 
                                                    'progress-bar-danger': upload.status === 'fail',
                                                    'progress-bar-warning': upload.status === 'cancel'}">
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'FileUploadProgress',
    data() {
        return {
        }
    },
    props: {
        upload: {
            type: Object,
            required: true,
            default: {
                name: '',
                progress: 100,
                size: 0,
                status: 'uploading',
                errorMsg: null,
            }
        },
    },
    computed: {
        width: function() {
            return 'width:' + this.upload.progress + '%'
        },
        sizeDescription: function() {
            return (new _d_s()).getFileSizeString(this.upload.size, 2)
        },
        ErrorMsg() {
            return this.$i18n.messages[__culture].message[this.upload.errorMsg]
        }
    },
    methods: {

    },
}
</script>

<style scoped>
.text-muted-blue {
    color: #6CA6B9;
}

.progress {
    height: 3px;
    margin-top: 6px;
    border-radius: 5px
}

.progress-bar {
    border-radius: 5px;
}

.fa.fa-close {
    cursor: pointer;
}

.fa.fa-close:hover {
    color: lightslategray;
}

.percentage-text {
    margin-left: 3px;
    margin-right: 10px;
}
</style>