<template>
    <div>
        <div class="file-upload-area">
            <h4 class="text-info">
                <i class="fa fa-hand-o-up animated bounceIn"></i>
                {{ $t("message.Library_DragToUpload")}}
            </h4>

            <!--File select button-->
            <button type="button" class="btn btn-default" v-on:click="selectFile">
                {{ $t("message.Library_ClickToUpload")}} &nbsp;
                <i class="fa fa-search"></i>
            </button>
            <input class="fileSelector" type="file" multiple :accept="supportFileExts.join(',')" @change="fileSelectHandler" />

            <!--上傳進度區-->
            <div class="animated fadeIn" v-for="(upload, index) in uploads" :key="upload.key" style="margin-top: 10px;text-align: initial;padding: 0px 20px">
                <file-upload-progress :upload="upload" v-on:close="closeHandler(upload, index)"></file-upload-progress>
            </div>

        </div>

        <!--全部關閉按鈕-->
        <div v-if="uploads && uploads.length > 1" class="text-muted" style="text-align: right;margin-top: 15px;">
            <span class="text-danger" style="cursor: pointer;" @click="allClose">
                {{ $t("message.Library_ClearAll")}} &nbsp;&nbsp;
                <i class="fa fa-close"></i>
            </span>
        </div>
    </div>
</template>

<script>

import FileUploadProgress from './file-upload-progress.vue'

export default {
    name: 'fileUploadArea',
    data() {
        return {
            uploads: [],
            counter: 0,
        }
    },
    created() {
    },
    mounted() {

        var ds = new _d_s()

        ds.enableDropUpload(".file-upload-area", this.uploadUrl, {
            enter: this.enterHandler,
            over: this.overHandler,
            drop: this.dropHandler,
            begin: this.beginHandler,
            progress: this.progressHandler,
            onResponse: this.onResponseHandler,
            error: this.errorHandler,
        })
    },
    props: {
        apiUrl: {
            type: String,
            required: true,
            default: '/ace/api'
        },
        uploadUrl: {
            type: String,
            required: true,
            default: '/ace/library/uploadajax'
        },
        folderId: {
            type: Number,
            required: false,
            default: null
        },
        supportFileExts: {
            type: Array,
            required: false,
            default: null,
        },
        fileSizeLimit: {
            type: Number,
            required: false,
            default: 0,
        },
    },
    methods: {
        enterHandler: function(e) {
        },
        overHandler: function(e) {
        },
        dropHandler: function(e) {
        },
        beginHandler: function(file, e, xhr) {

            //取得要上傳的資料夾
            var uploadTo = this.folderId ? (this.uploadUrl + '?FolderId=' + this.folderId) : this.uploadUrl

            ++this.counter

            var key = file.name + this.counter

            //將檔案加入上傳清單
            var f = {
                name: file.name,
                key: key,
                progress: 0,
                size: file.size,
                status: 'uploading',//uploading/success/fail
                errorMsg: null,
                xhr: xhr,
            }

            //檢查檔案是否可以上傳:
            //檢查副檔名
            if (this.checkFileExtSupport(file.name) === false) {
                f.status = 'fail'
                f.errorMsg = this.$i18n.messages[__culture].message.Error_0014
                this.uploads.push(f)
                return false
            }

            //檢查檔案大小
            if (file.size > this.fileSizeLimit) {
                f.status = 'fail'
                f.errorMsg = this.$i18n.messages[__culture].message.Error_0015 + (new _d_s().getFileSizeString(this.fileSizeLimit, 0))
                this.uploads.push(f)
                return false
            }

            this.uploads.push(f)

            return {
                uploadUrl: uploadTo, //在此處指定要上傳的網址
                key: key,
            }
        },
        progressHandler: function(file, progress, key) {

            if (progress >= 100) {
                //todo
            }

            $.each(this.uploads, function(index, item) {
                if (item.key === key) {
                    item.progress = progress
                }
            })
        },
        onResponseHandler: function(file, res, key) {
            var vm = this
            if (res.status === 200) {

                var result = JSON.parse(res.response)

                if (result.Success) {//Upload success

                    $.each(this.uploads, function(index, item) {
                        if (item.key === key) {
                            item.status = 'success'
                        }
                    })

                    this.$emit('uploadSuccess', this.folderId)

                } else {//Upload success but save file fail, e.g. folder does not exist...

                    $.each(this.uploads, function(index, item) {
                        if (item.key === key) {
                            item.status = 'fail'
                            item.errorMsg = result.Message
                        }
                    })

                }

            } else {//Upload error, e.g. server exception, connection error...

                $.each(this.uploads, function(index, item) {
                    if (item.key === key) {
                        item.status = 'fail'
                        item.errorMsg = vm.$i18n.messages[__culture].message.Error_0016
                    }
                })
            }
        },
        errorHandler: function(file, err, key) {

            $.each(this.uploads, function(index, item) {
                if (item.key === key) {
                    item.status = 'fail'
                    item.errorMsg = err
                }
            })

        },
        closeHandler: function(upload, index) {

            switch (upload.status) {

                case 'uploading'://取消上傳

                    upload.xhr.abort()
                    upload.status = 'cancel'

                    var vm = this
                    var key = upload.key

                    setTimeout(function() {

                        var indexToRemove

                        $.each(vm.uploads, function(i, item) {

                            if (item.key === key) {
                                indexToRemove = i
                            }
                        })

                        vm.uploads.splice(indexToRemove, 1)

                    }, 3000)

                    break

                case 'success':
                case 'fail':
                    this.uploads.splice(index, 1)
                    break
            }
        },
        allClose: function() {
            var vm = this
            for (var i = 0; i < vm.uploads.length; i++) {
                if (vm.uploads[i].status == 'success' || vm.uploads[i].status == 'fail') {
                    vm.uploads.splice(vm.uploads[i].key, 1)
                    i--
                }
            }
        },
        checkFileExtSupport: function(filename) {

            var ext = ''

            try {
                //取副檔名
                ext = filename.split('.').pop()
            } catch (ex) {
                return false
            }

            if (!ext) {
                return false
            } else {
                ext = '.' + ext //副檔名前加上點號
            }

            if (!this.supportFileExts || this.supportFileExts.length == 0) {
                return true
            }

            var check = false

            $.each(this.supportFileExts, function(index, item) {
                if (item.toLowerCase() === ext.toLowerCase()) {
                    check = true
                }
            })

            return check

        },
        selectFile: function() {
            $(".fileSelector").trigger('click')

        },//end selectFile
        fileSelectHandler: function(e) {
            //todo, 使用者選擇檔案後的處理...?
            //User select file(s) to upload
            var files = e.target.files || e.dataTransfer.files

            if (!files.length) {
                return
            }

            //upload file to server
            var ds = new _d_s()

            //upload each file
            for (var i = 0; i < files.length; i++) {
                ds.uploadFile(this.uploadUrl, files[i], {
                    begin: this.beginHandler,
                    progress: this.progressHandler,
                    onResponse: this.onResponseHandler,
                    error: this.errorHandler,
                }, e)
            }

        },//end fileSelectHandler
    },
    components: {
        FileUploadProgress
    },
}

</script>

<style scoped>
.file-upload-area {
    width: 100%;
    text-align: center;
    min-height: 124px;
    padding-top: 16px;
    border: 3px dotted steelblue;
    border-radius: 5px;
}

.fa.fa-close:hover {
    color: lightslategray;
}

.fileSelector {
    display: none;
}
</style>