<template>
    <div>

        <div class="animated fadeIn" style="padding-top: 15px;">

            <!--縮圖-->
            <div v-if="file.type === 1 || file.type === 2">
                <p style="text-align: center">
                    <img :src="imageUrl" :alt="file.name" style="height: 140px;max-width: 210px;cursor: pointer" data-toggle="modal" data-target="#preview-file-id">
                </p>
            </div>
            <div v-if="file.type === 3">
                <p style="text-align: center">
                    <img src="/ace/images/music-player.png" alt="Music" style="height: 140px;max-width: 180px;">
                    <br>
                    <audio controls>
                        <source :src="music" type="audio/mpeg">
                    </audio>
                </p>
            </div>
            <!--flash  -->
            <div v-if="file.type === 9">
                <p style="text-align: center">
                    <img src="/ace/images/flash.png" alt="Music" style="height: 140px;max-width: 210px;">
                </p>
            </div>
            <!--xps  -->
            <div v-if="file.type === 17">
                <p style="text-align: center">
                    <img src="/ace/images/xps.jpg" alt="Music" style="height: 140px;max-width: 210px;">
                </p>
            </div>
            <!--pdf  -->
            <div v-if="file.type === 18">
                <p style="text-align: center">
                    <embed :src='"/ace/api/library/file-pdf/"+file.id' type="application/pdf" width="100%" height="100%">
                </p>
            </div>

            <!--資料顯示-->
            <div class="form-horizontal" style="padding-top: 15px;">
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {{ $t("message.Library_Name")}}
                    </label>
                    <label v-if="state === 'view'" class="col-sm-9 control-label" style="text-align: left;text-overflow: ellipsis;overflow: hidden;">{{ file.name }}</label>
                    <div v-else class="col-sm-9 animated fadeIn">
                        <input type="text" class="form-control" v-bind:value="file.name" v-on:keyup.enter="save" id="fileEdit">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ $t("message.Library_Size")}}</label>
                    <label class="col-sm-9 control-label" style="text-align: left">{{ sizeDesc }}</label>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ $t("message.Library_Type")}}</label>
                    <label class="col-sm-9 control-label" style="text-align: left">{{ file.ext }}</label>
                </div>
            </div>

            <!--訊息區塊-->
            <div v-if="message !== null" class="alert animated fadeIn" :class="alertType">
                <span>{{ alertMessage }}</span>
            </div>

            <!--按鈕s-->
            <p style="text-align: right;padding-top: 15px;">
                <button type="button" class="btn btn-success btn-sm" style="border-radius: .3em" v-if="state === 'view'" @click="state = 'edit'">
                    <i class="fa fa-pencil"></i>&nbsp; {{ $t("message.Edit")}}
                </button>
                <button type="button" class="btn btn-danger btn-sm" style="border-radius: .3em" v-if="state === 'view'" data-toggle="modal" data-target="#delete-file-modal-id" @click="fileUsedList">
                    <i class="fa fa-trash"></i>&nbsp; {{ $t("message.Delete")}}
                </button>
                <button type="button" class="btn btn-default btn-sm" style="border-radius: .3em" v-if="state === 'edit'" @click="state = 'view'">
                    <i class="fa fa-times"></i>&nbsp; {{ $t("message.Cancel")}}
                </button>
                <button type="button" class="btn btn-success btn-sm" style="border-radius: .3em" v-if="state === 'edit'" @click="save">
                    <i class="fa fa-floppy-o"></i>&nbsp; {{ $t("message.Save")}}
                </button>
            </p>
        </div>

        <!--select campaign modal-->
        <preview-file-modal modal-id="preview-file-id" :file-id="file.id" :file-type="file.type" :file-name="file.name"></preview-file-modal>
        <delete-file-modal modal-id="delete-file-modal-id" :file="file" :file-used="fileUsed" :default-screenList="defaultScreenList" @fileDeleted="fileDeletedHandler"></delete-file-modal>
    </div>
</template>

<script>
import PreviewFileModal from './modal/preview-file-modal.vue'
import DeleteFileModal from './modal/delete-file-modal.vue'

export default {
    components: {
        PreviewFileModal,
        DeleteFileModal
    },
    name: 'FileDetail',
    data() {
        return {
            state: 'view', //view, edit
            message: null, // message: { type: success/error, msg: 'message string' }
            fileUsed: [],
            defaultScreenList: []
        }
    },
    props: {
        file: {
            type: Object,
            required: false,
            default: {
                key: 0,
                id: 0,
                name: '',
                size: 0,
                ext: '',
                type: 0,
                updateDate: ''
            }
        }
    },
    watch: {
        file: function(val, oldVal) {
            //檔案變更, 表示使用者選取新檔案
            this.state = 'view'
            this.message = null
        },
    },
    computed: {
        imageUrl: function() {
            if (this.file && this.file.id) {
                return "/ace/api/library/file-image/" + this.file.id
            }
            return ''
        },
        sizeDesc: function() {
            return (new _d_s()).getFileSizeString(this.file.size, 2)
        },
        alertMessage: function() {
            if (this.message) {
                return this.message.msg
            }
            return ''
        },
        alertType: function() {
            if (this.message) {
                switch (this.message.type) {

                    case 'success':
                        return {
                            'alert-success': true,
                        }

                    case 'fail':
                        return {
                            'alert-danger': true,
                        }
                }
            }
            return null
        },
        music() {
            return '/ace/api/library/file-video/' + this.file.id
        }
    },
    methods: {
        save: function() {
            var vm = this
            //更改名字
            if ($("#fileEdit").val().trim() === '') {
                vm.message = {
                    type: 'fail',
                    msg: vm.$i18n.messages[__culture].message.Error_0004
                }
                setTimeout(
                    function() {
                        vm.message = null
                    }, 4000)
            } else if (!$("#fileEdit").val().trim().match(/^[^,?*[+()^\\\/]+$/g)) {
                vm.message = {
                    type: 'fail',
                    msg: vm.$i18n.messages[__culture].message.Error_0003
                }
                setTimeout(
                    function() {
                        vm.message = null
                    }, 4000)
            } else if ($("#fileEdit").val().length > 50) {
                vm.message = {
                    type: 'fail',
                    msg: vm.$i18n.messages[__culture].message.Error_0009
                }
                setTimeout(
                    function() {
                        vm.message = null
                    }, 4000)
            } else {
                vm.file.name = $("#fileEdit").val().trim()
                $.post("/ace/api/library/file/edit", {
                    FileId: vm.file.id, FileName: vm.file.name
                }).done(function(res) {

                    if (res.Result) {
                        vm.message = {
                            type: "success",
                            msg: vm.$i18n.messages[__culture].message.UpdateSuccess
                        }
                        vm.file.updateDate = res.Data
                        vm.$emit('fileUpdated', vm.file)
                        vm.state = 'view'
                    } else {
                        vm.message = {
                            type: 'fail',
                            msg: vm.$i18n.messages[__culture].message.Error_0044
                        }
                    }

                    setTimeout(
                        function() {
                            vm.message = null
                        }, 4000)

                }).fail(function(err) {
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace('/ace')
                    }
                    vm.message = {
                        type: 'fail',
                        msg: vm.$i18n.messages[__culture].message.Error_0044
                    }
                })
            }
        },
        fileDeletedHandler: function(file) {
            this.$emit('fileDeleted', file)
        },
        fileUsedList: function() {
            var vm = this
            $.post("/ace/api/library/file/usedfile", {
                //
                FileId: this.file.id,
            }).done(function(res) {
                if (res.Data) {
                    vm.fileUsed = res.Data.FileUsedNameList
                    vm.defaultScreenList = res.Data.DefaultScreenList
                } else {
                    vm.message = {
                        type: 'fail',
                        msg: vm.$i18n.messages[__culture].message.Error_0044,
                    }
                }

            }).fail(function(err) {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
                vm.message = {
                    type: 'fail',
                    msg: vm.$i18n.messages[__culture].message.Error_0044,
                }
            })
        }
    }
}
</script>

<style scoped>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li span {
    display: block;
    padding: 8px;
}
</style>