<template>
    <div class="outside-border">
        <div class="row">
            <!--左側檔案與資料夾清單-->
            <div class="col-xs-12 col-sm-9 context-menu-outside" @click="clearAllFoldersandFiles">
                <div class="col-xs-12 col-sm-12 col-md-12" style="border-bottom: 2px solid #4e5d6c;border-right: 2px solid #4e5d6c;padding-bottom:5px;">
                    <div class="pull-left">
                        {{ filesAndFoldersCount }} {{ $t("message.Library_Items")}} &nbsp;
                        <transition name="fade">
                            <span v-if="selectedFolders.length + selectedFiles.length > 0">
                                <span style="color:#4e5d6c">|</span>
                                &nbsp;
                                <span class="text-info">{{selectedFolders.length + selectedFiles.length}}</span> {{ $t("message.Library_ItemsSelected")}}
                            </span>
                        </transition>
                    </div>
                    <div class="pull-right">
                        <span class="view-mode-hover" :class="{'view-mode-selected':switchViewModeIcon,'view-mode-unselected':!switchViewModeIcon}">
                            <i class="fa fa-th" style="cursor: pointer;" @click="iconClick"></i>
                        </span>
                        <span class="view-mode-hover" :class="{'view-mode-selected':switchViewModeThumbnail,'view-mode-unselected':!switchViewModeThumbnail}">
                            <i class="fa fa-picture-o" style="cursor: pointer;" @click="thumbnailClick"></i>
                        </span>
                        <span class="view-mode-hover" :class="{'view-mode-selected':switchViewModeList,'view-mode-unselected':!switchViewModeList}">
                            <i class="fa fa-list-ul" style="cursor: pointer;" @click="listClick"></i>
                        </span>
                    </div>
                </div>
                <div class="left-menu-list">
                    <!-- Icon -->
                    <div v-if="viewMode === 'icon'">
                        <!-- folder -->
                        <div class="col-md-3 col-sm-4 col-xs-12" style="margin-bottom:3px" v-for="folder in filteredFolders" :key="'folder'+folder.FolderId" :id="'folder'+folder.FolderId">
                            <div class="folder folder-hover context-menu-inside" draggable="true" :class="{'selected': folderIsChecked(folder) , 'unselected': !folderIsChecked(folder)}" @click.prevent.stop="folderClick(folder, $event)" @dblclick.prevent.stop="folderDoubleClick(folder)" @dragstart="dragFolder($event, folder)" @contextmenu="rightFolderClick(folder)">
                                <span class="folder-icon" @drop.prevent="drop($event)" @dragover.prevent="allowDrop($event)" :title="folder.Name" :class="{'cut-folders-files': folderIsChecked(folder) && isCut }">
                                    <i class="fa fa-folder"></i>
                                    {{ folder.Name }}
                                </span>
                            </div>
                        </div>

                        <!--檔案list-->
                        <div class="col-md-3 col-sm-4 col-xs-12" style="margin-bottom:3px" v-for="file in filteredFiles" :key="'file'+file.FileId">
                            <div class="file file-hover context-menu-inside" draggable="true" :class="{'selected': fileIsChecked(file) , 'unselected': !fileIsChecked(file)}" @click.prevent.stop="fileClick(file,$event)" @dragstart="dragFile($event,file)" @contextmenu="rightFileClick(file)">
                                <span class="file-icon" style="text-align: left; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;" :title="file.Name" :class="{'cut-folders-files': fileIsChecked(file) && isCut }">
                                    <tools-type-icon :mediaType="file.FileType" :text="file.Name" />
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- thumbnail -->
                    <div v-if="viewMode === 'thumbnail'">
                        <!-- folder -->
                        <div class="col-md-3 col-sm-4 col-xs-12" style="margin-bottom:3px" v-for="folder in filteredFolders" :key="'folder'+folder.FolderId" :id="'folder'+folder.FolderId">
                            <div class="folder folder-hover context-menu-inside" draggable="true" :class="{'selected': folderIsChecked(folder) , 'unselected': !folderIsChecked(folder)}" @click.prevent.stop="folderClick(folder, $event)" @dblclick.prevent.stop="folderDoubleClick(folder)" @dragstart="dragFolder($event, folder)" @contextmenu="rightFolderClick(folder)">
                                <span @drop.prevent="drop($event)" @dragover.prevent="allowDrop($event)" :title="folder.Name">
                                    <p style="text-align: center;height: 120px;" :class="{'cut-folders-files': folderIsChecked(folder) && isCut }">
                                        <img src="/ace/images/ico-folder.png" :alt="folder.Name" style="max-height: 120px;max-width: 180px;">
                                    </p>
                                    <p style="text-align: center; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;" :title="folder.Name">
                                        {{ folder.Name }}
                                    </p>
                                </span>
                            </div>
                        </div>

                        <!--檔案list-->
                        <div class="col-md-3 col-sm-4 col-xs-12" style="margin-bottom:3px" v-for="file in filteredFiles" :key="'file'+file.FileId">
                            <div class="file file-hover context-menu-inside" draggable="true" :class="{'selected': fileIsChecked(file) , 'unselected': !fileIsChecked(file)}" @click.prevent.stop="fileClick(file,$event)" @dragstart="dragFile($event,file)" @contextmenu="rightFileClick(file)">
                                <span :title="file.Name">
                                    <p style="text-align: center;height: 120px;" v-if="file.FileType === 1" :class="{'cut-folders-files': fileIsChecked(file) && isCut }">
                                        <img :src="'/ace/api/library/file-thumbnail/' + file.FileId" alt="" style="max-height: 120px;max-width: 180px;">
                                    </p>
                                    <p style="text-align: center;height: 120px;" v-if="file.FileType === 2" :class="{'cut-folders-files': fileIsChecked(file) && isCut }">
                                        <img :src="'/ace/api/library/file-image/' + file.FileId" alt="" style="max-height: 120px;max-width: 180px;">
                                    </p>
                                    <p style="text-align: center;height: 120px;" v-if="file.FileType === 3" :class="{'cut-folders-files': fileIsChecked(file) && isCut }">
                                        <img src="/ace/images/music-player.png" alt="Music" style="max-height: 120px;max-width: 180px;">
                                    </p>
                                    <p style="text-align: center;height: 120px;" v-if="file.FileType === 9" :class="{'cut-folders-files': fileIsChecked(file) && isCut }">
                                        <img src="/ace/images/fl_icon.png" alt="Flash" style="max-height: 120px;max-width: 180px;">
                                    </p>
                                    <p style="text-align: center;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                        {{ file.Name }}
                                    </p>
                                </span>
                            </div>
                        </div>
                    </div>

                    <!-- List -->
                    <div v-if="viewMode === 'list'">
                        <table style="width: 100%;table-layout:fixed" class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="name">{{ $t("message.Library_Name")}}</th>
                                    <th class="date">{{ $t("message.Library_ModifyDate")}}</th>
                                    <th class="mimetype">{{ $t("message.Library_Type")}}</th>
                                    <th class="size">{{ $t("message.Library_Size")}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="folder in filteredFolders" draggable="true" class="folder context-menu-inside" :class="{'border-td':folderIsChecked(folder)}" :key="'folder'+folder.FolderId" @click.prevent.stop="folderClick(folder, $event)" @dblclick.prevent.stop="folderDoubleClick(folder)" @dragstart="dragFolder($event, folder)" @drop.prevent="drop($event)" @dragover.prevent="allowDrop($event)" @contextmenu="rightFolderClick(folder)">
                                    <!-- folder -->
                                    <td>
                                        <span class="folder-icon" :title="folder.Name" :class="{'cut-folders-files': folderIsChecked(folder) && isCut }">
                                            <i class="fa fa-folder"></i>
                                            {{ folder.Name }}
                                        </span>
                                    </td>
                                    <td>{{ folder.UpdateDate }}</td>
                                    <td>{{ $t("message.Library_Folder")}}</td>
                                    <td>{{ sizeConvert(folder.FolderFileSize) }}</td>
                                </tr>
                                <tr v-for="file in filteredFiles" draggable="true" class="file context-menu-inside" :class="{'border-td': fileIsChecked(file)}" :key="'file'+file.FileId" @click.prevent.stop="fileClick(file,$event)" @dragstart="dragFile($event,file)" @contextmenu="rightFileClick(file)">
                                    <!--檔案list-->
                                    <td>
                                        <span class="file-icon" style="text-align: left; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;" :title="file.Name" :class="{'cut-folders-files': fileIsChecked(file) && isCut }">
                                            <tools-type-icon :mediaType="file.FileType" :text="file.Name" />
                                        </span>
                                    </td>
                                    <td>{{ file.UpdateDate }}</td>
                                    <td style="text-overflow: ellipsis;" :title="file.MimeType">{{ file.MimeType }}</td>
                                    <td>{{ sizeConvert(file.Size) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--明細-->
            <div class="col-xs-12 col-sm-3">
                <!--多選明細-->
                <div v-if="displayState === 'default'" class="vertical-container">
                    <div>
                        <p style="text-align: center;margin-bottom: 15px;">
                            <i class="fa fa-info-circle text-info" style="font-size:80px" aria-hidden="true"></i>
                        </p>
                        <p style="text-align: center;">{{ $t("message.Library_ClickViewInfo")}}</p>
                        <br>
                        <p style="text-align: center;">{{ $t("message.Library_RightClick")}}
                            <i class="fa fa-mouse-pointer text-success"></i>{{ $t("message.Library_ViewOption")}}</p>
                    </div>
                </div>
                <!--資料夾明細-->
                <div v-if="displayState === 'viewfolder'">
                    <folder-detail :folder="selectedFolder" @folderDeleted="folderDeletedHandler" @folderUpdated="folderUpdatedHandler"></folder-detail>
                </div>
                <!--檔案明細-->
                <div v-if="displayState === 'viewfile'">
                    <file-detail :file="selectedFile" @fileDeleted="fileDeletedHandler" @fileUpdated="fileUpdatedHandler"></file-detail>
                </div>
                <!--多選明細-->
                <div v-if="displayState === 'multiview'">
                    <multi-select-detail :selected-files="selectedFiles" :selected-folders="selectedFolders" @deleteAll="deleteAllHandler"></multi-select-detail>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import FileDetail from './file-detail.vue'
import FolderDetail from './folder-detail.vue'
import MultiSelectDetail from './multi-select-detail.vue'
import ToolsTypeIcon from '../controls/tools-type-icon.vue'

var _ = require('lodash')

export default {
    name: 'folder-area',
    components: {
        FileDetail,
        FolderDetail,
        MultiSelectDetail,
        ToolsTypeIcon
    },
    props: {
        currentFolder: {
            type: Number,
            required: false,
            default: null,
        },
        folders: {
            type: Array,
            required: false,
            default: [],
        },
        files: {
            type: Array,
            required: false,
            default: []
        },
        fileText: {
            type: String,
            required: false,
            default: ''
        },
        fileSort: {
            type: Array,
            require: false,
            default: { value: 'name', direction: 'asc' }
        },
    },
    data() {
        return {
            selectedFile: {
                key: 0,
                id: 0,
                name: '',
                size: 0,
                type: 0
            },
            selectedFolder: {
                key: 0,
                id: 0,
                name: '',
                files: [],
                updateDate: '',
                size: 0
            },
            state: 'default',//viewfile, viewfolder, multiview
            selectedFiles: [],
            selectedFolders: [],
            isCut: false, //是否被剪下
            action: null, //true cut false copy
            copyorCutFolders: [],
            copyorCutFiles: [],
            viewMode: 'icon' //icon,list,thumbnail,
        }
    },
    methods: {
        folderClick: function(folder, e) {
            var vm = this

            //是否是多選
            var isMulti = (e.ctrlKey || e.shiftKey)

            //點選的目標是否存在於清單中
            var index = _.findIndex(this.selectedFolders, folder)

            if (!isMulti) {
                this.selectedFiles.length = 0
                this.selectedFolders.length = 0
                this.selectedFolders.push(folder) //add item
            } else if (e.ctrlKey) {
                if (index < 0) {
                    this.selectedFolders.push(folder) //add item
                } else {
                    this.selectedFolders.splice(index, 1)
                }
            } else if (e.shiftKey) {
                vm.selectedFiles = []
                vm.selectedFolders = []

                //從點選檔案開始，表示想要連同檔案一起多選
                if (vm.selectedFile.id > 0) {
                    $.each(vm.filteredFolders, function(index, i) {
                        if (i.key <= vm.selectedFile.key && i.key >= folder.key) {
                            vm.selectedFolders.push(i)
                        }
                    })

                    $.each(vm.filteredFiles, function(index, i) {
                        if (i.key <= vm.selectedFile.key && i.key >= folder.key) {
                            vm.selectedFiles.push(i)
                        }
                    })

                } else {
                    $.each(vm.filteredFolders, function(index, i) {
                        if (i.key <= vm.selectedFolder.key && i.key >= folder.key) {
                            vm.selectedFolders.push(i)
                        } else if (i.key <= folder.key && i.key >= vm.selectedFolder.key) {
                            vm.selectedFolders.push(i)
                        }
                    })
                }
            }

            this.$emit('selectedFolders', this.selectedFolders)

            if (!e.shiftKey) {
                //set current select folder
                this.selectedFolder = {
                    key: folder.key,
                    id: folder.FolderId,
                    name: folder.Name,
                    files: [],
                    updateDate: folder.UpdateDate,
                    size: this.sizeConvert(folder.FolderFileSize)
                }
            }

            this.state = 'viewfolder'
        },
        folderDoubleClick: function(folder) {
            //send folder id to parent
            this.selectedFiles = []
            this.selectedFolders = []
            this.state = 'default'

            this.$emit('folderChange', folder.FolderId)

        },
        fileClick: function(file, e) {
            this.isCut = false
            var vm = this

            //是否是多選
            var isMulti = (e.ctrlKey || e.shiftKey)

            //點選的目標是否存在於清單中
            var index = _.findIndex(this.selectedFiles, file)

            if (!isMulti) {
                this.selectedFiles.length = 0
                this.selectedFolders.length = 0

                this.selectedFiles.push(file)
            } else if (e.ctrlKey) {
                if (index < 0) {
                    this.selectedFiles.push(file)
                } else {
                    this.selectedFiles.splice(index, 1)
                }
            } else if (e.shiftKey) {
                vm.selectedFiles = []
                vm.selectedFolders = []

                if (vm.selectedFolder.id > 0) {
                    $.each(vm.filteredFolders, function(index, i) {
                        if (i.key >= vm.selectedFolder.key && i.key <= file.key) {
                            vm.selectedFolders.push(i)
                        }
                    })

                    $.each(vm.filteredFiles, function(index, i) {
                        if (i.key >= vm.selectedFolder.key && i.key <= file.key) {
                            vm.selectedFiles.push(i)
                        }
                    })
                } else {
                    $.each(vm.filteredFiles, function(index, i) {
                        if (i.key <= vm.selectedFile.key && i.key >= file.key) {
                            vm.selectedFiles.push(i)
                        } else if (i.key <= file.key && i.key >= vm.selectedFile.key) {
                            vm.selectedFiles.push(i)
                        }
                    })
                }
            }

            this.$emit('selectedFiles', this.selectedFiles)

            if (!e.shiftKey) {
                //set current selected file
                this.selectedFile = {
                    key: file.key,
                    id: file.FileId,
                    name: file.Name,
                    size: file.Size,
                    type: file.FileType,
                    ext: file.ExtensionName,
                    updateDate: file.UpdateDate
                }
            }

            this.state = 'viewfile'
        },
        fileDeletedHandler: function(file) {
            this.isCut = false

            this.selectedFiles = []
            this.selectedFolders = []

            this.$emit('fileDeleted', file)
        },
        fileUpdatedHandler: function(file) {
            this.isCut = false

            this.$emit('fileUpdated', file)
        },
        folderUpdatedHandler: function(folder) {
            this.isCut = false

            this.$emit('folderUpdated', folder)
        },
        folderDeletedHandler: function(folder) {
            this.isCut = false

            this.selectedFiles = []
            this.selectedFolders = []
            this.$emit('folderDeleted', folder)
        },
        folderIsChecked: function(folder) {
            return _.findIndex(this.selectedFolders, folder) >= 0
        },
        fileIsChecked: function(file) {
            return _.findIndex(this.selectedFiles, file) >= 0
        },
        deleteAllHandler: function(result) {
            this.isCut = false

            if (result.success) {
                this.selectedFiles = []
                this.selectedFolders = []

                alertify.logPosition("bottom right")
                alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + this.$i18n.messages[__culture].message.DeleteSuccess)

                this.$emit('deleteAll')

            } else {
                alertify.logPosition("bottom right")
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + this.$i18n.messages[__culture].message.DeleteFailed)
            }
        },
        dragstart(ev, draggingFile, draggingFolder) {
            this.isCut = false
            //把所有選取的檔案彙整成拖曳中檔案陣列              
            var fileList = []
            var folderIdList = []

            var fileIdList = []

            //選取的檔案
            $.each(this.selectedFiles, function(index, item) {

                fileList.push({
                    fileId: item.FileId,
                    fileType: item.FileType,
                    fileName: item.Name,
                    duration: item.VideoDuration
                })

                fileIdList.push(item.FileId)
            })

            //選取的資料夾
            $.each(this.selectedFolders, function(index, item) {
                folderIdList.push(item.FolderId)
            })

            //判斷拖曳的是檔案還資料夾
            if (draggingFile) {
                //先判斷拖曳檔案是否與選取檔案一致
                if (!_.includes(fileIdList, draggingFile.FileId)) {
                    folderIdList = []
                    fileList = []

                    //以拖曳檔案為主
                    fileList.push({
                        fileId: draggingFile.FileId,
                        fileType: draggingFile.FileType,
                        fileName: draggingFile.Name,
                        duration: draggingFile.VideoDuration
                    })
                }
            } else {
                if (!_.includes(folderIdList, draggingFolder.FolderId)) {
                    folderIdList = []
                    fileList = []

                    //以拖曳資料夾為主
                    folderIdList.push(draggingFolder.FolderId)
                }
            }

            var data = {
                fileList: fileList,
                folderIdList: folderIdList
            }

            ev.dataTransfer.setData("text", JSON.stringify(data))
        },
        dragFolder(ev, folder) {
            this.isCut = false

            this.dragstart(ev, null, folder)
        },
        dragFile(ev, file) {
            this.isCut = false

            this.dragstart(ev, file, null)
        },
        imageUrl(fileId) {
            if (fileId) {
                return "/ace/api/library/file-image/" + fileId
            }
            return ''
        },
        sizeConvert(size) {
            return (new _d_s()).getFileSizeString(size, 2)
        },
        allowDrop(ev) {
            ev.preventDefault()
        },
        drop(ev) {
            //觸發事件呼叫API做存檔動作
            var vm = this

            var data = JSON.parse(ev.dataTransfer.getData("text"))

            var fileList = data.fileList
            var folderIdList = data.folderIdList

            if (fileList && fileList.length > 0 || folderIdList && folderIdList.length > 0) {

                var fileIds = []
                //組成fileId陣列
                $.each(fileList, function(index, file) {
                    fileIds.push(file.fileId)
                })

                var targetName = ev.target.alt
                if (ev.target.innerText != "") {
                    targetName = $.trim(ev.target.innerText)
                }

                $.post("/ace/api/library/file/dragFile", {
                    FileIdList: fileIds, FolderIdList: folderIdList, TargetName: targetName
                }).done(function(res) {
                    if (res.Result) {
                        vm.clearAllFoldersandFiles()
                        vm.$emit('dragFile')
                    }
                }).fail(function(err) {
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace('/ace')
                    }
                })
            }
        },
        contextMenuInside: function() {
            var vm = this

            //針對檔案與資料夾
            $.contextMenu({
                selector: '.context-menu-inside',
                autoHide: true,
                callback: function(key, options) {
                    var folderIds = []
                    var fileIds = []

                    //把所有選取檔案與資料夾集合
                    $.each(vm.selectedFolders, function(index, item) {
                        folderIds.push(item.FolderId)
                    })

                    $.each(vm.selectedFiles, function(index, item) {
                        fileIds.push(item.FileId)
                    })

                    switch (key) {
                        case 'cut':
                            vm.isCut = true
                            vm.action = true
                            vm.copyorCutFolders = folderIds
                            vm.copyorCutFiles = fileIds
                            break
                    }
                },
                items: {
                    "cut": { name: vm.$i18n.messages[__culture].message.Library_Cut, icon: "cut" },
                }
            })
        },
        contextMenuOutside: function() {
            var vm = this

            //For 外層使用
            $.contextMenu({
                selector: '.context-menu-outside',
                autoHide: true,
                callback: function(key, options) {
                    switch (key) {
                        case 'paste':
                            vm.isCut = false
                            //清除所選取的檔案
                            vm.selectedFiles.length = 0
                            vm.selectedFolders.length = 0
                            $.post("/ace/api/library/pastefoldersorfiles", {
                                FileIdList: vm.copyorCutFiles, FolderIdList: vm.copyorCutFolders, TargetId: vm.currentFolder, Action: vm.action
                            }).done(function(res) {
                                if (res.Result) {
                                    alertify.logPosition("bottom right")
                                    alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.SaveSuccess)

                                    vm.clearAllFoldersandFiles()

                                    vm.$emit('folderChange', vm.currentFolder)
                                }
                            }).fail(function(err) {
                                if (err.readyState === 4 && err.status === 401) {
                                    window.location.replace('/ace')
                                }
                            })
                            break
                        case 'new':
                            $('#add-folder-modal-id').modal('show')
                            break
                        case 'icon':
                            vm.viewMode = 'icon'
                            break
                        case 'thumbnail':
                            vm.viewMode = 'thumbnail'
                            break
                        case 'list':
                            vm.viewMode = 'list'
                            break
                    }
                },
                items: {
                    "new": { name: vm.$i18n.messages[__culture].message.Library_NewFolder, icon: "fa-folder" },
                    "viewmode": {
                        name: vm.$i18n.messages[__culture].message.Library_ViewMode,
                        items: {
                            "icon": { name: vm.$i18n.messages[__culture].message.Library_Icon },
                            "thumbnail": { name: vm.$i18n.messages[__culture].message.Library_Thumbnail },
                            "list": { name: vm.$i18n.messages[__culture].message.Library_List },
                        }
                    },
                    "sep1": "---------",
                    "paste": {
                        name: vm.$i18n.messages[__culture].message.Library_Paste, icon: "paste", disabled: function(key, opt) {
                            return !vm.isCut
                        }
                    },
                }
            })
        },
        rightFolderClick: function(folder) {
            //判斷是否為多選
            if (this.selectedFiles.length + this.selectedFolders.length <= 1) { //超過一個以上為多選(不包含一個)
                this.selectedFiles.length = 0
                this.selectedFolders.length = 0
                this.selectedFolders.push(folder)
            }

            this.selectedFolder = {
                key: folder.key,
                id: folder.FolderId,
                name: folder.Name,
                files: []
            }
        },
        rightFileClick: function(file) {
            this.isCut = false

            //判斷是否為多選
            if (this.selectedFiles.length + this.selectedFolders.length <= 1) { //超過一個以上為多選(不包含一個)
                this.selectedFiles.length = 0
                this.selectedFolders.length = 0
                this.selectedFiles.push(file)
            }

            this.selectedFile = {
                key: file.key,
                id: file.FileId,
                name: file.Name,
                size: file.Size,
                type: file.FileType,
                ext: file.ExtensionName,
                updateDate: file.updateDate
            }
        },
        listClick: function() {
            this.viewMode = 'list'
        },
        iconClick: function() {
            this.viewMode = 'icon'
        },
        thumbnailClick: function() {
            this.viewMode = 'thumbnail'
        },
        faIconClassName: function(file) {
            if (file.FileType === 1) {
                return "fa-file-image-o"
            } else if (file.FileType === 2) {
                return "fa-video-camera"
            } else if (file.FileType === 3) {
                return "fa-music"
            } else if (file.FileType === 9) {
                return "fa-file-video-o"
            }
        },
        clearAllFoldersandFiles: function() {
            //清空所有選取的檔案或資料夾
            this.selectedFiles = []
            this.selectedFolders = []

            this.selectedFile = {
                key: 0,
                id: 0,
                name: '',
                size: 0,
                type: 0
            }
            this.selectedFolder = {
                key: 0,
                id: 0,
                name: '',
                files: [],
                updateDate: '',
                size: 0
            }
        },
        setAllKey: function() {
            var vm = this
            var count = vm.folders.length + vm.files.length
            var index = 1

            //把所有檔案或資料夾加入索引值Key 目的是製作多選Shift
            if (vm.filteredFolders.length > 0) {
                for (var i = 0; i < vm.filteredFolders.length; i++) {
                    vm.filteredFolders[i]['key'] = index
                    index++
                }
            }

            if (vm.filteredFiles.length > 0) {
                for (var i = 0; i < vm.filteredFiles.length; i++) {
                    vm.filteredFiles[i]['key'] = index
                    index++
                }
            }
        }
    },
    computed: {
        filesAndFoldersCount: function() {
            return this.files.length + this.folders.length
        },
        switchViewModeIcon: function() {
            if (this.viewMode === 'icon') {
                return true
            } else {
                return false
            }
        },
        switchViewModeThumbnail: function() {
            if (this.viewMode === 'thumbnail') {
                return true
            } else {
                return false
            }
        },
        switchViewModeList: function() {
            if (this.viewMode === 'list') {
                return true
            } else {
                return false
            }
        },
        isDraggable: function() {
            if (this.selectedFiles.length + this.selectedFolders.length > 0) { //有選檔案或資料夾才有拖曳功能
                return true
            } else {
                return false
            }
        },
        fileTextFilter: function() {
            //篩選搜尋的文字
            if (!this.fileText.trim().match(/^[a-zA-Z0-9`~@#&,%!=-_-\u4e00-\u9fa5\s]+$/g) && this.fileText.trim() != "") {
                alertify.logPosition("bottom right")
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + this.$i18n.messages[__culture].message.Error_0003)
                return ''
            } else {
                return this.fileText
            }
        },
        filteredFiles() {
            //先排序好要搜尋的檔案
            //決定排序方向
            if (this.fileSort.value === "name" && this.fileSort.direction === "desc") {
                var nameDesc = _.orderBy(this.files, ['Name'], ['desc'])
                return nameDesc.filter((element) => {
                    return element.Name.match(this.fileTextFilter)
                })
            }
            else if (this.fileSort.value === "name" && this.fileSort.direction === "asc") {
                var nameAsc = _.orderBy(this.files, ['Name'], ['asc'])
                return nameAsc.filter((element) => {
                    return element.Name.match(this.fileTextFilter)
                })
            }
            else if (this.fileSort.value === "size" && this.fileSort.direction === "asc") {
                var sizeAsc = _.orderBy(this.files, ['Size'], ['asc'])
                return sizeAsc.filter((element) => {
                    return element.Name.match(this.fileTextFilter)
                })
            }
            else if (this.fileSort.value === "size" && this.fileSort.direction === "desc") {
                var sizeDesc = _.orderBy(this.files, ['Size'], ['desc'])
                return sizeDesc.filter((element) => {
                    return element.Name.match(this.fileTextFilter)
                })
            }
            else if (this.fileSort.value === "date" && this.fileSort.direction === "asc") {
                var dateAsc = _.orderBy(this.files, ['UpdateDate'], ['asc'])
                return dateAsc.filter((element) => {
                    return element.Name.match(this.fileTextFilter)
                })
            }
            else if (this.fileSort.value === "date" && this.fileSort.direction === "desc") {
                var dateDesc = _.orderBy(this.files, ['UpdateDate'], ['desc'])
                return dateDesc.filter((element) => {
                    return element.Name.match(this.fileTextFilter)
                })
            }
        },
        filteredFolders() {
            //先排序好要搜尋的檔案
            //決定排序方向
            if (this.fileSort.value === "name" && this.fileSort.direction === "desc") {
                var nameDesc = _.orderBy(this.folders, ['Name'], ['desc'])
                return nameDesc.filter((element) => {
                    return element.Name.match(this.fileTextFilter)
                })
            }
            else if (this.fileSort.value === "name" && this.fileSort.direction === "asc") {
                var nameAsc = _.orderBy(this.folders, ['Name'], ['asc'])
                return nameAsc.filter((element) => {
                    return element.Name.match(this.fileTextFilter)
                })
            }
            else if (this.fileSort.value === "size" && this.fileSort.direction === "asc") {
                var sizeAsc = _.orderBy(this.folders, ['FolderFileSize'], ['asc'])
                return sizeAsc.filter((element) => {
                    return element.Name.match(this.fileTextFilter)
                })
            }
            else if (this.fileSort.value === "size" && this.fileSort.direction === "desc") {
                var sizeDesc = _.orderBy(this.folders, ['FolderFileSize'], ['desc'])
                return sizeDesc.filter((element) => {
                    return element.Name.match(this.fileTextFilter)
                })
            }
            else if (this.fileSort.value === "date" && this.fileSort.direction === "asc") {
                var dateAsc = _.orderBy(this.folders, ['UploadDate'], ['asc'])
                return dateAsc.filter((element) => {
                    return element.Name.match(this.fileTextFilter)
                })
            }
            else if (this.fileSort.value === "date" && this.fileSort.direction === "desc") {
                var dateDesc = _.orderBy(this.folders, ['UploadDate'], ['desc'])
                return dateDesc.filter((element) => {
                    return element.Name.match(this.fileTextFilter)
                })
            }
        },
        selectedFileId: function() {
            if (this.selectedFile) {
                return this.selectedFile.id
            }
            return 0
        },
        hasSelectedFile: function() {
            return this.selectedFile && this.selectedFile.id !== 0
        },
        displayState: function() {
            if (this.selectedFolders.length + this.selectedFiles.length > 1) {
                return 'multiview'
            }

            var check = false

            if (this.state === 'viewfile' && this.selectedFile) {
                var fileId = this.selectedFile.id

                $.each(this.files, function(index, item) {
                    if (item.FileId === fileId) {
                        check = true
                    }

                })
                if (check) {
                    return 'viewfile'
                }
            } else if (this.state === 'viewfolder' && this.selectedFolder) {
                var folderId = this.selectedFolder.id
                $.each(this.folders, function(index, item) {
                    if (item.FolderId === folderId) {
                        check = true
                    }
                })
                if (check) {
                    return 'viewfolder'
                }
            }

            return 'default'
        },

    },
    watch: {
        filesAndFoldersCount: function(val) {
            if (val > 0) {
                this.setAllKey()
            }
        },
        fileSort: function() {
            //排序後先清空所選取的檔案或資料夾，避免報錯
            this.clearAllFoldersandFiles()
            this.setAllKey()
        },
        currentFolder: function() {
            //切換資料夾時，清空所選取的檔案或資料夾
            this.clearAllFoldersandFiles()
        }
    },
    mounted() {
        //初始化 Context Menu
        this.contextMenuInside()
        this.contextMenuOutside()
    }
}
</script>

<style scoped>
.outside-border {
    padding: 10px;
    margin-top: 10px;
    border-top: 2px solid #4e5d6c;
    border-left: 2px solid #4e5d6c;
    border-right: 2px solid #4e5d6c;
}

.folder {
    cursor: default;
    transition: background .2s linear, border-radius 1s ease-in 1s;
}

.folder-icon {
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 25px;
    display: block;
}

.file-icon {
    word-break: break-all;
    overflow: hidden;
    height: 25px;
    display: block;
}

.folder-hover:hover {
    background-color: #617ba2;
}

.folder i.fa.fa-folder {
    color: #FAD689;
}

i.fa.pull-left {
    margin: 3px;
    width: 15px;
}

.file {
    cursor: default;
    transition: background .2s linear, border-radius 1s ease-in 1s;
}

.file-hover:hover {
    background-color: #617ba2;
}

.selected {
    background-color: #396b96;
    border: 1px solid #c5bebe;
    padding: 3px 5px 1px 10px;
}

.unselected {
    padding: 3px 5px 3px 10px;
}

th.name {
    width: 40%;
}

th.date {
    width: 30%;
}

th.mimetype,
th.size {
    width: 15%;
}

#set-scrollbar {
    overflow-y: scroll;
    overflow: hidden;
}

.cut-folders-files {
    opacity: 0.6;
}

.view-mode-selected {
    border: 1px solid #2985e0;
    padding: 2px 4px 2px 4px;
    background-color: #3274ad;
}

.view-mode-unselected {
    padding: 2px 4px 2px 4px;
}

.view-mode-hover:hover {
    background-color: #4d7aa0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

tr.border-td td {
    border-bottom: 1pt solid #c5bebe;
    background-color: #396b96;
}

.file i.fa.fa-file-image-o {
    color: #81C7D4;
}

.file i.fa.fa-video-camera {
    color: #8B81C3;
}

.file i.fa.fa-music {
    color: #56BADB;
}

.file i.fa.fa-file-video-o {
    color: #ED5858;
}

.left-menu-list {
    height: 55vh;
    position: relative;
    border-right: 2px solid #4e5d6c;
    overflow-y: auto;
    padding-top: 10px;
}

.left-menu-list::-webkit-scrollbar {
    width: 10px;
}

.left-menu-list::-webkit-scrollbar-track {
    background-color: gray;
    border-radius: 10px;
}

.left-menu-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #132333;
}

.vertical-container {
    height: 55vh;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
</style>