<template>
    <div>
        <div class="animated fadeIn" style="padding-top: 15px;">

            <!--縮圖-->
            <p style="text-align: center">
                <img src="/ace/images/ico-folder.png" alt="Folder" style="height: 140px;max-width: 210px;" />
            </p>

            <!--資料顯示-->
            <div class="form-horizontal" style="padding-top: 15px;">
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        {{ $t("message.Library_Name")}}
                    </label>
                    <label v-if="state === 'view'" class="col-sm-9 control-label" style="text-align: left;text-overflow: ellipsis;overflow: hidden;">{{ folder.name }}</label>
                    <div v-else class="col-sm-9 animated fadeIn">
                        <input type="text" class="form-control animated fadeIn" v-bind:value="folder.name" v-on:keyup.enter="save" id="folderEdit" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ $t("message.Library_Size")}}</label>
                    <label class="col-sm-9 control-label" style="text-align: left">{{ folder.size }}</label>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">{{ $t("message.Library_ModifyDate")}}</label>
                    <label class="col-sm-9 control-label" style="text-align: left">{{ folder.updateDate }}</label>
                </div>
            </div>

            <!--訊息區塊-->
            <div v-if="message !== null" class="alert animated fadeIn" :class="alertType">
                <span>{{ alertMessage }}</span>
            </div>

            <!--按鈕s-->
            <p style="text-align: right;padding-top: 15px;">
                <button type="button" class="btn btn-success btn-sm" style="border-radius: .3em" v-if="state === 'view'" v-on:click="state = 'edit'">
                    <i class="fa fa-pencil"></i>&nbsp; {{ $t("message.Edit")}}
                </button>
                <button type="button" class="btn btn-danger btn-sm" style="border-radius: .3em" v-if="state === 'view'" data-toggle="modal" data-target="#delete-folder-modal-id" @click="folderUsedList">
                    <i class="fa fa-trash"></i>&nbsp; {{ $t("message.Delete")}}
                </button>
                <button type="button" class="btn btn-default btn-sm" style="border-radius: .3em" v-if="state === 'edit'" v-on:click="state = 'view'">
                    <i class="fa fa-times"></i>&nbsp; {{ $t("message.Cancel")}}
                </button>
                <button type="button" class="btn btn-success btn-sm" style="border-radius: .3em" v-if="state === 'edit'" v-on:click="save">
                    <i class="fa fa-floppy-o"></i>&nbsp; {{ $t("message.Save")}}
                </button>
            </p>
        </div>

        <delete-folder-modal modal-id="delete-folder-modal-id" :folder="folder" :folder-used="folderUsed" @folderDeleted="folderDeletedHandler"></delete-folder-modal>

    </div>
</template>

<script>
import DeleteFolderModal from './modal/delete-folder-modal.vue'

export default {
    name: "FolderDetail",
    components: {
        DeleteFolderModal
    },
    data() {
        return {
            state: 'view', //view, edit
            message: null,
            folderUsed: []
        }
    },
    props: {
        folder: {
            type: Object,
            required: false,
            default: {
                key: 0,
                id: 0,
                name: '',
                files: [],
                updateDate: '',
                size: 0
            }
        }
    },
    watch: {
        folder: function(val, oldVal) {
            //folder變更, 表示使用者選取新folder
            this.state = 'view'
            this.message = null
        },
    },
    computed: {
        alertMessage: function() {
            if (this.message) {
                return this.message.msg
            }
            return ''
        },
        alertType: function() {
            if (this.message) {
                switch (this.message.type) {

                    case 'success':
                        return {
                            'alert-success': true,
                        }

                    case 'fail':
                        return {
                            'alert-danger': true,
                        }
                }
            }
            return null
        },
    },
    methods: {
        save: function() {
            var self = this
            //更改名字
            if ($("#folderEdit").val().trim() === "") {
                self.message = {
                    type: 'fail',
                    msg: self.$i18n.messages[__culture].message.Error_0004
                }
                setTimeout(
                    function() {
                        self.message = null
                    }, 4000)
            }
            else if (!$("#folderEdit").val().trim().match(/^[^,?*[+()^\\\/]+$/g)) {
                self.message = {
                    type: 'fail',
                    msg: self.$i18n.messages[__culture].message.Error_0003
                }
                setTimeout(
                    function() {
                        self.message = null
                    }, 4000)
            } else if ($("#folderEdit").val().length > 50) {
                self.message = {
                    type: 'fail',
                    msg: self.$i18n.messages[__culture].message.Error_0009
                }
                setTimeout(
                    function() {
                        self.message = null
                    }, 4000)
            } else {
                self.folder.name = $("#folderEdit").val().trim()
                $.post("/ace/api/library/folder/edit", {
                    FolderId: this.folder.id, FolderName: self.folder.name
                }).done(function(res) {

                    if (res.Result) {
                        self.message = {
                            type: "success",
                            msg: self.$i18n.messages[__culture].message.UpdateSuccess
                        }

                        self.folder.updateDate = res.Data
                        self.$emit('folderUpdated', self.folder)
                        self.state = 'view'
                    } else {
                        self.message = {
                            type: 'fail',
                            msg: self.$i18n.messages[__culture].message.Error_0044
                        }
                    }

                    setTimeout(
                        function() {
                            self.message = null
                        }, 4000)

                }).fail(function(err) {
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace('/ace')
                    }
                    self.message = {
                        type: 'fail',
                        msg: self.$i18n.messages[__culture].message.Error_0044
                    }
                })
            }
        },
        folderDeletedHandler: function(folder) {
            this.$emit('folderDeleted', folder)
        },
        folderUsedList: function() {
            var self = this
            $.post("/ace/api/library/folder/usedfolder", {
                FolderId: this.folder.id,
            }).done(function(res) {
                if (res.Data) {
                    self.folderUsed = res.Data
                }
            }).fail(function(err) {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
            })
        }
    },
}
</script>

<style scoped>
i.fa.fa-folder,
.glyphicon-folder-open {
    color: #FAD689;
}
</style>