<template>
    <div class="dropdown" style="display: inline-block">
        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="ddm_sort_by" data-toggle="dropdown">
            {{ $t("message.Library_Sortby")}} &nbsp; #
            <span>{{ sortName }}</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li v-for="item in sortItems" @click="select(item)" :key="'SortItems'+item">
                <a href="#">
                    {{ item.text }}
                    <span v-show="item.checked">
                        &nbsp;
                        <i class="fa fa-check text-success"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</template>

<script>
var _ = require('lodash')
export default {
    name: 'library-sort-dropdown',
    data() {
        return {
            sortItems: [
                { text: this.$i18n.messages[__culture].message.Library_SortbyNameAsc, value: 'name', direction: 'asc', checked: true },
                { text: this.$i18n.messages[__culture].message.Library_SortbyNameDesc, value: 'name', direction: 'desc', checked: false },
                { text: this.$i18n.messages[__culture].message.Library_SortbySizeAsc, value: 'size', direction: 'asc', checked: false },
                { text: this.$i18n.messages[__culture].message.Library_SortbySizeDesc, value: 'size', direction: 'desc', checked: false },
                { text: this.$i18n.messages[__culture].message.Library_SortbyDateAsc, value: 'date', direction: 'asc', checked: false },
                { text: this.$i18n.messages[__culture].message.Library_SortbyDateDesc, value: 'date', direction: 'desc', checked: false }
            ]
        }
    },
    computed: {
        sortName() {
            var item = _.find(this.sortItems, { 'checked': true })
            if (item) {
                return item.text
            }
        }
    },
    methods: {
        select(item) {

            $.each(this.sortItems, (i, obj) => {
                obj.checked = false
            })

            item.checked = true

            this.$emit('onSortChanged', {
                value: item.value,
                direction: item.direction
            })
        }
    }
}
</script>

<style>

</style>