<template>
  <div>
    <div style="margin-bottom:10px;">
      <!--新增資料夾 按鈕-->
      <button type="button" class="btn btn-default btn-sm" :class="{'btn-add-folder':hasFolder}" data-toggle="modal" data-target="#add-folder-modal-id">
        <span>{{ $t("message.Library_NewFolder")}}</span>
        &nbsp;
        <i class="fa fa-folder-open text-success"></i>
        <span v-if="currentFolder" :title="currentFolder.folderName">&nbsp; {{ currentFolder.folderName }}</span>
      </button>

      <!--上傳檔案按鈕(控制上傳區塊的開關)-->
      <button type="button" class="btn btn-default btn-sm" v-on:click="showUploadArea = !showUploadArea">
        <span v-if="!showUploadArea">{{ $t("message.Library_UploadFile")}}</span>
        <span v-else>{{ $t("message.Library_CancelUploadPanel")}}</span>
        &nbsp;
        <i class="fa fa-upload text-info"></i>
      </button>     

      <library-sort-dropdown @onSortChanged="sortChangedHandler"></library-sort-dropdown>

      <div style="display: inline-block">
        <input type="text" class="btn btn-default btn-sm" style="cursor: text;text-align: left" v-bind:placeholder=" $t('message.Search') + '...'" v-model="fileText" id="btnSearch">
        <i class="fa fa-search" style="margin-left: 3px;cursor: pointer"></i>
      </div>

      <!--檔案上傳區塊-->
      <div v-show="showUploadArea" class="animated fadeIn" style="margin-bottom: 20px;margin-top:10px">
        <file-upload-area upload-url="/ace/library/uploadajax" :folder-id="folderId" :support-file-exts="supportFileExts" :file-size-limit="fileSizeLimit" v-on:uploadSuccess="uploadSuccessHandler">
        </file-upload-area>
      </div>

    </div>

    <!--資料夾階層麵包屑-->
    <ol class="breadcrumb">
      <!--Root-->
      <li style="overflow: hidden;cursor: pointer;margin-top:5px;">
        <span v-on:click="initFolderItems(null)">
          &nbsp;
          <i class="fa fa-home" style="font-size:20px;"></i>
        </span>
      </li>
      <!--Parent folders-->
      <li v-for="parentFolder in parentFolders" class="bread-item" style="cursor: pointer;" :key="'parentFolder' + parentFolder">
        <span v-on:click="initFolderItems(parentFolder.FolderId)" :title="parentFolder.FolderName">{{ parentFolder.FolderName }}</span>
      </li>
      <!--Current folder-->
      <li class="active bread-item" v-if="folderId">
        <span :title="folderName">{{ folderName }}</span>
      </li>
    </ol>

    <!--新增資料夾-->
    <new-folder-button modal-id="add-folder-modal-id" :folder="currentFolder" v-on:folderChange="folderChangeHandler"></new-folder-button>

    <!--資料夾 檔案 清單-->
    <folder-area :folders="folders" :files="files" :current-folder="folderId" :file-text="fileText" :file-sort="fileSort" v-on:folderChange="folderChangeHandler" v-on:fileDeleted="fileDeletedHandler" @fileUpdated="fileUpdatedHandler" @folderUpdated="folderUpdatedHandler" @folderDeleted="folderDeletedHandler" @deleteAll="updateCurrentFolder" @dragFile="updateDragFileHandler" @selectedFolders="selectedFoldersHandler" @selectedFiles="selectedFilesHandler"></folder-area>

    <!--更換資料夾路徑-->
    <file-move-modal modal-id="file-move-modal-id" :selected-files="selectedFiles" :selected-folders="selectedFolders" @dragFile="updateDragFileHandler" :folders="folders"></file-move-modal>

  </div>
</template>

<script>
import NewFolderButton from './modal/new-folder-button.vue'
import FolderArea from './folder-area.vue'
import FileUploadArea from './file-upload-area.vue'
import LibrarySortDropdown from './library-sort-dropdown.vue'

var _ = require('lodash')

export default {
  name: 'media-library-index',
  data() {
    return {
      folderId: null, //Current folder id
      folderName: null, //Current folder name
      folders: [],
      files: [],
      parentFolders: [],
      showUploadArea: false,
      fileText: '',
      selectedFolders: [],
      selectedFiles: [],
      hasFolder: false,
      fileSort: { value: 'name', direction: 'asc' },
      testName: ''
    }
  },
  props: {
    apiUrl: {
      type: String,
      required: true,
      default: '/ace/api'
    },
    supportFileExts: {
      type: Array,
      required: false,
      default: null,
    },
    fileSizeLimit: {
      type: Number,
      required: false,
      default: 0,
    },
  },
  watch: {
    currentFolder: function(val) {
      if (val) {
        this.hasFolder = true
      } else {
        this.hasFolder = false
      }
    }
  },
  computed: {
    currentFolder: function() {
      if (this.folderId) {
        return {
          folderId: this.folderId,
          folderName: this.folderName
        }
      } else {
        return null
      }
    }
  },
  created() {
    this.initFolderItems(this.folderId)
  },
  methods: {
    //根據folderId從server取得資料夾內容
    initFolderItems: function(folderId) {

      var api = this.apiUrl + "/library/folder/items"

      if (folderId) {
        api += '/' + folderId
      }

      var self = this

      $.get(api).done((res) => {

        if (res.Result && res.Data) {

          self.folders = res.Data.Folders
          self.files = res.Data.Files

          if (res.Data.Parents) {
            self.parentFolders = _.reverse(res.Data.Parents)
          }

          self.folderId = res.Data.FolderId
          self.folderName = res.Data.FolderName

        } else {
          //todo, get data failed
          self.folders = []
          self.files = []
          self.parentFolders = []
          self.folderId = null
          self.folderName = null
        }

      }).fail((err) => {
        if (err.readyState === 4 && err.status === 401) {
          window.location.replace('/ace')
        }
      })
    },
    folderChangeHandler: function(folderId) {
      //處理資料夾變化
      this.initFolderItems(folderId)
    },
    uploadSuccessHandler: function(folderId) {

      //上傳完成後, 更新資料夾內容
      if (folderId === this.folderId) {
        this.initFolderItems(folderId)
      }
    },
    fileDeletedHandler: function(file) {

      //將file從清單移除
      var index = -1

      //find deleted file
      $.each(this.files, (i, item) => {
        if (item.FileId === file.id) {
          index = i
        }
      })

      //remove target
      if (index !== -1) {
        this.files.splice(index, 1)
      }
      this.$emit('fileDelete', true)
    },
    fileUpdatedHandler: function(file) {
      //將file從清單更新名稱
      $.each(this.files, (i, item) => {
        if (item.FileId === file.id) {
          item.Name = file.name
          item.UpdateDate = file.updateDate
        }
      })
    },
    folderUpdatedHandler: function(folder) {
      //將folder從清單更新名稱
      $.each(this.folders, (i, item) => {
        if (item.FolderId === folder.id) {
          item.Name = folder.name
          item.UpdateDate = folder.updateDate
        }
      })
    },
    folderDeletedHandler: function(folder) {
      if (!folder) {
        return
      }

      var index = -1

      //find deleted folder index
      $.each(this.folders, (i, item) => {
        if (item.FolderId === folder.id) {
          index = i
        }
      })

      //remove target
      if (index !== -1) {
        this.folders.splice(index, 1)
      }
      this.$emit('fileDelete', true)
    },
    updateCurrentFolder: function() {
      this.initFolderItems(this.folderId)
      this.$emit('fileDelete', true)
    },
    updateDragFileHandler: function() {
      this.initFolderItems(this.folderId)
    },
    selectedFoldersHandler: function(folders) {
      this.selectedFolders = folders
    },
    selectedFilesHandler: function(files) {
      this.selectedFiles = files
    },
    sortChangedHandler(item) {
      this.fileSort = item
    },
    test: function() {
      var vm = this      
      var data = {
        Description: vm.testName,
        MinValue: 123,
        MaxValue: 12,
        UserGroup_Id: 2,
        AgeId: 5
      }

      $.post("/ace/api/library/test", data).done(function(res) {
        if (res.Result) {

        }
      }).fail(function(err) {
        if (err.readyState === 4 && err.status === 401) {
          window.location.replace('/ace')
        }
      })
    }
  },
  components: {
    NewFolderButton,
    FolderArea,
    FileUploadArea,
    LibrarySortDropdown,
  }
}
</script>

<style scoped>
.btn-add-folder {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 250px;
}

.breadcrumb {
  padding: 2px 10px;
  margin: 0px;
  border-radius: .2em;
  background: linear-gradient(to right, #37495d 5%, #2b3e50);
}

.bread-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
</style>
