<template>
    <div>
        <div class="animated fadeIn">

            <h4>{{ $t("message.Library_YouSelected")}}</h4>

            <p v-if="selectedFolders.length > 0">
                {{ selectedFolders.length }} {{ $t("message.Library_Folders")}}
                <ul>
                    <li v-for="folder in selectedFolders" class="short-item" :title="folder.Name" :key="'folder'+folder.Name">
                        - {{ folder.Name }}
                    </li>
                </ul>
            </p>

            <p v-if="selectedFiles.length > 0">
                {{ selectedFiles.length }} {{ $t("message.Library_Files")}}
                <ul>
                    <li v-for="file in selectedFiles" class="short-item" :title="file.Name" :key="'file'+file.Name">
                        - {{ file.Name }}
                    </li>
                </ul>
            </p>

            <p class="text-right">
                <button type="button" class="btn btn-danger btn-sm" style="border-radius: .3em" data-toggle="modal" data-target="#delete-all-modal" @click="usedAllFiles">
                    <i class="fa fa-trash"></i>&nbsp; {{ $t("message.Library_DeleteAll")}}
                </button>
            </p>

        </div>

        <!--Delete add comfirm modal-->
        <div class="modal fade" id="delete-all-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">
                            <i class="fa fa-exclamation-triangle text-danger" v-if="userdFolderFiles.length > 0 || usedFiles.length > 0"></i>&nbsp;{{ $t("message.Library_DeleteAll")}}
                        </h4>
                    </div>
                    <div class="modal-body">
                        <h4>{{ $t("message.Library_DeleteAllSelected")}}</h4>
                        <br>
                        <table style="width:100%" class="table table-bordered" v-if="userdFolderFiles.length > 0 || usedFiles.length > 0">
                            <thead>
                                <tr>
                                    <td style="width:30%">
                                        <label class="text-info">{{ $t("message.Library_FileName")}}</label>
                                    </td>
                                    <td style="width:25%">
                                        <label class="text-info">{{ $t("message.Campaign_Campaigns")}}</label>
                                    </td>
                                    <td style="width:25%">
                                        <label class="text-info">{{ $t("message.Device_DefaultScreen")}}</label>
                                    </td>
                                    <td style="width:20%">
                                        <label class="text-info">{{ $t("message.Library_FolderName")}}</label>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="file in userdFolderFiles" :key="'UserFolderFiles'+file">
                                    <td class="short-item" style="vertical-align: middle;max-width: 0;" :title="file.FileName">
                                        {{file.FileName}}
                                    </td>
                                    <td>
                                        <ul style="list-style-type: none;margin: 0;padding: 0;overflow: hidden;">
                                            <li v-for="cp in file.CampaignName" style="float: left;" :key="'CampaignName'+cp">
                                                <span style="display: block;padding: 8px;">{{ cp }}</span>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul style="list-style-type: none;margin: 0;padding: 0;overflow: hidden;">
                                            <li v-for="df in file.DefaultScreen" style="float: left;" :key="'DefautScreen'+df">
                                                <span style="display: block;padding: 8px;">{{ df }}</span>
                                            </li>
                                        </ul>
                                    </td>
                                    <td class="short-item" style="vertical-align: middle;max-width: 0;" :title="file.FolderName">{{file.FolderName}}</td>
                                </tr>
                                <tr v-for="file in usedFiles" :key="'UsedFiles'+file">
                                    <td class="short-item" style="vertical-align: middle;max-width: 0;" :title="file.FileName">
                                        {{file.FileName}}
                                    </td>
                                    <td>
                                        <ul style="list-style-type: none;margin: 0;padding: 0;overflow: hidden;">
                                            <li v-for="cp in file.CampaignName" style="float: left;" :key="'CampaignName'+cp">
                                                <span style="display: block;padding: 8px;">{{ cp }}</span>
                                            </li>
                                        </ul>
                                    </td>
                                    <td>
                                        <ul style="list-style-type: none;margin: 0;padding: 0;overflow: hidden;">
                                            <li v-for="df in file.DefaultScreen" style="float: left;" :key="'DefaultScreen'+df">
                                                <span style="display: block;padding: 8px;">{{ df }}</span>
                                            </li>
                                        </ul>
                                    </td>
                                    <td class="short-item" style="vertical-align: middle;max-width: 0;" :title="file.FolderName">{{file.FolderName}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <footer-button :buttonList="buttonList" :isBusy="isBusy"></footer-button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
import FooterButton from '../controls/modal/footer-button.vue'
export default {
    name: 'MultiSelectDetail',
    components: {
        FooterButton
    },
    data() {
        return {
            isBusy: false,
            buttonList: [{ button: 'cancel', dismiss: 'modal' }, { button: 'delete', method: 'deleteAllHandler' }],
            usedFiles: [],
            userdFolderFiles: []
        }
    },
    props: {
        selectedFiles: {
            type: Array,
            defualt: [],
            required: false,
        },
        selectedFolders: {
            type: Array,
            defualt: [],
            required: false,
        },
    },
    methods: {
        deleteAllHandler: function () {
            var self = this
            this.isBusy = true
            //觸發事件: 全部刪除
            var fileIds = this.selectedFiles.map((o) => { return o.FileId })
            var folderIds = this.selectedFolders.map((o) => { return o.FolderId })

            $.post('/ace/api/library/delete-all', {
                FileIdList: self.selectedFiles.map((o) => { return o.FileId }),
                FolderIdList: self.selectedFolders.map((o) => { return o.FolderId })
            }).done((res) => {
                self.$emit('deleteAll', {
                    success: res.Result,
                    msg: res.Message,
                    fileIds: fileIds,
                    folderIds: folderIds,
                })
            }).fail((e) => {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
                self.$emit('deleteAll', {
                    success: false,
                    msg: e.responseText,
                })
            }).always(function () {

                self.isBusy = false

                $('#delete-all-modal').modal('hide')
            })
        },
        usedAllFiles: function () {
            var self = this

            var files = []
            var folderFiles = []

            $.each(self.selectedFiles, function (index, i) {
                files.push(i.FileId)
            })

            $.each(self.selectedFolders, function (index, i) {
                folderFiles.push(i.FolderId)
            })

            $.post('/ace/api/library/delete-all-fileList', {
                FileIdList: files,
                FolderIdList: folderFiles
            }).done((res) => {
                if (res.Result) {
                    self.usedFiles = res.Data.File
                    self.userdFolderFiles = res.Data.Folder
                } else {
                    self.usedFiles = []
                    self.userdFolderFiles = []
                }
            }).fail((e) => {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
            })

        }
    },
}
</script>

<style scoped>
.short-item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
</style>