<template>
  <div>
    <h2>{{$t('message.Library_ToolsLibrary')}}</h2>
    <div class="row">
      <div class="col-xs-12">
        <assets-tab-panel>
          <!--Media Library-->
          <div slot="library">
            <media-library :support-file-exts="['.mp4','.wmv','.avi','.bmp','.gif','.jpg','.jpeg','.png','.mp3','.swf','.xps','.pdf']" :file-size-limit="1073741824">
            </media-library>
          </div>
          <div slot="text">
            <text-asset-editor> </text-asset-editor>
          </div>
          <div slot="apps">
          <apps-asset> </apps-asset>
          </div>
        </assets-tab-panel>
      </div>
    </div>
  </div>
</template>


<script>
import AssetsTabPanel from "../campaign/assets-tab-panel.vue";
import MediaLibrary from "./media-library-index.vue";
import TextAssetEditor from "../campaign/text-asset-editor.vue";
import AppsAsset from "../campaign/apps-asset.vue";

export default {
  name: "tool-library-index",
  components: {
    AssetsTabPanel,
    MediaLibrary,
    TextAssetEditor,
    AppsAsset
  }
};
</script>
