﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LogIn</title>
    @Styles.Render("~/Content/css")

    <style>
        .login {
            height: 500px;
            width: 400px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -250px;
            margin-left: -200px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .login-bg {
            background: -webkit-linear-gradient(left top,#417BA7,#B5B3BE);
            background: -o-linear-gradient(bottom right,#417BA7,#B5B3BE);
            background: -moz-linear-gradient(bottom right,#417BA7,#B5B3BE);
            background: linear-gradient(to bottom right,#417BA7,#B5B3BE);
            min-height: 100%;
        }

        html, body {
            margin: 0;
            height: 100%;
        }
    </style>

</head>
<body class="login-bg">
    <div class="login">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            <p style="text-align:center;"><i class="fa fa-user-circle-o" style="font-size:100px;color: #e8e8e8;"></i></p>
            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-envelope" style="width:15px"></i>
                </span>
                <input type="text" name="Account" placeholder="Email" class="form-control" />
            </div>

            <br />
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-key" style="width:15px"></i>
                </span>
                <input type="password" name="Password" placeholder="Password" class="form-control" />
            </div>

            <br />

            <div>
                <button type="submit" class="btn btn-primary btn-block" value="LOGIN">
                    LOGIN
                </button>
            </div>
            <br />

            if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger alert-dismissible animated fadeIn" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong><i class="fa fa-exclamation-triangle"></i></strong>
                    &nbsp;@ViewBag.ErrorMessage
                </div>
            }
        }
            
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
