<template>
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        <i class="fa fa-exclamation-triangle text-danger" v-if="folderUsed.length != 0"></i>&nbsp;{{ $t("message.Library_DeleteFolder")}}</h4>
                </div>
                <div class="modal-body">
                    <div v-if="folderUsed.length === 0">
                        <h4>{{ $t("message.Library_DeleteFolderRequest")}}</h4>
                    </div>
                    <div v-else>
                        <h4>{{ $t("message.Library_DeleteUsedFolder")}}</h4>
                    </div>
    
                    <div v-if="folderUsed.length != 0">
                        <br>
                        <table style="width:100%" v-if="folderUsed.length != 0" class="table table-bordered">
                            <thead>
                                <tr>
                                    <td>
                                        <label class="text-info">{{ $t("message.Library_FileName")}}</label>
                                    </td>
                                    <td>
                                        <label class="text-info">{{ $t("message.Campaign_Campaigns")}}</label>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="file in folderUsed" :key="'fileused'+file.FileName">
                                    <td>{{ file.FileName }} </td>
                                    <td>
                                        <div v-for="cpName in file.CampaignName" :key="'cpName'+cpName">
                                            {{ cpName }}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <footer-button :buttonList="buttonList" :isBusy="isBusy"></footer-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FooterButton from '../../controls/modal/footer-button.vue'
export default {
    name: 'delete-folder-modal',
    components: {
        FooterButton
    },
    data() {
        return {
            isBusy: false,
            buttonList: [{ button: 'cancel', dismiss: 'modal' }, { button: 'delete', method: 'deleteFolder' }],
            data: [],
            selectedFolder: '',
            message: null,
        }
    },
    props: {
        modalId: {
            type: String,
            required: true,
            default: 'delete-folder-modal-id'
        },
        folderUsed: {
            type: Array,
            required: false,
            default: []
        },
        folder: {
            type: Object,
            required: false,
            default: {
                id: 0,
                name: '',
                files: [],
                updateDate: ''
            }
        }
    },
    methods: {
        deleteFolder: function () {
            var self = this
            this.isBusy = true
            $.post("/ace/api/library/folder/delete", {
                FolderId: self.folder.id,
            }).done(function (res) {
                if (res.Result) {
                    alertify.logPosition("bottom right")
                    alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + self.$i18n.messages[__culture].message.DeleteSuccess)

                    self.$emit('folderDeleted', self.folder)
                }
            }).fail(function (err) {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
            }).always(function () {

                self.isBusy = false

                $('#' + self.modalId).modal('hide')
            })
        }
    }
}
</script>

<style scoped>

</style>
