<template>
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        <i class="fa fa-exclamation-triangle text-danger" v-if="fileUsed.length != 0"></i>&nbsp;{{ $t("message.Library_DeleteFile")}}</h4>
                </div>
                <div class="modal-body">
                    <div v-if="fileUsed.length === 0">
                        <h4>{{ $t("message.Library_DeleteFileRequest")}}</h4>
                    </div>
                    <div v-else>
                        <h4>{{ $t("message.Library_UsedFile")}}</h4>
                    </div>
    
                    <div v-if="fileUsed.length != 0">
                        <br>
                        <label class="text-info">{{ $t("message.Campaign_Campaigns")}}</label>
                        <ul>
                            <li v-for="file in fileUsed" :key="'usedFile'+file">
                                <span>{{ file }}</span>
                            </li>
                        </ul>
                    </div>
    
                    <div v-if="defaultScreenList.length != 0">
                        <br>
                        <label class="text-info">{{ $t("message.Device_DefaultScreen")}}</label>
                        <ul>
                            <li v-for="defaultscreen in defaultScreenList" :key="'defaultScreen'+defaultscreen">
                                <span>{{ defaultscreen }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer">
                    <footer-button :buttonList="buttonList" :isBusy="isBusy"></footer-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FooterButton from '../../controls/modal/footer-button.vue'
export default {
    name: 'delete-file-modal',
    components: {
        FooterButton
    },
    data() {
        return {
            isBusy: false,
            buttonList: [{ button: 'cancel', dismiss: 'modal' }, { button: 'delete', method: 'deleteFile' }],
            data: [],
            selectedFolder: '',
            message: null,
        }
    },
    props: {
        modalId: {
            type: String,
            required: true,
            default: 'delete-file-modal-id'
        },
        fileUsed: {
            type: Array,
            required: false,
            default: []
        },
        defaultScreenList: {
            type: Array,
            required: false,
            default: []
        },
        file: {
            type: Object,
            required: true,
            default: {
                id: 0,
                name: '',
                size: 0,
                ext: '',
                type: 0,
                updateDate: ''
            }
        }
    },
    methods: {
        deleteFile: function () {
            var self = this
            this.isBusy = true
            $.post("/ace/api/library/file/delete", {
                FileId: self.file.id,
            }).done(function (res) {
                if (res.Result) {
                    alertify.logPosition("bottom right")
                    alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + self.$i18n.messages[__culture].message.DeleteSuccess)

                    self.$emit('fileDeleted', self.file)
                }
            }).fail(function (err) {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
            }).always(function () {

                self.isBusy = false

                $('#' + self.modalId).modal('hide')
            })
        }
    }
}
</script>

<style scoped>

</style>
