<template>
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog">
            <div class="modal-content">
    
                <!--Modal title-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="addFolderModal-label" style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                        <i class="fa fa-folder" style="color:#FAD689"></i>
                        <span>{{ $t("message.Library_NewFolder")}}</span>
                        <span v-if="folder" :title="folder.folderName">&nbsp;@ {{ folder.folderName }}</span>
                    </h4>
                </div>
    
                <!--Modal body-->
                <div class="modal-body">
                    <input type="text" class="form-control" id="newFolder" v-model="newFolder.name" value="" v-bind:placeholder=" $t('message.Library_EnterFolderName')" v-bind:disabled="newFolder.isProcessing">
                    <br>
                    <div v-show="newFolder.errMsg" class="alert animated fadeIn" v-bind:class="{ 'alert-danger': newFolder.errMsg }" role="alert">
                        <span>{{ newFolder.errMsg }}</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <div v-if="!newFolder.isProcessing">
                        <button type="button" class="btn btn-default btn-sm" style="border-radius: .3em" data-dismiss="modal">
                            <i class="fa fa-times"></i>&nbsp;{{ $t("message.Cancel")}}</button>
                        <button type="button" class="btn btn-success btn-sm" style="border-radius: .3em" v-on:click="confirmAddNewFolder">
                            <i class="fa fa-floppy-o"></i>&nbsp;{{ $t("message.Save")}}</button>
                    </div>
                    <div v-else>
                        <span>
                            <i class="fa fa-spin fa-spinner"></i>
                            &nbsp;{{ $t("message.Library_CreatingFolder")}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'new-folder-button',
    data() {
        return {
            newFolder: {
                name: '',
                errMsg: null,
                isProcessing: false,
                addFolderApi: '/library/folder/add',
            },
        }
    },
    props: {
        modalId: {
            type: String,
            required: true,
            default: 'add-folder-modal-id'
        },
        folder: {
            type: Object,
            required: false,
            default: null
        },
    },
    methods: {
        openAddFolderModal: function () {
            this.newFolder.name = '';
            this.newFolder.errMsg = null;
        },
        confirmAddNewFolder: function () {
            var self = this
            if (!this.newFolder.name || $("#newFolder").val().trim() === '') {
                this.newFolder.errMsg = self.$i18n.messages[__culture].message.Error_0004
                this.newFolder.name = ''
                return
            }

            //禁止輸入特殊符號
            if (!this.newFolder.name.trim().match(/^[^?*[+()^\\\/]+$/g)) {
                this.newFolder.errMsg = self.$i18n.messages[__culture].message.Error_0003
                return
            }
            else if (this.newFolder.length > 50) {
                alertify.logPosition("bottom right");
                //Name is over than 50
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + self.$i18n.messages[__culture].message.Error_0009)
                return
            }

            this.newFolder.isProcessing = true

            $.post('/ace/api' + this.newFolder.addFolderApi, {
                FolderName: self.newFolder.name,
                ParentFolderId: self.folder ? self.folder.folderId : null,
            }).done(function (res) {
                if (res.Result) {
                    alertify.logPosition("bottom right")
                    alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + self.$i18n.messages[__culture].message.AddSuccess)
                    self.newFolder.name = ''
                    self.newFolder.errMsg = null

                    self.$emit('folderChange', self.folder ? self.folder.folderId : null)

                    $('#' + self.modalId).modal('hide')

                } else {
                    self.newFolder.errMsg = self.$i18n.messages[__culture].message.Error_0044
                }

            }).fail(function (err) {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                } else {
                    self.newFolder.errMsg = self.$i18n.messages[__culture].message.Error_0044
                }
            }).always(function () {
                self.newFolder.isProcessing = false
            })
        }
    }
}
</script>

<style scoped>
.btn-add-folder {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 250px;
}
</style>