<template>
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        <span v-if="userInfo.id === 0">{{ $t("message.Account_AddAccount")}}</span>
                        <span v-else>{{ $t("message.Account_EditAccount")}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="padding: 0px 40px 0px 40px;">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">{{ $t("message.Account_Name")}}
                                    <span class="required-star">*</span>
                                </label>
                                <input type="text" class="form-control" v-model="userInfo.name">
                                <transition enter-active-class="animated flipInX" leave-active-class="animated zoomOut">
                                    <div v-if="errMsgName" class="alert alert-danger" style="margin-top: 10px;">
                                        <button type="button" class="close" @click="hideErrMsgName">&times;</button>
                                        <div v-html="errMsgName"></div>
                                    </div>
                                </transition>
                            </div>
                            <div class="form-group">
                                <label class="control-label">{{ $t("message.Account_EMail")}}
                                    <span class="required-star">*</span>
                                </label>
                                <input type="email" class="form-control" v-model="userInfo.email" required>
                                <transition enter-active-class="animated flipInX" leave-active-class="animated zoomOut">
                                    <div v-if="errMsgEmail" class="alert alert-danger" style="margin-top: 10px;">
                                        <button type="button" class="close" @click="hideErrMsgEmail">&times;</button>
                                        <div v-html="errMsgEmail"></div>
                                    </div>
                                </transition>
                            </div>
                            <div v-if="userInfo.id === 0" class="form-group">
                                <label class="control-label">{{ $t("message.Account_Password")}}
                                    <span class="required-star">*</span>
                                </label>
                                <input type="password" class="form-control" v-model="userInfo.password">
                                <transition enter-active-class="animated flipInX" leave-active-class="animated zoomOut">
                                    <div v-if="errMsgPassword" class="alert alert-danger" style="margin-top: 10px;">
                                        <button type="button" class="close" @click="hideErrMsgPassword">&times;</button>
                                        <div v-html="errMsgPassword"></div>
                                    </div>
                                </transition>
                            </div>
                            <div v-if="userInfo.id === 0" class="form-group">
                                <label class="control-label">{{ $t("message.Home_ConfirmPassword")}}
                                    <span class="required-star">*</span>
                                </label>
                                <input type="password" class="form-control" v-model="userInfo.comfirmPassword">
                            </div>
                            <div>
                                <label class="control-label">{{ $t("message.Account_AssignRole")}}
                                    <span class="required-star">*</span>
                                </label>
                                <ul>
                                    <li v-for="role in roles" :key="'role'+role">
                                        <span>
                                            <input type="checkbox" v-model="roleSelected" :value="role" :id="'add'+role">
                                            <label :for="'add'+role">{{role}}</label>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span v-if='roleSelected == null || roleSelected.length === 0' class="text-danger">
                        <i class="fa fa-exclamation-triangle"></i>&nbsp; {{ $t("message.Account_AssignRoleHint")}} &nbsp;
                    </span>
                    <footer-button :buttonList="buttonList" :isBusy="isBusy"> </footer-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FooterButton from "../../controls/modal/footer-button.vue"

export default {
    name: 'add-account-modal',
    components: {
        FooterButton
    },
    data() {
        return {
            errMsgName: '',
            errMsgEmail: '',
            errMsgPassword: '',
            isBusy: false,
            roleSelected: [],
            buttonList: [
                { button: 'cancel', method: '', dismiss: 'modal' },
                { button: 'save', method: "submit" }
            ]
        }
    },
    props: {
        modalId: {// 從上層傳來的, 要編輯的campaign id, 若是新增, 此值為0
            type: String,
            required: true,
            default: ''
        },
        userInfo: {
            type: Object,
            required: false,
            default: {
                id: 0,
                name: '',
                email: '',
                password: '',
                comfirmPassword: '',
                roles: []
            }
        },
        roles: {
            type: Array,
            required: true,
            default: null
        }
    },
    watch: {
        userInfo(editUserInfo) {
            if (editUserInfo.roles == null) {
                this.roleSelected = []
            } else {
                this.roleSelected = editUserInfo.roles
            }
        }
    },
    methods: {
        submit: function() {
            var self = this;
            self.isBusy = true;
            if (self.userInfo.name.trim() === "") {
                self.errMsgName = self.$i18n.messages[__culture].message.Error_0004;
                setTimeout(function() {
                    self.errMsgName = ''
                }, 2000);
                self.isBusy = false
                return
            }
            if (self.userInfo.email.trim() === "") {
                self.errMsgEmail = self.$i18n.messages[__culture].message.Error_0038;
                setTimeout(function() {
                    self.errMsgEmail = ''
                }, 2000);
                self.isBusy = false
                return
            }
            //Name 特殊字元判斷以及長度
            if (self.userInfo.name.trim()) {
                if (!self.userInfo.name.trim().match(/^[^?*[+()^\\\/]+$/g)) {
                    self.errMsgName = self.$i18n.messages[__culture].message.Error_0003;
                    setTimeout(function() {
                        self.errMsgName = ''
                    }, 2000);
                    self.isBusy = false
                    return
                }
                if (self.userInfo.name.length > 50) {
                    self.errMsgName = self.$i18n.messages[__culture].message.Error_0009;
                    setTimeout(function() {
                        self.errMsgName = ''
                    }, 2000);
                    self.isBusy = false
                    return
                }

            }

            //判斷Email格式是否有效
            if (self.userInfo.email) {
                if (!this.isEmail()) {
                    self.errMsgEmail = self.$i18n.messages[__culture].message.Error_0039;
                    setTimeout(function() {
                        self.errMsgEmail = ''
                    }, 2000);
                    self.isBusy = false;
                    return;
                }
            }

            if (self.userInfo.id === 0) {
                //判斷密碼欄位空值
                if ((self.userInfo.password == "" && self.userInfo.comfirmPassword == "") && (self.userInfo.password.trim() == "" && self.userInfo.comfirmPassword.trim() == "")) {
                    self.errMsgPassword = self.$i18n.messages[__culture].message.Error_0048;
                    setTimeout(function() {
                        self.errMsgPassword = '';
                    }, 2000);
                    self.isBusy = false;
                    return;
                }
                if ((self.userInfo.password !== "" || self.userInfo.comfirmPassword !== "") && (self.userInfo.password.trim() == "" || self.userInfo.comfirmPassword.trim() == "")) {
                    self.errMsgPassword = self.$i18n.messages[__culture].message.Error_0048;
                    setTimeout(function() {
                        self.errMsgPassword = '';
                    }, 2000);
                    self.isBusy = false;
                    return;
                }

                //判斷密碼是否輸入相同
                if (self.userInfo.password != self.userInfo.comfirmPassword || self.userInfo.password.trim() === "") {
                    self.errMsgPassword = self.$i18n.messages[__culture].message.Error_0041;
                    setTimeout(function() {
                        self.errMsgPassword = '';
                    }, 2000);
                    self.isBusy = false;
                    return;
                }
            }

            if (self.roleSelected.length === 0) {
                self.isBusy = false;
                return;
            }

            var apiUrl = '';

            apiUrl = "/ace/api/account/add";

            if (self.userInfo.id !== 0) {
                //edit
                apiUrl = "/ace/api/account/edit";
            }

            var data = ''
            if (self.userInfo.id === 0) {
                var data = {
                    Id: self.userInfo.id,
                    Name: self.userInfo.name.trim(),
                    Email: self.userInfo.email,
                    HashedPassword: self.userInfo.password,
                    Roles: self.roleSelected
                };
            } else {
                var data = {
                    Id: self.userInfo.id,
                    Name: self.userInfo.name.trim(),
                    Email: self.userInfo.email,
                    Roles: self.roleSelected
                };
            }
            $.post(apiUrl, data).done(function(res) {
                if (res.Result) {
                    alertify.logPosition("bottom right");
                    alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + self.$i18n.messages[__culture].message.AddSuccess);
                    self.userInfo.name = '';
                    self.userInfo.email = '';
                    self.userInfo.password = '';
                    self.userInfo.comfirmPassword = '';

                    self.$emit('refreshUsers', true);
                    self.isBusy = false;
                    $('#' + self.modalId).modal('hide');
                } else {

                    if (res.Data) {
                        var name = res.Data.Name == null ? '' : res.Data.Name;
                        var email = res.Data.Email == null ? '' : res.Data.Email;
                        var pw = res.Data.Password == null ? '' : res.Data.Password;
                        self.errMsgName = name;
                        self.errMsgEmail = email;
                        self.errMsgPassword = pw;
                    } else {
                        self.errMsgEmail = self.$i18n.messages[__culture].message[res.Message];
                    }

                    setTimeout(function() {
                        self.errMsgName = '';
                        self.errMsgEmail = '';
                        self.errMsgPassword = '';
                    }, 2000);
                    self.isBusy = false;
                }
            }).fail((err) => {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
            });
        },
        isEmail: function() {
            //判斷是否為Email
            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(this.userInfo.email);
        },
        hideErrMsgName: function() {
            this.errMsgName = '';
        },
        hideErrMsgEmail: function() {
            this.errMsgEmail = '';
        },
        hideErrMsgPassword: function() {
            this.errMsgPassword = '';
        },

    }
}
</script>

<style scoped>
.required-star {
    color: red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li span {
    display: block;
    padding: 8px;
}

.cancleBt:hover {
    background-color: #132332;
}
</style>
