<template>
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ $t("message.Account_AssignAccount")}}</h4>
                </div>
                <div class="modal-body">
                    <ul>
                        <li v-for="role in roles" :key="'role'+role">
                            <input type="checkbox" v-model="selectedRoleSettings" :value="role" :id="role">
                            <label :for="role">{{role}}</label>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
    
                    <span v-show='selectedRoleSettings.length===0' class="text-danger" style="display:inline-block;">
                        <i class="fa fa-exclamation-triangle"></i>&nbsp; {{ $t("message.Account_SelectRoleHint")}} &nbsp;
                    </span>
                    <footer-button :buttonList="buttonList" :isBusy="isBusy"> </footer-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import RubberCheckbox from '../../controls/rubber-checkbox.vue'
import FooterButton from "../../controls/modal/footer-button.vue"

export default {
    name: 'assign-account-modal',
    components: {
        RubberCheckbox,
        FooterButton
    },
    data() {
        return {
            isBusy: false,
            selectedRoleSettings: [],
            buttonList: [
                { button: 'cancel', method: '', dismiss: 'modal' },
                { button: 'save', method: "submit" }
            ]
        }
    },
    props: {
        modalId: {// 從上層傳來的, 要編輯的campaign id, 若是新增, 此值為0
            type: String,
            required: true,
            default: ''
        },
        roles: {
            type: Array,
            required: true,
            default: null
        },
        users: {
            type: Array,
            required: false,
            default: null
        }
    },
    methods: {
        submit: function () {
            var self = this;
            self.isBusy = true;

            //判斷是否有選取角色
            if (self.selectedRoleSettings.length == 0) {
                self.isBusy = false;
                return;
            }

            $.post("/ace/api/account/setRoleToUser", { Users: self.users, Roles: self.selectedRoleSettings }).done(function (res) {
                if (res.Result) {
                    alertify.logPosition("bottom right");
                    alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;"+self.$i18n.messages[__culture].message.SaveSuccess);

                    //清空Roles
                    self.selectedRoleSettings = [];
                    self.$emit('refreshUsers', true);
                }
            }).fail((err) => {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
            }).always(function () {
                self.isBusy = false;
                $('#' + self.modalId).modal('hide');
            });
        }
    }
}
</script>

<style scoped>

</style>
