<template>
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        <span v-if="deletetranfer">{{ $t("message.Account_DeleteAccount")}}</span>
                        <span v-else>{{ $t("message.Account_TransferAccount")}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <h4 v-if="deletetranfer">{{ $t("message.Account_DeleteAccountRequest")}}</h4>
                    <h4 v-else>{{ $t("message.Account_TransferAccountRequest")}}</h4>
                </div>
                <div class="modal-footer">
                    <template v-if="deletetranfer">
                        <footer-button :buttonList="buttonListDelete" :isBusy="isBusy"> </footer-button>
                    </template>
                    <template v-else>
                        <footer-button :buttonList="buttonListTransfer" :isBusy="isBusy"> </footer-button>
                    </template>
    
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FooterButton from "../../controls/modal/footer-button.vue"

export default {
    name: 'delete-transfer-account-modal',
    components: {
        FooterButton
    },
    data() {
        return {
            buttonListTransfer: [
                { button: 'cancel', method: '', dismiss: 'modal' },
                { button: 'transfer', method: "submit" }
            ],
            buttonListDelete: [
                { button: 'cancel', method: '', dismiss: 'modal' },
                { button: 'delete', method: "submit" }
            ],
            isBusy: false
        }
    },
    props: {
        modalId: {// 從上層傳來的, 要編輯的campaign id, 若是新增, 此值為0
            type: String,
            required: true,
            default: ''
        },
        userId: {
            type: Number,
            required: true,
            default: 0
        },
        users: {
            type: Array,
            required: false,
            default: null
        },
        deletetranfer: {
            type: Boolean,
            required: true,
            default: true
        }
    },
    methods: {
        submit: function () {
            var self = this;
            self.isBusy = true;

            var apiUrl = '';
            if (self.deletetranfer) {
                apiUrl = "/ace/api/account/delete";
            } else {
                apiUrl = "/ace/api/account/transfer";
            }

            $.post(apiUrl, { Users: self.users, Id: self.userId }).done(function (res) {
                if (res.Result) {
                    alertify.logPosition("bottom right");
                    alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + self.$i18n.messages[__culture].message.DeleteSuccess);

                    if (res.Data) {
                        window.location.replace('/ace');
                        return;
                    }
                    self.$emit('refreshUsers', true);
                }
            }).fail((err) => {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
            }).always(function () {

                self.isBusy = false;

                $('#' + self.modalId).modal('hide');
            });
        }
    }
}
</script>

<style scoped>

</style>
