﻿
@{
    ViewBag.Title = "Device Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/font-awesome.css" rel="stylesheet" />
@*<link href="~/Content/Device.css" rel="stylesheet" />*@
@*<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />*@
<link href="~/Content/bootstrap-toggle.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/Scripts/alertify/css/alertify.css" rel="stylesheet" />
<link href="~/Content/c3.min.css" rel="stylesheet" />

@section scripts{
    <script src="~/Scripts/jquery.svgDoughnutChart.js"></script>
    <script src="~/Scripts/d3.v3.min.js"></script>
    <script src="~/Scripts/c3.min.js"></script>    
    @*<script src="~/Scripts/jquery-ui.min.js"></script>*@
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/zh-tw.js"></script>
    <!-- 宣告使用新版的地圖 v3 -->
    <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyCo9ofBX5IQbDvL_2LdHQOmx8BNryEUUh8"></script>
    <script src="~/Scripts/bootstrap-toggle.min.js"></script>
    @*alertify*@
    <script src="~/Scripts/alertify/js/alertify.js"></script>
    @*_d_s*@
    <script src="~/Scripts/_d_s.js"></script>

    @*Vue js app*@
    <script src="~/vue-dev/dist/build.js"></script>
}
<div id="app">
    <device-detail></device-detail>
</div>  