﻿@{
    ViewBag.Title = "Device";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- styles -->
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/Search_CSS.css" rel="stylesheet" />

<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />

@section scripts {
    <!--script-->
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.svgDoughnutChart.js"></script>
    @*alertify*@
    <script src="~/Scripts/alertify/js/alertify.js"></script>
    @*_d_s*@
    <script src="~/Scripts/_d_s.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    @*Vue js app*@
    <script src="~/vue-dev/dist/build.js"></script>
}
<div id="app">
    <device-index></device-index>
</div>