﻿@{
    ViewBag.Title = "Log Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/alertify/css/alertify.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/Content/animate.min.css" rel="stylesheet" />
<link href="~/Content/face-detection-report.css" rel="stylesheet" />
<link href="~/Content/c3.min.css" rel="stylesheet" />

<style>
    .c3-axis-y .tick, .c3-legend-item text, .c3-axis-x-label, .c3-axis-y-label, .c3-axis-x .tick, .c3-chart-arcs-title {
        fill: #fff;
    }

    .c3-line {
        stroke-width: 2px;
    }

    .c3 .c3-axis-x path, .c3 .c3-axis-x line {
        stroke: #fff;
    }

    .c3 .c3-axis-y path, .c3 .c3-axis-y line {
        stroke: #fff;
    }

    .c3-tooltip td {
        font-size: 13px;
        padding: 3px 6px;
        background-color: #fff;
        border-left: 1px dotted #999;
        color: #000;
    }
</style>

<div id="app">
    <log-info-index>
    </log-info-index>
</div>

@section scripts{
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/zh-tw.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/d3.v3.min.js"></script>
    <script src="~/Scripts/c3.min.js"></script>
    <script>
        $(document).ready(function () {

            $(".download-image-link").click(function (event) {
                if ($(this).data("div") == "dateChart") {
                    //單檔下載
                    //呼叫下載圖片方法
                    downloadImg("dateChart", "DateChart.png");
                }
                else {
                    //判斷使用者點選的圖表
                    if ($(this).data("div1") == "sexChart") {
                        $("#svgFirst").append($("#sexChart svg").clone());
                        $("#svgSecond").append($("#sexBarChart svg").clone());
                    }
                    else if ($(this).data("div1") == "ageChart") {
                        $("#svgFirst").append($("#ageChart svg").clone());
                        $("#svgSecond").append($("#ageBarChart svg").clone());
                    }
                    else if ($(this).data("div1") == "lookTimeChart") {
                        $("#svgFirst").append($("#lookTimeChart svg").clone());
                        $("#svgSecond").append($("#lookTimeBarChart svg").clone());
                    }
                    else if ($(this).data("div1") == "distanceChart") {
                        $("#svgFirst").append($("#distanceChart svg").clone());
                        $("#svgSecond").append($("#distanceBarChart svg").clone());
                    }

                    //把圖變大
                    d3.select("#svgFirst").select("svg").attr("width", 1200).attr("height", 1200).style("transform", "scale(4)");
                    d3.select("#svgSecond").select("svg").attr("width", 900).attr("height", 900).style("transform", "scale(3)");

                    //宣告兩個圖片的Id和名稱
                    var divId1 = "svgFirst";
                    var divId2 = "svgSecond";

                    var filename1 = $(this).data("filename1")
                    var filename2 = $(this).data("filename2")

                    //組成陣列
                    var divIds = []
                    divIds.push(divId1)
                    divIds.push(divId2)

                    var divNames = []
                    divNames.push(filename1)
                    divNames.push(filename2)

                    //呼叫兩次下載圖片方法
                    for (var i = 0; i < 2; i++) {
                        downloadImg(divIds[i], divNames[i])
                    }

                    d3.select("#svgFirst").select("svg").remove();
                    d3.select("#svgSecond").select("svg").remove();

                }

                function downloadImg(id, name) {
                    var svg = $("#" + id + " svg")
                    svg.attr("xmlns", "http://www.w3.org/2000/svg")
                    svg.attr("xmlns:xlink", "http://www.w3.org/1999/xlink")
                    insertStyle(svg[0])
                    $(svg).addClass("c3")
                    var source = (new XMLSerializer()).serializeToString(svg[0])
                    //add xml declaration
                    source = '<?xml version="1.0" standalone="no"?>\r\n' + source

                    //convert svg source to URI data scheme.
                    var url = "data:image/svg+xml;charset=utf-8," + encodeURIComponent(source)
                    svg.removeClass("c3")
                    svg.find("style").remove()
                    var canvas = document.createElement("canvas"),
                        context = canvas.getContext("2d"),
                        image = new Image();
                    $(canvas).attr("width", svg.attr("width"))
                        .attr("height", svg.attr("height"))
                    image.src = url
                    image.onload = function () {
                        context.drawImage(image, 0, 0)

                        var a = document.createElement("a")
                        a.download = name
                        a.href = canvas.toDataURL("image/png")
                        a.click()
                    };
                }
            })
        })

        function insertStyle(el) {
            var cssRules,
                styleSheets = document.styleSheets
            for (var idx = 0; idx < styleSheets.length; idx++) {
                if (styleSheets[idx].href == null) {
                    //do nothing
                } else if (styleSheets[idx].href.match(/c3\.min\.css/)) {
                    cssRules = styleSheets[idx].cssRules
                    break
                }
            }
            var style = document.createElement("style")
            for (var idx = 0; idx < cssRules.length; idx++) {
                var selector = cssRules[idx].selectorText;
                if (el.matches && el.matches(selector) || el.querySelector(selector)) {
                    style.innerHTML += cssRules[idx].cssText
                }
            }
            if (style.innerHTML) {
                var defs = el.getElementsByTagName("defs")[0]
                defs.appendChild(style)
            }
        }
    </script>

    @*jquery ui*@
    <script src="~/Scripts/jqueryui/jquery-ui.js"></script>
    <script src="~/Scripts/alertify/js/alertify.js"></script>

    @*_d_s*@
    <script src="~/Scripts/_d_s.js"></script>

    @*Vue js app*@
    <script src="~/vue-dev/dist/build.js"></script>
}

