<template>
    <div>
        <!-- 客戶名稱 -->
        <h1>
            {{ $t("message.Home_Hello")}}, {{customerName}} &nbsp;
            <i class="fa fa-smile-o animated rollIn"></i>
        </h1>

        <hr />
        <div class="row">
            <!-- 裝置數量 -->
            <div class="col-md-4 col-xs-6 margin-bottom-sm">
                <div class="card-panel" style="background-color:#23c6c8;">
                    <div class="row">
                        <div class="col-md-4">
                            <i class="fa fa-desktop fa-5x"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="text-right">
                                <div class="text-large">
                                    {{deviceCount}}
                                    <span style="font-size:16px;">/&nbsp;{{deviceLimit}}</span>
                                </div>
                                <div>{{ $t("message.Device_Devices")}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 多媒體檔案數量 -->
            <div class="col-md-4 col-xs-6 margin-bottom-sm">
                <div class="card-panel" style="background-color:#ed5565;">
                    <div class="row">
                        <div class="col-md-4">
                            <i class="fa fa-image fa-5x"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="text-right">
                                <div class="text-large">
                                    {{uploadFileCount}}
                                </div>
                                <div>{{ $t("message.Home_MediaFile")}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 上傳量 -->
            <div class="col-md-4 col-xs-6 margin-bottom-sm">
                <div class="card-panel" style="background-color:#337ab7;">
                    <div class="row">
                        <div class="col-md-4">
                            <i class="fa fa-cloud fa-5x"></i>
                        </div>
                        <div class="col-md-8">
                            <div class="text-right">
                                <div class="text-large">
                                    <!-- 已上傳量byte轉GB -->
                                    {{fileStorageUsage}}
                                    <!-- 允許上傳量byte轉GB -->
                                    <span style="font-size:16px;">/&nbsp;{{storageLimit}} &nbsp;GB</span>
                                </div>
                                <div>{{ $t("message.Home_StorageUsage")}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--版本資訊  -->
            <div class="col-md-2 col-xs-6 margin-bottom-sm">
                <div class="card-panel text-center" style="background-color:#34495e">
                    <h4>{{ $t("message.Version")}}</h4>
                    <h4>{{version}}</h4>
                    <div>
                        <i class="fa fa-bookmark fa-4x"></i>
                    </div>
                </div>
            </div>
            <!--BI連結 -->
            <div class="col-md-2 col-xs-6 margin-bottom-sm">
                <a href="LogInfo" target="_blank" style="text-decoration:none">
                    <div class="card-panel text-center" style="background-color:#B481BB">
                        <h4>BI</h4>
                        <h4>{{ $t("message.Home_DataVisualization")}}</h4>
                        <div>
                            <i class="fa fa-line-chart fa-4x"></i>
                        </div>
                    </div>
                </a>
            </div>
            <!--face detecttion  -->
            <div v-if="faceDetection" class="col-md-2 col-xs-6 margin-bottom-sm">
                <div class="card-panel text-center" style="background-color:#e74c3c">
                    <h4>{{ $t("message.FaceDetection")}}</h4>
                    <h4>{{ $t("message.Home_Enabled")}}</h4>
                    <div>
                        <i class="fa fa-eye fa-4x"></i>
                    </div>
                </div>
            </div>
            <!-- 下載Ace player -->
            <div class="col-md-2 col-xs-6 margin-bottom-sm">
                <div class="card-panel text-center" style="background-color:#6bc823">
                    <h4>Ace {{ $t("message.Player")}}</h4>
                    <h4>{{ $t("message.Download")}}</h4>
                    <h5>ver.&nbsp;{{playerVersion}}</h5>
                    <a href="api/home/getplayerfile">
                        <i class="fa fa-download fa-4x" style="text-decoration: none;color:white"></i>
                    </a>
                </div>
            </div>
        </div>
        <h2>{{ $t("message.Home_SystemInformation")}}</h2>
        <hr />
        <div class="form-horizontal">
            <div class="form-group">
                <label for="" class="col-lg-2 control-label">{{ $t("message.Home_ServerAddress")}}</label>
                <div class="col-lg-10">
                    <input type="text" id="ServerAddr" class="form-control clickable no-max-width full-width no-shadow no-border" style="background-color:white;" readonly :value="serverUrl">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-lg-2 control-label">{{ $t("message.Home_SystemKey")}}</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control clickable" style="background-color:white;" readonly :value="systemKey">
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'home-index',
    data() {
        return {
            customerName: '',
            deviceCount: 0,
            deviceLimit: 0,
            uploadFileCount: 0,
            fileStorageUsage: 0,
            storageLimit: 0,
            version: "1.0.0",
            serverUrl: '',
            systemKey: '',
            faceDetection: false,
            playerVersion: "1.0.0"
        }
    },
    mounted() {
        this.GetHomeInfo()
        // 點選伺服器位置或金鑰，可以全選文字
        $(".clickable").click(function() {
            $(this).select();
        });
    },
    methods: {
        GetHomeInfo() {
            var vm = this
            $.post("/ace/api/home/gethomeinfo")
                .done((res) => {
                    if (res.Result) {
                        vm.customerName = res.Data.CustomerName
                        vm.deviceCount = res.Data.DeviceCount
                        vm.uploadFileCount = res.Data.UploadFileCount
                        vm.fileStorageUsage = vm.CountByteToGB(res.Data.FileStorageUsage)
                        vm.storageLimit = vm.CountByteToGB(res.Data.StorageLimit)
                        vm.version = res.Data.Version
                        vm.serverUrl = location.href
                        vm.systemKey = res.Data.SystemKey
                        vm.faceDetection = res.Data.FaceDetectionEnabled
                        vm.deviceLimit = res.Data.DeviceLimit,
                            vm.playerVersion = res.Data.PlayerVersion

                    } else {
                        alertify.logPosition("bottom right");
                        alertify.delay(4000).error("<i class='fa fa-info-circle'></i>&nbsp;" + this.$i18n.messages[__culture].message.Error_0001);
                        return
                    }
                })
        },
        CountByteToGB(byte) {
            return (byte / 1024 / 1024 / 1024).toFixed(2);
        }
    }
}
</script>
