﻿.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: royalblue;
    max-width: 130px;
    padding: 12px 16px;
    margin-left: -9em;
    margin-top: 1em;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dispatchStatus {
    width: 20px;
    position: absolute;
    right: 28px;
}

.onlineDevice {
    border-radius: 10px;
    background-color: greenyellow;
    height: 4em;
    margin-top: 4px;
    margin-bottom:4px;
}

.onlineDeviceMulti{
    position:absolute;
    border-radius: 10px;
    background-color: lawngreen;
    left:30px;
    top:-2px;
    height:4em;
    width:80%;
    z-index:-500;
}

.offlineDevice {
    border-radius: 10px;
    background-color: lightgray;
    height: 4em;
    margin-top: 4px;
    margin-bottom:4px;
    /*text-align:center;
    line-height:4;*/
}

.offlineDeviceMulti{
    position:absolute;
    border-radius: 10px;
    background-color: darkgray;
    left:30px;
    top:-2px;
    height:4em;
    width:80%;
    z-index:-10;
}

.monitor {
    background-color:dodgerblue;
    height:inherit;
    color:white;
    font-size:2em;
    text-align:center;
    /*line-height:6;*/
}

.check
{
    opacity:0.5;
	color:#996;
	
}

.btn-radio {
	width: 100%;
}
.img-radio {
	opacity: 0.5;
	margin-bottom: 5px;
}

.space-20 {
    margin-top: 20px;
}