﻿.menu {
    position: relative;
}

    .menu .side-panel {
        min-height: 400px;
        position: absolute;
        background-color: lightgray;
        /*opacity: .85;*/
        width: 300px;
        left: -265px;
        border-radius: .2em;
        border: 1px solid #acacac;
        opacity: 0;
        transition: all .4s ease;
        z-index:1000;
        position:fixed;
        overflow-y:auto;
        max-height:100%;
        bottom:50px;
        top:50px;
    }

        .menu .side-panel.show {
            left: 0px;
            opacity: 1;
        }

    .menu .collapse-btn {
        width: 40px;
        height: 40px;
        text-align: center;
        background-color: #9FAEB3;
        border-radius: 100%;
        padding-top: 9px;
        cursor: pointer;
        color: white;
        position: absolute;
        left: 0px;
        transition: all .4s ease;
    }

    .menu .collapse-btn.show {
        left: 270px;
    }

    .menu .collapse-btn:hover {
        background-color: steelblue;
    }
