﻿.SearchBtn_class {
    height: 24px;
    background-color: white;
    color: gainsboro;
    border: none;
    /*margin-top: -2pt;*/
    margin-left: -20pt;
}

    .SearchBtn_class:hover {
        height: 24px;
        background-color: gainsboro;
        color: white;
        border: none;
        /*margin-top: -2pt;*/
        margin-left: -20pt;
        border-radius: 5pt;
    }

.SearchInput_class {
    border: none;
    border-bottom: 1px solid #808080;
    width:70%
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none; 
    position: absolute;
    background-color: ghostwhite;
    min-width: 140px;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    /*padding: 12px 16px;*/
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index:2500;
}

.dropdown-btn{
    width:100%;
    background-color: ghostwhite;
    border:hidden;
    box-shadow:none;
}

.dropdown-btn:hover{
    background-color:blue;
    color:white;
}
