<template>
    <div>
        <div class="modal fade" id="DefaultScreenList" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>
                        <h4 class="modal-title custom_align" id="Heading">{{$t('message.Device_DefaultScreenSelectHint')}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="imgHeight">
                            <div v-for="item in PictureList" class="col-xs-4" :key="'PictureList'+item.Id">
                                <input type="radio" name="defRadio" :id="'defRadio'+item.Id" class="radioPictureInput" :value="item.Id" v-model="defaultScreenId">
                                <label v-if="item.Id===''" :for="'defRadio'+item.Id" style="background-color:dodgerblue;" class="img-responsive radioPictureLabel"></label>
                                <label v-else :for="'defRadio'+item.Id" :title="item.Name" :style="{'background-image': 'url(' + item.FileUrl + ')'}" class="img-responsive radioPictureLabel"></label>
                                <div class="pictureName" :title="item.Name">{{item.Name}}</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="margin-top:10px">
                        <button class="btn btn-success" data-dismiss="modal" @click="UpdateDefaultScreen" style="border-radius:.3em">
                            <i class="fa fa-floppy-o"></i>&nbsp; {{$t("message.Save")}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Bus from "../../controls/bus"


export default {
    name: 'default-screen-modal',
    data: function() {
        return {
            defaultScreenId: '',
            originalPictureList: []
        }
    },
    props: {
        deviceId: {
            type: String,
            require: true,
            default: null
        },
        parentDefaultScreen: {
            type: String,
            require: true,
            default: ''
        },
        screenGroupId: {
            type: String,
            require: true,
            default: null
        }
    },
    mounted() {
        this.GetAllImage()
    },
    watch: {
        parentDefaultScreen(val) {
            this.defaultScreenId = this.parentDefaultScreen;
        }
    },
    computed: {
        PictureList() {
            var picList = [{
                Id: '',
                Name: this.$i18n.messages[__culture].message.Device_NotSet,
                FileUrl: ''
            }]
            for (var item in this.originalPictureList) {
                picList.push(this.originalPictureList[item])
            }
            return picList
        }
    },
    methods: {
        //post default screen to db
        UpdateDefaultScreen() {
            var vm = this
            $.post('/ace/api/device/settingdefaultscreen', {
                DeviceId: vm.deviceId,
                DefaultScreenId: vm.defaultScreenId,
                ScreenGroupId: vm.screenGroupId
            })
                .done((res) => {
                    if (res.Result) {
                        alertify.logPosition("bottom right");
                        alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.SaveSuccess)
                        Bus.$emit('Device-DetailRepost', true)
                    } else {
                        alertify.logPosition("bottom right");
                        alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.SaveFailed)
                    }
                }).fail(function(err) {
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace('/ace')
                    }
                })

        },
        GetAllImage() {
            var vm = this
            //default screen modal image
            $.post("/ace/api/device/getallimage")
                .done((res) => {
                    if (res.Result) {
                        vm.originalPictureList = res.Data.ImageList
                    }
                }).fail(function(err) {
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace('/ace')
                    }
                })
        }
    }
}
</script>
<style scoped>
.radioPictureLabel {
    height: 123px;
    background-size: contain;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked+label {
    opacity: 1;
}

.pictureName {
    text-align: center;
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.imgHeight {
    overflow-y: auto;
    max-height: 500px;
}

.imgHeight::-webkit-scrollbar {
    width: 10px;
}

.imgHeight::-webkit-scrollbar-track {
    background-color: gray;
    border-radius: 10px;
}

.imgHeight::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #132333;
}
</style>


