<template>
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        <span>{{ $t("message.Device_DeleteTag")}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row" style="padding: 0px 40px 0px 40px;">
                        <div class="col-md-12">
                            <div>
                                <h4 class="text-info">{{ $t("message.Device_SelectedDevice")}}</h4>
                                <ul>
                                    <li class="textOverflow col-sm-4" v-for="d in selectDevice" :key="'deviceId'+d">
                                        <i v-if="d.DeviceId" class="fa fa-desktop text-warning"></i>
                                        <i v-else class="fa fa-th-large text-warning"></i>
                                        <span :title="d.DeviceName">{{ d.Name }}</span>
                                    </li>
                                </ul>
                            </div>
                            <br>
                            <br>
                            <table class="table col-sm-12" style="table-layout: fixed background-color:rgba(72, 85, 99, 1);">
                                <thead style="text-align:center;">
                                    <tr>
                                        <th class="text-info col-sm-2">{{ $t("message.Choose")}}</th>
                                        <th class="text-info col-sm-10">{{ $t("message.Device_DeviceTag")}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="deviceTag" colspan="2">
                                            <div id="deviceTags">
                                                <table class="table table-hover" style="background-color:rgba(72, 85, 99, 1);">
                                                    <tbody>
                                                        <tr v-for="(tag,index) in tagList" :key="index" @click="SelectTags(tag)" style="cursor: pointer;" class="trHover">
                                                            <td class="col-sm-2">
                                                                <input type="checkbox" :value="tag" v-model="selectedTags" :key="'selected'+index" @click="SelectTags(tag)">
                                                                </input>
                                                            </td>
                                                            <td class="col-sm-10 textOverflow" style="max-width:0" :title="tag">
                                                                {{tag}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span v-show="errMsg" class="text-danger">
                        <i class="fa fa-exclamation-triangle"></i>&nbsp; {{ errMsg }}
                    </span>
                    <footer-button :buttonList="buttonList" :isBusy="isBusy"> </footer-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
var _ = require('lodash')
import FooterButton from "../../controls/modal/footer-button.vue"


export default {
    name: 'delete-device-tag-modal',
    components: {
        FooterButton
    },
    data() {
        return {
            isBusy: false,
            searchText: '',
            selectedTags: [],
            errMsg: '',
            buttonList: [
                { button: 'cancel', method: '', dismiss: 'modal' },
                { button: 'delete', method: "Submit" }
            ]
        }
    },
    props: {
        modalId: {
            type: String,
            required: true,
            default: ''
        },
        tagList: {
            type: Array,
            required: true,
            default: []
        },
        deviceIdList: {
            type: Array,
            required: true,
            default: []
        },
        selectDevice: {
            type: Array,
            required: true,
            default: []
        },
        screenGroupIdList: {
            type: Array,
            required: true,
            default: []
        }
    },
    watch: {

    },
    methods: {
        SelectTags: function(tag) {
            var index = _.indexOf(this.selectedTags, tag)
            if (index >= 0) {
                this.selectedTags.splice(index, 1)
            }
            else {
                this.selectedTags.push(tag)
            }
        },
        ErrorCheck: function() {
            //Select at least one tag
            if (this.selectedTags.length == 0) {
                this.isBusy = false
                this.errMsg = this.$i18n.messages[__culture].message.Error_0007
            }
        },
        ShowResultMsg: function(success) {
            if (success)
                alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + this.$i18n.messages[__culture].message.DeleteSuccess)
            else
                alertify.delay(4000).success("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + this.$i18n.messages[__culture].message.DeleteFailed)
        },
        Submit: function() {
            var vm = this
            vm.isBusy = true
            vm.errMsg = ''
            var apiUrl = ''
            var data = {}
            vm.ErrorCheck()
            if (vm.errMsg !== "")
                return
            apiUrl = "/ace/api/device/deletedevicetag";

            $.post(apiUrl, {
                TagName: vm.selectedTags,
                DeviceId: vm.deviceIdList,
                ScreenGroupId: vm.screenGroupIdList,
            }).done(function(res) {
                vm.errMsg = ''
                vm.selectedTags = []
                if (res.Result) {
                    alertify.logPosition("bottom right")
                    vm.ShowResultMsg(true)
                    vm.$emit('apiResult', true)
                    $('#' + vm.modalId).modal('hide')
                } else {
                    alertify.logPosition("bottom right")
                    vm.ShowResultMsg(false)
                }
            }).fail(function(err) {
                vm.errMsg = ''
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
            }).always(function() {
                vm.isBusy = false
            })
        },
        hideErrMsg() {
            this.errMsg = ''
        }
    },
    computed: {
        FilteredDeviceTags() {
            var nameAsc = _.orderBy(this.tagList, ['name'], ['asc']);
            return nameAsc.filter((element) => {
                return element.name.match(this.searchText)
            })
        }
    }
}
</script>

<style scoped>
.deviceTag div {
    overflow-y: auto;
    height: 200px;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-face-color: #000000;
    scrollbar-arrow-color: #rgba(0, 0, 0, 0.3);
    scrollbar-track-color: #132332;
    scrollbar-shadow-color: #rgba(0, 0, 0, 0.5);
    scrollbar-highlight-color: #rgba(0, 0, 0, 0.8);
    scrollbar-3dlight-color: #rgba(0, 0, 0, 0.7);
}

#deviceTags::-webkit-scrollbar,
#deviceTags::-webkit-scrollbar {
    width: 10px;
}

#deviceTags::-webkit-scrollbar-track,
#deviceTags::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: gray;
    border-radius: 10px;
}

#deviceTags::-webkit-scrollbar-thumb,
#deviceTags::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #132333;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.textOverflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /*max-width: 0;*/
}

.trHover:hover {
    background-color: #5a6877;
}
</style>
