<template>
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ $t("message.Device_DeleteDispatchedCampaigns") }}</h4>
                </div>
                <div class="modal-body">
                    <h4>{{ $t("message.Device_DeleteDispatchedCampaignsEnquiry") }}</h4>
                    <div v-if="SIdList.length>0 && BatchDelete" style="margin-top:5px">
                        <h4 class="text-info">{{ $t("message.Device_CampaignName")}}</h4>
                        <!-- <i class ="fa fa-"></i> -->
                        <div v-for="schedule in SIdList" style="text-overflow: ellipsis;overflow: hidden;">{{schedule.CampaignName}}</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <footer-button :buttonList="buttonList" :isBusy="isBusy"> </footer-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FooterButton from "../../controls/modal/footer-button.vue"

export default {
    name: 'delete-campaign-modal',
    components: {
        FooterButton
    },
    data() {
        return {
            isBusy: false,
            buttonList: [
                { button: 'cancel', method: '', dismiss: 'modal' },
                { button: 'delete', method: "deleteHandler" }
            ]
        }
    },
    props: {
        modalId: {
            type: String,
            required: true,
            default: 'delete-cp-modal'
        },
        sId: {
            type: Number,
            required: true,
            default: 0
        },
        SIdList: {
            type: Array,
            required: true,
            default: []
        },
        deviceId: {
            type: Number,
            // required: true,
            default: null
        },
        BatchDelete: {
            type: Boolean,
            required: true,
            default: false
        },
        screenGroupId: {
            type: Number,
            default: null
        },
    },
    methods: {
        deleteHandler() {
            var vm = this
            var scheduleSummaryId
            var ScheduleSummaryIdArray = new Array()
            var obj = {}

            vm.isBusy = true

            if (vm.BatchDelete && vm.SIdList != []) {
                vm.SIdList.forEach(function(ScheduleSummary) {
                    ScheduleSummaryIdArray.push(ScheduleSummary.ScheduleSummaryId)
                }, this);
            }
            else {
                scheduleSummaryId = vm.sId
            }
            obj = {
                DeviceId: vm.deviceId,
                ScreenGroupId: vm.screenGroupId,
                ScheduleSummaryId: scheduleSummaryId,
                ScheduleSummaryIds: ScheduleSummaryIdArray
            }
            $.post("/ace/api/device/deleteschedulesummarys", obj)
                .done((res) => {
                    if (res.Result) {
                        if (res.Result) {
                            vm.$emit('deleteSuccess', true)
                            alertify.logPosition("bottom right");
                            alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.DeleteSuccess)
                        }
                        else {
                            alertify.logPosition("bottom right");
                            alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.DeleteFailed)
                        }
                    }
                }).fail(function(err) {
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace('/ace')
                    }
                }).always(function() {
                    vm.isBusy = false
                    $('#' + vm.modalId).modal('hide')
                })
        }
    }
}
</script>

<style></style>