<template>
    <!--modal for delete device notice-->
    <div :id="modalId" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog ">
            <div class="modal-content ">
                <div class="modal-header ">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ $t("message.Device_DeleteDevice")}}</h4>
                </div>
                <div class="modal-body">
                    <h4 v-show="deviceId>0" class="modal-title">{{ $t("message.Device_DeleteDeviceEnquiry")}}</h4>
                    <h4 v-show="screenGroupId>0" class="modal-title">{{ $t("message.Device_DeleteScreenGroupEnquiry")}}</h4>
                    <h4 v-show="deleteDeviceList.length>0 ||deleteScreenGroupList.length>0" class="modal-title">{{ $t("message.Device_DeleteDeviceScreenGroupEnquiry")}}</h4>
                    <!--List  -->
                    <div v-show="deleteDeviceList.length>0 ||deleteScreenGroupList.length>0">
                        <div v-show="deleteDeviceList.length>0">
                            <h4 class="text-info">{{ $t("message.Device_SelectedDevice")}}</h4>
                            <div v-for="device in deleteDeviceList" style="padding-left: 15px;padding-right: 15px;" class="text-overflow-setting" :title="device.DeviceName">
                                <i class="fa fa-desktop text-warning"></i>&nbsp; {{device.DeviceName}}
                            </div>
                        </div>
                        <div v-show="deleteScreenGroupList.length>0">
                            <h4 class="text-info">{{ $t("message.Device_SelectedScreenGroup")}}</h4>
                            <div v-for="screenGroup in deleteScreenGroupList" :title="screenGroup.Name">
                                <div class="col-xs-2 text-overflow-setting">
                                    <i class="fa fa-th-large text-warning"></i>&nbsp; {{screenGroup.Name}}
                                </div>
                                <ul class="col-xs-10">
                                    <li v-for="device in screenGroup.Devices" class="col-xs-4 text-overflow-setting" :title="device.DeviceName">
                                        <i class="fa fa-desktop"></i>&nbsp; {{device.DeviceName}}</li>
                                </ul>
                            </div>
                            <div>
                                {{ $t("message.Device_DeleteScreenGroupWarning")}}
                            </div>
                        </div>

                    </div>

                    <p v-show="deviceId>0">{{ $t("message.Device_DeleteDeviceButtonHint")}}</p>
                    <p v-show="screenGroupId>0">{{ $t("message.Device_DeleteScreenGroupButtonHint")}}
                        <br>
                        <br> {{ $t("message.Device_DeleteScreenGroupWarning")}}
                    </p>

                </div>
                <div class="modal-footer">
                    <footer-button :buttonList="buttonList" :isBusy="isBusy"> </footer-button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import FooterButton from "../../controls/modal/footer-button.vue"

export default {
    name: 'delete-device-modal',
    data() {
        return {
            id: null,
            buttonList: [
                { button: 'cancel', dismiss: 'modal' },
                { button: 'delete', method: "DeleteDevice", modal: '' }
            ],
            isBusy: false
        }
    },
    components: {
        FooterButton
    },
    props: {
        modalId: {
            type: String,
            default: "modalDeleteDevice"
        },
        deviceId: {
            type: Number,
            default: null
        },
        screenGroupId: {
            type: Number,
            default: null
        },
        deleteDeviceList: {
            type: Array,
            default: []
        },
        deleteScreenGroupList: {
            type: Array,
            default: []
        },
        isBatch: {
            type: Boolean,
            default: false
        }
    },
    methods: {
        DeleteDevice() {
            var vm = this
            var url = ""
            var obj = {}
            var deviceList = []
            var screenGroupList = []

            //多選刪除
            if (vm.isBatch) {
                url = "/ace/api/device/batchdeletedevices"

                //只傳ID List 到後端
                vm.deleteScreenGroupList.forEach(function(element) {
                    screenGroupList.push(element.Id)
                }, this)

                vm.deleteDeviceList.forEach(function(element) {
                    deviceList.push(element.Id)
                }, this)

                obj = {
                    ScreenGroupList: screenGroupList,
                    DeviceList: deviceList
                }
            } else if (this.deviceId != null) {
                //device刪除
                url = "/ace/api/device/deletedevice"
                obj = {
                    Id: vm.deviceId
                }
            } else {
                //screengroup刪除
                url = "/ace/api/device/deletescreengroup"
                obj = {
                    Id: vm.screenGroupId
                }
            }
            $.post(url, obj)
                .done(function(res) {
                    if (res.Result) {
                        vm.$emit("deviceDeleted")
                        alertify.logPosition("bottom right");
                        alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.DeleteSuccess)
                        //跳轉回首頁
                        window.location.href = '/ace/Device';
                    }
                }).fail(function(err) {
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace('/ace')
                    }
                })
        }
    }
}
</script>
<style scoped>
.text-overflow-setting {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
</style>


