<template>
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        <span>
                            <i class="fa fa-download"></i> &nbsp;{{ $t("message.Device_DownloadLatestPlayer")}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="col-xs-12">
                        <div class="panel-heading text-overflow-setting" style="background-color:#1a2a3a">{{$t('message.Device_AutoUpdateOptions')}}</div>
                        <div class="panel-body" style="background-color:#223242">
                            <!--option-->
                            <rubber-checkbox class="col-xs-4 text-overflow-setting" v-model="selectedType.manualUpdate" :text="$t('message.Device_UpdatePlayerOnce')" :title="$t('message.Device_UpdatePlayerOnce')" />
                            <rubber-checkbox class="col-xs-4 text-overflow-setting" v-model="selectedType.autoUpdate" :text="$t('message.Device_AutoUpdateBatchSetting')" :title="$t('message.Device_AutoUpdateBatchSetting')" />
                            <rubber-checkbox class="col-xs-4 text-overflow-setting" v-model="selectedType.cancelAutoUpdate" :text="$t('message.Device_AutoUpdateBatchCancel')" :title="$t('message.Device_AutoUpdateBatchCancel')" />
                            <div class="col-xs-12" style="margin:10px">
                                <i class="fa fa-info-circle text-info"></i> &nbsp;{{UpdateHint}}
                            </div>
                            <!--時間Input -->
                            <div v-show="!selectedType.cancelAutoUpdate" class="form-group" style="margin-top:30px">
                                <label class="control-label">{{$t("message.Device_AutoUpdateTime")}}</label>
                                <div class="col-xs-12 input-group">
                                    <span class="input-group-addon date">
                                        <i class="fa fa-download"></i>
                                    </span>
                                    <input type="text" class="form-control bs3-timepicker" id="AutoUpdatetTime_Input">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <!--多選device/screengroup-->
                            <div v-if="selectedDeviceList.length>0 ||selectedScreenGroupList.length>0" class="col-xs-12">
                                <!--device  -->
                                <div v-if="selectedDeviceList.length>0">
                                    <h4 class="text-info">{{ $t("message.Device_SelectedDevice")}}</h4>
                                    <div class="col-xs-12">
                                        <div v-for="device in selectedDeviceList" class="text-overflow-setting" :title="device.DeviceName">
                                            <div class="col-xs-9 text-overflow-setting">
                                                <i class="fa fa-desktop text-warning"></i>&nbsp; {{device.DeviceName}}</div>
                                            <div class="col-xs-3">
                                                <div class="col-xs-8" :title="device.VersionNumber">{{device.VersionNumber}}</div>
                                                <div v-if="selectedType.manualUpdate" class="col-xs-4">
                                                    <!--單次更新圖示-->
                                                    <download-latest-player-icon :isLatest="device.IsLatestVersion" :autoUpdate="device.AutoUpdateEnabled" :isNeedUpdate="device.IsNeedUpdate"> </download-latest-player-icon>
                                                </div>
                                                <!--自動/取消 圖示 -->
                                                <div v-else class="col-xs-4">
                                                    <i v-if="device.AutoUpdateEnabled" class="fa fa-cloud-download text-info" :title="$t('message.Device_DeviceIsAutoUpdate')"></i>
                                                    <i v-else class="fa fa-cloud-download" style="color:gray" :title="$t('message.Device_DeviceIsNotAutoUpdate')"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--screen  -->
                                <div v-if="selectedScreenGroupList.length>0">
                                    <h4 class="text-info">{{ $t("message.Device_SelectedScreenGroup")}}</h4>
                                    <div v-for="screenGroup in selectedScreenGroupList" :title="screenGroup.Name" class="col-xs-12">
                                        <div class="col-xs-9">
                                            <div class="col-xs-3 text-overflow-setting">
                                                <i class="fa fa-th-large text-warning"></i>&nbsp; {{screenGroup.Name}}
                                            </div>
                                            <ul class="col-xs-9">
                                                <li v-for="device in screenGroup.Devices" class="col-xs-4 text-overflow-setting" :title="device.DeviceName">
                                                    <i class="fa fa-desktop"></i>&nbsp; {{device.DeviceName}}</li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-3">
                                            <div class="col-xs-8" :title="screenGroup.Devices[0].VersionNumber">{{screenGroup.Devices[0].VersionNumber}}</div>
                                            <div v-if="selectedType.manualUpdate" class="col-xs-4">
                                                <!--單次更新圖示-->
                                                <download-latest-player-icon :isLatest="screenGroup.Devices[0].IsLatestVersion" :autoUpdate="screenGroup.Devices[0].AutoUpdateEnabled" :isNeedUpdate="screenGroup.Devices[0].IsNeedUpdate"> </download-latest-player-icon>
                                            </div>
                                            <div v-else class="col-xs-4">
                                                <!--自動/取消 圖示 -->
                                                <i v-if="screenGroup.Devices[0].AutoUpdateEnabled" class="fa fa-cloud-download text-info" :title="$t('message.Device_DeviceIsAutoUpdate')"></i>
                                                <i v-else class="fa fa-cloud-download" style="color:gray" :title="$t('message.Device_DeviceIsNotAutoUpdate')"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 提示訊息 -->
                    <div class="row">
                        <div v-show="selectedType.manualUpdate&&(selectedScreenGroup || selectedScreenGroupList.length>0)" class="col-xs-12">
                            {{ $t("message.Device_UpdateScreenGroupPlayerWarning")}}
                        </div>
                        <div v-show="!selectedType.manualUpdate&&(selectedScreenGroup || selectedScreenGroupList.length>0)" class="col-xs-12">
                            <!-- warning: 如果選取螢幕群組中的裝置變更自動更新設定時，該螢幕群組中所有裝置都會一併調整 -->
                            {{ $t("message.Device_ChangeScreenGroupAutoUpdateWaring")}}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <footer-button :buttonList="buttonList" :isBusy="isBusy"> </footer-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
var _ = require('lodash')
import FooterButton from "../../controls/modal/footer-button.vue"
import RubberCheckbox from "../../controls/rubber-checkbox.vue"
import DownloadLatestPlayerIcon from "./download-latest-player-icon.vue"

export default {
    name: 'download-latest-player-modal',
    components: {
        FooterButton,
        RubberCheckbox,
        DownloadLatestPlayerIcon
    },
    data() {
        return {
            isBusy: false,
            buttonList: [
                { button: 'cancel', method: '', dismiss: 'modal' },
                { button: 'save', method: "Submit" }
            ],
            selectedType: {
                manualUpdate: true,
                autoUpdate: false,
                cancelAutoUpdate: false
            }
        }
    },
    props: {
        modalId: {
            type: String,
            required: true,
            default: ''
        },
        selectedDeviceList: {
            type: Array,
            default: []
        },
        selectedScreenGroupList: {
            type: Array,
            default: []
        }
    },
    mounted() {
        $('#AutoUpdatetTime_Input').datetimepicker({
            keepOpen: true,
            toolbarPlacement: 'top',
            showClose: true,
            showClear: true,
            format: 'HH:mm:ss A'
        })
    },
    computed: {
        UpdateHint() {
            if (this.selectedType.manualUpdate)
                return this.$i18n.messages[__culture].message.Device_UpdatePlayerOnceHint
            else if (this.selectedType.autoUpdate)
                return this.$i18n.messages[__culture].message.Device_AutoUpdateBatchSettingHint //"設定自動更新播放器的時間，若未設定時間時，當最新版釋出時將會自動更新"
            else
                return this.$i18n.messages[__culture].message.Device_AutoUpdateBatchCancelHint //"將已啟動自動更新的裝置或螢幕群組取消自動更新功能，所選裝置將不會進行自動更新"
        }
    },
    watch: {
        'selectedType.manualUpdate'(val) {
            if (val) {
                this.selectedType.autoUpdate = !val
                this.selectedType.cancelAutoUpdate = !val
            }
            else {
                if (!this.selectedType.autoUpdate && !this.selectedType.cancelAutoUpdate) {
                    this.selectedType.manualUpdate = true
                }
            }
        },
        'selectedType.autoUpdate'(val) {
            if (val) {
                this.selectedType.manualUpdate = !val
                this.selectedType.cancelAutoUpdate = !val
            }
            else {
                if (!this.selectedType.manualUpdate && !this.selectedType.cancelAutoUpdate) {
                    this.selectedType.manualUpdate = true
                }
            }
        },
        'selectedType.cancelAutoUpdate'(val) {
            if (val) {
                this.selectedType.autoUpdate = !val
                this.selectedType.manualUpdate = !val
            }
            else {
                if (!this.selectedType.autoUpdate && !this.selectedType.manualUpdate) {
                    this.selectedType.manualUpdate = true
                }
            }
        }
    },
    methods: {
        Submit() {
            var vm = this
            vm.isBusy = true
            var apiUrl = "/ace/api/device/batchupdatedevicesversion"
            var data = {}
            // var tempGroups = _.cloneDeep(vm.selectedScreenGroupList)//=vm.selectedScreenGroupList;
            // var tempDevices = _.cloneDeep(vm.selectedDeviceList)
            var autoUpdateTime = $("#AutoUpdatetTime_Input").val()
            var updateType = 0;
            //Id Lsit
            var screenGroupList = []
            var deviceList = []

            if (vm.selectedType.autoUpdate) {
                updateType = 1
            }
            else if (vm.selectedType.cancelAutoUpdate) {
                updateType = 2
                autoUpdateTime = null
            } else {
                updateType = 0
            }
            if (autoUpdateTime !== null && autoUpdateTime !== '') {
                autoUpdateTime = autoUpdateTime.substring(0, 8)
            }

            //只傳ID List 到後端
            vm.selectedScreenGroupList.forEach(function(element) {
                screenGroupList.push(element.Id)
            }, this)

            vm.selectedDeviceList.forEach(function(element) {
                deviceList.push(element.Id)
            }, this)

            var obj = {
                ScreenGroupList: screenGroupList,   //ScreenGroupList
                DeviceList: deviceList, //DeviceList
                AutoUpdateTime: autoUpdateTime,
                Type: updateType
            }
            $.post(apiUrl, obj)
                .done(function(res) {
                    if (res.Result) {
                        alertify.logPosition("bottom right")
                        alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.UpdateSuccess)
                        vm.$emit('apiResult', true)
                        $('#' + vm.modalId).modal('hide')
                    } else {
                        alertify.logPosition("bottom right")
                        alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message[res.Message])
                    }
                }).fail(function(err) {
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace('/ace')
                    }
                }).always(function() {
                    vm.isBusy = false
                })
        }
    }
}
</script>

<style scoped>
.text-overflow-setting {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.modal-header,
.modal-footer {
    background-color: #2a3a4a;
}

.modal-body {
    background-color: #334353;
}

.bs3-timepicker {
    height: 30px;
    border-radius: .2em;
    border-bottom-right-radius: .2em !important;
    border-top-right-radius: .2em !important;
    width: 140px;
}

.input-group-addon.date {
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-bottom-left-radius: .2em;
    border-top-left-radius: .2em;
    cursor: pointer;
    transition: all .3s ease;
}
</style>
