<template>
    <i :class="iconClass()" :style="styleClass" :title="titleOption()">
    </i>
</template>
<script>
export default {
    name: 'download-latest-player-icon',
    props: {
        isLatest: {
            type: Boolean,
            require: true,
            default: false
        },
        autoUpdate: {
            type: Boolean,
            default: false
        },
        isNeedUpdate: {
            type: Boolean,
            require: true,
            default: false
        }

    },
    methods: {
        iconClass() {
            if (this.isNeedUpdate) {
                return "fa fa-hourglass-half"
            } else {
                if (this.autoUpdate)
                    return "fa fa-cloud-download text-info"
                else {
                    if (this.isLatest)
                        return "fa fa-download"
                    else
                        return "fa fa-download text-info"
                }
            }
        },
        styleClass() {
            if (this.isNeedUpdate) {
                return "color:gray"
            } else {
                if (this.autoUpdate)
                    return ""
                else {
                    if (this.isLatest)
                        return "color:gray"
                    else
                        return ""
                }
            }
        },
        titleOption() {
            if (this.isNeedUpdate) {
                return this.$i18n.messages[__culture].message.Device_DeviceWaitUpdatePlayer
            } else {
                if (this.autoUpdate)
                    return this.$i18n.messages[__culture].message.Device_DeviceIsAutoUpdate
                else {
                    if (this.isLatest)
                        return this.$i18n.messages[__culture].message.Device_PlayerIsLatest
                    else
                        return this.$i18n.messages[__culture].message.Device_PlayerIsNotLatest
                }
            }
        }
    }
}
</script>
<style scoped>

</style>

