<template>
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">
                        <i class="fa fa fa-wrench"></i>{{ $t("message.Campaign_MaintainPublish")}}
                    </h4>
                </div>
                <div class="modal-body">
                    <publish-modal-collapse :init-index="0">
                        <!--choose genral / Face detect / spot -->
                        <span slot="header-0" class="text-info" style="font-weight: 100;">
                            <i class="fa fa-flag" style="width: 25px"></i>
                            {{ $t("message.Campaign_SelectPublishType")}} &nbsp;
                        </span>
                        <div slot="body-0" class="row">
                            <div class="col-xs-12">
                                <rubber-checkbox class="col-md-4" v-model="selectedType.general" v-bind:text="$t('message.General')" />
                                <rubber-checkbox class="col-md-4" v-model="selectedType.face" v-bind:text="$t('message.FaceDetection')" />
                                <rubber-checkbox class="col-md-4" v-model="selectedType.spot" v-bind:text="$t('message.Spot')" />
                            </div>
                        </div>
                        <!--Campaign -->
                        <span slot="header-1" class="text-info" style="font-weight: 100;">
                            <i class="fa fa-superpowers" style="width: 25px"></i>
                            {{ $t("message.Campaign_SelectCampaign")}}&nbsp;
                            <span v-if="campaignSelectedCount > 0" class="label label-danger">{{ campaignSelectedCount}}</span>
                            <span v-else class="label label-default">0</span>
                        </span>
                        <div slot="body-1" class="row">
                            <div slot="tab-body-1">
                                <ul id="choose-campaigns" class='col-sm-12'>

                                    <table class="table col-sm-12" style="table-layout: fixed;text-align:center">
                                        <thead>
                                            <tr>
                                                <th class="text-info col-sm-1">{{ $t("message.Choose")}}</th>
                                                <th class="text-info col-sm-4">{{ $t("message.Campaign_CampaignName")}}</th>
                                                <th class="text-info col-sm-2">{{ $t("message.Campaign_Duration")}}</th>
                                                <th class="text-info col-sm-5">{{ $t("message.Resolution")}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="filteredcampaigns" colspan="4">
                                                    <div id="filteredcampaignsList">
                                                        <table class="table table-hover">
                                                            <tbody>
                                                                <tr v-for="(campaign,index) in campaigns" :key="'campaign'+index">
                                                                    <td class="col-sm-1">
                                                                        <input type="checkbox" disabled="disabled" :value="campaign" v-model="selectedCampaigns"></input>
                                                                    </td>

                                                                    <td class="col-sm-4" style="text-overflow: ellipsis;overflow: hidden; max-width: 0;white-space: nowrap;" :title="campaign.name">
                                                                        {{campaign.name}}
                                                                    </td>
                                                                    <td class="col-sm-2" style="text-overflow: ellipsis;overflow: hidden;max-width: 0;white-space: nowrap;">
                                                                        {{campaign.duration}} {{ $t("message.Second")}}
                                                                    </td>
                                                                    <td class="col-sm-5" style="text-overflow: ellipsis;overflow: hidden;max-width: 0;white-space: nowrap;">
                                                                        {{campaign.width}} * {{campaign.height}}
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </ul>
                            </div>

                        </div>
                        <!--end slot 1-->

                        <!--Device & Device Group-->
                        <span slot="header-2" class="text-info" style="font-weight: 100;">
                            <i class="fa fa-television" style="width: 25px"></i>
                            {{ $t("message.Choose")}} {{ $t("message.Device")}} / {{ $t("message.ScreenGroup")}} &nbsp;
                            <span v-if="deviceSelectedCount + groupSelectedCount> 0" class="label label-danger">{{ deviceSelectedCount+groupSelectedCount}}</span>
                            <span v-else class="label label-default">0</span>
                        </span>
                        <div slot="body-2" class="row">

                            <two-slot-tab :init-index="1">
                                <!--Devices-->
                                <span slot="tab-header-1">
                                    {{ $t("message.Device")}}&nbsp;&nbsp;
                                    <span class="label label-default"></span>
                                </span>
                                <!--Screen Group-->
                                <span slot="tab-header-2">
                                    {{ $t("message.ScreenGroup")}}&nbsp;&nbsp;
                                    <span class="label label-default"></span>
                                </span>
                                <div slot="tab-body-1">
                                    <ul class="filteredcampaigns col-sm-12">
                                        <table class="table col-sm-12" style="table-layout: fixed;text-align:center">
                                            <thead>
                                                <tr>
                                                    <th class="text-info col-sm-1">{{ $t("message.Choose")}}</th>
                                                    <th class="text-info col-sm-6">{{ $t("message.Device_DeviceName")}}</th>
                                                    <th class="text-info col-sm-5">{{ $t("message.Resolution")}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="filteredcampaigns" colspan="3">
                                                        <div id="filteredDeviceList">
                                                            <table class="table table-hover">
                                                                <tbody>
                                                                    <tr v-for="(device, index) in devices" :key="index" :data-key="device.id" :data-index="index">
                                                                        <td class="col-sm-1">
                                                                            <input type="checkbox" disabled="disabled" :value="device" v-model="selectedDevices">
                                                                        </td>

                                                                        <td class="col-sm-6" style="text-overflow: ellipsis;overflow: hidden; max-width: 0;white-space: nowrap;" :title="device.name">
                                                                            {{device.name}}
                                                                        </td>
                                                                        <td class="col-sm-5" style="text-overflow: ellipsis;overflow: hidden;max-width: 0;white-space: nowrap;">
                                                                            {{device.resolutionWidth}} * {{device.resolutionHeight}}
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ul>
                                </div>
                                <!--tab-body-2-->
                                <div slot="tab-body-2">
                                    <ul class="filteredcampaigns col-sm-12">
                                        <table class="table col-sm-12" style="table-layout: fixed;text-align:center">
                                            <thead>
                                                <tr>
                                                    <th class="text-info col-sm-1">{{ $t("message.Choose")}}</th>
                                                    <th class="text-info col-sm-6">{{ $t("message.Campaign_ScreenGroupName")}}</th>
                                                    <th class="text-info col-sm-5">{{ $t("message.Device_DevicePositionSetting")}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="filteredcampaigns" colspan="3">
                                                        <div id="filteredScreenList">
                                                            <table class="table table-hover">
                                                                <tbody>
                                                                    <tr v-for="(device, index) in groups" :key="index" :data-key="'screenGroup'+device.id" :data-index="index">
                                                                        <td class="col-sm-1">
                                                                            <input type="checkbox" disabled="disabled" :value="device" v-model="selectedGroups">
                                                                        </td>

                                                                        <td class="col-sm-6" style="text-overflow: ellipsis;overflow: hidden; max-width: 0;white-space: nowrap;" :title="device.name">
                                                                            {{device.name}}
                                                                        </td>
                                                                        <td class="col-sm-5" style="text-overflow: ellipsis;overflow: hidden;max-width: 0;white-space: nowrap;">
                                                                            {{device.horizontallyScreenCount}} * {{device.verticallyScreenCount}}
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ul>
                                </div>
                            </two-slot-tab>

                        </div>
                        <!--end slot 2-->

                        <!--Publish start time & end time-->
                        <span slot="header-3" style="font-weight: 100;color: plum">
                            <i class="fa fa-calendar" style="width: 25px"></i>
                            {{ $t("message.Campaign_PlayTime")}}
                        </span>
                        <div slot="body-3" class="row">
                            <div style="padding: 15px">
                                <div class="form-group">
                                    <label class="control-label">{{ $t("message.Campaign_StartDate")}}</label>
                                    <div class="input-group">
                                        <span class="input-group-addon date">
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                        <input type="text" class="form-control bs3-dtpicker" id="startDate_input">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">{{ $t("message.Campaign_EndDate")}}</label>
                                    <div class="input-group">
                                        <span class="input-group-addon date">
                                            <i class="fa fa-clock-o"></i>
                                        </span>
                                        <input type="text" class="form-control bs3-dtpicker" :disabled="restriction.neverEnd" id="endDate_input">
                                        <rubber-checkbox v-model="restriction.neverEnd" v-bind:text="$t('message.Campaign_NerverEnd')" style="padding-left: 8px;margin-top: 5px;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end slot 3-->

                        <!--Restrictions-->
                        <span slot="header-4" class="text-warning" style="font-weight: 100">
                            <i class="fa fa-magic" style="width: 25px"></i>
                            {{ $t("message.Campaign_HowtoPlay")}}
                        </span>
                        <div slot="body-4" class="row">

                            <div class="col-xs-6">
                                <h4 class="text-warning">
                                    <i class="fa fa-clock-o animated rollIn"></i> {{ $t("message.Campaign_TimeRestrictions")}}
                                </h4>

                                <hr>

                                <div>
                                    <br>
                                    <div style="font-weight: 100">
                                        <i class="fa fa-calendar-check-o"></i>
                                        <span> {{ $t("message.Campaign_DayofWeek")}}</span>
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <rubber-checkbox v-model="restriction.repeatMon" v-bind:text="$t('message.Mon')" checked-icon-class="fa-check text-warning" checked-text-class="text-warning" />
                                                    </td>
                                                    <td>
                                                        <rubber-checkbox v-model="restriction.repeatTue" v-bind:text="$t('message.Tue')" checked-icon-class="fa-check text-warning" checked-text-class="text-warning" />
                                                    </td>
                                                    <td>
                                                        <rubber-checkbox v-model="restriction.repeatWed" v-bind:text="$t('message.Wed')" checked-icon-class="fa-check text-warning" checked-text-class="text-warning" />
                                                    </td>
                                                    <td>
                                                        <rubber-checkbox v-model="restriction.repeatThu" v-bind:text="$t('message.Thu')" checked-icon-class="fa-check text-warning" checked-text-class="text-warning" />
                                                    </td>
                                                    <td>
                                                        <rubber-checkbox v-model="restriction.repeatFri" v-bind:text="$t('message.Fri')" checked-icon-class="fa-check text-warning" checked-text-class="text-warning" />
                                                    </td>
                                                    <td>
                                                        <rubber-checkbox v-model="restriction.repeatSat" v-bind:text="$t('message.Sat')" checked-icon-class="fa-check text-warning" checked-text-class="text-warning" />
                                                    </td>
                                                    <td>
                                                        <rubber-checkbox v-model="restriction.repeatSun" v-bind:text="$t('message.Sun')" checked-icon-class="fa-check text-warning" checked-text-class="text-warning" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div v-show='!selectedType.spot'>
                                            <rubber-checkbox v-model="restriction.alwaysPlay" v-bind:text="$t('message.Campaign_PlayAllDay')" />
                                        </div>
                                        <div v-show='!selectedType.spot'>
                                            <rubber-checkbox v-model="restriction.onPeriodOfTime" v-bind:text="$t('message.Campaign_PlayPeriodTime')" />
                                        </div>
                                    </div>
                                    <div v-show="restriction.onPeriodOfTime || selectedType.spot">
                                        <div class="form-group">
                                            <label class="control-label">{{ $t("message.Campaign_DailyStartTime")}}</label>
                                            <div class="input-group">
                                                <span class="input-group-addon date">
                                                    <i class="fa fa-play-circle"></i>
                                                </span>
                                                <input type="text" class="form-control bs3-timepicker" id="dailyStartTime_Input">
                                            </div>
                                        </div>

                                        <div v-show="!selectedType.spot && restriction.onPeriodOfTime" class="form-group">
                                            <label class="control-label">{{ $t("message.Campaign_DailyEndTime")}}</label>
                                            <div class="input-group">
                                                <span class="input-group-addon date">
                                                    <i class="fa fa-stop-circle"></i>
                                                </span>
                                                <input type="text" class="form-control bs3-timepicker" id="dailyEndTime_Input">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-6" v-show="selectedType.face">

                                <h4 class="text-warning">
                                    <i class="fa fa-smile-o animated rollIn"></i> {{ $t("message.Campaign_FaceDetectRestriction")}}
                                </h4>

                                <br>

                                <div>
                                    <div class="form-group">
                                        <label class="control-label">{{ $t("message.Campaign_GenderCondition")}}</label>
                                        <div style="padding: 10px">
                                            <rubber-checkbox v-model="restriction.male" v-bind:text="$t('message.Male')" checked-icon-class="fa-mars text-info" checked-text-class="text-info" />
                                            <span class="text-muted">&nbsp;|&nbsp;</span>
                                            <rubber-checkbox v-model="restriction.female" v-bind:text="$t('message.Female')" checked-icon-class="fa-venus text-danger" checked-text-class="text-danger" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">{{ $t("message.Campaign_AgeCondition")}}</label>
                                        <table class="age-table">
                                            <thead>
                                                <tr>
                                                    <th style="width: 45px;text-align: center">
                                                        <input type="checkbox" v-model="ageSelectAll">
                                                    </th>
                                                    <th style="width: 110px">{{ $t("message.Campaign_AgeBottom")}}</th>
                                                    <th style="width: 110px">{{ $t("message.Campaign_AgeTop")}}</th>
                                                    <th>{{ $t("message.Campaign_AgeDescription")}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr style="text-align: center" v-for="age in ageSettings" :id="age.key" :key="age.key">
                                                    <td>
                                                        <input type="checkbox" v-model="restriction.selectedAgeSettings" :value="age">
                                                    </td>
                                                    <td>{{ age.bottom }}</td>
                                                    <td>{{ age.top }}</td>
                                                    <td>{{ age.desc }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>

                            </span>
                            <!--end slot 4-->
                        </div>
                    </publish-modal-collapse>
                </div>
                <div class="modal-footer">
                    <span v-if='errMsg' class="text-danger">
                        <i class="fa fa-exclamation-triangle"></i>&nbsp; {{ errMsg }}&nbsp;
                    </span>
                    <footer-button :buttonList="buttonList" :isBusy="loading"> </footer-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import RubberCheckbox from '../../controls/rubber-checkbox.vue'
import TwoSlotTab from '../../controls/two-slot-tab.vue'
import PublishModalCollapse from '../../campaign/modal/publish-modal-collapse.vue'
import FooterButton from "../../controls/modal/footer-button.vue"
import Bus from '../../controls/bus'

var _ = require('lodash')

export default {
    components: {
        RubberCheckbox,
        PublishModalCollapse,
        TwoSlotTab,
        FooterButton
    },
    name: 'edit-publish-campaign-modal',
    props: {
        modalId: {
            type: String,
            required: true,
            default: 'edit-publish-campaign-modal-id'
        },
        campaignId: {
            type: Number,
            required: false,
            default: null
        },
        scheduleSummaryId: {
            type: Number,
            required: true,
            default: -1
        }
    },
    data() {
        return {
            loading: false,
            errMsg: '',
            searchText: '',
            campaigns: [
                //{ id: 1, key: 1, name: 'Campaign 1', duration: 30 },
                //{ id: 2, key: 2, name: 'Campaign 2', duration: 50 },
            ],
            //Device screen
            devices: [
                // { id: 1, key: 1, name: 'Device screen 1' },
                // { id: 2, key: 2, name: 'Device screen 2' },
            ],
            //Device group
            groups: [
                // { id: 1, key: 1, name: 'Device group 1' },
                // { id: 2, key: 2, name: 'Device group 2' }
            ],
            selectedCampaigns: [],
            selectedDevices: [],
            selectedGroups: [],
            selectedType: {
                general: true,
                face: false,
                spot: false
            },
            // defferedTime: null,
            restriction: {
                id: 1,
                key: 1,
                // createDate: ,
                // updateDate: ,
                // deleteDate: ,
                // hasCalenderRule: ,
                hasFaceDetectionRule: false,
                // startDate: null,
                // endDate: null,
                repeatMon: true,
                repeatTue: true,
                repeatWed: true,
                repeatThu: true,
                repeatFri: true,
                repeatSat: true,
                repeatSun: true,
                // dailyStartTime: null,
                // dailyEndTime: null,
                // isCrossDay: false,
                gender: null,
                selectedAgeSettings: [],
                //
                // startNow: false,
                neverEnd: false,
                alwaysPlay: true,
                onPeriodOfTime: false,
                male: false,
                female: false
                // createByUserId: ,
                // deleteByUserId: ,
                // updateByUserId: ,
                // userGroupId: ,
            },
            ageSettings: [
                //{ id: 1, key: 1, bottom: 1, top: 10, desc: 'Child' },
                //{ id: 2, key: 2, bottom: 11, top: 30, desc: 'Young' },
                //{ id: 3, key: 3, bottom: 31, top: 60, desc: 'Adult' },
                //{ id: 4, key: 4, bottom: 61, top: null, desc: 'Old' },
            ],
            buttonList: [
                { button: 'cancel', method: '', dismiss: 'modal' },
                { button: 'update', method: "UpdateClick" }
            ]
        }
    },
    mounted() {
        $(function() {

            $('#startDate_input').datetimepicker({
                keepOpen: true,
                showTodayButton: true,
                format: 'YYYY/MM/DD H:mm'
                // minDate: new Date()
            })
            $('#endDate_input').datetimepicker({
                keepOpen: true,
                showTodayButton: true,
                format: 'YYYY/MM/DD H:mm',
                // minDate: new Date()
            })

            $('.bs3-timepicker').datetimepicker({
                keepOpen: true,
                format: 'HH:mm'
            })
        });
        //get data from server
        this.getCampaignData()
    },
    computed: {
        ageSelectAll: {
            get() {
                if (this.ageSettings.length > 0 && this.ageSettings.length === this.restriction.selectedAgeSettings
                    .length) {
                    return true
                } else {
                    return false
                }
            },
            set(val) {
                if (val === true) {
                    this.restriction.selectedAgeSettings = this.ageSettings
                } else {
                    this.restriction.selectedAgeSettings = []
                }
            }

            // return true
        },
        campaignSelectedCount() {
            if (this.selectedCampaigns) {
                return this.selectedCampaigns.length
            } else {
                return 0
            }
        },
        deviceSelectedCount() {
            if (this.selectedDevices) {
                return this.selectedDevices.length
            } else {
                return 0
            }
        },
        groupSelectedCount() {
            if (this.selectedGroups) {
                return this.selectedGroups.length
            } else {
                return 0
            }
        },
        filteredcampaigns() {
            var nameAsc = _.orderBy(this.campaigns, ['name'], ['asc']);
            return nameAsc.filter((element) => {
                return element.name.match(this.searchText)
            })
        }
    },
    watch: {
        //always play與play on period of time是互斥關係
        'restriction.alwaysPlay': function(val) {
            this.restriction.onPeriodOfTime = !val
        },
        'restriction.onPeriodOfTime': function(val) {
            this.restriction.alwaysPlay = !val
        },
        'restriction.neverEnd': function(val) {
            if (val) {
                $('#endDate_input').val('')
            }
        },
        'selectedType.general': function(val) {
            if (val) {
                this.selectedType.spot = !val
                this.selectedType.face = !val
                this.changeBtDateTimePikerFormat('date')
            }
            else {
                if (!this.selectedType.spot && !this.selectedType.face) {
                    this.selectedType.general = true
                }
            }
        },
        'selectedType.spot': function(val) {
            if (val) {
                this.selectedType.general = !val
                this.selectedType.face = !val
                // this.selectedCampaigns = []
                this.changeBtDateTimePikerFormat('datetime')
                this.restriction.alwaysPlay = false;

            }
            else {
                if (!this.selectedType.spot && !this.selectedType.face) {
                    this.selectedType.general = true
                    this.restriction.alwaysPlay = !this.restriction.onPeriodOfTime ? true : false;

                }
            }
        },
        'selectedType.face': function(val) {
            if (val) {
                this.selectedType.general = !val
                this.selectedType.spot = !val
                // this.selectedCampaigns = []
                this.changeBtDateTimePikerFormat('date')
                this.restriction.alwaysPlay = !this.restriction.onPeriodOfTime ? true : false;
            }
            else {
                if (!this.selectedType.spot && !this.selectedType.face) {
                    this.selectedType.general = true
                }
            }

        },
        scheduleSummaryId() {
            if (this.scheduleSummaryId > 0)
                this.getmaintainData();
        },

        campaignId(newVal, oldVal) {
            if (oldVal !== 0) {
                var oldIndex = _.findIndex(this.selectedCampaigns, ['id', oldVal])
                if (oldIndex !== -1) {
                    this.selectedCampaigns.splice(oldIndex, 1)
                }
            }
            //若新的id不在現有的資料集中, 就重新從server取得資料
            if (newVal !== 0 && _.findIndex(this.campaigns, ['id', newVal]) === -1) {
                var vm = this
                var api = $.get('/ace/api/publish/campaigns')
                api.done((res) => {
                    if (res.Result) {
                        vm.campaigns = []
                        _.forEach(res.Data.Campaigns, (o, index) => {
                            vm.campaigns.push({
                                id: o.Id,
                                name: o.Name,
                                duration: o.Duration,
                                key: index + 1
                            })
                        })
                    }
                })
                api.fail(() => {
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace("/ace")
                    }
                    vm.errMsg = vm.$i18n.messages[__culture].message.Error_0044
                })
            }
        }
    },
    methods: {
        getCampaignData() {
            var vm = this

            vm.loading = true
            var api = $.get('/ace/api/publish/assets')
            api.done((res) => {

                if (!res || !res.Result) {
                    vm.errMsg = vm.$i18n.messages[__culture].message[res.Message]
                    return
                }

                //init campaings
                vm.campaigns = []
                _.forEach(res.Data.Campaigns, (o, index) => {
                    vm.campaigns.push({
                        id: o.Id,
                        name: o.Name,
                        duration: o.Duration,
                        key: index + 1,
                        width: o.Width,
                        height: o.Height
                    })
                })

                //init device screens
                vm.devices = []
                _.forEach(res.Data.Screens, (o, index) => {
                    vm.devices.push({
                        id: o.Id,
                        name: o.DeviceName,
                        tag: o.tag,
                        key: index + 1,
                        resolutionWidth: o.ResolutionWidth,
                        resolutionHeight: o.ResolutionHeight
                    })
                })

                //init screen groups
                vm.groups = []
                _.forEach(res.Data.ScreenGroups, (o, index) => {
                    vm.groups.push({
                        id: o.Id,
                        name: o.ScreenGroupName,
                        tag: o.tag,
                        key: index + 1,
                        horizontallyScreenCount: o.HorizontallyScreenCount,
                        verticallyScreenCount: o.VerticallyScreenCount
                    })
                })

                //init age range settings
                vm.ageSettings = []
                _.forEach(res.Data.AgesRanges, (o, index) => {
                    vm.ageSettings.push({
                        id: o.AgeId,
                        desc: o.Descripiton,
                        bottom: o.MinValue,
                        top: o.MaxValue,
                        key: index + 1
                    })
                })
                vm.getmaintainData()
            })
            api.fail((err) => {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace("/ace")
                }
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0044
            })
            api.always(() => {
                vm.loading = false
            })
        },
        getmaintainData() {
            var vm = this;
            var data = {
                Id: vm.scheduleSummaryId
            }
            var api = $.post('/ace/api/publish/getMaintainData', data)


            api.done((res) => {

                if (!res || !res.Result) {
                    vm.errMsg = vm.$i18n.messages[__culture].message.Error_0044
                    return
                } else {
                    var data = res.Data

                    vm.initData(data)
                }

            })
            api.fail((err) => {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace("/ace")
                }
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0044
            })
            api.always(() => {
                vm.loading = false
            })
        },
        initData(data) {
            if (this.scheduleSummaryId > 0) {
                var vm = this
                var campaignIdx = _.findIndex(vm.campaigns, function(o) { return o.id == data[0].CampaignId })
                var deviceIdx = _.findIndex(vm.devices, function(o) { return o.id == data[0].DeviceId })
                var screenGroupIdx = _.findIndex(vm.groups, function(o) { return o.id == data[0].ScreenGroupId })

                vm.selectedCampaigns = [vm.campaigns[campaignIdx]]
                vm.selectedDevices = deviceIdx > -1 ? [vm.devices[deviceIdx]] : []
                vm.selectedGroups = screenGroupIdx > -1 ? [vm.groups[screenGroupIdx]] : []
                vm.selectedType.face = data[0].HasFaceDetectionRule
                vm.selectedType.spot = data[0].Spot
                vm.selectedType.general = !data[0].Spot && !data[0].HasFaceDetectionRule
                vm.restriction.hasFaceDetectionRule = data[0].HasFaceDetectionRule
                vm.restriction.repeatMon = data[0].RepeatMonday
                vm.restriction.repeatTue = data[0].RepeatTuesday
                vm.restriction.repeatWed = data[0].RepeatWednesday
                vm.restriction.repeatThu = data[0].RepeatThurday
                vm.restriction.repeatFri = data[0].RepeatFriday
                vm.restriction.repeatSat = data[0].RepeatSaturday
                vm.restriction.repeatSun = data[0].RepeatSunday

                vm.restriction.gender = data[0].Gender !== null
                var tempArr = data[0].AgeRestriction === null ? [] : data[0].AgeRestriction.split(",")

                if (tempArr.length > 0) {
                    tempArr.forEach(function(item) {
                        var index = _.findIndex(vm.ageSettings, ['id', parseInt(item)])

                        vm.restriction.selectedAgeSettings.push(vm.ageSettings[index])
                    })
                } else {
                    vm.restriction.selectedAgeSettings = []
                }

                vm.restriction.neverEnd = data[0].EndDate === null ? true : false
                vm.restriction.alwaysPlay = data[0].DailyStartTime === "00:00:00" && data[0].DailyEndTime === "23:59:59" ? true : false
                vm.restriction.onPeriodOfTime = data[0].DailyStartTime === "00:00:00" && data[0].DailyEndTime === "23:59:59" ? false : true
                vm.restriction.male = data[0].Gender === 1 || data[0].Gender === 0
                vm.restriction.female = data[0].Gender === 2 || data[0].Gender === 0

                $('#startDate_input').val(vm.changeDate(data[0].StartDate))
                $('#endDate_input').val(data[0].EndDate === null ? '' : vm.changeDate(data[0].EndDate))
                $("#dailyStartTime_Input").val(data[0].DailyStartTime.substring(0, 5))
                $("#dailyEndTime_Input").val(data[0].DailyEndTime.substring(0, 5))
            }

        },
        resetData() {
            this.selectedCampaigns = []
            this.selectedDevices = []
            this.selectedGroups = []
            this.selectedType.general = true
            this.selectedType.face = false
            this.selectedType.spot = false

            this.restriction.id = 1
            this.restriction.key = 1
            this.restriction.hasFaceDetectionRule = false
            this.restriction.repeatMon = true
            this.restriction.repeatTue = true
            this.restriction.repeatWed = true
            this.restriction.repeatThu = true
            this.restriction.repeatFri = true
            this.restriction.repeatSat = true
            this.restriction.repeatSun = true

            this.restriction.gender = null
            this.restriction.selectedAgeSettings = []
            this.restriction.neverEnd = false
            this.restriction.alwaysPlay = true
            this.restriction.onPeriodOfTime = false
            this.restriction.male = false
            this.restriction.female = false
            this.initTimeData()
        },
        initTimeData() {
            $('#startDate_input').val('')
            $('#endDate_input').val('')
            $("#dailyStartTime_Input").val('')
            $("#dailyEndTime_Input").val('')
        },
        changeDate(val) {
            //2017/05/26 1:31
            var d = new Date(val);
            var n = d.getFullYear() + "/" + (parseInt(parseInt(d.getMonth()) + 1) < 10 ? "0" + parseInt(parseInt(d.getMonth()) + 1) : parseInt(parseInt(d.getMonth()) + 1)) +
                "/" + (d.getDate() < 10 ? "0" + d.getDate() : d.getDate()) + " " + (d.getHours() < 10 ? "0" + d.getHours() : d.getHours()) + ":" + (d.getMinutes() < 10 ? "0" +
                    d.getMinutes() : d.getMinutes());
            return n
        },
        changeBtDateTimePikerFormat(type) {

            // var dtpicker1 = $('#startDate_input').data("DateTimePicker")
            // var dtpicker2 = $('#endDate_input').data("DateTimePicker")
            // if (type === 'datetime') {
            //     dtpicker1.format('YYYY/MM/DD H:mm A')
            //     dtpicker2.format('YYYY/MM/DD H:mm A')
            // } else {
            //     dtpicker1.format('YYYY/MM/DD')
            //     dtpicker2.format('YYYY/MM/DD')
            // }
            if (this.restriction.neverEnd)
                $('#endDate_input').val('')
        },

        checkSelectType() {
            var vm = this
            vm.$nextTick(function() {
                if (!vm.selectedType.general && vm.selectedCampaigns.length > 1) {
                    vm.selectedCampaigns.splice(1)
                }
            })
        },
        setDefaultCampaign() {
            var index = _.findIndex(this.selectedCampaigns, ['id', this.campaignId])
            if (index === -1) {
                var defaultItem = _.find(this.campaigns, ['id', this.campaignId])
                if (defaultItem) {
                    this.selectedCampaigns.push(defaultItem)
                }
            }
        },
        dataCheck() {
            var vm = this
            vm.errMsg = ''
            if (vm.selectedCampaigns <= 0) {
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0024
            } else if (vm.selectedDevices + vm.selectedGroups <= 0) {
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0033
            } else if (vm.selectedType.face === true) {
                //check face detection setting
                if (vm.restriction.male === false && vm.restriction.female === false) {
                    vm.errMsg = vm.$i18n.messages[__culture].message.Error_0026
                } else if (!vm.restriction.selectedAgeSettings || vm.restriction.selectedAgeSettings.length <= 0) {
                    vm.errMsg = vm.$i18n.messages[__culture].message.Error_0027
                }
            }
            if (!vm.restriction.repeatMon && !vm.restriction.repeatTue && !vm.restriction.repeatWed &&
                !vm.restriction.repeatThu && !vm.restriction.repeatFri && !vm.restriction.repeatSat && !vm.restriction.repeatSun) {
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0028
            }
            if ($("#startDate_input").val() == '') {
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0029
            }
            if ($("#endDate_input").val() != '' && vm.timeCheck($("#startDate_input").val(), $("#endDate_input").val(), 0)) {
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0030
            }
            if ($("#dailyStartTime_Input").val() == '' && vm.restriction.onPeriodOfTime) {
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0031
            }
            if ($("#dailyEndTime_Input").val() != '' && vm.timeCheck($("#dailyStartTime_Input").val(), $("#dailyEndTime_Input").val(), 1)) {
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0032
            }
        },
        timeCheck(t1, t2, type) {
            var d1, d2
            if (type == 0) {
                if (t2 !== '') {
                    d1 = new Date(t1.replace(/PM|AM/i, ''));
                    d2 = new Date(t2.replace(/PM|AM/i, ''));
                    return d1 >= d2
                } else {
                    return false
                }
            } else {
                if (t2 !== '') {
                    var utc = new Date().toJSON().slice(0, 10).replace(/-/g, '/');
                    d1 = new Date(utc + " " + t1.replace(/PM|AM/i, ''));
                    d2 = new Date(utc + " " + t2.replace(/PM|AM/i, ''));
                    return d1 >= d2
                } else {
                    return false
                }
            }
        }
        ,
        UpdateClick() {
            var vm = this
            vm.dataCheck()
            if (vm.errMsg) {
                return
            }
            //end check

            var data = {
                scheduleSummaryId: vm.scheduleSummaryId,
                Campaigns: _.map(vm.selectedCampaigns, (o) => {
                    return {
                        Id: o.id
                    }
                }),
                Screens: _.map(vm.selectedDevices, (o) => {
                    return {
                        Id: o.id
                    }
                }),
                ScreenGroups: _.map(vm.selectedGroups, (o) => {
                    return {
                        Id: o.id
                    }
                }),
                StartDate: $('#startDate_input').val(),
                EndDate: $('#endDate_input').val(),
                SelectedType: {
                    General: vm.selectedType.general,
                    Face: vm.selectedType.face,
                    Spot: vm.selectedType.spot
                },
                TimeRestriction: {
                    RepeatMon: vm.restriction.repeatMon,
                    RepeatTue: vm.restriction.repeatTue,
                    RepeatWed: vm.restriction.repeatWed,
                    RepeatThu: vm.restriction.repeatThu,
                    RepeatFri: vm.restriction.repeatFri,
                    RepeatSat: vm.restriction.repeatSat,
                    RepeatSun: vm.restriction.repeatSun,
                    DailyStartTime: vm.restriction.alwaysPlay ? null : $("#dailyStartTime_Input").val(),
                    DailyEndTime: vm.selectedType.spot || vm.restriction.alwaysPlay ? null : $("#dailyEndTime_Input").val()
                }
            }

            if (vm.selectedType.face === true) {
                data.FaceRestriction = {
                    Male: vm.restriction.male,
                    Female: vm.restriction.female,
                    AgeIdList: _.map(vm.restriction.selectedAgeSettings, 'id')
                }
            }
            vm.loading = true
            var api = $.post('/ace/api/publish/updateMaintainData', data)

            api.done((res) => {
                if (!res.Result) {
                    vm.errMsg = vm.$i18n.messages[__culture].message[res.Message]
                    return
                }
                //show success alert
                alertify.logPosition("bottom right");
                alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.PublishSuccess);
                //close publish modal
                $("#" + this.modalId).modal('hide')

                //reset publish modal data
                vm.resetData()
                vm.scheduleSummaryId = -1;
                //通知其他component 重新要schedulesummary的資訊
                Bus.$emit("Device-ScheduleSummaryChange",true)

                //init父層summary id
                vm.$emit('initScheduleSummaryId',vm.scheduleSummaryId)

            })
            api.fail((err) => {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace("/ace")
                }
                vm.erMsg = vm.$i18n.messages[__culture].message.Error_0044
            })
            api.always(() => {
                //
                vm.loading = false
            })


        }
    }
}
</script>

<style scoped>
ul {
    padding-left: 5px;
}

.modal-header,
.modal-footer {
    background-color: #2a3a4a;
}

.modal-body {
    background-color: #334353;
}

.bs3-dtpicker {
    height: 30px;
    border-radius: .2em;
    border-bottom-right-radius: .2em !important;
    border-top-right-radius: .2em !important;
    width: 200px;
}

.bs3-timepicker {
    height: 30px;
    border-radius: .2em;
    border-bottom-right-radius: .2em !important;
    border-top-right-radius: .2em !important;
    width: 140px;
}

.input-group-addon.date {
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-bottom-left-radius: .2em;
    border-top-left-radius: .2em;
    cursor: pointer;
    transition: all .3s ease;
}

.input-group-addon.date:hover {
    color: orange;
    background: #2a3a4a;
}

.badge-counter {
    font-size: small;
}

.age-table {
    width: 100%;
    font-weight: 100;
}

.age-table tr {
    border-bottom: 1px solid #596a7b;
}

.age-table th,
.age-table td {
    padding: 10px;
    font-weight: 100 !important;
}

th {
    text-align: center;
}

.filteredcampaigns div {
    overflow-y: auto;
    height: 200px;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-face-color: #000000;
    scrollbar-arrow-color: #rgba(0, 0, 0, 0.3);
    scrollbar-track-color: #132332;
    scrollbar-shadow-color: #rgba(0, 0, 0, 0.5);
    scrollbar-highlight-color: #rgba(0, 0, 0, 0.8);
    scrollbar-3dlight-color: #rgba(0, 0, 0, 0.7);
}

#filteredcampaignsList::-webkit-scrollbar,
#filteredScreenList::-webkit-scrollbar,
#filteredDeviceList::-webkit-scrollbar {
    width: 10px;
}

#filteredcampaignsList::-webkit-scrollbar-track,
#filteredDeviceList::-webkit-scrollbar-track,
#filteredScreenList::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: gray;
    border-radius: 10px;
}

#filteredcampaignsList::-webkit-scrollbar-thumb,
#filteredDeviceList::-webkit-scrollbar-thumb,
#filteredScreenList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #132333;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
</style>