<template>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="LocationSetting">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">{{$t('message.Device_LocationSetting')}}</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <location-slot-tab @LocationTabClick="LocationTabClickHandler" :finishAdd="finishAdd">
                                <div slot="tab-header-1" style="font-size:20px">{{$t('message.Location')}}</div>
                                <div slot="tab-header-2" style="font-size:20px">{{$t('message.Device_AddLocation')}}</div>
                            </location-slot-tab>
                        </div>
                        <div class="col-md-6">
                            <span class="pull-right">
                                <input type="text" class="searchInput" v-model="inputOfSearchLocation" :placeholder="$t('message.Device_SearchLocation')+'...'" v-on:keyup.enter="SearchLocation" :disabled="inputDisabled">
                                <button class="btn btn-default btn-sm" type="button" @click="SearchLocation" :disabled="inputDisabled">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <p>
                                <div class="text-setting">{{$t("message.Device_LocationName")}}:</div>
                                <input type="text" class="form-control" :disabled="inputDisabled" id="locationName" v-model="location.name">
                                <transition enter-active-class="animated flipInX" leave-active-class="animated zoomOut">
                                    <div v-if="errMsg" class="alert alert-danger" style="margin-top:10px; margin-bottom: 5px;">
                                        <div v-html="errMsg"></div>
                                    </div>
                                </transition>
                            </p>
                            <p>
                                <div class="text-setting">{{$t("message.Description")}}:</div>
                                <input type="text" class="form-control" :disabled="inputDisabled" id="locationDescription" v-model="location.description">
                            </p>
                            <p>
                                <div class="text-setting">{{$t("message.Device_Address")}}:</div>
                                <textarea class="form-control" id="locationAddress" rows="3" disabled="true" v-model="location.address"></textarea>
                            </p>
                            <span class="pull-right">
                                <!--add button-->
                                <button v-if="inputDisabled == false && btn_save == true" type="button" class="btn btn-success btn-sm" style="border-radius: .3em; margin-top: 10px;" @click="AddLocation" id="ConfirmButton">
                                    <i class="fa fa-floppy-o"></i>&nbsp; {{$t("message.Save")}}
                                </button>
                                <!--update butoon-->
                                <button v-show="editStatus== true" @click="CancelEditLocation" type="button" class="btn btn-default btn-sm" style="border-radius: .3em; margin-top: 10px; margin-left:5px">
                                    <i class="fa fa-times"></i>&nbsp; {{$t("message.Cancel")}}
                                </button>
                                <button v-if="editStatus == true" type="button" class="btn btn-success btn-sm" style="border-radius: .3em; margin-top: 10px;" @click="UpdateLocation">
                                    <i class="fa fa-floppy-o"></i>&nbsp; {{$t("message.Save")}}
                                </button>
                                <!--設定為預設地點的button-->
                                <button type="button" class="btn btn-success btn-sm" style="border-radius: .3em; margin-top: 10px;" @click="UpdateDeviceLocation" v-if="inputDisabled == true && locationList.length != 0">
                                    <i class="fa fa-floppy-o"></i>&nbsp; {{$t("message.Device_SetLocation")}}
                                </button>

                            </span>
                        </div>
                        <div class="col-md-7">
                            <div id="map-canvas"></div>
                        </div>
                    </div>
                    <hr>
                    <!--List  -->
                    <div class="row" v-if="inputDisabled == true && locationList.length != 0">
                        <div class="col-xs-12 col-md-6" style="font-size:20px; margin-bottom: 10px;">
                            {{$t("message.Device_LocationList")}}
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <span class="pull-right">
                                <input type="text" class="searchInput" :placeholder="$t('message.Search')" v-model="searchText">
                                <i class="fa fa-search" style="margin-left: 10px; margin-right: 10px; font-size:20px"></i>
                            </span>
                        </div>
                        <div class="col-xs-12 col-md-12 location" colspan="3">
                            <div id="locationList">
                                <table class="table" style="background-color: transparent;width:100%;table-layout: fixed;">
                                    <tbody>
                                        <tr @click="NotSetLocation()" :class="choiceLocation == 0?'ChooseLocation':''">
                                            <td class="text-center col-xs-2 col-md-1">
                                                <i v-show="defaultLocationId===0||defaultLocationId===null" class="fa fa-map-marker text-danger" aria-hidden="true"></i>
                                            </td>
                                            <td class="col-xs-5 col-md-7" style="vertical-align:middle;text-align: left;">
                                                {{$t("message.Device_NotSet")}}
                                            </td>
                                            <td class="col-xs-5 col-md-4"></td>
                                        </tr>
                                        <tr v-for="data in FilteredLocations" :class="choiceLocation == data.Id ?'ChooseLocation':''" @click="ChangeData(data,data.Id)" :key="'location'+data.Id">
                                            <td class="text-center col-xs-2 col-md-1">
                                                <i v-show="data.Id===defaultLocationId" class="fa fa-map-marker text-danger" aria-hidden="true"></i>
                                            </td>
                                            <td class="col-xs-5 col-md-7" style="vertical-align:middle;text-align: left;" :title="data.Name">
                                                {{ data.Name }}
                                            </td>
                                            <td class="col-xs-5 col-md-4">
                                                <span class="pull-right button-group">
                                                    <!--edit button -->
                                                    <button :style="choiceLocation == data.Id?'visibility:visible':'visibility:hidden'" type="button" class="btn btn-success btn-sm" style="border-radius: .3em; margin-right: 5px;display:inline-block;" @click="EditLocation">
                                                        <i class="fa fa-pencil"></i>&nbsp; {{$t("message.Edit")}}
                                                    </button>

                                                    <!--Delete confirm button-->
                                                    <button :style="choiceLocation == data.Id?'visibility:visible':'visibility:hidden'" type="button" class="btn btn-danger btn-sm" style="border-radius: .3em; display:inline-block;" @click="DeleteLocation(data.Id)">
                                                        <i class="fa fa-trash"></i>&nbsp; {{$t("message.Delete")}}
                                                    </button>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import locationSlotTab from "../../controls/location-slot-tab.vue"
import Bus from "../../controls/bus"

export default {
    name: 'location-setting-modal',
    components: {
        locationSlotTab,
    },
    props: {
        deviceId: {
            type: Number,
            require: true,
            default: 0
        },
        defaultLocationId: {
            type: Number,
            require: true,
            default: null
        },
        screenGroupId: {
            type: Number,
            require: true,
            default: null
        },
        locationInitail: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            errMsg: '',
            inputDisabled: true,
            searchText: '',
            editStatus: false,
            btn_save: false,
            location: {
                id: 0,
                name: '',
                description: '',
                address: '',
                longitude: '',
                latitude: ''
            },
            finishAdd: false,
            locationList: [],
            defaultLocation: {
                Id: 0,
                Name: '',
                Description: '',
                Address: '',
                Latitude: 0,
                Longitude: 0
            },
            choiceLocation: 0,
            inputOfSearchLocation: '',
            ecsLat: 25.0783367,
            ecsLon: 121.567047
        }
    },
    computed: {
        TextFilter() {
            //篩選搜尋的文字
            var patt = new RegExp("[\\[\\]?*+|{}\\\\()@.\n\r]");
            var res = patt.test(this.searchText);
            var text = this.searchText;
            if (res) {
                text = ''
                //搜尋字元不得包含特殊符號
                alert(this.$i18n.messages[__culture].message.Error_0003);
                return text;
            }
            else {
                return text;
            }
        },
        FilteredLocations() {
            return this.locationList.filter((element) => {
                return element.Name.match(this.TextFilter);
            })
        }
    },
    watch: {
        defaultLocationId() {
            this.GetLocationInfo()
        },
        defaultLocation() {
            //如果在新增位置的時候 不更動
            if (this.inputDisabled) {
                this.choiceLocation = this.defaultLocation.Id
                this.location.id = this.defaultLocation.Id
                this.location.name = this.defaultLocation.Name
                this.location.description = this.defaultLocation.Description
                this.location.address = this.defaultLocation.Address
                this.location.longitude = this.defaultLocation.Longitude
                this.location.latitude = this.defaultLocation.Latitude
                this.SetMap(this.location.longitude, this.location.latitude)
            }
        },
        locationInitail() {
            var vm = this
            if (vm.locationInitail) {
                $('#LocationSetting').on('shown.bs.modal', function() {
                    vm.ChangeData(vm.defaultLocation, vm.defaultLocation.Id)
                })
            }
        }
    },
    mounted() {
        this.InitDefaultLocation()
        this.GetLocationInfo()
    },
    methods: {
        GetLocationInfo() {
            var vm = this
            // get location List
            $.post("/ace/api/device/getlocationlist")
                .done((res) => {
                    if (res.Result) {
                        vm.locationList = res.Data.LocationList
                        vm.CheckDefaultLocation()
                    }
                }).fail(function(err) {
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace('/ace')
                    }
                })
        },
        //找出defaultLocation
        CheckDefaultLocation() {
            var vm = this
            if (vm.defaultLocationId != null) {
                $.each(vm.locationList, function(i, item) {
                    if (item.Id === vm.defaultLocationId) {
                        vm.defaultLocation = item
                    }
                })
            } else {
                this.defaultLocation = {
                    Id: 0,
                    Name: '',
                    Description: '',
                    Address: '',
                    Latitude: 0,
                    Longitude: 0
                }
                this.InitDefaultLocation()
            }
        },
        SetMap(lng, lat) {
            var vm = this
            var geocoder = new google.maps.Geocoder()
            var latlng

            //搜尋地點
            latlng = new google.maps.LatLng(lat, lng)

            //新增location查詢時，將資料寫到input裡
            if (vm.location.id === 0) {
                geocoder.geocode(
                    { 'latLng': latlng }, function(results, status) {
                        if (status === google.maps.GeocoderStatus.OK) {
                            // 如果有資料就會回傳
                            if (results) {
                                vm.location = {
                                    id: 0,
                                    name: "",
                                    description: "",
                                    address: results[0].formatted_address,
                                    longitude: lng,
                                    latitude: lat
                                }
                            }
                        }
                    })
                //edit 狀況
            } else if (vm.editStatus) {
                geocoder.geocode(
                    { 'latLng': latlng }, function(results, status) {
                        if (status === google.maps.GeocoderStatus.OK) {
                            // 如果有資料就會回傳
                            if (results) {
                                vm.location.address = results[0].formatted_address
                            }
                        }
                    })
            } else {
                //一般查看時的search
            }
            vm.SetMapCenter(latlng)
        },
        SetMapCenter(latlng) {
            //設定地圖的選項
            var mapOptions = {
                zoom: 15, //地圖縮放的層級
                center: latlng, //地圖中心擺放位置
                mapTypeId: google.maps.MapTypeId.TERRAIN //地圖呈現的方式
            }

            // 把地圖放在頁面的 div 裡
            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions)

            //宣告地圖標記選項
            var markerOptions = {
                //地圖標記位置
                position: latlng,
                //設定要套用的地圖
                map: map
            }

            //把地圖標記標示在地圖上
            var marker = new google.maps.Marker(markerOptions);
            map.setCenter(latlng)
        },
        ChangeData(item, locationId) {
            this.choiceLocation = locationId
            //當點選位置時將值存入Location
            this.location.id = item.Id
            this.location.name = item.Name
            this.location.description = item.Description
            this.location.address = item.Address
            this.location.longitude = item.Longitude
            this.location.latitude = item.Latitude
            this.SetMap(item.Longitude, item.Latitude)
        },
        NotSetLocation() {
            var vm = this
            let obj = vm.GetWebPosition(vm.ecsLon, vm.ecsLat)
            vm.choiceLocation = 0
            vm.location.id = 0
            vm.location.name = ''
            vm.location.description = ''
            vm.location.address = ''
            vm.location.latitude = obj.lon
            vm.location.longitude = obj.lat
            vm.SetMap(obj.lon, obj.lat)
        },
        LocationTabClickHandler(tab) {
            var vm = this
            vm.editStatus = false
            vm.btn_save = true
            //addlocacion
            if (tab === 1) {
                //切換頁面時，先將複製location到temp再將Location設為預設值
                vm.location = {
                    id: 0,
                    name: '',
                    description: '',
                    address: "",
                    longitude: "",
                    latitude: ""
                }
                //取當前位置
                let obj = vm.GetWebPosition(vm.ecsLon, vm.ecsLat)
                vm.SetMap(obj.lon, obj.lat)
                //因已帶入當前位置資訊，可提供使用者直接confirm新地點
                vm.inputDisabled = false
            } else {
                //將位置切換到default 
                vm.choiceLocation = vm.defaultLocation.Id
                vm.location.id = vm.defaultLocation.Id
                vm.location.name = vm.defaultLocation.Name
                vm.location.description = vm.defaultLocation.Description
                vm.location.address = vm.defaultLocation.Address
                vm.location.longitude = vm.defaultLocation.Longitude
                vm.location.latitude = vm.defaultLocation.Latitude
                vm.SetMap(vm.location.longitude, vm.location.latitude)

                vm.inputOfSearchLocation = ''
                vm.inputDisabled = true
            }
        },
        EditLocation() {
            this.inputDisabled = false
            this.editStatus = true
            this.btn_save = false
        },
        CancelEditLocation() {
            this.inputDisabled = true
            this.editStatus = false
        },
        SearchLocation() {
            var vm = this
            var api = $.get("http://maps.google.com/maps/api/geocode/json?sensor=false&address=" + encodeURI(vm.inputOfSearchLocation))
            api.done((res) => {
                if (res.status == "ZERO_RESULTS" || res.statusText == "Bad Request") {
                    alertify.logPosition("bottom right");
                    //We can not find this location,please enter the correct location name.
                    alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.Error_0005)
                }
                else {
                    vm.SetMap(res.results[0].geometry.location.lng, res.results[0].geometry.location.lat);
                }
            }).fail((err) => {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
            })
        },
        DeleteLocation(id) {
            var vm = this
            var url = "/ace/api/device/deletelocation"
            var obj = {
                DeviceId: vm.deviceId,
                LocationId: id,//vm.location.id
                ScreenGroupId: vm.screenGroupId
            }
            vm.PostForData(url, obj, 'delete')
        },
        UpdateDeviceLocation() {
            //更新目前Device的Location
            var vm = this
            var url = "/ace/api/device/setdevicelocation"
            var obj = {
                DeviceId: vm.deviceId,
                LocationId: null,
                ScreenGroupId: vm.screenGroupId
            }
            if (vm.location.id !== 0)
                obj.LocationId = vm.location.id
            this.PostForData(url, obj, 'updateDeviceLocation')
        },
        AddLocation() {
            //新增位置到Location List 並更新Device Location
            var vm = this
            var url = "/ace/api/device/addlocation"

            if (vm.location.name.trim() === '') {
                //Please enter the name.
                vm.errMsg = vm.$i18n.messages[__culture].message.Error_0004
                setTimeout(function() {
                    vm.errMsg = ''
                }, 2000)
                return
            }

            var obj = {
                DeviceId: vm.deviceId,
                Name: vm.location.name.trim(),
                Description: vm.location.description,
                Address: vm.location.address,
                Latitude: vm.location.latitude,
                Longitude: vm.location.longitude,
                ScreenGroupId: vm.screenGroupId
            }
            //初始化FinishAdd
            vm.finishAdd = false

            this.PostForData(url, obj, 'add')

        },
        UpdateLocation() {
            //更新/編輯Location資訊
            var vm = this
            var url = "/ace/api/device/updatelocationinfo"
            var obj = {
                DeviceId: vm.deviceId,
                LocationId: vm.location.id,
                Name: vm.location.name.trim(),
                Description: vm.location.description,
                Address: vm.location.address,
                Latitude: vm.location.latitude,
                Longitude: vm.location.longitude,
                ScreenGroupId: vm.screenGroupId
            }
            this.PostForData(url, obj, 'update')

        },
        //共用func
        PostForData(url, obj, type) {
            //  type =   delete /add / update /updateDevcieLocation
            var vm = this
            $.post(url, obj)
                .done((res) => {
                    if (res.Result) {
                        //通知parent重整頁面
                        Bus.$emit('Device-DetailRepost', true);
                        alertify.logPosition("bottom right")
                        if (type == "delete") {
                            alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.DeleteSuccess);
                            //清空被移除的位置設定
                            vm.NotSetLocation()
                            vm.GetLocationInfo()
                        } else if (type == "update") {
                            alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.UpdateSuccess);
                            vm.CancelEditLocation()
                            vm.GetLocationInfo()
                        } else if (type == "add") {
                            //default會更改所以上面會repost api 這邊就不call了
                            alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.AddSuccess)
                        } else {
                            //default會更改所以上面會repost api 這邊就不call了
                            alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.UpdateSuccess);
                        }
                    }
                    else {
                        alertify.logPosition("bottom right")
                        alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message[res.Message]);
                    }
                }).fail(function(err) {
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace('/ace')
                    }
                })
        },
        //取得web使用者的位置
        GetWebPosition(lon, lat) {
            //取當前位置
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition((position) => {
                    var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude)
                    lat = position.coords.latitude
                    lon = position.coords.longitude
                })
            }
            return {
                lat: lat,
                lon: lon
            }
        },
        InitDefaultLocation() {
            let obj = this.GetWebPosition(this.ecsLon, this.ecsLat)
            this.defaultLocation.Latitude = obj.lat
            this.defaultLocation.Longitude = obj.lon
        }
    }
}
</script>
<style scoped>
.text-setting {
    margin-bottom: 10px;
    font-size: 18px;
}

#map-canvas {
    height: 389px;
}

.list-group {
    line-height: 30px
}

.selected-item {
    background-color: #6F7B80;
}

.location div {
    overflow-y: auto;
    height: 200px;
    /* -ms-overflow-style: -ms-autohiding-scrollbar; */
    scrollbar-face-color: #000000;
    scrollbar-arrow-color: #rgba(0, 0, 0, 0.3);
    scrollbar-track-color: #132332;
    scrollbar-shadow-color: #rgba(0, 0, 0, 0.5);
    scrollbar-highlight-color: #rgba(0, 0, 0, 0.8);
    scrollbar-3dlight-color: #rgba(0, 0, 0, 0.7);
}

#locationList::-webkit-scrollbar {
    width: 10px;
}

#locationList::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: gray;
    border-radius: 10px;
}

#locationList::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #132333;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.ChooseLocation {
    background-color: #788694;
}

textarea {
    resize: none;
}

.searchInput {
    color: black;
    text-align: left;
    display: inline-block;
    width: 80%;
    background-color: white;
    border-radius: .2em;
    padding: 5px 10px;
    line-height: 1.5;
    border: 1px solid transparent;
}
</style>


