<template>
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ $t("message.Device_Restart")}}</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <h4>{{ $t("message.Device_RebootDeviceRequest")}}</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <span v-show="errMsg!=''" class="text-danger">
                        <i class="fa fa-exclamation-triangle"></i>&nbsp; {{ errMsg }}
                    </span>
                    <footer-button :buttonList="buttonList" :isBusy="isBusy"></footer-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FooterButton from '../../controls/modal/footer-button.vue'
export default {
    name: 'restart-device-modal',
    data() {
        return {
            isBusy: false,
            errMsg: '',
            buttonList: [
                { button: 'cancel', method: '', dismiss: 'modal' },
                { button: 'save', method: 'RestartDevice' }
            ]
        }
    },
    components: {
        FooterButton
    },
    props: {
        modalId: {
            type: String,
            required: true,
            default: 'restart-device-modal'
        },
        selectedRestartDevice: {
            type: Number,
            required: true,
            default: 0
        }
    },
    methods: {
        RestartDevice() {
            var vm = this
            vm.isBusy = true

            if (vm.selectedRestartDevice > 0) {
                $.post("/ace/api/device/restartdevice", {
                    Id: vm.selectedRestartDevice
                }).done((res) => {
                    vm.$emit("deviceReeboot")
                    vm.isBusy = false
                    if (res.Result) {
                        alertify.logPosition("bottom right")
                        alertify.delay(4000).success("<i class='fa fa fa-check'></i>&nbsp;" + this.$i18n.messages[__culture].message.SaveSuccess)
                    }
                    else {
                        alertify.logPosition("bottom right")
                        alertify.delay(4000).success("<i class='fa fa fa-check'></i>&nbsp;" + this.$i18n.messages[__culture].message.SaveFailed)
                    }
                }).fail(function(err) {
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace('/ace')
                    }
                }).always(function() {
                    vm.isBusy = false
                    $('#' + vm.modalId).modal('hide')
                })
            }

        }
    }
}
</script>

<style scoped>

</style>
