<template>
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ $t("message.Device_UnregisteredDevices")}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <table class="table table-hover col-xs-12" style="table-layout: fixed;">
                                <thead>
                                    <tr>
                                        <th class="col-xs-1" style="text-align: center">
                                            <input type="checkbox" v-model="DeviceSelectAll">
                                        </th>
                                        <th class="col-xs-3 text-overflow-setting" :title="$t('message.Device_DeviceName')">
                                            {{ $t("message.Device_DeviceName")}}
                                        </th>
                                        <th class="col-xs-2 text-overflow-setting" :title="$t('message.Resolution')">
                                            {{ $t("message.Resolution")}}
                                        </th>
                                        <th class="col-xs-3 text-overflow-setting" :title="$t('message.Device_IpAddress')">
                                            {{ $t("message.Device_IpAddress")}}
                                        </th>
                                        <th style="col-xs-3 text-overflow-setting" :title="$t('message.Version')">
                                            {{ $t("message.Version")}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="device in unregisteredDevice" :key="'unregistered'+device.Id">
                                        <td style="text-align: center">
                                            <input type="checkbox" v-model="deviceSelected" :value="device">
                                        </td>
                                        <td class="text-overflow-setting" :title="device.DeviceName">
                                            {{ device.DeviceName }}
                                        </td>
                                        <td class="text-overflow-setting" :title="device.ScreenRes">{{ device.ScreenRes }}</td>
                                        <td v-if="device.IpAddress" class="text-overflow-setting" :title="device.IpAddress">{{ device.IpAddress }}</td>
                                        <td v-else>-</td>
                                        <td class="text-overflow-setting" :title="device.VersionNumber">{{device.VersionNumber}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span v-show="errMsg!=''" class="text-danger">
                        <i class="fa fa-exclamation-triangle"></i>&nbsp; {{ errMsg }}
                    </span>
                    <footer-button :buttonList="buttonList" :isBusy="isBusy"></footer-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import FooterButton from '../../controls/modal/footer-button.vue'
export default {
    name: 'unregistered-device-modal',
    data() {
        return {
            deviceSelected: [],
            isBusy: false,
            errMsg: '',
            buttonList: [
                { button: 'refuseRegistry', method: 'confirm', parameter: [false] },
                { button: 'registry', method: 'confirm', parameter: [true] }
            ]
        }
    },
    components: {
        FooterButton
    },
    props: {
        modalId: {
            type: String,
            required: true,
            default: ''
        },
        unregisteredDevice: {
            type: Array,
            required: false,
            default: []
        },
        deviceRemain: {
            type: Number,
            required: false,
            default: 0
        }
    },
    methods: {
        confirm(bool) {
            var api = ''
            this.errMsg = ''
            var deviceCount = this.deviceSelected.length
            if (deviceCount == 0) {
                //Please select at least one device
                this.errMsg = this.$i18n.messages[__culture].message.Error_0006
                return;
            }
            //註冊
            if (bool) {
                //可註冊數量與選取數量相比
                if (this.deviceRemain <= 0 || deviceCount > this.deviceRemain) {
                    this.errMsg = this.$i18n.messages[__culture].message.Error_0057
                    return
                }
                api = "/ace/api/device/registerdevice"
            }
            else {
                api = "/ace/api/device/refuseregisterdevice"
            }

            var devices = []
            $.each(this.deviceSelected, function(index, item) {
                devices.push(item.Id)
            })

            var vm = this
            vm.isBusy = true
            $.post(api, {
                DeviceList: devices
            }).done(function(res) {
                vm.isBusy = false
                if (res.Result) {
                    alertify.logPosition("bottom right")
                    alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp" + vm.$i18n.messages[__culture].message.SaveSuccess);
                    vm.$emit('refresh', true)
                    $('#' + vm.modalId).modal('hide')
                }
                else {                   
                    alertify.logPosition("bottom right")
                    alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp; " + vm.$i18n.messages[__culture].message.SaveFailed);
                }

            }).fail(function(err) {
                alertify.logPosition("bottom right")
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp; " + vm.$i18n.messages[__culture].message.SaveFailed);

                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
            }).always(function() {
                vm.isBusy = false               
                //關閉時清空被選取裝置清單
                vm.deviceSelected.splice(0)
            })
        }
    },
    computed: {
        DeviceSelectAll: {
            get() {
                if (this.unregisteredDevice.length > 0 && this.unregisteredDevice.length === this.deviceSelected.length) {
                    return true
                } else {
                    return false
                }
            },
            set(val) {
                if (val === true) {
                    this.deviceSelected = _.cloneDeep(this.unregisteredDevice)
                } else {
                    this.deviceSelected = []
                }
            }
        }
    }
}
</script>

<style scoped>
.text-overflow-setting {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
</style>
