﻿@model DsAdmin.Models.ViewModels.SmtpGlobalServiceViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SmtpGlobalServiceViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SenderAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SenderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnableSSL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnableSSL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmtpPort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmtpPort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmtpServerAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmtpServerAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowAnonymous)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowAnonymous)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmtpAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmtpAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmtpPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmtpPassword)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
