﻿@model DsAdmin.Models.ViewModels.SmtpGlobalServiceViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SmtpGlobalServiceViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SenderAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SenderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnableSSL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnableSSL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmtpPort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmtpPort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmtpServerAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmtpServerAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AllowAnonymous)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowAnonymous)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmtpAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmtpAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmtpPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmtpPassword)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
