﻿@model IEnumerable<DsAdmin.Models.ViewModels.SmtpGlobalServiceViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (ViewBag.ServiceCount == 0)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SenderAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SenderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnableSSL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmtpPort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmtpServerAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowAnonymous)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmtpAccount)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.SmtpPassword)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SenderAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SenderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnableSSL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SmtpPort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SmtpServerAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllowAnonymous)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SmtpAccount)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.SmtpPassword)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) |
            @Html.ActionLink("Test", "SendTestEmail", new { id = item.Id })
        </td>
    </tr>
}

</table>

