﻿@model DsAdmin.Models.ViewModels.SmtpGlobalServiceViewModel

@{
    ViewBag.Title = "SendTestEmail";
}

<h2>Send Test Email</h2>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.SmtpServerAddress)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SmtpServerAddress)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SmtpPort)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SmtpPort)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.SmtpAccount)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.SmtpAccount)
    </dd>

</dl>

<hr />

@using (Html.BeginForm("SendTestEmail", "SmtpGlobal", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Send To</label>
            <div class="col-md-10">
                <input type="text" name="SendTo" value="" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Title</label>
            <div class="col-md-10">
                <input type="text" name="title" value="" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Content</label>
            <div class="col-md-10">
                <input type="text" name="body" value="" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-success">Send</button>
            </div>
        </div>
    </div>
    <hr />
    
}

<p>
    @Html.ActionLink("Back to List", "Index")
</p>

@if (ViewBag.TestMailMessage != null)
{
    <script>
        alert("@ViewBag.TestMailMessage.ToString()")
    </script>
}