<template>
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        Add Group
                    </h4>
                </div>
                <div class="modal-body">
                    <ol class="track-progress" data-steps="3">
                        <li :class="{ 'done': step === 1 }">
                            <span>Group Detail</span>
                            <i></i>
                        </li>
                        <li :class="{ 'done': step === 2 }">
                            <span>First User</span>
                        </li>
                        <li :class="{ 'done': step === 3 }">
                            <span>Check</span>
                            <i></i>
                        </li>
                    </ol>
                    <div class="row" style="padding: 0px 20px;">
                        <div class="col-md-12">
                            <div v-show="step === 1">
                                <div class="form-group">
                                    <label class="control-label">Group Name
                                        <span class="required-star">*</span>
                                    </label>
                                    <input type="text" class="form-control" placeholder="Group Name" v-model="groupInfo.name" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Device Limit
                                        <span class="required-star">*</span>
                                    </label>
                                    <input type="number" class="form-control" placeholder="Please enter the number" v-model="groupInfo.deviceLimit" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Upload Storage(GB)
                                        <span class="required-star">*</span>
                                    </label>
                                    <input type="number" class="form-control" placeholder="Please enter the number" v-model="groupInfo.uploadLimit" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Effective Start Date
                                        <span class="required-star">*</span>
                                    </label>
                                    <input type="text" class="form-control" id="start_date" placeholder="Please choose the date">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Effective End Date
                                        <span class="required-star">*</span>
                                    </label>
                                    <input type="text" class="form-control" id="end_date" placeholder="Please choose the date">
                                </div>
                            </div>
                        </div>

                        <transition name="fade">
                            <div v-show="step === 2">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="control-label">User Name
                                            <span class="required-star">*</span>
                                        </label>
                                        <input type="text" class="form-control" placeholder="User Name" v-model="groupInfo.userSetting.name" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">User Account
                                            <span class="required-star">*</span>
                                        </label>
                                        <input type="email" class="form-control" placeholder="Email" v-model="groupInfo.userSetting.account" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">User Password
                                            <span class="required-star">*</span>
                                        </label>
                                        <input type="password" class="form-control" placeholder="Password" v-model="groupInfo.userSetting.password" />
                                    </div>

                                    <span style="font-size:20px;">Other Settings</span>

                                    <div class="funkyradio" style="border-top:1px solid #eee">
                                        <div class="funkyradio-info">
                                            <input type="checkbox" name="checkbox" id="cb_faceDetection" v-model="groupInfo.faceDetection" />
                                            <label for="cb_faceDetection">Face Detection</label>
                                            <span class="text-info" v-if="groupInfo.faceDetection">ON</span>
                                            <span class="text-danger" v-else>OFF</span>
                                        </div>
                                        <div class="funkyradio-info">
                                            <input type="checkbox" name="checkbox" id="cb_autoShutDown" v-model="groupInfo.autoShutDown" />
                                            <label for="cb_autoShutDown">WatchDog AutoShutDown</label>
                                            <span class="text-info" v-if="groupInfo.autoShutDown">ON</span>
                                            <span class="text-danger" v-else>OFF</span>
                                        </div>
                                        <div class="funkyradio-info">
                                            <input type="checkbox" name="checkbox" id="cb_watchDog" v-model="groupInfo.watchDog" />
                                            <label for="cb_watchDog">WatchDog Log</label>
                                            <span class="text-info" v-if="groupInfo.watchDog">ON</span>
                                            <span class="text-danger" v-else>OFF</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </transition>

                        <transition name="fade">
                            <div v-show="step === 3">
                                <div class="col-md-6">
                                    <h4 style="border-bottom: 1px solid #eee">Group Detail</h4>
                                    <ul>
                                        <li>
                                            <strong>Group Name</strong>
                                            <ul>
                                                <li>{{groupInfo.name}}</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <strong>Device Limit</strong>
                                            <ul>
                                                <li>{{groupInfo.deviceLimit}}</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <strong>Upload Limit</strong>
                                            <ul>
                                                <li>{{groupInfo.uploadLimit}}</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <strong>EffectiveStartDate</strong>
                                            <ul>
                                                <li>{{groupInfo.effectStartDate}}</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <strong>EffectiveEndDate</strong>
                                            <ul>
                                                <li>{{groupInfo.effectEndDate}}</li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <h4 style="border-bottom: 1px solid #eee">User Detail</h4>
                                    <ul>
                                        <li>
                                            <strong>User name</strong>
                                            <ul>
                                                <li>{{groupInfo.userSetting.name}}
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <strong>User Account</strong>
                                            <ul>
                                                <li>{{groupInfo.userSetting.account}}</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <strong>User Password</strong>
                                            <ul>
                                                <li>{{CoverPassword(groupInfo.userSetting.password)}}</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <strong>Other Settings</strong>
                                            <ul>
                                                <li v-if="groupInfo.faceDetection">Face Detection</li>
                                                <li v-if="groupInfo.autoShutDown">WatchDog AutoShutDown</li>
                                                <li v-if="groupInfo.watchDog">Watch Dog</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </transition>

                    </div>
                </div>
                <div class="modal-footer">
                    <span v-if='errMsg' class="text-danger">
                        <i class="fa fa-exclamation-triangle"></i>&nbsp; {{ errMsg }} &nbsp;
                    </span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" @click="BackStep" v-if="step === 2 || step === 3">
                        Back
                    </button>
                    <button type="button" class="btn btn-primary" @click="NextStep" v-if="step === 1 || step === 2">
                        Next
                    </button>
                    <button type="button" class="btn btn-primary" @click="Submit" v-else>
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
var _ = require('lodash')
var _shared = require('../controls/_shared')

export default {
    name: 'add-group-modal',
    props: {
        modalId: {
            type: String,
            required: true,
            default: 'add-group-modal-id'
        },
        groupInfo: {
            type: Object,
            required: true,
            default: {
                id: 0,
                name: '',
                accounts: 0,
                registered: 0,
                deviceLimit: 0,
                uploadLimit: 0,
                effectStartDate: '',
                effectEndDate: '',
                faceDetection: false,
                autoShutDown: false,
                watchDog: false,
                userSetting: {
                    name: '',
                    account: '',
                    password: '',
                }
            }
        }
    },
    data() {
        return {
            errMsg: '',
            step: 1
        }
    },
    watch: {
        groupInfo() {
            if (this.groupInfo.effectStartDate !== "")
                $("#start_date").val(this.ChangeDate(this.groupInfo.effectStartDate))
            else
                $("#start_date").val('')

            if (this.groupInfo.effectEndDate !== "")
                $("#end_date").val(this.ChangeDate(this.groupInfo.effectEndDate))
            else
                $("#end_date").val('')
        }
    },
    mounted() { //equal mounted
        $(function() {
            $('#start_date').datetimepicker({
                keepOpen: true,
                showTodayButton: true,
                format: 'YYYY/MM/DD HH:mm',
            })
            $('#end_date').datetimepicker({
                keepOpen: true,
                showTodayButton: true,
                format: 'YYYY/MM/DD HH:mm',
            })
        })
    },
    methods: {
        Submit() {
            var vm = this

            var data = {
                Id: vm.groupInfo.id,
                GroupName: vm.groupInfo.name,
                DeviceLimit: vm.groupInfo.deviceLimit,
                StorageLimit: Math.round(vm.groupInfo.uploadLimit * 1024 * 1024 * 1024),
                EffectiveStartDate: $('#start_date').val(),
                EffectiveEndDate: $('#end_date').val(),
                EnableFaceDetection: vm.groupInfo.faceDetection,
                WatchDogShutDownTime: vm.groupInfo.autoShutDown,
                EnableWatchDogLog: vm.groupInfo.watchDog,
                UserName: vm.groupInfo.userSetting.name,
                Email: vm.groupInfo.userSetting.account,
                UserPassword: vm.groupInfo.userSetting.password,
            }
            
            $.post("/ace-admin/api/usergroup/addeditusergroup", data).done(function(res) {
                if (res.Result) {
                    if (vm.groupInfo.id == 0) {
                        alertify.logPosition("bottom right")
                        alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;Add successfully")
                    } else {
                        alertify.logPosition("bottom right")
                        alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;Save successfully")
                    }

                    vm.errMsg = ''
                    vm.$emit('groupAdd', true)
                    $("#" + vm.modalId).modal('hide')
                }
                else {
                    vm.errMsg = res.Message
                }
            }).fail((err) => {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace-admin')
                }
            })
        },
        ChangeDate(date) {
            return _shared.GetDateString(date)
        },
        IsEmail() {
            //判斷是否為Email
            var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(this.groupInfo.userSetting.account);
        },
        NextStep() {
            var vm = this
            if (this.step === 1) {

                //群組資料檢查
                if (vm.groupInfo.name.trim() === "") {
                    vm.errMsg = 'Group name is required'
                    return
                }

                //禁止輸入特殊符號
                if (!vm.groupInfo.name.trim().match(/^[^?*[+()^\\\/]+$/g)) {
                    vm.errMsg = 'Group name cannot include special symbols'
                    return
                }
                else if (vm.groupInfo.name.length > 50) {
                    vm.errMsg = 'Group name cannot more than 50 words'
                    return
                }

                if (vm.groupInfo.deviceLimit <= 0) {
                    vm.errMsg = 'Device limit must be at least 1'
                    return
                }

                if (vm.groupInfo.uploadLimit <= 0) {
                    vm.errMsg = 'Upload storage limit must be at least 1'
                    return
                }

                if ($("#start_date").val() == '') {
                    vm.errMsg = 'Start date is required'
                    return
                } else if ($("#end_date").val() == '') {
                    vm.errMsg = 'End date is required'
                    return
                } else if ($("#end_date").val() < $("#start_date").val()) {
                    vm.errMsg = 'The end date should not be greater than the start date'
                    return
                }

                this.groupInfo.effectStartDate = $('#start_date').val()
                this.groupInfo.effectEndDate = $('#end_date').val()
                this.step = 2
                vm.errMsg = ''
            } else if (this.step === 2) {
                //使用者資料檢查
                if (vm.groupInfo.userSetting.name.trim() === "") {
                    vm.errMsg = 'User name is required'
                    return
                }

                //禁止輸入特殊符號
                if (!vm.groupInfo.userSetting.name.trim().match(/^[^?*[+()^\\\/]+$/g)) {
                    vm.errMsg = 'User name cannot include special symbols'
                    return
                }
                else if (vm.groupInfo.userSetting.name.length > 50) {
                    vm.errMsg = 'User name cannot more than 50 words'
                    return
                }

                if (vm.groupInfo.userSetting.account.trim() === "") {
                    vm.errMsg = 'Email is required'
                    return
                }

                //判斷Email格式是否有效
                if (vm.groupInfo.userSetting.account) {
                    if (!this.IsEmail()) {
                        vm.errMsg = 'Invalid Email format'
                        return
                    }
                }

                if (vm.groupInfo.userSetting.password.trim() === "") {
                    vm.errMsg = 'User password is required'
                    return
                }
                this.step = 3
                vm.errMsg = ''
            }
        },
        BackStep() {
            var vm = this
            if (vm.step === 2) {
                $("#start_date").val(vm.groupInfo.effectStartDate)
                $("#end_date").val(vm.groupInfo.effectEndDate)
                vm.step = 1
            } else if (vm.step === 3) {
                vm.step = 2
            }
        },
        CoverPassword(password) {
            var coverdPassword = ''
            if (password != '') {
                var temp = _.split(password, '');
                $.each(temp, function(index, p) {
                    coverdPassword += '*'
                })
            }

            return coverdPassword
        }
    }
}
</script>

<style scoped>
.required-star {
    color: red;
}

.funkyradio label {
    width: 60%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
    display: none;
}

.funkyradio input[type="radio"]:empty~label,
.funkyradio input[type="checkbox"]:empty~label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.funkyradio input[type="radio"]:empty~label:before,
.funkyradio input[type="checkbox"]:empty~label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked)~label,
.funkyradio input[type="checkbox"]:hover:not(:checked)~label {
    color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked)~label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked)~label:before {
    content: '\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked~label,
.funkyradio input[type="checkbox"]:checked~label {
    color: #777;
}

.funkyradio input[type="radio"]:checked~label:before,
.funkyradio input[type="checkbox"]:checked~label:before {
    content: '\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}

.funkyradio input[type="radio"]:focus~label:before,
.funkyradio input[type="checkbox"]:focus~label:before {
    box-shadow: 0 0 0 3px #999;
}

.funkyradio-info input[type="radio"]:checked~label:before,
.funkyradio-info input[type="checkbox"]:checked~label:before {
    color: #fff;
    background-color: #5bc0de;
}

.track-progress {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    margin-bottom: 10px;
}

.track-progress li {
    list-style-type: none;
    display: inline-block;

    position: relative;
    margin: 0;
    padding: 0;

    text-align: center;
    line-height: 30px;
    height: 30px;

    background-color: #f0f0f0;
}

.track-progress[data-steps="3"] li {
    width: 33%;
}

.track-progress li>span {
    display: block;
    color: #999;
    font-weight: bold;
}

.track-progress li.done>span {
    color: #666;
    background-color: #ccc;
}

.track-progress li>span:after,
.track-progress li>span:before {
    content: "";
    display: block;
    width: 0px;
    height: 0px;

    position: absolute;
    top: 0;
    left: 0;

    border: solid transparent;
    border-left-color: #f0f0f0;
    border-width: 15px;
}

.track-progress li>span:after {
    top: -5px;
    z-index: 1;
    border-left-color: white;
    border-width: 20px;
}

.track-progress li>span:before {
    z-index: 2;
}

.track-progress li.done+li>span:before {
    border-left-color: #ccc;
}

.track-progress li:first-child>span:after,
.track-progress li:first-child>span:before {
    display: none;
}

.track-progress li:first-child i,
.track-progress li:last-child i {
    display: block;
    height: 0;
    width: 0;

    position: absolute;
    top: 0;
    left: 0;

    border: solid transparent;
    border-left-color: white;
    border-width: 15px;
}

.track-progress li:last-child i {
    left: auto;
    right: -15px;

    border-left-color: transparent;
    border-top-color: white;
    border-bottom-color: white;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}

ul li {
    font-size: 16px;
}
</style>
