<template>
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        Delete Group
                    </h4>
                </div>
                <div class="modal-body">
                    <h4>Would you like to delete?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" @click="DeleteGroup">Delete</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'delete-group-modal',
    props: {
        modalId: {
            type: String,
            required: true,
            default: 'delete-group-modal-id'
        },
        deleteGroupId: {
            type: Number,
            required: true
        }
    },
    data() {
        return {

        }
    },
    methods: {
        DeleteGroup() {
            //delete api
            var vm = this
            $.post("/ace-admin/api/usergroup/deleteusergroup", { Id: vm.deleteGroupId }).done(function(res) {
                if (res.Result) {

                    alertify.logPosition("bottom right")
                    alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;Add successfully")

                    vm.$emit('groupDelete', vm.deleteGroupId)
                    $("#" + vm.modalId).modal('hide')
                }
            }).fail((err) => {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace-admin')
                }
            })
        }
    }
}
</script>

<style scoped>

</style>
