<template>
    <div class="modal fade" :id="modalId">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        Upload Player
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Choose the Player
                                    <span class="required-star">*</span>
                                </label>
                                <div class="input-group">
                                    <label class="input-group-btn">
                                        <span class="btn btn-primary">
                                            Browse&hellip; <input type="file" style="display: none;" id="upload" @change="OnFileChange">
                                        </span>
                                    </label>
                                    <input type="text" class="form-control" :value="uploadFileText" readonly>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Description of Version
                                    <span class="required-star">*</span>
                                </label>
                                <textarea class="form-control" rows="3" v-model="description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <span v-if='errMsg' class="text-danger">
                        <i class="fa fa-exclamation-triangle"></i>&nbsp; {{ errMsg }} &nbsp;
                    </span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" v-if="!isBusy" @click="Submit">Submit</button>

                    <button type="button" class="btn btn-primary" v-else @click="Submit" disabled>
                        <i class="fa fa-spinner fa-pulse"></i>&nbsp; Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
var _ = require('lodash')

export default {
    name: 'upload-player-modal',
    props: {
        modalId: {
            type: String,
            required: true,
            default: 'upload-player-modal-id'
        },
    },
    data() {
        return {
            description: '',
            uploadFileText: '',
            errMsg: '',
            isBusy: false
        }
    },
    methods: {
        OnFileChange(e) {
            var file = e.target.files || e.dataTransfer.files
            //上傳檔案為單選
            if (file.length != 0) {
                this.uploadFileText = file[0].name
            }
        },
        Submit() {
            this.isBusy = true
            if (this.description == '') {
                this.errMsg = 'Description can not be empty'
                this.isBusy = false
                return
            }
            else if (!this.CheckFile()) {
                this.errMsg = 'Invalid file format'
                this.isBusy = false
                return
            }

            //執行上傳
            this.UploadFile()
        },
        CheckFile() {
            var style = /\.(msi)$/i;  //允許的檔案格式
            if ($('#upload')[0].files.length > 0) {
                var name = $('#upload')[0].files[0].name
                if (name == "") {
                    return false
                }
                else if (!style.test(name)) {
                    return false
                } else {
                    return true
                }
            } else {
                return false
            }
        },
        UploadFile() {
            var vm = this
            vm.errMsg = ''

            var xhr = new XMLHttpRequest();
            var file = document.getElementById('upload').files[0];
            var respone
            xhr.open("POST", "/ace-admin/api/player/upload");
            xhr.setRequestHeader("filename", $('#upload')[0].files[0].name);
            xhr.setRequestHeader("ChangeLog", encodeURI(vm.description));
            xhr.setRequestHeader("UpdateFileSize", $('#upload')[0].files[0].size);
            xhr.setRequestHeader("Version", $('#upload')[0].files[0].name);
            xhr.send(file)

            //post回來
            xhr.onload = function(res) {
                if (xhr.readyState === xhr.DONE) {
                    if (res.currentTarget.status === 200) {
                        var response = JSON.parse(res.currentTarget.response)
                        if (response.Result) {
                            alertify.logPosition("bottom right");
                            alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;Upload successfully")

                            vm.errMsg = ''
                            vm.isBusy = false
                            vm.description = ''
                            vm.uploadFileText = ''
                            document.getElementById("upload").value = ""

                            vm.$emit('playerAdd', true)
                            $("#" + vm.modalId).modal('hide')
                        } else {
                            vm.errMsg = response.Data
                            vm.isBusy = false
                            return
                        }
                    } else {
                        vm.errMsg = 'Internet is not working'
                        return
                    }
                }
            }
        }
    }
}
</script>

<style scoped>
.required-star {
    color: red;
}
</style>
