﻿@model DsSite.Models.ViewModels.LibraryViewModel

@{
    ViewBag.Title = "Media Library";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/alertify/css/alertify.css" rel="stylesheet" />
<link href="~/Content/context_menu/jquery.contextMenu.min.css" rel="stylesheet" />
<link href="~/Content/style.min.css" rel="stylesheet" />
<link href="~/Scripts/jqueryui/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/summernote.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />

<style>
    .file-area {
        background-color: orange;
        width: 400px;
        height: 300px;
    }
</style>

<div id="app" style="width:100%;height:100%;">
    <tool-library></tool-library>
    @*<media-library api-url="/ace/api" :support-file-exts="@Model.SupportFileExt" :file-size-limit="@Model.FileSizeLimit"></media-library>*@

</div>


@section scripts{

    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/jstree.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>


    @*alertify*@
    <script src="~/Scripts/alertify/js/alertify.js"></script>

    @*summernote*@
    <script src="~/Scripts/summernote.min.js"></script>

    @*jquery.marquee*@
    <script src="~/Scripts/jquery.marquee.min.js"></script>

    @*jscolor*@
    <script src="~/Scripts/jscolor.min.js"></script>

    @*contextMenu*@
    <script src="~/Scripts/jquery.contextMenu.min.js"></script>

    @*jquery ui*@
    <script src="~/Scripts/jquery.ui.position.min.js"></script>

    @*_d_s*@
    <script src="~/Scripts/_d_s.js"></script>

    @*Vue js app*@
    <script src="~/vue-dev/dist/build.js"></script>


}