<template>
    <div>
        <div class="row">
            <!--Page head-->
            <detail-page-head :screen-info="screenInfo" :screenGroupId="screenGroupId" />
            <div v-show="!isEditGroup">
                <div class="col-xs-12">
                    <three-slot-tab>
                        <div slot="tab-header-1">{{$t('message.Device_ScreenGroupSetting')}}</div>
                        <div slot="tab-header-2">{{$t("message.Campaign_CampaignList")}}</div>
                        <div slot="tab-header-3">{{$t("message.Device_CampaignCalendar")}}</div>
                        <screen-group-detail-setting slot="tab-body-1" :screenGroupId="screenGroupId" :screenInfo="screenInfo" :deviceList="deviceList" />
                        <detail-campaign-list slot="tab-body-2" :screen-group-id="screenGroupId" />
                        <detail-campaign-calendar slot="tab-body-3" :screen-group-id="screenGroupId" />
                    </three-slot-tab>
                </div>
            </div>
        </div>
        <all-publish-modal modal-id="edit-publish-modal" @InitScheduleSummaryId="InitScheduleSummaryIdHandler" :scheduleSummaryId="scheduleSummayId" />

    </div>
</template>
<script>
import threeSlotTab from "../../controls/three-slot-tab.vue"
import ScreenGroupEditor from './screen-group-editor.vue'
import DetailPageHead from '../common-detail/detail-page-head.vue'
import ScreenGroupDetailSetting from './screen-group-detail-setting.vue'
import DetailCampaignList from "../common-detail/detail-campaign-list.vue"
import DetailCampaignCalendar from "../common-detail/detail-campaign-calendar.vue"
import AllPublishModal from '../../campaign/modal/all-publish-modal.vue'
import Bus from '../../controls/bus.js'

export default {
    name: 'screen-group-detail',
    components: {
        threeSlotTab,
        ScreenGroupEditor,
        DetailPageHead,
        ScreenGroupDetailSetting,
        DetailCampaignList,
        DetailCampaignCalendar,
        AllPublishModal
    },
    data() {
        return {
            screenInfo: [],
            screenGroupId: null,
            scheduleSummayId: -1,
            deletescheduleSummaryId: 0,
            isEditGroup: false,
            deviceList: [],
        }
    },
    created() {
        Bus.$on('Device-DetailRepost', (res) => {
            if (res) {
                this.GetDetailInfo(this.screenGroupId)
            }
        })
        Bus.$on('Device-EditorScheduleSummaryId', (Id) => {
            this.scheduleSummayId = Id
        })
    },
    mounted() {
        this.screenGroupId = window.location.pathname.split("/").pop();
        this.GetDetailInfo(this.screenGroupId);
    },
    methods: {
        ChangeShownArea(isEditGroup) {
            this.isEditGroup = isEditGroup
        },
        GetDetailInfo(id) {
            var vm = this;
            //GetDeviceInfo
            $.post("/ace/api/device/getscreengroupdetail", {
                Id: vm.screenGroupId
            }).done((res) => {
                if (res.Result) {
                    vm.screenInfo = res.Data
                    vm.deviceList = res.Data.Devices
                }
            }).fail(function(err) {
                if (err.readyState === 4 && err.status === 401) {
                    window.location.replace('/ace')
                }
            })
        },
        InitScheduleSummaryIdHandler(val) {
            this.scheduleSummayId = val;
        }
    }
}
</script>

 