<template>
    <div class="col-xs-12">
        <div class="col-xs-12">
            <!--新增群組-->
            <h3 v-if="isCreateGroup">{{$t("message.Device_CreateNewScreenGroup")}}</h3>
            <!--編輯群組-->
            <h3 v-else>{{$t("message.Device_ScreenGroupEdit")}}</h3>
        </div>
        <div class="col-xs-12 col-md-7">
            <!--螢幕設定 -->
            <div class="col-xs-12 col-md-6 ">
                <div class="margin-top-sm">
                    <!--name-->
                    <div class="col-xs-12 col-md-12">
                        <i class="fa fa-th-large"></i>&nbsp; {{ $t("message.Device_ScreenGroupName")}}:&nbsp; &nbsp;
                        <input type="text" :placeholder="$t('message.Device_ScreenGroupName')" v-model="screenGroupName"></input>
                    </div>
                    <!--device position   -->
                    <div class="col-xs-12 col-md-12 margin-top-sm">
                        <div style="display:none">{{TotalScreenGroupCount}}</div>
                        {{ $t("message.Device_DevicePositionSetting")}}:&nbsp;
                        <input type="number" min="1" max="5" class="thin-input" style="display:inline-block" :placeholder="$t('message.Device_Horizontal')" v-model.number="horizontalCount"></input>
                        &nbsp;*&nbsp;
                        <input type="number" step="1" min="1" max="5" class="thin-input" style="display:inline-block" :placeholder="$t('message.Device_Vertical')" v-model.number="verticalCount"></input>
                        &nbsp;
                        <button type="button" class="btn btn-success btn-xs" style="border-radius:.3em;" @click="ExchangeHorizontalVertical">
                            <i class="fa fa-exchange"></i>&nbsp;{{ $t("message.Device_Exchange")}}
                        </button>
                    </div>

                    <!--Auto Update -->
                    <div class="margin-top-sm" v-if="isCreateGroup">
                        <i class="fa fa-download">&nbsp; {{ $t("message.Device_AutoUpdatePlayer")}} :</i>
                        <label for="autoUpdateInput" class="autoUpdateButton">
                            {{AutoUpdateButton}}
                        </label>
                        <input v-model="autoUpdateEnabled" type="checkbox" id="autoUpdateInput" />
                        <div v-show="autoUpdateEnabled" class="col-xs-12 input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-download"></i>
                            </span>
                            <input type="text" class="form-control bs3-timepicker" id="CreateGroupAutoUpdatetTime_Input">
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <!--timeServer -->
                <div class="margin-top-sm">
                    <i class="fa fa-server"></i>&nbsp; {{ $t("message.Device_TimeServer")}}:&nbsp;
                    <div style="display:inline-block;">
                        <select v-model="timeServerId" style="color:black;width:80%">
                            <option disabled value="noChoose">{{$t("message.Device_SelectOneDevice")}}</option>
                            <template v-for="device in selectedDevices">
                                <option v-if="device" :value="device.Id" :key="'option'+device.Id">
                                    {{device.DeviceName}}
                                </option>
                            </template>
                        </select>
                    </div>
                </div>
                <!--disconnect device setting   -->
                <div class="col-xs-12 col-md-12 margin-top-sm">
                    {{$t('message.Device_DisconnectDeviceCount')}}:&nbsp;
                    <input type="number" class="thin-input" min="0" v-model.number="disconnectDeviceCount">
                </div>
            </div>
            <!--ErrorMessage -->
            <transition name="fade">
                <div v-show="isVersionDifferent" class="margin-top-sm col-xs-12 col-md-12 alert alert-danger" style="padding:10px;margin-bottom:0px;border-radius:.3em">
                    <i class='fa fa-exclamation-triangle'></i>&nbsp;{{$t("message.Device_VersionDifferentWarning")}}
                </div>
            </transition>
            <!--拖拉區塊 -->
            <div class="col-xs-12 margin-top-sm setScrollBar" style="height: 250px;">
                <table style="width:100%;table-layout: fixed">
                    <tr v-for="v in verticalCount" style="height:100px" :key="'verticalCount'+v">
                        <td v-for="h in horizontalCount" class="device-position-region" @dragover.prevent @drop="AllowDrop($event,horizontalCount*(v-1)+h-1)" :key="'horizontalCount'+h">
                            <div v-if="selectedDevices[horizontalCount*(v-1)+h-1]" class="text-center" style="margin:10px;" :title="selectedDevices[horizontalCount*(v-1)+h-1].DeviceName">
                                <div class="text-overflow-setting grabbable" style="color:#f0ad4e;width:80%;display:inline-block; vertical-align:middle" draggable="true " @dragstart="DragSwapDevice($event, selectedDevices[horizontalCount*(v-1)+h-1],horizontalCount*(v-1)+h-1)">
                                    <i class="fa fa-television"></i>&nbsp;{{ selectedDevices[horizontalCount*(v-1)+h-1].DeviceName }} &nbsp;
                                </div>
                                <div style="display:inline-block; vertical-align:middle;width:5%">
                                    <i class="fa fa-remove text-danger " @click="ResetScreenGroupPosition(selectedDevices[horizontalCount*(v-1)+h-1],horizontalCount*(v-1)+h-1,false)" :title="$t('message.Device_ResetPostion')"></i>
                                </div>
                            </div>
                            <div v-else>
                                <div style="text-align:center;" class="text-warning">
                                    <i class="fa fa-hand-o-up animated"></i>
                                    {{ $t("message.Device_DragDeviceHint")}}
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!--未分組device list  -->
        <div class="col-xs-12 col-md-5">
            <div class="col-xs-12 col-md-12" style="font-size:20px">
                <!-- color:#5bc0de; -->
                <i class="fa fa-list-alt margin-bottom-sm"></i>&nbsp;{{ $t("message.Device_UngroupedDeviceList")}}
            </div>
            <div class="col-xs-12 col-md-12 setScrollBar" style="height: 250px;">
                <div v-for="device in ungroupDevices " draggable="true " @dragstart="DragDevice($event, device)" :key=" 'ungrouped'+device.Id " class="col-xs-12 grabbable">
                    <div class="col-xs-6 text-overflow-setting" :title="device.DeviceName">
                        <i class="fa fa-television" style="color: rgb(168, 168, 168); "></i>&nbsp;{{device.DeviceName}}
                    </div>
                    <div class="col-xs-3 text-overflow-setting" :title="device.Resolution">&nbsp;{{device.Resolution}}</div>
                    <div class="col-xs-3 text-overflow-setting" style="text-align:right" :title="device.VersionNumber">&nbsp;{{device.VersionNumber}}</div>
                </div>
            </div>
            <div class="pull-right margin-top-sm">
                <button type="button " class="btn btn-default btn-sm" @click="CloseScreenGroupEdit " style="border-radius:.3em; margin-right:5px">
                    <i class="fa fa-times"></i>&nbsp; {{ $t("message.Cancel")}}
                </button>
                <button type="button " class="btn btn-success btn-sm" @click="SaveScreenGroup " style="border-radius:.3em">
                    <i class="fa fa-floppy-o"></i>&nbsp; {{ $t("message.Save")}}
                </button>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    components: {
    },
    name: 'screen-group-editor',
    data() {
        return {
            totalUngroupDeviceCount: 0,

            selectedDevices: [],
            originSelectedDevices: [],
            screenGroupName: "",

            horizontalCount: 2,
            verticalCount: 1,
            originalHorizontalCount: 2,
            originalVerticalCount: 1,

            timeServerId: "noChoose",
            draggedDevice: "",
            isSwapDevice: false,
            draggedDeviceIndex: null,
            isVersionDifferent: false,
            autoUpdateEnabled: false,
            autoUpdateTime: "",
            ungroupDevices: [],
            disconnectDeviceCount: 0,
            originalDisconnectDeviceCount: 0,
            ungroupDevicesInitial: 0,
        }
    },
    props: {
        isCreateGroup: {
            type: Boolean,
            default: false
        },
        screenGroupId: {
            type: Number,
            default: null
        },
        deviceList: {
            type: Object,
            default: null
        },
        screenGroupInfo: {
            type: Object,
            default: null
        },
        getUngroupInfo: {
            type: Boolean,
            default: false
        }
    },
    mounted() {
        this.InitialParameters()
    },
    watch: {
        screenGroupInfo() {
            this.InitialParameters()
            this.GetUngroupDevices()
        },
        selectedDevices() {
            if (this.selectedDevices.length > 1) {
                //初始化
                this.isVersionDifferent = false
                var versionNumber = ""
                this.selectedDevices.forEach(function(device) {
                    if (!this.isVersionDifferent) {
                        if (device) {
                            if (versionNumber === device.VersionNumber || versionNumber === "") {
                                versionNumber = device.VersionNumber
                            }
                            else {
                                this.isVersionDifferent = true
                            }
                        }
                    }
                }, this);
            }
        },
        isCreateGroup(val) {
            //新增的話 才去綁定datetimepicker 到auto update的 inpute上
            if (val) {
                //確保dom長完才綁定
                this.$nextTick(function() {
                    $('#CreateGroupAutoUpdatetTime_Input').datetimepicker({
                        keepOpen: true,
                        toolbarPlacement: 'top',
                        showClose: true,
                        showClear: true,
                        format: 'HH:mm:ss A'
                    })
                })
            }
        },
        deviceList() {
            this.ungroupDevicesInitial = this.ungroupDevicesInitial + 1
        },
        getUngroupInfo(val) {
            if (val) {
                this.GetUngroupDevices()
            }

        }
    },
    methods: {
        GetUngroupDevices() {
            var vm = this
            $.post('/ace/api/device/getungroupeddevice')
                .done((res) => {
                    if (res.Result) {
                        vm.ungroupDevices = res.Data.UngroupedDevice
                        vm.ungroupDevicesInitial = vm.ungroupDevicesInitial + 1
                    }
                }).fail(function(err) {
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace('/ace')
                    }
                })
        },
        InitialParameters() {
            var vm = this
            if (vm.screenGroupId == null) {
                vm.selectedDevices.splice(0, vm.selectedDevices.length)
                vm.screenGroupName = ""
                vm.horizontalCount = 2
                vm.verticalCount = 1
                vm.disconnectDeviceCount = 0
                vm.timeServerId = "noChoose"
            } else {
                vm.screenGroupName = vm.screenGroupInfo.Name
                vm.horizontalCount = vm.screenGroupInfo.HorizontallyScreenCount
                vm.verticalCount = vm.screenGroupInfo.VerticallyScreenCount
                vm.originalHorizontalCount = vm.screenGroupInfo.HorizontallyScreenCount
                vm.originalVerticalCount = vm.screenGroupInfo.VerticallyScreenCount
                vm.timeServerId = vm.screenGroupInfo.TimeServerId
                vm.deviceList.forEach((device) => {
                    //第幾排的第幾個
                    var posIndex = vm.horizontalCount * (device.OffsetY) + device.OffsetX
                    vm.$set(this.selectedDevices, posIndex, device)
                }, this)
                vm.autoUpdateEnabled = vm.deviceList[0].AutoUpdateEnabled
                vm.disconnectDeviceCount = vm.screenGroupInfo.DisconnectCount
                vm.originalDisconnectDeviceCount = vm.screenGroupInfo.DisconnectCount
            }
        },
        //用來轉換selectDevice for post
        TransferSelectedDevice() {
            var SelectedDeviceForApi = [];
            var vm = this
            var verticalIndex = 1
            for (var index = 0; index < vm.selectedDevices.length; index++) {
                var horizontalIndex = index + 1 - (vm.horizontalCount * (verticalIndex - 1))
                try {
                    SelectedDeviceForApi[index] = {
                        Id: vm.selectedDevices[index].Id,
                        OffsetX: horizontalIndex - 1,
                        OffsetY: verticalIndex - 1
                    }
                } catch (error) {
                    alertify.logPosition("bottom right");
                    //Please select more devices into screen group
                    alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.Error_0008)
                }
                if (horizontalIndex * verticalIndex == vm.horizontalCount * verticalIndex) {
                    verticalIndex++
                }
            }
            return SelectedDeviceForApi
        },
        SaveScreenGroup() {
            var vm = this
            var SelectedDeviceList = this.TransferSelectedDevice()
            var autoUpdateTime = $('#CreateGroupAutoUpdatetTime_Input').val()
            var obj = {
                Id: vm.screenGroupId,
                Name: vm.screenGroupName,
                TimeServerId: vm.timeServerId,
                HorizontallyScreenCount: vm.horizontalCount,
                VerticallyScreenCount: vm.verticalCount,
                Devices: SelectedDeviceList,
                IsNeedUpdate: vm.isVersionDifferent,
                DisconnectCount: vm.disconnectDeviceCount
            }
            //create screengroup 狀態
            if (this.isCreateGroup) {
                //auto update有打開
                if (vm.autoUpdateEnabled) {
                    if (autoUpdateTime !== null && autoUpdateTime !== '') {
                        autoUpdateTime = autoUpdateTime.substring(0, 8)
                    }
                } else {
                    autoUpdateTime = null
                }

                //新增時才帶這些key到後端
                obj["AutoUpdateEnabled"] = vm.autoUpdateEnabled
                obj["AutoUpdateTime"] = autoUpdateTime
            }

            if (vm.screenGroupName == "") {
                alertify.logPosition("bottom right");
                //Screen Group Name can't be null
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.Error_0004)
            }
            else if (!vm.screenGroupName.trim().match(/^[^?*[+()^\\\/]+$/g) && vm.screenGroupName.trim() != '') {
                alertify.logPosition("bottom right");
                //Can't Insert Special characters
                alertify.delay(5000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.Error_0003)
            }
            else if (vm.screenGroupName.length > 50) {
                alertify.logPosition("bottom right");
                //Name is over than 50
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.Error_0009)
            }
            else if (SelectedDeviceList == undefined || SelectedDeviceList.length < vm.verticalCount * vm.horizontalCount) {
                alertify.logPosition("bottom right");
                //Please select more devices into screen group
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.Error_0008)
            }
            else if (vm.timeServerId == "noChoose") {
                alertify.logPosition("bottom right");
                //Please select a device to be time server
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.Error_0010)
            }
            else {
                $.post("/ace/api/device/editscreengroup", obj)
                    .done(function(res) {
                        if (res.Result) {
                            alertify.logPosition("bottom right");
                            alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.SaveSuccess)
                            vm.CloseScreenGroupEdit()
                            vm.isCreateGroup = false
                        }
                        else {
                            alertify.logPosition("bottom right");
                            alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message[res.Message])
                        }
                    }).fail(function(err) {
                        if (err.readyState === 4 && err.status === 401) {
                            window.location.replace('/ace')
                        }
                    })
            }
        },
        CloseScreenGroupEdit() {
            this.InitialParameters()
            this.horizontalCount = this.originalHorizontalCount
            this.verticalCount = this.originalVerticalCount
            this.disconnectDeviceCount = this.originalDisconnectDeviceCount
            this.$emit('CloseScreenGroupEdit')
        },
        DragDevice(e, device) {
            this.draggedDevice = device
        },
        //拖拉物件放入事件觸發
        AllowDrop(ev, index) {
            if (this.isSwapDevice) {
                this.SwapDevicePosition(this.draggedDeviceIndex, index)
                this.isSwapDevice = false
                ev.preventDefault();
            } else {
                this.ChangeDevicePosition(this.draggedDevice, index)
                ev.preventDefault();
            }
        },

        ChangeDevicePosition(device, posIndex) {
            var index = _.findIndex(this.ungroupDevices, function(o) { return o == device })
            if (index != -1) {
                this.ungroupDevices.splice(index, 1)
                if (this.selectedDevices[posIndex]) {
                    this.ungroupDevices.push(this.selectedDevices[posIndex])
                    //判斷被替換裝置是否為time server
                    if (this.selectedDevices[posIndex].Id == this.timeServerId) {
                        this.timeServerId = 'noChoose'
                    }
                }
            }
            this.$set(this.selectedDevices, posIndex, device)
        },
        ResetScreenGroupPosition(device, index, isPostionDisappear) {
            this.ungroupDevices.push(device)

            if (isPostionDisappear) {
                var index = _.findIndex(this.selectedDevices, function(o) { return o == device });
                this.selectedDevices.splice(index, 1)
            } else {
                this.$set(this.selectedDevices, index, null)
            }

            if (device.Id == this.timeServerId) {
                this.timeServerId = "noChoose"
            }
        },
        ExchangeHorizontalVertical() {
            var temp = this.horizontalCount
            this.horizontalCount = this.verticalCount
            this.verticalCount = temp
        },
        //screenGroups拖拉事件觸發
        DragSwapDevice(e, device, index) {
            this.draggedDevice = device
            this.draggedDeviceIndex = index
            this.isSwapDevice = true
        },
        SwapDevicePosition(posIndexBefore, posIndexAfter) {
            var beforeDevice = this.selectedDevices[posIndexBefore]
            this.$set(this.selectedDevices, posIndexBefore, this.selectedDevices[posIndexAfter])
            this.$set(this.selectedDevices, posIndexAfter, beforeDevice)
        }
    },
    computed: {
        TotalScreenGroupCount() {
            this.horizontalCount = Math.floor(this.horizontalCount)
            this.verticalCount = Math.floor(this.verticalCount)
            this.totalUngroupDeviceCount = this.ungroupDevices.length
            this.disconnectDeviceCount = Math.floor(this.disconnectDeviceCount)
            var cnt = this.horizontalCount * this.verticalCount
            //判斷是否該跳錯誤訊息
            if (this.screenGroupId != null) {
                if (this.ungroupDevicesInitial > 2) {
                    //editor時
                    if (cnt > (this.totalUngroupDeviceCount + this.selectedDevices.length)) {
                        this.horizontalCount = this.originalHorizontalCount
                        this.verticalCount = this.originalVerticalCount
                        this.disconnectDeviceCount = this.originalDisconnectDeviceCount
                        alertify.logPosition("bottom right")
                        //Count of ungrouped devices must be more than count of devices in screen group
                        alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + this.$i18n.messages[__culture].message.Error_0011)
                    }
                }
            }
            else {
                //add時
                if (cnt > (this.totalUngroupDeviceCount + this.selectedDevices.length)) {
                    this.horizontalCount = 2
                    this.verticalCount = 1
                    //可能是因computed觸發時機api尚未完成取值，會被判斷為空陣，而觸發alertify，暫時以if判斷式處理
                    if (this.totalUngroupDeviceCount !== 0 && this.isCreateGroup) {
                        alertify.logPosition("bottom right")
                        //Count of ungrouped devices must be more than count of devices in screen group
                        alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + this.$i18n.messages[__culture].message.Error_0011)
                    }
                }
            }

            if (cnt < 2 || cnt > 25) {
                this.horizontalCount = 2
                this.verticalCount = 1
                this.disconnectDeviceCount = 0
                alertify.logPosition("bottom right");
                //Screen group must have more than one device and less than 25 devices
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + this.$i18n.messages[__culture].message.Error_0012)
            }

            cnt = this.horizontalCount * this.verticalCount
            if (cnt < this.selectedDevices.length) {
                for (var idx = this.selectedDevices.length - 1; idx >= cnt; idx--) {
                    var device = this.selectedDevices[idx]
                    if (device)
                        this.ResetScreenGroupPosition(device, idx, true)
                }
            }
            //disconnect 數量超過 SG總數量
            if (cnt <= this.disconnectDeviceCount) {
                this.disconnectDeviceCount = 0
                alertify.logPosition("bottom right")
                //Disconnect devices must be less than screen group devices 
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + this.$i18n.messages[__culture].message.Error_0054)
            }
            //disconnect 為負數
            if (this.disconnectDeviceCount < 0) {
                this.disconnectDeviceCount = 0
                alertify.logPosition("bottom right")
                //Disconnect devices can't be negative number
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + this.$i18n.messages[__culture].message.Error_0053)
            }

            return this.horizontalCount * this.verticalCount
        },
        AutoUpdateButton() {
            if (this.autoUpdateEnabled)
                return this.$i18n.messages[__culture].message.Device_On
            else
                return this.$i18n.messages[__culture].message.Device_Off
        }
    }
}
</script>

<style scoped>
.margin-bottom-sm {
    margin-bottom: 10px;
}

.margin-top-sm {
    margin-top: 10px;
}

.text-overflow-setting {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.device-position-region {
    border-style: groove;
}

.table,
th,
td {
    border: 1px solid while;
}

.th,
td {
    border: 1px solid while;
}

.td {
    border: 1px solid while;
}

.grabbable {
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    opacity: 0.8;
}

.grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.grabbable:hover {
    opacity: 1;
}

.autoUpdateButton {
    width: 40px;
    vertical-align: middle;
    background-color: #df691a;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 400;
}

.autoUpdateButton:hover {
    box-shadow: 4px 4px 3px rgba(20%, 20%, 40%, 0.5);
}

#autoUpdateInput {
    display: none;
}

.bs3-timepicker {
    height: 30px;
    border-radius: .2em;
    border-bottom-right-radius: .2em !important;
    border-top-right-radius: .2em !important;
    width: 140px;
}

.input-group-addon {
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-bottom-left-radius: .2em;
    border-top-left-radius: .2em;
    cursor: pointer;
    transition: all .3s ease;
}

.setScrollBar {
    overflow-y: auto;
    scrollbar-face-color: #000000;
    scrollbar-arrow-color: #rgba(0, 0, 0, 0.3);
    scrollbar-track-color: #ebebeb;
    scrollbar-shadow-color: #rgba(0, 0, 0, 0.5);
    scrollbar-highlight-color: #rgba(0, 0, 0, 0.8);
    scrollbar-3dlight-color: #rgba(0, 0, 0, 0.7);
}

.setScrollBar::-webkit-scrollbar {
    width: 10px;
}

.setScrollBar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: gray;
    border-radius: 10px;
}

.setScrollBar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #132333;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s
}

.fade-enter,
.fade-leave-to {
    opacity: 0
}
</style>
