<template>
    <div>
        <div v-show="!isEditGroup">
            <!-- Position Setting -->
            <div class="col-xs-12">
                <div class="col-xs-12 col-md-6">
                    <table style="width:100%; table-layout: fixed">
                        <tr v-for=" v in verticalCount" style="height:100px">
                            <td v-for=" h in horizontalCount" class="device-position-region">
                                <div v-if="selectedDevicesMember[horizontalCount*(v-1)+h-1]" class="text-center" style="margin:10px" :title="selectedDevicesMember[horizontalCount*(v-1)+h-1].DeviceName">
                                    <div class="text-overflow-setting display-inline" style="color:#f0ad4e;width:80%;">
                                        <i class="fa fa-television"></i>&nbsp;{{ selectedDevicesMember[horizontalCount*(v-1)+h-1].DeviceName }} &nbsp;
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="col-xs-12 col-md-12">
                        <div class="col-xs-12">
                            {{ $t("message.Device_DevicePositionSetting")}} :&nbsp;
                            <label>{{ horizontalCount}}</label>
                            &nbsp;*&nbsp;
                            <label>{{ verticalCount}}</label>
                        </div>
                        <div class="col-xs-12">
                            <i class="fa fa-server"></i>&nbsp;{{ $t("message.Device_TimeServer")}} : &nbsp; {{screenInfo.TimeServerName}}
                        </div>
                        <div class="col-xs-12">
                            {{$t('message.Device_DisconnectDeviceCount')}}:&nbsp;{{screenInfo.DisconnectCount}}
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 margin-top-sm">
                        <!--ScreenGroupEdit button  -->
                        <button type="button" class="btn btn-sm btn-success" style="border-radius:0.3em" @click="ChangeShownArea(true)">
                            <i class="fa fa-pencil"></i>&nbsp; {{ $t("message.Device_ScreenGroupEdit")}}
                        </button>&nbsp;
                        <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modalDeleteDevice" title="Delete Screen Group" style="border-radius:.3em">
                            <i class="fa fa-trash-o"></i>&nbsp; {{ $t("message.Device_ScreenGroupDelete")}}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div v-show="isEditGroup">
            <div class="col-xs-12">
                <screen-group-editor :screen-group-id="screenGroupId" :device-list="deviceList" :screen-group-info="screenInfo" :getUngroupInfo="getUngroupInfo" @CloseScreenGroupEdit="CloseScreenGroupEditHandler"></screen-group-editor>
            </div>
        </div>

        <div id="ScreenInfoDevice">
            <div class="col-xs-12 margin-bottom-sm" style="padding: 10px 30px;">
                <h4 style="border-bottom: #d8cec7 solid 1px;">
                    <i class="fa fa-list-alt margin-bottom-sm"></i>&nbsp;{{ $t("message.Device_DeviceList")}}
                </h4>
                <table style="width:100%;table-layout: fixed;">
                    <thead>
                        <tr>
                            <td v-for="theadValue in tableHeadText">{{theadValue}}</td>
                        </tr>
                    </thead>
                    <tr v-for="(device,index) in deviceList" :key="'deviceListTable'+device.Id">
                        <td>
                            <div v-show="!renameInput[index]">
                                <div class="text-overflow-setting display-inline" style="width:80%" :title="device.DeviceName">
                                    {{device.DeviceName}}
                                </div>
                                <i class="fa fa-pencil text-success display-inline" style="width:5%;cursor:pointer" :title="$t('message.Device_Rename')" @click="ChangeDeviceNameArea(index,true)"></i>
                            </div>
                            <div v-show="renameInput[index]" style="display:none">
                                <input type="text" v-model="device.DeviceName" v-on:keyup.enter="RenameDevice(device.Id,device.DeviceName,index)">
                            </div>
                        </td>
                        <td :title="device.VersionNumber">{{device.VersionNumber}}</td>
                        <td :title="device.Resolution">{{device.Resolution}}</td>
                        <td>
                            <div v-if="device.ConnectionStatus" :title="$t('message.Device_Online')">
                                <i class="fa fa-circle" style="color:green;"></i>&nbsp; {{ $t("message.Device_Online")}}
                            </div>
                            <div v-else :title="$t('message.Device_Offline')">
                                <i class="fa fa-circle" style="color:rgb(181, 22, 22);"></i>&nbsp; {{ $t("message.Device_Offline")}}
                            </div>
                        </td>
                        <td>
                            <dispatch-status :status="device.DispatchStatus" isShowText="true" />
                        </td>
                        <td :title="device.DiskUsage+' GB/'+device.DiskCapacity+' GB'">{{device.DiskUsageRate}}&nbsp;%</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-xs-12 col-md-12">
            <detail-setting-area :information="deviceList[0]" :screenGroupId="screenGroupId" />
        </div>
    </div>
</template>

<script>
import DetailSettingArea from "../common-detail/detail-setting-area.vue"
import LocationSettingModal from '../modal//location-setting-modal.vue'
import screenGroupEditor from './screen-group-editor.vue'
import Bus from '../../controls/bus.js'
import DispatchStatus from '../../controls/dispatch-status.vue'


export default {
    name: 'screen-group-detail-setting',
    components: {
        DetailSettingArea,
        LocationSettingModal,
        screenGroupEditor,
        DispatchStatus
    },
    data() {
        return {
            tableHeadText: [
                this.$i18n.messages[__culture].message.Device_DeviceName,
                this.$i18n.messages[__culture].message.Version,
                this.$i18n.messages[__culture].message.Resolution,
                this.$i18n.messages[__culture].message.Device_ConnectionStatus,
                this.$i18n.messages[__culture].message.DispatchStatus,
                this.$i18n.messages[__culture].message.Device_DiskUsageRate
            ],
            isEditGroup: false,
            horizontalCount: 2,
            verticalCount: 1,
            selectedDevicesMember: [],
            renameInput: [],
            getUngroupInfo: false
        }
    },
    props: {
        screenGroupId: {
            type: Number,
            default: null
        },
        deviceList: {
            type: Array,
            default: null
        },
        screenInfo: {
            type: Object,
            default: null
        }
    },
    mounted() {
        this.InitialParameters()
    },
    watch: {
        screenInfo() {
            this.InitialScreenGroupInfo()
        }
    },
    methods: {
        InitialParameters() {
            this.horizontalCount = 2
            this.verticalCount = 1
        },
        InitialScreenGroupInfo() {
            var vm = this
            vm.horizontalCount = vm.screenInfo.HorizontallyScreenCount
            vm.verticalCount = vm.screenInfo.VerticallyScreenCount
            vm.selectedDevicesMember.splice(0, vm.deviceList.length)
            vm.deviceList.forEach(function(device) {
                var posIndex = vm.horizontalCount * (device.OffsetY) + device.OffsetX
                vm.$set(vm.selectedDevicesMember, posIndex, device)
            }, this)
        },
        ChangeShownArea(booleanType) {
            this.isEditGroup = booleanType
            this.getUngroupInfo = true

        },
        CloseScreenGroupEditHandler() {
            this.isEditGroup = false
            this.getUngroupInfo = false
            Bus.$emit('Device-DetailRepost', true)
        },
        ChangeDeviceNameArea(index, bool) {
            this.$set(this.renameInput, index, bool)
        },
        RenameDevice(id, name, index) {
            var vm = this
            if (!name.trim().match(/^[^?*[+()^\\\/]+$/g)) {
                alertify.logPosition("bottom right");
                //Can't Insert Special Characters
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.Error_0003);
                return
            }
            else if (name.length > 50) {
                alertify.logPosition("bottom right");
                //Name is over than 50
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.Error_0009)
            }
            else if (name == '') {
                alertify.logPosition("bottom right");
                //Name can't be empty
                alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message.Error_0004);
            } else {
                $.post("/ace/api/device/rename", {
                    ScreenGroupId: null,
                    Name: name.trim(),
                    DeviceId: id
                }).done(function(res) {
                    if (res.Result) {
                        alertify.logPosition("bottom right");
                        alertify.delay(4000).success("<i class='fa fa-check'></i>&nbsp;" + vm.$i18n.messages[__culture].message.UpdateSuccess);
                        vm.ChangeDeviceNameArea(index, false)
                        //可能異動到time server name，因此通知上一層有變化
                        Bus.$emit('Device-DetailRepost', true)
                    } else {
                        alertify.logPosition("bottom right");
                        // alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + res.Data.Data.errmsg);
                        alertify.delay(4000).error("<i class='fa fa-exclamation-triangle'></i>&nbsp;" + vm.$i18n.messages[__culture].message[res.Message]);
                        vm.ChangeDeviceNameArea(index, true)
                    }
                }).fail(function(err) {
                    if (err.readyState === 4 && err.status === 401) {
                        window.location.replace('/ace')
                    }
                })
            }
        }
    }
}
</script>

<style scoped>
.margin-bottom-sm {
    margin-bottom: 10px;
}

.text-overflow-setting {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.margin-top-sm {
    margin-top: 10px;
}

.text-overflow-setting {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.device-position-region {
    border-style: groove
}

.display-inline {
    display: inline-block;
    vertical-align: middle;
}
</style>
