﻿@using DsSite.Models
@using DsSite.Models.ViewModels
@using DsSite.Models.ViewModels.Modals

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Ds</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ds", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav nav-menu-bar">

                    @if (ViewBag.Menu != null)
                    {
                        //
                        foreach (var menu in (List<MenuViewModel>)ViewBag.Menu)
                        {
                            <li>
                                <a href="@Url.Action(menu.Action, menu.Controller)" class="@(((string)ViewBag.ControllerName).Contains(menu.Controller) ? "active" : "")">
                                    @menu.Text
                                </a>
                            </li>
                        }
                    }                   
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu animated fadeIn">                          
                            <li>
                                <a style="cursor:pointer" data-toggle="modal" data-target="#settingModal">
                                    <i class="fa fa-cog" style="width:20px"></i>@ViewBag.setting
                                </a>
                            </li>                          
                            <li>
                                <a style="cursor:pointer" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fa fa-sign-out" style="width:20px"></i>@ViewBag.signOut
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Ds System</p>
        </footer>      
        <input id="hid_setting_error_msg" type="hidden" value="@TempData["SETTING_ERROR_MESSAGE"]" />

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/lodash")

    @*多語js*@
    @Scripts.Render("~/bundles/language")


    @RenderSection("scripts", false)


    <div id="settingVue">
        <setting-modal modalId="setting-modal"></setting-modal>
        <logout-modal modalId="logout-modal"></logout-modal>
    </div>


</body>

</html>
