﻿@model DsSite.Models.ViewModels.CampaignEditorViewModel

@{
    ViewBag.Title = "Campaign Editor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/alertify/css/alertify.css" rel="stylesheet" />
<link href="~/Scripts/jqueryui/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/Content/style.min.css" rel="stylesheet" />
<link href="~/Content/summernote.css" rel="stylesheet" />
<link href="~/Content/context_menu/jquery.contextMenu.min.css" rel="stylesheet" />

<div id="app">
    <template-editor :campaign-id="@Model.CampaignId">         
    </template-editor>
</div>

@section scripts{
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/jstree.min.js"></script>

    @*jquery ui*@
    <script src="~/Scripts/jqueryui/jquery-ui.js"></script>

    @*alertify*@
    <script src="~/Scripts/alertify/js/alertify.js"></script>

    @*summernote*@
    <script src="~/Scripts/summernote.min.js"></script>

    @*jquery.marquee*@
    <script src="~/Scripts/jquery.marquee.min.js"></script>

    @*jscolor*@
    <script src="~/Scripts/jscolor.min.js"></script>

    @*contextMenu*@
    <script src="~/Scripts/jquery.contextMenu.min.js"></script>
      
    @*_d_s*@
    <script src="~/Scripts/_d_s.js"></script>

    @*Vue js app*@
    <script src="~/vue-dev/dist/build.js"></script>
 


}