﻿
@{
    ViewBag.Title = "Campaign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/alertify/css/alertify.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />

@*<h2>Campaign</h2>

<a href='@Url.Action("Editor","Campaign")' class="btn btn-success">Add Campaign</a>*@

<div id="app">

    <campaign-index campaign-editor-url="@Url.Action("Editor","Campaign")" playlist-editor-url="@Url.Action("PlaylistEditor","Campaign")">

    </campaign-index>

</div>

@section scripts{
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    @*jquery ui*@
    <script src="~/Scripts/jqueryui/jquery-ui.js"></script>
    <script src="~/Scripts/alertify/js/alertify.js"></script>

    @*_d_s*@
    <script src="~/Scripts/_d_s.js"></script>

    @*Vue js app*@
    <script src="~/vue-dev/dist/build.js"></script>
}