﻿@model DsSite.Models.ViewModels.PlaylistEditorViewModel
@{
    ViewBag.Title = "PlaylistEditor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/alertify/css/alertify.css" rel="stylesheet" />

@*<h2>PlaylistEditor</h2>*@
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />

<div id="app">
    @if (string.IsNullOrEmpty(Model.ForbiddenMessage) == false)
    {
        <div class="alert alert-danger" style="border-radius: .2em; margin: 15px">
            <div>
                <i class="fa fa-exclamation-triangle"></i>
                &nbsp;
                @Model.ForbiddenMessage
                <a href="@Url.Action("Index", "Campaign")" class="pull-right">
                    <i class="fa fa-angle-double-left"></i>
                    Back to list
                </a>
            </div>
        </div>
    }
    else
    {
        <playlist-editor :playlist-id="@Model.Id"></playlist-editor>
    }
</div>

@section scripts{
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

    @*jquery ui*@
    <script src="~/Scripts/jqueryui/jquery-ui.js"></script>

    @*alertify*@
    <script src="~/Scripts/alertify/js/alertify.js"></script>

    @*_d_s*@
    <script src="~/Scripts/_d_s.js"></script>

    @*Vue js app*@
    <script src="~/vue-dev/dist/build.js"></script>
}