﻿@{
    ViewBag.Title = "Group";
}

<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="~/Scripts/alertify/css/alertify.css" rel="stylesheet" />
<div id="app">
    <group-index></group-index>
</div>

@section scripts{
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/alertify/js/alertify.js"></script>

    @*Vue js app*@
    <script src="~/vue-dev/dist/build.js"></script>
}